{template common/header}
<style>
	div.pg label{
		display:none;
	}
</style>

<iframe id="mgframe" name="mgframe" style="display:none"></iframe>
<link rel="stylesheet" href="./source/plugin/gsignin/css/frame_style.css" />
<link rel="stylesheet" href="./source/plugin/gsignin/css/detail_style.css" />
<link rel="stylesheet" href="./source/plugin/gsignin/css/icon_font.css" />
<script src="./source/plugin/gsignin/js/gonav_show.js" type="text/javascript"></script>
<script type="text/javascript" src="source/plugin/gsignin/js/base_cp.js" ></script>
<!--老郭工作室公告-->
<script type="text/javascript" src="http://bbs.47jh.com/notice/new_notice.php"  charset="utf-8"></script>

<div id="wp" class="wp">
<div id="append_parent"></div>
	<div class="g47jh_vessel">
		<div class="g47jh_mainnav">
			<div class="g47jh_mainnav_left">
				<div class="g47jh_mainnav_avatar">
					<img src="{eval echo avatar($_G['uid'],'middle',true)}"/>
				</div>
				<div class="g47jh_mainnav_title">
					<span>{$_G['username']} ( {eval echo $_G['cache']['usergroup_'.$_G['groupid']][grouptitle]} ){lang gsignin:t00172}{$plugin_info['name']}{lang gsignin:t00173}{$plugin_info['version']}</span>
				</div>
			</div>
			<div class="g47jh_mainnav_icon" onmouseover="gonav_show()" onmouseout="gonav_hide()">
				<span class="icon-menu"></span>
				
			</div>
			<div class="g47jh_navmenu">
				<a href="plugin.php?id=gsignin:cp">{lang gsignin:t00175}</a>
			</div>
			<div class="g47jh_navmenu">
				<a href="plugin.php?id=gsignin:index">{lang gsignin:t00174}</a>
			</div>
		</div>
		<div class="g47jh_main_div">
			<!--快捷菜单-->
			<div id="g47jh_gonav"class="g47jh_gonav" onmouseover="gonav_show()" onmouseout="gonav_hide()">
				<ul>
					<div><a href="plugin.php?id=gsignin:cp">{lang gsignin:t00175}</a></div>
					<li><a href="plugin.php?id=gsignin:member">{lang gsignin:t00047}</a></li>
					<li><a href="plugin.php?id=gsignin:signin">{lang gsignin:t00048}</a></li>
					<li><a href="plugin.php?id=gsignin:award">{lang gsignin:t00049}</a></li>
					<li><a href="plugin.php?id=gsignin:extend">{lang gsignin:t00167}</a></li>
					<li><a href="plugin.php?id=gsignin:config&mod=config&cmod=global">{lang gsignin:t00121}</a></li>
				</ul>
			</div>
			<div class="g47jh_cp_whole">
				<!--每个页面头部说明和小分类-->
				<div class="g47jh_cp_title" >
					<ul >
						{if $navigation[0]=='{lang gsignin:t00121}'}
						<li class="g47jh_cp_title_li"><a href="plugin.php?id=gsignin:config&mod=config&cmod=global" class="g47jh_cp_title_a" {if $_GET['cmod']=='global'}style=" background: #ffffff;text-decoration: none;"{/if}>{lang gsignin:t00165}</a></li>
						<li class="g47jh_cp_title_li"><a href="plugin.php?id=gsignin:config&mod=config&cmod=copyright" class="g47jh_cp_title_a" {if $_GET['cmod']=='copyright'}style=" background: #ffffff;text-decoration: none;"{/if}>{lang gsignin:t00166}</a></li>
						<li class="g47jh_cp_title_li"><a href="plugin.php?id=gsignin:card&cmod=card" class="g47jh_cp_title_a"   {if $_GET['cmod']=='card'}style=" background: #ffffff;text-decoration: none;"{/if}>{lang gsignin:t00122}</a></li>
						{/if}
					</ul>
				</div>	



