{template gsignin:cp/adminnav}

<style>
	.text_input{
		width: 100px;
		border: 1px solid #cdcdcd;
		margin: 2px;
		padding: 0 2px;
	}
	.right{
		text-align: right;
	}

	
</style>
<div class="g47jh_cp_content">
	<div class="g47jh_content_div">
		<div class="g47jh_content_title">	
			<span class="g47jh_content_span">{lang gsignin:t00122}</span>
		</div>	
		<form name="psForm" action="plugin.php?id=gsignin:card&action=set" method="post" target="mgframe" onsubmit="return check(this)"  enctype="multipart/form-data">
			<input name="formhash" type="hidden" value="{FORMHASH}" />
			<table class="g47jh_content_table">
				<tbody>
					<tr id="tr_bloodtype">
						<th id="th_bloodtype" style="text-align: right;">{lang gsignin:t00123}</th>
						<td id="td_bloodtype">
							<input type="file" id="picture" name="picture" value="{$setInfo['picture']}"/>
							<font style="color: red;">{lang gsignin:t00124}</font>
						</td>
					</tr>
					<tr id="tr_bloodtype">
						<th id="th_bloodtype"></th>
						<td id="picture">
							{if $setInfo['picture']!=''}
							<img src="{$setInfo['picture']}" width="90px" height="50px">
							{/if}
						</td>
					</tr>
					<tr id="tr_bloodtype">
						<th id="th_bloodtype"  style="text-align: right;">{lang gsignin:t00125}</th>
						<td id="td_bloodtype">
							<input type="text" class="text_input" name="price" value="{$setInfo['price']}"/>
							<font style="color: red;"> {lang gsignin:t00126}</font>
						</td>
					</tr>
					<tr id="tr_bloodtype">
						<th id="th_bloodtype" style="text-align: right;">{lang gsignin:t00127}</th>
						<td id="td_bloodtype">
							<select tabindex="1" class="ps" id="bloodtype" name="extcredits">
								{loop $_G['setting']['extcredits'] $key $set}						
				   				<option {if $key==$setInfo['extcredits']}selected="selected" {/if}value="{$key}">{$set['title']}</option>
				   				{/loop}
							</select><font style="color: red;"> {lang gsignin:t00128}</font>
							<div id="showerror_bloodtype" class="rq mtn"></div><p class="d"></p>
						</td>
					</tr>
					<tr id="tr_bloodtype">
						<th id="th_bloodtype" style="text-align: right;">{lang gsignin:t00129}</th>
						<td id="td_bloodtype">
							<input type="text"  class="text_input" name="salevolume" readonly="readonly"  value="{$setInfo['salevolume']}"/>
							<font style="color: red;">{lang gsignin:t00130}</font>
						</td>
					</tr>
					<tr id="tr_bloodtype">
						<th id="th_bloodtype" style="text-align: right;">{lang gsignin:t00131}</th>
						<td id="td_bloodtype">
							<input type="text"  class="text_input"  id="inventory" name="inventory" value="{$setInfo['inventory']}"/>
							<font style="color: red;">{lang gsignin:t00132}</font>
						</td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<td colspan="2">
							<input type="hidden" value="true" name="profilesubmit">
							<button class="pn pnc" value="true"  name="submit" type="submit"><strong>{lang gsignin:t00087}</strong></button>
							<span class="rq" id="submit_result"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	
</div>


{template gsignin:cp/footer}