{template gsignin:cp/adminnav}

<style type="text/css">
<!--
input{
	width: 200px;
	border: 1px solid #cdcdcd;
	margin: 2px;
	padding: 2px;
	background: none;
}

.search_input {
	width: 100px;
}

select{
	width: 206px;
	border: 1px solid #cdcdcd;
	margin: 2px;
	padding: 2px;
	background: none;
}

textarea {
	width: 200px;
	height: 60px;
	border: 1px solid #cdcdcd;
	margin: 2px;
	padding: 2px;
	background: none;
}
-->
</style>
<div class="g47jh_cp_content">
	<div class="g47jh_content_div">
		<div class="g47jh_content_title">	
			<span class="g47jh_content_span">{lang gsignin:t00122}</span>
		</div>	
		<form name="psForm" action="plugin.php?id={$pluginIdentifier}:config&mod={$mymodule}&cmod={$_GET['cmod']}&action=update" method="post" target="mgframe" onsubmit="return check(this)"  enctype="multipart/form-data">
			<input name="formhash" type="hidden" value="{FORMHASH}" />
			<table class="g47jh_content_table">
				<tbody>
					{if $_GET['cmod'] == 'copyright'}
						<tr>
							<td style="border: none;text-align: right;">{lang gsignin:t00158}</td>
							<td colspan="2" style="border: none;text-align: left;"><font style="color:red;">{lang gsignin:t00159}</font></td>
						</tr>
					{/if}
					{loop $configs $key $val}
						<tr>
							<td style="border: none; width: 200px;text-align: right;">{$val['name']}</td>
							<td style="border: none; width: 250px;">
								<input type="hidden" name="variables[]" value="{$val['variable']}" >
								{eval echo str_replace(array('?','&'),array($val['variable'],$val['value']),$val['content'])}
							</td>
							<td style="border: none;">{$val['desc']}</td>
						</tr>
					{/loop}
					<tr>
						<td style="border: none;"></td>
						<td style="border: none;">
							<button type="submit"  class="pn pnc" ><strong>{lang gsignin:t00087}</strong></button>
						</td>
						<td style="border: none;"></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	
</div>
<script type="text/javascript">
	function check(form) {
		var regex;
		{loop $configs $key $val}
			{if $val['regex'] !=''}
				regex = {$val['regex']};
				if(!regex.test(form.{$val['variable']}.value)){
					showDialog("$val['prompt']","","",function(){{}},0);
					return false;
				}
			{/if}
		{/loop}
		return true;
	}

	function showright(message) {
		showDialog(message,'right','',function(){window.location.href='plugin.php?id={$pluginIdentifier}:config&mod={$mymodule}&cmod={$_GET["cmod"]}&page={$_GET["page"]}';},0);
	}

	function showconfirm(message,url) {
		showDialog(message,'confirm','',function(){window.formsubmit.location.href=url;},0);
	}
</script>


{template gsignin:cp/footer}