{template gsignin:cp/adminnav}

<style>
	.text_input{
		width: 100px;
		border: 1px solid #cdcdcd;
		margin: 2px;
		padding: 0 2px;
	}
	.right{
		text-align: right;
	}

	
</style>
<div class="g47jh_cp_content">
	<div class="g47jh_content_div">
		<div class="g47jh_content_title">	
			<span class="g47jh_content_span">{lang gsignin:t00011}</span>
		</div>	
		<form name="psForm" action="plugin.php?id=gsignin:extend&action=extend" method="post" target="mgframe" onsubmit="return check(this)"  enctype="multipart/form-data">
			<input name="formhash" type="hidden" value="{FORMHASH}" />
			<table class="g47jh_content_table">
				<tbody>
					<tr>
						<td colspan="3">
							<h3 class="flb">
								<em>{lang gsignin:t00167}</em>
							</h3>
						</td>
					</tr>
				</tbody>
				<tbody id="award1">
					<tr>
						<td colspan="3">
							<div style="width: 90%; height:30px;margin: 0 auto; border-bottom: dotted 1px #ccc;padding: 0 5px; font-weight: bold;">
								<table>
									<tr>
										<td id="award_title1">
											{lang gsignin:t00168} 1 {lang gsignin:t00169}
										</td>
										<td class="right" style="padding-right:0;">
											<span style="font-weight: normal;"></span>
										</td>
										<td style="padding-left:0;">
											
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
					<tr>
						<td class="right">
							{lang gsignin:t00073}
						</td>
						<td style="width:80px;">
						</td>
						<td>
						</td>
					</tr>
					{loop $_G['setting']['extcredits'] $key $val}
					<tr>
						<td>
						</td>
						<td class="right">
							{$val['title']}
						</td>
						<td>
							&nbsp;&nbsp;<input type="text" name="{eval echo 'extcredits'.$key.'[]'}" class="text_input" value="{$extend1['extcredits'.$key]}" onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
						</td>
					</tr>
					{/loop}
					
				</tbody>
				<tbody>
					<tr>
						<td colspan="3">
							<div style="width: 90%; height:30px;margin: 0 auto; border-bottom: dotted 1px #ccc;padding: 0 5px; font-weight: bold;">
								<table>
									<tr>
										<td id="award_title1">
											{lang gsignin:t00168} 2 {lang gsignin:t00169}
										</td>
										<td class="right" style="padding-right:0;">
											<span style="font-weight: normal;"></span>
										</td>
										<td style="padding-left:0;">
											
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
					<tr>
						<td class="right">
							{lang gsignin:t00073}
						</td>
						<td style="width:80px;">
						</td>
						<td>
						</td>
					</tr>
					{loop $_G['setting']['extcredits'] $key $val}
					<tr>
						<td>
						</td>
						<td class="right">
							{$val['title']}
						</td>
						<td>
							&nbsp;&nbsp;<input type="text" name="{eval echo 'extcredits'.$key.'[]'}" class="text_input"  value="{$extend2['extcredits'.$key]}"  onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
						</td>
					</tr>
					{/loop}
					
				</tbody>
				<tbody>
					<tr>
						<td colspan="3">
							<div style="width: 90%; height:30px;margin: 0 auto; border-bottom: dotted 1px #ccc;padding: 0 5px; font-weight: bold;">
								<table>
									<tr>
										<td id="award_title1">
											{lang gsignin:t00168} 3 {lang gsignin:t00169}
										</td>
										<td class="right" style="padding-right:0;">
											<span style="font-weight: normal;"></span>
										</td>
										<td style="padding-left:0;">
											
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
					<tr>
						<td class="right">
							{lang gsignin:t00073}
						</td>
						<td style="width:80px;">
						</td>
						<td>
						</td>
					</tr>
					{loop $_G['setting']['extcredits'] $key $val}
					<tr>
						<td>
						</td>
						<td class="right">
							{$val['title']}
						</td>
						<td>
							&nbsp;&nbsp;<input type="text" name="{eval echo 'extcredits'.$key.'[]'}" class="text_input" value="{$extend3['extcredits'.$key]}" onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
						</td>
					</tr>
					{/loop}
					
				</tbody>
				<tbody id="flag">
					<tr>
						<td>
						</td>
						<td class="right">
							<!--<a href="javascript:;" onclick="add()">+添加阶段奖励</a>-->
						</td>
						<td>
						</td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td>
						</td>
						<td class="right">
							<button type="submit"  class="pn pnc" ><strong>{lang gsignin:t00087}</strong></button>
						</td>
						<td>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	
</div>
<script type="text/javascript">
	function showRight(message) {
		showDialog(message,'right','',function(){
				window.location.reload();
		},0);
	}
	function check(form) {
		return true;
	}
</script>


{template gsignin:cp/footer}