			
		</div>		
		</div>
		<div class="g47jh_foot">
			<a href="http://www.47jh.com" target="_black">Powered by {lang gsignin:laoguogongzuoshi} &copy; www.47jh.com</a>
		</div>
		
	</div>

{template common/footer}