{template gsignin:cp/adminnav}
<div class="g47jh_cp_content">
	<div class="g47jh_content_div">
		<div class="g47jh_content_title">	
			<span class="g47jh_content_span">{lang gsignin:t00170}</span>
		</div>	
		<div class="g47jh_mainpart" style="padding: 20px 0px ; background: #ffffff;">
			<div class="g47jh_module">
				
			</div>
		</div>
		<div class="g47jh_mainpart">
			<div class="g47jh_module">
				<div style="background-color:#FC6E51;">
					<a href="plugin.php?id=gsignin:member">
						<img src="./source/plugin/gsignin/cp_img/user.png"/>
						<span>{lang gsignin:t00047}</span>
					</a>
				</div>
				<div style="background-color:#48cfad;">
					<a href="plugin.php?id=gsignin:signin">
						<img src="./source/plugin/gsignin/cp_img/history.png"/>
						<span>{lang gsignin:t00048}</span>
					</a>
				</div>
				<div style="background-color:#ED5565;">
					<a href="plugin.php?id=gsignin:award">
						<img src="./source/plugin/gsignin/cp_img/not_give.png"/>
						<span>{lang gsignin:t00049}</span>
					</a>
				</div>
				<div style="background-color:#FFCE54;">
					<a href="plugin.php?id=gsignin:extend">
						<img src="./source/plugin/gsignin/cp_img/rank.png"/>
						<span>{lang gsignin:t00167}</span>
					</a>
				</div>
				<div style="background-color:#ac92ec;">
					<a href="plugin.php?id=gsignin:config&mod=config&cmod=global">
						<img src="./source/plugin/gsignin/cp_img/set.png"/>
						<span>{lang gsignin:t00121}</span>
					</a>
				</div>
			</div>
		</div>
		<!--老郭工作室公告-->
		<div class="g47jh_mainpart" style="padding: 20px 0px ; background: #ffffff;">
			<div class="g47jh_module" id="laoguo_post">
				<span ></span>
			</div>
		</div>
	</div>
</div>
{template gsignin:cp/footer}