{template gsignin:cp/adminnav}
<script src="static/js/calendar.js" type="text/javascript"></script>
<div class="g47jh_cp_content">
	<div class="g47jh_content_div">
		<div class="g47jh_content_title">	
			<span class="g47jh_content_span">{lang gsignin:t00047}</span>
		</div>	
		<div class="check_div">
			<form action="plugin.php?id=gsignin:member&action=search" method="post">
				<div style="margin-left: 20px;" class="check_every_div">
					<p>
						UID:
					</p>
					<p>
						<input type="text" class="check_every_input" value="{$_GET['uid']}" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" name="uid" style="margin-top: 3px;">
					</p>
				</div>
				<div class="check_every_div"  style="width: 190px;">
					<p>{lang gsignin:t00120}</p>
					<p>
						<input type="text"  name="begindays" value="{$_GET['begindays']}"  class="check_every_input" style="width: 80px;margin-top: 3px;" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" >
						~
						<input type="text" name="enddays" value="{$_GET['enddays']}"   class="check_every_input" style="width: 80px;margin-top: 3px;" onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
					</p>
				</div>
				
				<div class="check_every_div" style="width: 74px">
					<p style="margin-top: 30px;"><button type="submit" class="check_every_button" style="width: 70px">{lang gsignin:t00055}</button></p>
				</div>
			</form>
		</div>
		<table class="g47jh_content_table">
			<tr class="g47jh_content_tr" style="background: #f9f9f9;color: #333333">
				<th class="g47jh_content_th">UID</th>
				<th class="g47jh_content_th">{lang gsignin:t00092}</th>
				<th class="g47jh_content_th">{lang gsignin:t00093}</th>
				<th class="g47jh_content_th">{lang gsignin:t00094}</th>
				<th class="g47jh_content_th">{lang gsignin:t00095}</th>
				<th class="g47jh_content_th">{lang gsignin:t00157}</th>
				<th class="g47jh_content_th">{lang gsignin:t00113}</th>
				<th class="g47jh_content_th">{lang gsignin:t00096}</th>
				<th class="g47jh_content_th">{lang gsignin:t00097}</th>
			</tr>
			<!--{loop $members $key $val}-->
			<tr class="{if $key%2==0}g47jh_content_tw{else}g47jh_content_tr{/if}">
				<td class="g47jh_content_th">{$val['uid']}</td>
				<td class="g47jh_content_th">{eval $val['user']=getuserbyuid($val['uid'])}{eval echo $val['user']['username']}</td>
				<td class="g47jh_content_th">{$val['continuous']}</td>
				<td class="g47jh_content_th">{$val['total']}</td>
				<td class="g47jh_content_th">{$val['difference']}</td>
				<td class="g47jh_content_th">{$val['card']}</td>
				<td class="g47jh_content_th">{if $val['isshield']==1}{lang gsignin:t00085}{else}{lang gsignin:t00084}{/if}</td>
				<td class="g47jh_content_th">{eval echo gmdate('Y-m-d H:i:s',$val['lasttime']+8*3600)}</td>
				<td class="g47jh_content_th">
					<a href="javascript:;" onclick="showWindow('update','plugin.php?id=gsignin:member&action=update_input&uid={$val['uid']}&page={$_GET['page']}');" target="formsubmit">{lang gsignin:t00163}</a> | 
					{if $val['isshield']==1}
					<a href="javascript:;" onclick="showconfirm('{lang gsignin:t00118}'+'{eval $val['user']=getuserbyuid($val['uid'])}{eval echo $val['user']['username']}'+'{lang gsignin:t00119}','plugin.php?id=gsignin:member&action=delete&do=shielded&uid={$val['uid']}&formhash={FORMHASH}&page={$_GET['page']}');">{lang gsignin:t00115}</a>
					{else}
					<a href="javascript:;" onclick="showconfirm('{lang gsignin:t00116}'+'{eval $val['user']=getuserbyuid($val['uid'])}{eval echo $val['user']['username']}'+'{lang gsignin:t00117}','plugin.php?id=gsignin:member&action=delete&do=shield&uid={$val['uid']}&formhash={FORMHASH}&page={$_GET['page']}');">{lang gsignin:t00114}</a>
					{/if}
				</td>
			</tr>
			<!--{/loop}-->
		</table>
	</div>
	<!--分页-->
	<div class="adjust_page_div" style="margin-top: -20px;">
		<div class="adjust_page_span" style="width:250px;">{lang gsignin:t00063} <i style="color: #4689cf">{$num}</i>{lang gsignin:t00064} {$currpage}/{$totalPage}{lang gsignin:t00065}</div>
		<div class="adjust_page_right">
			{$paging}
		</div>
	</div>
	
</div>


<script type="text/javascript">
	var  myselect=document.getElementById("chose_area");
	function showconfirm(msg,url) {
		showDialog(msg,'confirm','',function(){window.mgframe.location.href=url;},0);
	}
	function showconfirm2(msg,url) {
		var start_time = document.getElementById("start_time").value;
		var end_time = document.getElementById("end_time").value;
		showDialog(msg,'confirm','',function(){window.mgframe.location.href=url+'&start_time='+start_time+'&end_time='+end_time;},0);
	}

	function showerror(message) {
		parent.showDialog(message,'','',function(){{}},0);
	}

	function showRight(message) {
		showDialog(message,'right','',function(){
				window.location.reload();
		},0);
	}
	

</script>
{template gsignin:cp/footer}