{template gsignin:cp/adminnav}


<script src="static/js/calendar.js" type="text/javascript"></script>
<div class="g47jh_cp_content">
	<div class="g47jh_content_div">
		<div class="g47jh_content_title">	
			<span class="g47jh_content_span">{lang gsignin:t00010}</span>
		</div>	
		<div class="check_div">
			<form name="psForm"  action="plugin.php?id=gsignin:signin&action=search"  method="post" style="display:inline;float:left;">
				<div style="margin-left: 20px;" class="check_every_div">
					<p>
						UID:
					</p>
					<p>
						<input type="text" class="check_every_input" value="{$_GET['uid']}" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" name="uid" style="margin-top: 3px;">
					</p>
				</div>
				<div class="check_every_div" style="width: 230px;">
					<p>&nbsp;&nbsp;{lang gsignin:t00054}</p>
					<p>
						<input type="text"  readonly="readonly" name="begindate" value="{$_GET['begindate']}"  class="check_every_input" style="width: 100px;margin-top: 3px;" onClick="showcalendar(event, this, 0);">
						~
						<input type="text"  readonly="readonly" name="enddate" value="{$_GET['enddate']}" class="check_every_input" style="width: 100px;margin-top: 3px;" onClick="showcalendar(event, this, 0);">
					</p>
				</div>
				<div class="check_every_div" style="width: 74px">
					<p style="margin-top: 30px;">
						<button type="submit" class="check_every_button" style="width: 70px">{lang gsignin:t00055}</button>
						
					</p>
				</div>
			</form>
			<div class="check_every_div" style="width: 74px">
				<p style="margin-top: 30px;">
					<button type="button"  class="check_every_button" onclick="showWindow('add','plugin.php?id=gsignin:signin&action=add_input')">{lang gsignin:t00152}</button>	
				</p>
			</div>
				
		</div>
		<table class="g47jh_content_table">
			<tr class="g47jh_content_tr" style="background: #f9f9f9;color: #333333">
				<th style="padding-left:10px;" class="g47jh_content_th">ID</th>
				<th class="g47jh_content_th">UID</th>
				<th class="g47jh_content_th">{lang gsignin:t00074}</th>
				<th class="g47jh_content_th">{lang gsignin:t00057}</th>
				<th class="g47jh_content_th">{lang gsignin:t00153}</th>
				<th class="g47jh_content_th">{lang gsignin:t00056}</th>
				{loop $_G['setting']['extcredits'] $k $v}
					<th class="g47jh_content_th">{$v['title']}</th>
				{/loop}
				<th class="g47jh_content_th">{lang gsignin:t00058}</th>
				<th class="g47jh_content_th">{lang gsignin:t00059}</th>
			</tr>
			<!--{loop $signins $key $val}-->
			<tr class="{if $key%2==0}g47jh_content_tw{else}g47jh_content_tr{/if}">
				<td style="padding-left:10px;" class="g47jh_content_th">{$val['id']}</td>
				<td class="g47jh_content_th">{$val['uid']}</td>
				<td class="g47jh_content_th">{eval $val['user']=getuserbyuid($val['uid'])}{eval echo $val['user']['username']}</td>
				<td class="g47jh_content_th">{$val['ranking']}</td>
				<td class="g47jh_content_th">{eval echo gmdate('Y-m-d H:i:s',$val['prevtime']+8*3600)}</td>
				<td class="g47jh_content_th">{eval echo gmdate('Y-m-d H:i:s',$val['currenttime']+8*3600)}</td>
				{loop $_G['setting']['extcredits'] $k $v}
					<td class="g47jh_content_th">+{$val['extcredits'.$k]}</td>
				{/loop}
				<td class="g47jh_content_th">{if $val['issupplement'] == 0}-{else}{lang gsignin:t00060}{/if}</td>
				<td class="g47jh_content_th">
					<a href="javascript:;" onclick="showconfirm('{lang gsignin:t00061}','plugin.php?id=gsignin:signin&action=delete&signinid={$val['id']}&formhash={FORMHASH}&page={$_GET['page']}')">{lang gsignin:t00062}</a>
				</td>
			</tr>
			<!--{/loop}-->
		</table>
	</div>
	<!--分页-->
	<div class="adjust_page_div" style="margin-top: -20px;">
		<div class="adjust_page_span" style="width:250px;">{lang gsignin:t00063} <i style="color: #4689cf">{$num}</i>{lang gsignin:t00064} {$currpage}/{$totalPage}{lang gsignin:t00065}</div>
		<div class="adjust_page_right">
			<a></a>
			{$paging}
			<a></a>
		</div>
	</div>
	
</div>


<script type="text/javascript">
	var  myselect=document.getElementById("chose_area");
	function showconfirm(msg,url) {
		showDialog(msg,'confirm','',function(){window.mgframe.location.href=url;},0);
	}
	function showconfirm2(msg,url) {
		var start_time = document.getElementById("start_time").value;
		var end_time = document.getElementById("end_time").value;
		showDialog(msg,'confirm','',function(){window.mgframe.location.href=url+'&start_time='+start_time+'&end_time='+end_time;},0);
	}
	
	function showerror(message) {
		parent.showDialog(message,'','',function(){{}},0);
	}

	function showRight(message) {
		showDialog(message,'right','',function(){
				window.location.reload();
		},0);
	}
	
	
</script>
{template gsignin:cp/footer}