    <!--{subtemplate common/header_common}-->
    <meta name="application-name" content="$_G['setting']['bbname']" />
    <meta name="msapplication-tooltip" content="$_G['setting']['bbname']" />
    <!--{if $_G['setting']['portalstatus']}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][1]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['portal']) ? 'http://'.$_G['setting']['domain']['app']['portal'] : $_G[siteurl].'portal.php'};icon-uri={$_G[siteurl]}{IMGDIR}/portal.ico" /><!--{/if}-->
    <meta name="msapplication-task" content="name=$_G['setting']['navs'][2]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['forum']) ? 'http://'.$_G['setting']['domain']['app']['forum'] : $_G[siteurl].'forum.php'};icon-uri={$_G[siteurl]}{IMGDIR}/bbs.ico" />
    <!--{if $_G['setting']['groupstatus']}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][3]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['group']) ? 'http://'.$_G['setting']['domain']['app']['group'] : $_G[siteurl].'group.php'};icon-uri={$_G[siteurl]}{IMGDIR}/group.ico" /><!--{/if}-->
    <!--{if helper_access::check_module('feed')}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][4]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['home']) ? 'http://'.$_G['setting']['domain']['app']['home'] : $_G[siteurl].'home.php'};icon-uri={$_G[siteurl]}{IMGDIR}/home.ico" /><!--{/if}-->
    <!--{if $_G['basescript'] == 'forum' && $_G['setting']['archiver']}-->
      <link rel="archives" title="$_G['setting']['bbname']" href="{$_G[siteurl]}archiver/" />
    <!--{/if}-->
    <!--{if !empty($rsshead)}-->$rsshead<!--{/if}-->
    <!--{if widthauto()}-->
      <link rel="stylesheet" id="css_widthauto" type="text/css" href='{$_G['setting']['csspath']}{STYLEID}_widthauto.css?{VERHASH}' />
      <script type="text/javascript">HTMLNODE.className += ' widthauto'</script>
    <!--{/if}-->
    <!--{if $_G['basescript'] == 'forum' || $_G['basescript'] == 'group'}-->
      <script type="text/javascript" src="{$_G[setting][jspath]}forum.js?{VERHASH}"></script>
    <!--{elseif $_G['basescript'] == 'home' || $_G['basescript'] == 'userapp'}-->
      <script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
    <!--{elseif $_G['basescript'] == 'portal'}-->
      <script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
    <!--{/if}-->
    <!--{if $_G['basescript'] != 'portal' && $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
      <script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
    <!--{/if}-->
    <!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
      <link rel="stylesheet" type="text/css" id="diy_common" href="{$_G['setting']['csspath']}{STYLEID}_css_diy.css?{VERHASH}" />
    <!--{/if}-->
  </head>

  <body>

    <header class="header layout orange-background" id="top-header">
      <div class="bd">
        <h1 class="header_title">
          <a href="/">
            <img src="/Public/images/logo_mobile.gif" alt="意大利原生活" width="207" height="47">
          </a>
        </h1>
        
        <a class="button_edit" href="#"></a>
        
        <a class="button_login" href="#">登录</a>
        
      </div>
    </header>
    <nav class="nav default-background">
      <div class="bd">
        <ul class="on">
          <li><a href="{:U('/')}">首页</a></li>
          <li><a href="#">消息</a></li>
          <li><a href="javascript:;">发现</a></li>
        <li><a href="#">我</a></li>
        </ul>
      </div>
    </nav>