{template common/header}
<style>
	.text_input{
		width: 100px;
		border: 1px solid #cdcdcd;
		margin: 2px;
		padding: 0 2px;
	}
	
	.border_select{
		border: 1px solid #cdcdcd;
	}
	
	textarea {
		width: 300px;
		height: 80px;
		border: 1px solid #cdcdcd;
		margin: 2px;
	}
	.right{
		text-align: right;
	}
	.center {
		text-align: center;
	}
	.myred{
		color: #FF0000;
	}
	
	table#award td{
		border:none;
	}
	
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=00b448f53d6cbd1dbc9bc967ed0f5ea5"></script>
<iframe style="visibility:hidden;display:none" id="formsubmit" name="formsubmit" width="1" height="1" ></iframe>

<div id="wp" class="wp">
<div id="pt" class="bm cl">
<div class="z">
<div class="z">
<a href="./" class="nvhm">Discuz! Board</a> <em>?</em>
<a href="plugin.php?id=gsignin:index">{lang gsignin:t00050}</a> <em>?</em><a href="plugin.php?id=gsignin:award">{lang gsignin:t00066}</a><em>?</em>{lang gsignin:t00067}
</div>
</div>
</div>
<div id="ct" class="ct2_a wp cl">
<div class="mn">
<div class="bm bw0">
<h1 class="mt">
</h1>

<div style="margin:5px 0;">
	
</div>
<form action="plugin.php?id=gsignin:extend&action=extend"  target="formsubmit" method="post" onsubmit="return check(this)" >
<input name="formhash" type="hidden" value="{FORMHASH}" />
<table cellspacing="0" cellpadding="0" class="dt" style="border:none;" id="award">
	<tbody>
		<tr>
			<td colspan="3">
				<h3 class="flb">
					<em>{lang gsignin:t00167}</em>
				</h3>
			</td>
		</tr>
	</tbody>
	<tbody id="award1">
		<tr>
			<td colspan="3">
				<div style="width: 90%; height:30px;margin: 0 auto; border-bottom: dotted 1px #ccc;padding: 0 5px; font-weight: bold;">
					<table>
						<tr>
							<td id="award_title1">
								{lang gsignin:t00168} 1 {lang gsignin:t00169}
							</td>
							<td class="right" style="padding-right:0;">
								<span style="font-weight: normal;"></span>
							</td>
							<td style="padding-left:0;">
								
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td class="right">
				{lang gsignin:t00073}
			</td>
			<td style="width:80px;">
			</td>
			<td>
			</td>
		</tr>
		{loop $_G['setting']['extcredits'] $key $val}
		<tr>
			<td>
			</td>
			<td class="right">
				{$val['title']}
			</td>
			<td>
				&nbsp;&nbsp;<input type="text" name="{eval echo 'extcredits'.$key.'[]'}" class="text_input" value="{$extend1['extcredits'.$key]}" onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
			</td>
		</tr>
		{/loop}
		
	</tbody>
	<tbody>
		<tr>
			<td colspan="3">
				<div style="width: 90%; height:30px;margin: 0 auto; border-bottom: dotted 1px #ccc;padding: 0 5px; font-weight: bold;">
					<table>
						<tr>
							<td id="award_title1">
								{lang gsignin:t00168} 2 {lang gsignin:t00169}
							</td>
							<td class="right" style="padding-right:0;">
								<span style="font-weight: normal;"></span>
							</td>
							<td style="padding-left:0;">
								
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td class="right">
				{lang gsignin:t00073}
			</td>
			<td style="width:80px;">
			</td>
			<td>
			</td>
		</tr>
		{loop $_G['setting']['extcredits'] $key $val}
		<tr>
			<td>
			</td>
			<td class="right">
				{$val['title']}
			</td>
			<td>
				&nbsp;&nbsp;<input type="text" name="{eval echo 'extcredits'.$key.'[]'}" class="text_input"  value="{$extend2['extcredits'.$key]}"  onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
			</td>
		</tr>
		{/loop}
		
	</tbody>
	<tbody>
		<tr>
			<td colspan="3">
				<div style="width: 90%; height:30px;margin: 0 auto; border-bottom: dotted 1px #ccc;padding: 0 5px; font-weight: bold;">
					<table>
						<tr>
							<td id="award_title1">
								{lang gsignin:t00168} 3 {lang gsignin:t00169}
							</td>
							<td class="right" style="padding-right:0;">
								<span style="font-weight: normal;"></span>
							</td>
							<td style="padding-left:0;">
								
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td class="right">
				{lang gsignin:t00073}
			</td>
			<td style="width:80px;">
			</td>
			<td>
			</td>
		</tr>
		{loop $_G['setting']['extcredits'] $key $val}
		<tr>
			<td>
			</td>
			<td class="right">
				{$val['title']}
			</td>
			<td>
				&nbsp;&nbsp;<input type="text" name="{eval echo 'extcredits'.$key.'[]'}" class="text_input" value="{$extend3['extcredits'.$key]}" onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
			</td>
		</tr>
		{/loop}
		
	</tbody>
	<tbody id="flag">
		<tr>
			<td>
			</td>
			<td class="right">
				<!--<a href="javascript:;" onclick="add()">+添加阶段奖励</a>-->
			</td>
			<td>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
			</td>
			<td class="right">
				<button type="submit"  class="pn pnc" ><strong>{lang gsignin:t00087}</strong></button>
			</td>
			<td>
			</td>
		</tr>
	</tbody>
</table>
</form>
<div style="margin:5px 0;">

	<div style="clear: both;">
	</div>
</div>
</div>
</div>
{template gsignin:leftnav}
</div>
</div>
<script type="text/javascript">


var index = {eval echo count($awards)+2};


function add(){

	var temp = '';
	
	var table = document.getElementById('award');
	var flag = document.getElementById('flag')
	
	var award1 = document.getElementById('award1');
	var awardTitle1 = document.getElementById('award_title1');

	temp = 	awardTitle1.innerHTML;
	awardTitle1.innerHTML = '第'+index+'阶段奖励';
	
	var addTbody = document.createElement('tbody');
	addTbody.innerHTML = award1.innerHTML;
	table.insertBefore(addTbody,flag);

	awardTitle1.innerHTML = temp;
	index = index+1;
}

function check(form) {
	return true;
}

</script>
{template common/footer}