.vivo-banner-container{
	position: relative;
	overflow: hidden;

	font-size: 18px;
	line-height: 24px;
	text-align: center;

	color: rgba(255,255,255,.6);

    font-family: "microsoft yahei";
}

.vivo-banner-container .banner {
	position: relative;
	overflow: hidden;
	background-color: #EEE;
}

.vivo-banner-container .banner-item {
	position: relative;
	height: 100%;
}

.vivo-banner-container .banner-item a {
	display: block;
	height: 100%;
}

.vivo-banner-container .banner-item img {
	display: block;
	width: 100%;
    height: auto;
    min-height: 100%;
}

.vivo-banner-container .banner-item .desc {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 63px;
	left: 0;
	bottom: 0;
	text-align: left;
	color: #FFF;
	font-size: 14px;
	padding-left: 25px;
	padding-right: 25px;
}

.vivo-banner-container .banner-item .desc .bannerTitle,
.vivo-banner-container .banner-item .desc .shareTitle {
	position: relative;
	z-index: 2;
}

.vivo-banner-container .banner-item .desc .bannerTitle {
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	padding-top: 5px;
	padding-bottom: 2px;
}

.vivo-banner-container .banner-item .mask {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: url(/static/image/vivo/banner_title_mask.png) no-repeat;
}

.vivo-banner-container .bannerList {
	height: 350px;
	margin-bottom: 12px;
	overflow: hidden;
}

.vivo-banner-container .navButtonGroup {
	
}

.vivo-banner-container .arrows {
	/*position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;*/
}

.vivo-banner-container .arrow {
    position: absolute;
	cursor: pointer;
	width: 54px;
	height: 54px;
	top: 156px;
	text-indent: -9999pt;
}

.vivo-banner-container .arrows .prev {
	background: url(/static/image/vivo/banner_prev.png) no-repeat;
	left: 20px;
}

.vivo-banner-container .arrows .next {
	background: url(/static/image/vivo/banner_next.png) no-repeat;
	right: 20px;
}

.vivo-banner-container .thumbnail-list {
  display: block;
  width: 150%;
  height: 74px;
}

.vivo-banner-container .thumbnail-item {
	position: relative;
	float: left;
	width: 120px;
    height: 70px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 1px;
    overflow: hidden;
    font-size: 13px;
    color: #FFF;
}

.vivo-banner-container .thumbnail-list .active {
	border-color: #f3a066;
}

.vivo-banner-container .thumbnail-item img {
	width: 100%;
	height: auto;
	min-height: 100%;
}

.vivo-banner-container .thumbnail-item .itemImage {
	position: relative;
	z-index: 1;
	background-color: #DDD;
	height: 100%;
}


.vivo-banner-container .thumbnail-item .itemTitle {
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0;
  bottom: 0;
  line-height: 21px;
  height: 21px;
  overflow: hidden;
}

.vivo-banner-container .thumbnail-item .itemTitle span {
	position: relative;
	display: block;
	z-index: 2;
	margin: 0 10px;
	overflow: hidden;
}

.vivo-banner-container .thumbnail-item .itemTitle .mask {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.vivo-banner-container .dots{
	position: relative;
	bottom: 30px;
	text-align: center;
}
.vivo-banner-container .dots>.dot{
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: #fff;
	color: #fff;
	overflow: hidden;
	cursor: pointer;
	margin: 0px 6px; 
}
.vivo-banner-container .dots>.dot.active{
	background-color: #fff022;
	color: #fff022;
}
