html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style: none;
}

body {
	font-family: Arial, Verdana, Microsoft YaHei;
	font-size: 12px;
	color: #444444;
	
}

.border_color {
	border: 1px solid #EEEEEE;
}

.base_color {
	color: #5494ee;
}
.base_bg_color {
	/*background: #5494ee;*/
  background-color: #ffad4a;
}

#body-container {
	width: 100%;
	background: url(/static/image/vivo/banner_qiandao.jpg) center 0 no-repeat;
	padding-top: 607px;
}

#header {
	width: 960px;
	margin: 10px auto 0;
	border-top: 1px solid #EEE;
}

#main {
	/*width: 997px;*/
	margin: 0 auto;
	background-color: #FFF;
	font-family: "微软雅黑";
}

#main .content {
	padding: 0 15px;
}

#main .content .top {
	position: relative;
	height: 380px;
	margin-bottom: 18px;
	background: url(/static/image/vivo/qiandao_top3.gif) no-repeat center 320px;
	border-bottom: solid 1px #dcdcdc;
}

#main .content .top .left {
	width: 140px;
	height: 90px;
	/*border: 1px solid #EEEEEE;*/
	text-align: center;
	position: absolute;
	top: 100px;
	background: #FFFFFF;
}

#main .content .top .center {
	/*position: absolute;
	top: 0;
	left: 111px;*/
	position: relative;
	width: 623px;
	height: 292px;
	margin: 0 auto;
	/*background: url(/static/image/vivo/bg_top3.png) no-repeat center bottom;*/
	background: url(/static/image/vivo/qiandao_bg_top3.gif) no-repeat center bottom;
}

#main .content .top .center .front {
	float: left;
	/*width: 130px;*/
	width: 33.33%;
	/*margin-left: 20px;*/
	position: relative;
	z-index: 1;
}

#main .content .top .center .front .user_picture {
	margin: 0 auto;
	width: 110px;
	height: 110px;
	position: relative;
}

#main .content .user_picture .user_head {
	width: 100%;
	height: auto;
	min-height: 100%;
	border-radius: 55px;
}

#main .content .top .center .front .user_info {
	border-top: none;
	width: 120px;
	height: 0px;
	background: #FFF;
	text-align: center;
	transition: opacity .5s ease-out 0;
	overflow: hidden;
	display: none;
}

#main .content .top .center .front  .user_picture a.user_name{
	display: block;
	width:120px;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	padding: 5px 0;
	/*position: absolute;
	left: 4px;
	top:104px;
	background: url(../img/name_bg.png); */
	text-align: center;
	font-size: 22.11px;
	color: #696969;
	overflow: hidden;
}	


#main .content .top .center .front .user_info .user_info_content{
	background: #EEEEEE;
	
}


#main .content .top .right {
	
	text-align: center;
	position: absolute;
	right: 10px;
	/*bottom: 20px;*/
  top: 100px;
	/*background: url(../img/clock_button_patch.jpg) no-repeat;
	background-position: 0 -60px;*/
  
}

#main .content .top .right a {
  display: block;
	width: 140px;
	/*height: 60px;*/
	/*border: 1px solid #EEEEEE;*/
  border: 1px solid #f5c6a4;
  background-color: #eb6100;
	text-decoration: none;
  font-size: 14px;
}

/*
#main .content .top a.right:hover{
	background-position: 0 0;
}

#main .content .top a.right:active{
	background-position: 0 -120px;
}*/

#main .content .top a div div {
	height: 30px;
	
}

#main .content .bottom {
	/*width: 930px;*/
	/*margin-left: 30px;*/
	/*border: solid 1px #d2d2d2;*/
    margin-bottom: 20px;
    /*background: url(/static/image/vivo/qiandao_month_top.gif) no-repeat center 0;*/
	padding-top: 50px;
	padding-bottom: 20px;
}

#main .content .bottom table {
	width: 100%;
	/*border: 1px solid #EEEEEE;
	border-collapse: collapse;
	border-right: none;*/
	/*background: #FFFFFF;*/
}

/*
#main .content .bottom table tbody {
  border-style: solid;
  border-color: #d2d2d2;
  border-width: 1px;
}*/

#main .content .bottom table th,
#main .content .bottom table td {
	border-bottom: solid 1px #ededed;
}


#main .content .bottom table th {
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	/*background: #FBFBFB;*/
	text-align: center;
	font-weight: bold;
	font-size: 17.13px;
	color: #ffa107;
}

#main .content .bottom table td {
	text-align: center;
	padding: 10px;
	height: 40px;
	line-height: 40px;
	/*border-bottom: 1px solid #EEEEEE;
	border-top: 1px solid #EEEEEE;*/
	position: relative;
    vertical-align: middle;
    font-weight: bold;
    font-size: 17.13px;
	color: #ffa107;
}

#main .content .bottom table td .order {
	display: inline-block;
	width: 50px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: normal;
	font-size: 13.27px;
	color: #313131;
}

#main .content .bottom .star .order {
	color: #FFF;
	background: url(/static/image/vivo/qiandao_star.gif) no-repeat 12px center;
}

#main .content .bottom .headImage img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

#main .content .bottom .nickname {
	font-weight: normal;
	color: #373737;
}

#main .content .bottom .nickname a {
	color: #373737;
}

/*
.myalt {
	background: #FBFBFB;
}*/

#main .tab {
	position: fixed;
  z-index: 1;
	top: 240px;
  left: 50%;
  margin-left: 458px;
    display: none;
}

#main .tab ul li{
	border: 1px solid #d2d2d2;
	color: #5494EE;
	background: #FFFFFF;
	cursor: pointer;
  border-radius: 0 8px 8px 0;
  position: relative;
  line-height: 1;
  margin-top: -5px;
}

#main .tab ul li a{
  display: block;
	color: #5494EE;
  padding: 10px 2px;
	text-decoration: none;
}	

/*
#main .tab ul li:hover{
	color: #FFFFFF;
	background: #5494EE;
}

#main .tab ul li:hover a{
	color: #FFFFFF;
}	*/


#main .tab ul li.check{
	background-color: #ff6b00;
	color: #FFFFFF;
  z-index: 1;
  border: 0 none;
}

#main .tab ul li.check a{
	color: #FFFFFF;
}	

#footer {
	width: 960px;
	margin: 0 auto 10px;
	border-bottom: 1px solid #EEEEEE;
  display: none;
}
