#calendar_bg {
	background: url(../img/calendar_bg.png) ;
	width: 357px;
	position: absolute;
	top: 185px;
	right: 10px;
	z-index: 2;
}
.calendar_body {
	width: 350px;
	margin:0 auto;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	background: #FFFFFF;
}

.calendar_body .calendar_title{
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	font-size: 14px;
}

.calendar_body ul li {
	float: left;
	width: 49px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE
}

.calendar_body .calendar_btn {
	display: block;
	width: 34px;
	height: 40px;
	float: left;
}
.calendar_body .year_mouth {
	width: 281px;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 40px;
}
.calendar_info{
	width: 350px;
	margin:0 auto;
	background: #FFFFFF; heifht:40px;
	border-right: 1px solid #EEEEEE;
}