@font-face {
	font-family: 'g47jh';
	src:url('fonts/g47jh.eot?tktvbf');
	src:url('fonts/g47jh.eot?#iefixtktvbf') format('embedded-opentype'),
		url('fonts/g47jh.woff?tktvbf') format('woff'),
		url('fonts/g47jh.ttf?tktvbf') format('truetype'),
		url('fonts/g47jh.svg?tktvbf#g47jh') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'g47jh';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}