html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Verdana, Microsoft YaHei;
	font-size: 15px;
	background: #eceef0;
	color: #3d3d3d;
	padding-bottom: 24px;
}

a,a:visited {
	text-decoration: none;
	color: #3d3d3d;
}

ul,li {
	list-style: none
}

img {
	border: 0
}

.header {
	height: 120px;
	width: 100%;
	background: #3272ee;
	background: url(../img/top_bg.jpg) no-repeat center center;
	position: relative;
	
}

.info{
	height: 50px;
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0 1px 2px 0 #e0e0e0;
}

.info .item{
	float: left;
	width: 33%;
	margin-top: 5px;
	height: 40px;
	text-align: center;
	font-size: 14px;
	color: #555;
	border-right: 1px solid #cccdce;
}

.nav {
	height: 38px;
	line-height: 38px;
	display: -webkit-box;
	width: 100%;
	background: #fff;
	box-shadow: 0 1px 3px 0 #dadcde;
}

.nav a {
	width: 33%;
	float:left;
	text-align: center;
	display: block;
	position: relative;
	z-index: 0;
}

.nav a.nav-cur {
	color: #5494ee;
}

.nav-cur span {
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #5494ee;
}

a.btn{

	display: block;
	width: 96%;
	margin: 8px auto;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	background: #5494ee;
	text-align: center;
	color: #fff;
	font-size: 18px;
	text-decoration:none;
}

a.btn_visited{
	display: block;
	width: 96%;
	margin: 8px auto;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	background: #87C7ee;
	text-align: center;
	color: #fff;
	font-size: 18px;
	text-decoration:none;
}

a.btn:visited{
	color: #FFFFFF;	
}

a.btn:active{
	background-color:#3272ee;
}



.common {
	width: 96%;
	background: #FFFFFF;
	border-radius: 2px;
	margin: 8px auto;
	text-align: center;
	color: #555;
}


.sort-search-con a:first-child b {
	background: #e43600;
}


table.common{
	border-collapse:collapse;
	border: 1px solid #e0e0e0;
}

.common tr td {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	height: 24px;;
}

.common .order {
	display: inline-block;
	height: 14px;
	width: 14px;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	background: #b9c4cb;
	color: #fff;
	border-radius: 2px;
	margin: 0 6px 0 10px;
}

.common .first {
	background: #e43600;
}

.common .second {
	background: #ff7c00;
}

.common .third {
	background: #2baf0f
}

.footer-nav {
	width: 90%;
	margin: 28px auto 0;
	display: -webkit-box;
	display: box;
}

.footer-nav a {
	display: block;
	width: 24%;
	text-align: center;
	font-size: 14px;
	color: #555;
	height: 14px;
	line-height: 14px;
	border-right: 1px solid #cccdce;
}

.footer-nav a:last-child {
	border-right: 0;
}

.footer-nav div {
	display: inline-block;
	width: 10px;
	height: 12px;
	/*
	background: url(http://s0.m.hao123img.com/static/html5-xiaoshuo/img/index_spirit_4003b3b.png) -50px -42px no-repeat;
	*/
	-webkit-background-size: 80px auto;
	position: relative;
	top: 1px;
	margin-left: 2px;
}

.footer-cr {
	color: #c2c3c3;
	font-size: 12px;
	text-align: center;
	margin-top: 18px;
}

.overlay_container {
	position: fixed;
	z-index: 100003;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.1);
	
}

.toast {
	margin:0 auto;
	width: 210px;
	padding: 16px;
	font-size: 16px;
	line-height: 20px;
	background-color: rgba(0,0,0,.9);
	border-radius: 8px;
	color: #fff;
	text-align: center;
	z-index: 100000;
}
.more {
	display:block;
	width: 96%;
	margin:0 auto;
	cursor: pointer;
	color: #303030;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	text-align: center;
	height: 29px;
	line-height: 29px;
	font-size: 13px;
	background-color: #fff;
}
