{eval}
$app = C::app();
isset($stylesheets) ? null : $stylesheets = array();
{/eval}

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	
		<title>Vivo唯思经销商后台</title>
		<!-- Bootstrap core CSS -->
		{if $app->config['debug']}
		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" />
		{else}
		<link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		{/if}

		<!-- FontAwesome 4.3.0 -->
		{if $app->config['debug']}
		<link rel="stylesheet" href="/static/css/font-awesome-4.2.0/css/font-awesome.css" />
		{else}
    	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    	{/if}
    
    	<!-- Ionicons 2.0.0 -->
    	<link href="/static/ionicons/css/ionicons.css" rel="stylesheet" />
    
    	<!-- AdminLTE Theme style -->
    	<link href="/static/AdminLTE/dist/css/AdminLTE.min.css" rel="stylesheet" />
    	
    	<!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    	<link href="/static/AdminLTE/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    
    	<!-- iCheck blue style -->
    	<link rel="stylesheet" href="/static/AdminLTE/plugins/iCheck/square/blue.css" />
    	
    	<!-- jQuery UI styles -->
		<link href="/static/jquery/jquery-ui-1.10.3/themes/base/jquery.ui.all.css" rel="stylesheet" />
		
		
		{if count($stylesheets) }
		<!-- special style sheets -->
		{loop $stylesheets $v}
		<link rel="stylesheet" href="{$v}" />
		{/loop}
		{/if}
		
		<!-- styles for dealer -->
		<link href="/static/css/dealer.css" rel="stylesheet">
	
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>