		<header class="main-header">
			
			<!-- Logo -->
        	<a href="/dealer.php" class="logo"><b>Vivotech</b> 唯思</a>
        	
        	<nav class="navbar navbar-static-top" role="navigation">
        		
        		<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
				</a>
				
				<!-- Navbar Right Menu -->
          		<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<li>
							<a id="linkLogout" href="JavaScript:;">退出</a>
						</li>
					</ul>
				</div>
				
			</nav>
			
		</header>
		
