{eval}
$app = C::app();
{/eval}

		<footer class="main-footer">
	        <div class="pull-right hidden-xs">
	          <b>Version</b> 1.0
	        </div>
	        <strong>Copyright &copy; 2015{eval echo date("Y") > 2015 ? '-'.date("Y") : ''; } <a href="javascript:;" target="_blank">vivotech</a>.</strong> All rights reserved.
	    </footer>

		<!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    {if $app->config['debug']}
	    <script src="/static/jquery/jquery-2.1.3.js"></script>
	    <script src="/static/bootstrap/js/bootstrap.js"></script>
	    {else}
	    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
	    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		{/if}
		
		<!-- AdminLTE App -->
    	<script src="/static/AdminLTE/dist/js/app.js" type="text/javascript"></script>
		
		<!-- hotkeys -->
		<script src="/static/jquery/jquery.hotkeys/jquery.hotkeys.js"></script>
		
		<!-- iCheck -->
	    <script src="/static/AdminLTE/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
		
		<!-- jQuery UI -->
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
		
		<!-- tools -->
		<script src="/static/js/vivo/mobile/tools.js"></script>
		
		<!-- 经销商后台脚本 -->
		<script src="/static/js/vivo/dealer.js"></script>
		
