{eval}
$current_controller = getgpc("mod");
{/eval}

				<!-- Left side column. contains the logo and sidebar -->
      			<aside class="main-sidebar">
      				<section class="sidebar">
						<ul class="sidebar-menu">
							<li class="treeview{if empty($current_controller)} active{/if}">
								<a href="/{CURSCRIPT}.php">
									<i class="fa fa-fw fa-dashboard"></i>
									概览
									<span class="sr-only">(当前)</span>
								</a>
							</li>
							
							<li class="treeview{if $current_controller === 'dealer'} active{/if}">
								<a href="/{CURSCRIPT}.php?mod=dealer">
									<i class="fa fa-fw fa-user"></i>
									经销商管理
								</a>
							</li>
							
							<li class="treeview{if getgpc('mod') == 'statistics' && getgpc('type') == 'deal' } active{/if}">
								<a href="/{CURSCRIPT}.php?mod=statistics&type=deal">
									<i class="fa fa-fw fa-bar-chart"></i>
									销售统计
								</a>
							</li>

						</ul>
					</section>

		        </aside><!-- end sidebar -->
