{template common/header}
<style>
	.text_input{
		width: 150px;
		border: 1px solid #cdcdcd;
		margin: 2px;
	}
	
	.border_select{
		border: 1px solid #cdcdcd;
	}
	
</style>
<script src="static/js/calendar.js" type="text/javascript"></script>
<iframe style="visibility:hidden;display:none" id="formsubmit" name="formsubmit" width="1" height="1" ></iframe>

<div id="wp" class="wp">
<div id="pt" class="bm cl">
<div class="z">
<a href="javascript:;" class="nvhm">Discuz! Board</a> <em>?</em>
<a href="plugin.php?id=gsignin:index">{lang gsignin:pluginname}</a> <em>?</em><a href="plugin.php?id=gsignin:member">{lang gsignin:t00090}</a><em>?</em>{lang gsignin:t00091}
</div>
</div>
<div id="ct" class="ct2_a wp cl">
<div class="mn">
<div class="bm bw0">
<h1 class="mt">
</h1>
<!--don't close the div here--><ul class="tb cl">
<li  class="a"><a href="plugin.php?id=gsignin:member">{lang gsignin:t00091}</a></li>
</ul>
<div style="margin:10px 0;">
	<form action="plugin.php?id=gsignin:member&action=search" method="post" >
	UID:
	<input style="width:85px" type="text" name="uid" class="text_input" value="{$_GET['uid']}" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
	&nbsp;&nbsp;&nbsp;&nbsp;{lang gsignin:t00120}
	<input style="width:85px" type="text" name="begindays" class="text_input"  value="{$_GET['begindays']}" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"/>-<input style="width:85px" type="text" name="enddays" class="text_input" value="{$_GET['enddays']}" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
	<input type="submit" value="{lang gsignin:t00055}"/>
	</form>
</div>
<table cellspacing="0" cellpadding="0" class="dt">
	<tbody>
		<tr>
			<th style="text-align: center">UID</th>
			<th style="text-align: center">{lang gsignin:t00092}</th>
			<th style="text-align: center">{lang gsignin:t00093}</th>
			<th style="text-align: center">{lang gsignin:t00094}</th>
			<th style="text-align: center">{lang gsignin:t00095}</th>
			<th style="text-align: center">{lang gsignin:t00157}</th>
			<th style="text-align: center">{lang gsignin:t00113}</th>
			<th style="text-align: center">{lang gsignin:t00096}</th>
			<th style="text-align: center; width:80px;">{lang gsignin:t00097}</th>
		</tr>
		{eval $flag=1}
		{loop $members $key $val}
		{if $flag==1}
			<tr>
			{eval $flag=-1}	
		{else}
			<tr class="alt">
			{eval $flag=1}
		{/if}
			<td style="text-align: center">{$val['uid']}</td>
			<td style="text-align: center">{eval $val['user']=getuserbyuid($val['uid'])}{eval echo $val['user']['username']}</td>
			<td style="text-align: center">{$val['continuous']}</td>
			<td style="text-align: center">{$val['total']}</td>
			<td style="text-align: center">{$val['difference']}</td>
			<td style="text-align: center">{$val['card']}</td>
			<td style="text-align: center">{if $val['isshield']==1}{lang gsignin:t00085}{else}{lang gsignin:t00084}{/if}</td>
			<td style="text-align: center">{eval echo gmdate('Y-m-d H:i:s',$val['lasttime']+8*3600)}</td>
			<td style="text-align: center">
				<a href="javascript:;" onclick="showWindow('update','plugin.php?id=gsignin:member&action=update_input&uid={$val['uid']}&page={$_GET['page']}');" target="formsubmit">{lang gsignin:t00163}</a>
				{if $val['isshield']==1}
				<a href="javascript:;" onclick="showconfirm('{lang gsignin:t00118}'+'{eval $val['user']=getuserbyuid($val['uid'])}{eval echo $val['user']['username']}'+'{lang gsignin:t00119}','plugin.php?id=gsignin:member&action=delete&do=shielded&uid={$val['uid']}&formhash={FORMHASH}&page={$_GET['page']}');">{lang gsignin:t00115}</a>
				{else}
				<a href="javascript:;" onclick="showconfirm('{lang gsignin:t00116}'+'{eval $val['user']=getuserbyuid($val['uid'])}{eval echo $val['user']['username']}'+'{lang gsignin:t00117}','plugin.php?id=gsignin:member&action=delete&do=shield&uid={$val['uid']}&formhash={FORMHASH}&page={$_GET['page']}');">{lang gsignin:t00114}</a>
				{/if}
			</td>
		</tr>
		{/loop}
	</tbody>
</table>
<div style="margin:5px 0;">
	{lang gsignin:t00063} {$num} {lang gsignin:t00064} {$currpage}/{$totalPage}{lang gsignin:t00065}
</div>
<div style="margin:5px 0;">
	{$paging}
	<div style="clear: both;">
	</div>
</div>
</div>
</div>
{template gsignin:leftnav}
</div>
</div>
<script type="text/javascript">
	function showconfirm(message,url) {
		showDialog(message,'confirm','',function(){window.formsubmit.location.href=url;},0);
	}
</script>
{template common/footer}