{template common/header_ajax}
<h3 class="flb">
	<em>{lang gsignin:t00163}</em>
	<span><a href="javascript:;" class="flbc" onclick="hideWindow('$_GET['handlekey']');" title="{lang close}">{lang close}</a></span>
</h3>
<form action="plugin.php?id=gsignin:member&action=update"  target="mgframe" method="post" >
	<input name="formhash" type="hidden" value="{FORMHASH}" />
	<input name="uid" type="hidden" value="{$member['uid']}" />
	<table style="margin: 0 32px;" cellpadding="3">
		<tr>
			<td style="text-align: right;">
				{lang gsignin:t00155}
			</td>
			<td id='username'>
				{eval $member['user']=getuserbyuid($member['uid'])}{eval echo $member['user']['username']}
			</td>
		</tr>
		<tr>
			<td style="text-align: right;">
				{lang gsignin:t00162}
			</td>
			<td>
				<input type="text" class="check_every_input"  style="width:50px;" name="card" value="{$member['card']}"/>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center">
				<div style="margin: 5px 0">
					<button type="submit"  class="pn pnc" ><strong>{lang gsignin:t00087}</strong></button>
				</div>
			</td>
		</tr>
		
	</table>
</form>
{template common/footer_ajax}