@CHARSET "UTF-8";
/* 评论 前缀#body-container>.main-container>.share-list>.share-list-item> */
.comments-container{
	margin:10px 0px 10px 0px;
	border-radius:6px;
}
/* 评论-输入框 */
.comments-container>.user-comment-sender-container{
	padding:15px 15px 10px 15px;
	background-color:#F0F1F2;
	border-radius:6px;
}
.comments-container>.user-comment-sender-container>.user-img-container{
	float:left;
	width:30px;
	height:30px;
	border-radius:30px;
	overflow:hidden;
	margin:0px 0px 0px 0px;
}
.comments-container>.user-comment-sender-container>.user-img-container>.user-img{
	max-width:30px;
	min-height:30px;
}
.comments-container>.user-comment-sender-container>.user-comment-sender{
	margin-left:40px;
}
.comments-container>.user-comment-sender-container>.user-comment-sender>.user-comment-input-container,
.comments-container>.comments-list>.comment>.comment-reply>.comment-reply-input-container{
	
}
.comments-container>.user-comment-sender-container>.user-comment-sender>.user-comment-input-container>.user-comment-input,
.comments-container>.comments-list>.comment>.comment-reply>.comment-reply-input-container>.comment-reply-input{
	width:610px;
	overflow: hidden;
	margin: 0px;
	padding: 5px 2px 4px 6px;
	border-style: solid;
	border-width: 1px;
	height: 23px;
	font-size: 12px;
	word-wrap: break-word;
	line-height: 18px;
	outline: none;
	background-color: #fff;
	border-color: #cccccc;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15) inset;
}
.comments-container>.user-comment-sender-container>.user-comment-sender>.user-comment-input-container>.user-comment-input:focus,
.comments-container>.comments-list>.comment>.comment-reply>.comment-reply-input-container>.comment-reply-input:focus{
	border-color:#FEE101;
}
.comments-container>.user-comment-sender-container>.user-comment-sender>.control-bar,
.comments-container>.comments-list>.comment>.comment-reply>.control-bar{
	padding:10px 0px 0px 0px;
	height:30px;
}
.comments-container>.user-comment-sender-container>.user-comment-sender>.control-bar>.btn-list,
.comments-container>.comments-list>.comment>.comment-reply>.control-bar>.btn-list{
	float:right;
	margin:0px 0px 0px 0px;
}
.comments-container>.user-comment-sender-container>.user-comment-sender>.control-bar>.btn-list>.btn-list-item,
.comments-container>.comments-list>.comment>.comment-reply>.control-bar>.btn-list>.btn-list-item{
	padding: 0 10px 0 10px;
	white-space: nowrap;
	display: inline-block;
	border-radius: 2px;
	height: 24px;
	line-height: 25px;
	text-decoration: none;
	font-size: 12px;
	min-width: 40px;
	text-align: center;
	outline: none;
	cursor:pointer;
	background: #ff8140;
	border: 1px solid #f77c3d;
	color: #fff;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
}
.comments-container>.user-comment-sender-container>.user-comment-sender>.control-bar>.btn-list>.btn-list-item.disabled,
.comments-container>.comments-list>.comment>.comment-reply>.control-bar>.btn-list>.btn-list-item.disabled{
	background-color:#bababa;
	border-color:#bababa;
}
.comments-container>.user-comment-sender-container>.user-comment-sender>.control-bar>.control-btn,
.comments-container>.comments-list>.comment>.comment-reply>.control-bar>.control-btn{
	
}
.comments-container>.user-comment-sender-container>.user-comment-sender>.control-bar>.control-btn>.control-btn-item,
.comments-container>.comments-list>.comment>.comment-reply>.control-bar>.control-btn>.control-btn-item{
	cursor:pointer;
	font-size:20px;
	font-weight:bold;
	color:#ffa405;
}
/* 评论-筛选器  */
.comments-container>.comments-filter-container{
	display:none;
	margin:10px 0px 10px 40px;
}
.comments-container>.comments-filter-container>.comments-count{
	float:right;
	color:#808080;
}
.comments-container>.comments-filter-container>.comments-filter{
	
}
.comments-container>.comments-filter-container>.comments-filter>.comments-filter-item{
	display:inline-block;
	cursor:pointer;
}
.comments-container>.comments-filter-container>.comments-filter>.comments-filter-item.active,
.comments-container>.comments-filter-container>.comments-filter>.comments-filter-item:hover{
	font-weight:bold;
}
.comments-container>.comments-filter-container>.comments-filter>.comments-filter-item:hover{
	color:#EB7350;
}
/* 评论-列表 */
.comments-container>.comments-list{
	margin-left:40px;
}
.comments-container>.comments-list>.comment{
	border-bottom:1px solid #D9D9D9;
	padding:8px 0px 8px 0px;
}
.comments-container>.comments-list>.comment.loading{
	color:#666;
	border-bottom:none;
}
.comments-container>.comments-list>.comment>.user-img-container{
	float:left;
	width:30px;
	height:30px;
	border-radius:30px;
	overflow:hidden;
}
.comments-container>.comments-list>.comment>.user-img-container>.user-img{
	max-width:30px;
	min-height:30px;
}
/* 评论-列表-内容 */
.comments-container>.comments-list>.comment>.comment-content{
	margin:0px 0px 0px 40px;
	min-height:20px;
	line-height:20px;
}
.comments-container>.comments-list>.comment>.comment-content>.user-name{
	color:#eb7350;
	cursor:pointer;
	text-decoration:none;
}
.comments-container>.comments-list>.comment>.comment-content>.user-name:hover{
	text-decoration:underline;
}
.comments-container>.comments-list>.comment>.comment-content>.userPersonalIndex{
	color:#388cba;
	text-decoration:none;
}
.comments-container>.comments-list>.comment>.comment-content>.userPersonalIndex:active{
	color:#388cba;
}
.comments-container>.comments-list>.comment>.comment-content>.userPersonalIndex:hover{
	text-decoration:underline;
}
/* 评论-列表-按键 */
.comments-container>.comments-list>.comment>.comment-state{
	margin:8px 0px 0px 40px;
	font-size:12px;
}
.comments-container>.comments-list>.comment>.comment-state>.comment-state-btn{
	float:right;
	cursor:pointer;
}
.comments-container>.comments-list>.comment>.comment-state>.comment-state-btn:hover,
.comments-container>.comments-list>.comment>.comment-state>.comment-state-btn.active{
	color:#eb7350;
}
.comments-container>.comments-list>.comment>.comment-state>.comment-state-btn.active{
	font-weight:bold;
}
.comments-container>.comments-list>.comment>.comment-state>.comment-date{
	color:#808080;
}
/* 评论-列表-回复 */
.comments-container>.comments-list>.comment>.comment-reply{
	background-color:#F0F1F2;
	margin:8px 0px 0px 0px;
	padding:15px 15px 12px 15px;
	display:none;
	border-radius:8px;
}
.comments-container>.comments-list>.comment>.comment-reply>.comment-reply-input-container>.comment-reply-input{
	width:600px;
}
/* 评论-分页 */
.comments-container>.comments-page-navi{
	display:none;
	padding:2px 0px 0px 0px;
	margin:10px 0px 0px 50px;
}
.comments-container>.comments-page-navi>.item{
	display:inline-block;
	cursor:pointer;
	font-size:12px;
	color:#383838;
	padding:6px;
	text-align:center;
}
.comments-container>.comments-page-navi>.item:hover{
	color:#eb7350;
}
.comments-container>.comments-page-navi>.item.active{
	background-color:#fff;
}
.comments-container>.comments-page-navi>.item.prev-page,
.comments-container>.comments-page-navi>.item.next-page{
	width:200px;
}
.comments-container>.comments-page-navi>.separator{
	border-right:1px solid #D9D9D9;
	margin:0px 2px;
}