<div class="comments-container">
	<div class="user-comment-sender-container">
		<div class="user-img-container"><img class="user-img" src="/public/images/user-nopic.jpg"></div>
		<div class="user-comment-sender">
			<div class="user-comment-input-container"><input type="text" class="user-comment-input" name="user-comment-input" value=""></div>
			<div class="control-bar">
				<div class="btn-list">
					<button class="btn-list-item send-btn" type="button">评论</button>
				</div>
				<div class="control-btn">
					<a class="control-btn-item emotion-add" title="表情"><i class="fa fa-smile-o"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="comments-filter-container">
		<ul class="comments-filter">
			<li class="comments-filter-item active" data-content="1"><a>全部</a></li>
			<span class="separator">|</span>
			<li class="comments-filter-item" data-content="2"><a>我关注的人</a></li>	
		</ul>
	</div>
	<ul class="comments-list">
		<li class="comment loading">载入中..</li>
	</ul>
	<div class="comments-page-navi">
	</div>
</div>