<div class="dialog_header">
  <div class="dialog_buttons">
    <a class="closeButton" href="javascript:;">x</a>
  </div>
</div>
<div class="dialog_body">
  <div class="box_logo">
    <img src="/public/images/community/pc/logo_login_register.gif" width="216" height="159" alt="意大利原生活" />
  </div>
  <form action="" method="post" autocomplete="off">
    <div class="form_group inputGroup PhoneInputGroup">
      <input id="registerPhoneInput" class="form_control phoneInput required" type="text" name="mobile" placeholder="输入手机号" data-default="输入手机号" />
    </div>
    <div class="form_group buttonGroup sendVerifyCodeButtonGroup">
      <button class="sendVerifyCodeButton" type="button">发送</button>
    </div>
    <p class="notice text-right notice_verify">60秒内没收到验证码，按重发短信！</p>
    <div class="form_group inputGroup verifycodeInputGroup">
      <input id="registerIdentifyingCodeInput" class="form_control required" type="text" name="identifyingCode" autocomplete="off" placeholder="输入验证码" data-default="输入验证码" />
    </div>
    <div class="form_group inputGroup passwordInputGroup">
      <input id="registerPasswordInput" class="form_control required" type="password" name="pwd_1" autocomplete="off" placeholder="输入密码" data-default="输入密码" />
    </div>
    <input class="submitButton" type="submit" value="注册" />
    <p class="declaration">
      <label class="checked">
        <input id="RegisterDeclarationAgree" type="checkbox" name="" checked="checked" value="1" />
      </label>
      我已经认真阅读并接受<a href="/" target="_blank">《意大利原生活网免责声明》</a>
    </p>
  </form>
</div>

