/**
 * style for register dialog
 * @author: xiaowen
 */

#registerDialog {
  position: fixed;
  z-index: 902;
  width: 516px;
  height: 595px;
  left: 50%;
  margin-left: -258px;
  top: 50%;
  margin-top: -297px;
  background-color: #FFF;
  border: solid 1px #b1b1b1;
  border-radius: 10px;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
  box-shadow: 0 0 2px rgb(229,229,229) inset, -1px 4px 5px rgba(4,0,0,0.47);
}

#registerDialog .dialog_header {
  position: absolute;
  width: 100%;
}

#registerDialog .dialog_buttons {
  float: right;
  padding-top: 10px;
  padding-right: 6px;
}

#registerDialog .dialog_body {
  padding: 28px 63px 0;
}

#registerDialog .dialog_body .box_logo {
  text-align: center;
  margin-bottom: 25px;
}

#registerDialog .inputGroup {
  height: 52px;
  margin-bottom: 17px;
  border-radius: 8px;
  background: url(../../../../images/community/pc/icons_register.gif) no-repeat 15px 0 #e5e5e5;
}

#registerDialog .sendVerifyCodeButtonGroup {
  width: 100px;
  float: right;
}

#registerDialog .sendVerifyCodeButton {
  width: 100%;
  height: 52px;
  line-height: 52px;
  border: none 0;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
  background-color: #fee101;
  color: #2a2a2a;
  border-radius: 8px;
  cursor: pointer;
}

#registerDialog .verifycodeInputGroup {
  background-position: 15px -98px
}

#registerDialog .passwordInputGroup {
  background-position: 15px -171px;
  margin-bottom: 40px;
}

#registerDialog .form_control,
#registerDialog .submitButton {
  width: 100%;
  height: 52px;
  line-height: 52px;
  border: none 0;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
}

#registerDialog .dialog_body label {
  display: block;
  position: absolute;
  height: 52px;
  line-height: 52px;
  color: #959595;
  font-size: 20px;
  padding-left: 80px;
}

#registerDialog .form_control {
  background-color: transparent;
  background-color: transparent!important;
  font-size: 20px;
  color: #959595;
  padding-left: 80px;
  padding-right: 15px;
  box-sizing: border-box;
}

#registerDialog .PhoneInputGroup {
  clear: both;
  overflow: hidden;
  margin-bottom: 0;
  width: 280px;
  float: left;
  padding: 0;
}

#registerDialog .notice {
  color: #dd3a40;
}

#registerDialog .notice_verify {
  padding: 12px 0;
  clear: both;
}

#registerDialog .text-right {
  text-align: right;
  height: 20px;
}

#registerDialog .closeButton {
  display: inline-block;
  width: 34px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  text-indent: -9999pt;
  background: url(../../../../images/community/pc/ico_close.gif) no-repeat center center #cfcfcf;
  border-radius: 17px;
}

#registerDialog .submitButton {
  margin-bottom: 16px;
  background-color: #fee101;
  font-size: 23px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

#registerDialog .declaration label {
  position: static;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding-left: 22px;
  background: url(../../../../images/community/pc/ico_checkbox.gif) no-repeat 0 0;
  cursor: pointer;
  font-size: 100%;
}

#registerDialog .declaration .checked {
  background-position: 0 -22px;
}

#registerDialog .declaration input {
  display: none;
}

#registerDialog .declaration a {
  color: #e13c44;
  text-decoration: none;
}

#registerMask {
  position: fixed;
  z-index: 901;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.17);
}

