{template common/header}
<style type="text/css">
<!--
.text_input{
	width: 200px;
	border: 1px solid #cdcdcd;
	margin: 2px;
	padding: 2px;
	background: none;
}

.search_input {
	width: 100px;
}

select{
	width: 206px;
	border: 1px solid #cdcdcd;
	margin: 2px;
	padding: 2px;
	background: none;
}

textarea {
	width: 200px;
	height: 60px;
	border: 1px solid #cdcdcd;
	margin: 2px;
	padding: 2px;
	background: none;
}
-->
</style>
<iframe style="visibility:hidden;display:none" id="formsubmit" name="formsubmit" width="1" height="1" ></iframe>
<div id="wp" class="wp">
<div id="pt" class="bm cl">
<div class="z">
<a href="./" class="nvhm"></a> <em>?</em>
<a href="javascript:;">{lang gsignin:pluginname}</a> <em>?</em>
<a href="javascript:;">{lang gsignin:t00121}</a> <em>?</em>
<a href="javascript:;">{if $_GET['cmod']=='overall'}{lang gsignin:t00165}{else}{lang gsignin:t00166}{/if}</a>
</div>
</div>
<div id="ct" class="ct2_a wp cl">
<div class="mn">
<div class="bm bw0">
<h1 class="mt">
</h1>
<ul class="tb cl">
<li {if $_GET['cmod'] == 'global'}class="a"{/if}><a href="plugin.php?id={$pluginIdentifier}:config&mod={$mymodule}&cmod=global">{lang gsignin:t00165}</a></li>
<li {if $_GET['cmod'] == 'copyright'}class="a"{/if}><a href="plugin.php?id={$pluginIdentifier}:config&mod={$mymodule}&cmod=copyright">{lang gsignin:t00166}</a></li>
<li  {if $_GET['cmod']=='card'}class="a"{/if}><a href="plugin.php?id=gsignin:card&cmod=card">{lang gsignin:t00122}</a></li>
</ul>
<div style="margin:5px 0; height: 10px;">

</div>
<form action="plugin.php?id={$pluginIdentifier}:config&mod={$mymodule}&cmod={$_GET['cmod']}&action=update" method="post" onsubmit="return check(this)" enctype="multipart/form-data" target="formsubmit">
	<input name="formhash" type="hidden" value="{FORMHASH}" />
	<table style="border: none;" cellspacing="0" cellpadding="0" class="dt" >
		<tbody>
			{if $_GET['cmod'] == 'copyright'}
				<tr>
					<td style="border: none;text-align: right;">{lang gsignin:t00158}</td>
					<td colspan="2" style="border: none;text-align: left;"><font style="color:red;">{lang gsignin:t00159}</font></td>
				</tr>
			{/if}
			{loop $configs $key $val}
				<tr>
					<td style="border: none; width: 200px;text-align: right;">{$val['name']}</td>
					<td style="border: none; width: 250px;">
						<input type="hidden" name="variables[]" value="{$val['variable']}">
						{eval echo str_replace(array('?','&'),array($val['variable'],$val['value']),$val['content'])}
					</td>
					<td style="border: none;">{$val['desc']}</td>
				</tr>
			{/loop}
			<tr>
				<td style="border: none;"></td>
				<td style="border: none;">
					<button type="submit"  class="pn pnc" ><strong>{lang gsignin:t00087}</strong></button>
				</td>
				<td style="border: none;"></td>
			</tr>
		</tbody>
	</table>
</form>
<div style="margin:5px 0;">

</div>
</div>
</div>
{template gsignin:leftnav}
</div>
</div>
<script type="text/javascript">
	function check(form) {
		var regex;
		{loop $configs $key $val}
			{if $val['regex'] !=''}
				regex = {$val['regex']};
				if(!regex.test(form.{$val['variable']}.value)){
					showDialog("$val['prompt']","","",function(){{}},0);
					return false;
				}
			{/if}
		{/loop}
		return true;
	}

	function showright(message) {
		showDialog(message,'right','',function(){window.location.href='plugin.php?id={$pluginIdentifier}:config&mod={$mymodule}&cmod={$_GET["cmod"]}&page={$_GET["page"]}';},0);
	}

	function showconfirm(message,url) {
		showDialog(message,'confirm','',function(){window.formsubmit.location.href=url;},0);
	}
</script>

{template common/footer}