<!--{template common/header}-->

{eval}
$url_return = "forum.php";
{/eval}

{eval $nobackbtn=true;}
{eval $headnav_name = '意大利原生活'; //strip_tags($_G['forum']['name']) ? strip_tags($_G['forum']['name']) : $_G['forum']['name'];}

<!--{template common/headnav}-->

<!--{hook/forumdisplay_top_mobile}-->

<style>body{padding: 0px;}</style>


<!--{if !$subforumonly}-->
<div class="main-container">
    <div class="header-container">
        <div class="header-btn-list">
            <button class="header-btn art"></button>
            <button class="header-btn spirit"></button>
            <button class="header-btn life"></button>
            <button class="header-btn tour"></button>
            <button class="header-btn newthread" onclick="location.href='/forum.php?mod=post&action=newthread'"></button>
            <button class="header-btn usercenter" onclick="location.href='/forum.php?mod=personal'"></button>
        </div>
    </div>
    <div class="body-container">
        <ul class="items-list">
            <li class="item">
                <div class="item-content">
                    <div class="productImageContainer swiper-container mobile-swiper-container">
                        <div class="thumbnailImages swiper-wrapper">
                            {loop $bannerList $banner}
                            <div class="swiper-slide">
                                <a href="/forum.php?mod=viewthread&tid={$banner['tid']}">
                                    <img class="img-responsive" src="{$banner['url']}" data-zoom-image="/Public/images/demo_p5.jpg" alt="" />
                                    <p class="thread-subject">{$banner[title]}</p>
                                </a>
                            </div>
                            {/loop}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </li>
            {if $_GET['showbeforebtn'] && $page!=1}
            <li class="beforeloading" id="beforeloading">加载前一页<li>
            {/if}

            <!--{if $_G['forum_threadcount']}-->

            <!--{loop $_G['forum_threadlist'] $key $thread}-->

            <!--{if !$_G['setting']['mobile']['mobiledisplayorder3'] && $thread['displayorder'] > 0}-->
            {eval continue;}
            <!--{/if}-->

            <!--{if $thread['displayorder'] > 0 && !$displayorder_thread}-->
            {eval $displayorder_thread = 1;}
            <!--{/if}-->

            <!--{if $thread['moved']}-->
            <!--{eval $thread[tid]=$thread[closed];}-->
            <!--{/if}-->

            <li class="item" onclick="readthread({$thread[tid]},{$page});" $thread[highlight]>
                <!--{hook/forumdisplay_thread_mobile $key}-->
                <div class="item-content">
                    <div class="thread" style="background-image:url('{$thread['media_list'][0]['media_url']}')">
                        <p class="forumname"></p>
                        <p class="subject">{$thread[subject]}</p>
                    </div>
                </div>
                <div class="item-info">
                    <div class="user-avatar-container">{$thread[avatar]}</div>
                    <div class="thread-info">
                        <span class="comments">{$thread[replies]}</span>
                        <span class="views">{$thread[saygood]}</span>
                    </div>
                    <div class="user-info">
                        <p class="nickname">{$thread[author]}</p>
                        <p class="dateline">{$thread[dateline]}</p>
                    </div>
                </div>
            </li>
            <!--{/loop}-->

            <li class="loading" id="loading"><img src="/static/image/mobile/images/icon_load.gif" width="30" /></li>

            <!--{else}-->
            <li>{lang forum_nothreads}</li>
            <!--{/if}-->
        </ul>
    </div>
</div>

<script src="/static/jquery/Swiper/dist/js/swiper.jquery.min.js" charset="utf-8"></script>
<script src="/static/jquery/swipebox-master/src/js/jquery.swipebox.min.js" charset="utf-8"></script>

<script>
    var bannerInfo = {eval echo json_encode($bannerList, JSON_UNESCAPED_UNICODE);};
    var fidRange = "{$_G['fid']}";
    var pagesize = 6;
    var now_page = {$page};
    var before_now_page = {$page};
    var total_page = 0;
    var lock_page = 0;

    var _htmlbody = null,
            _bootPage = null;


    function loadFavorite(page, cb){

        // app.php?mod=space&act=favorite&type=thread&pagesize=10&page=1
        jQuery.ajax({
            url: "app.php",
            data: {
                "mod": "space",
                "act": "favorite",
                "type": "thread",
                "pagesize": 10,
                "page": page
            },
            dataType:"json",
            success: cb
        });
    }


    // 后翻页回调
    var loadThreadCallback = function(d){
        var loadingObj =  jQuery('#loading');
        if(d.result == 1){
            var list = d.data.list;
            loaddata = acticle_factory(list, now_page);
            jQuery(loaddata).insertBefore(loadingObj);

            lock_page = 0;
            now_page++;
            total_page = d.data.pagecount;
            loadingObj.fadeOut();
        }else{
            loadingObj.html('翻到最后了哦！').fadeOut();
        }
    }

    // 格式化函数
    function acticle_factory(list,__page){
        var loaddata = '';
        for (var i = 0; i < list.length; i++){
            var d = list[i],
                    pic = "";
            if(d["coverimg"] == ''){
                if(d["media_list"].length > 0){
                    pic = d["media_list"][0]["media_url"];
                }
            }else{
                pic = d["coverimg"] + "";
            }
            loaddata += '\
				<li class="item" onclick="readthread(' + d['tid'] + ', ' + __page + ');" id="t' + d['tid'] + '" data-fid="' + d['fid'] + '">\
					<div class="item-content">\
						<div class="thread" style="background-image:url(' + pic + ')">\
							<p class="forumname f' + d['fid'] + '">' + d['forumname'] + '</p>\
							<p class="subject">' + d['subject'] + '</p>\
						</div>\
					</div>\
					<div class="item-info">\
						<div class="user-avatar-container">' + d['avatar'] + '</div>\
						<div class="thread-info">\
							<span class="comments">' + d['replies'] + '</span>\
							<span class="views">' + d['saygood'] + '</span>\
						</div>\
						<div class="user-info">\
							<p class="nickname">' + d['author'] + '</p>\
							<p class="dateline">' + d['dateline'] + '</p>\
						</div>\
					</div>\
				</li>\
			';
        }
        return loaddata;
    }

    jQuery(function(){

        // 轮播图大小调整
        jQuery(".mobile-swiper-container img.img-responsive").each(function(){
            setImageFill(this);
        });

        // 加载第一页数据
        loadFavorite(now_page, loadThreadCallback);

        // 页面滚动事件
        jQuery(window).scroll(function(e){

            // 滚动加载数据
            if (($(window).scrollTop()) >= ($(document).height() - $(window).height()) && now_page <= total_page) {
                var loadingObj =  jQuery('#loading');
                //当底部基本距离+滚动的高度〉=文档的高度-窗体的高度时；
                //我们需要去异步加载数据了
                loadingObj.fadeIn();
                if(lock_page==1){
                    setTimeout(function(){lock_page=0;},5000);
                    return;
                }
                lock_page = 1;
                loadFavorite(now_page, loadThreadCallback);
            }

            // 左边栏图标状态动态切换
            if(_htmlbody){
                // 找到边栏最高按钮的y坐标
                var btns = _htmlbody.find(".main-container>.header-container>.header-btn-list>.header-btn"),
                        ytarget = jQuery(btns[0]).offset().top;
                // item body 在y坐标之中，高亮此分类
                var items = _htmlbody.find(".main-container>.body-container>.items-list>.item"),
                        fid = 0;
                for(var i = 0; i < items.length; i++){
                    var item = jQuery(items[i]),
                            y1 = item.offset().top,
                            y2 = y1 + item.height();
                    if(y1 <= ytarget && y2>= ytarget){
                        fid = item.attr("data-fid");
                        break;
                    }
                }
                for(var i = 0; i < btns.length; i++){
                    var btn = jQuery(btns[i]);
                    if(btn.hasClass("f" + fid)){
                        btn.addClass("active");
                    }else{
                        btn.removeClass("active");
                    }
                }
            }
        });

        //加载上一页
        jQuery('#beforeloading').click(function(){
            var _this = jQuery(this);
            _this.html('<img src="/static/image/mobile/images/icon_load.gif" />');
            if(before_now_page!=1){
                loadThread(before_now_page - 1, function(d){
                    if(d.result){
                        var loaddata = '';
                        var list = d.data.list;
                        loaddata = acticle_factory(list, before_now_page - 1);
                        jQuery(loaddata).insertAfter(_this);
                        _this.html('加载前一页');
                    }
                    before_now_page--;
                    if(before_now_page == 1){
                        _this.remove();
                    }
                })
            }else{
                _this.remove();
            }
        });
    });

    function readthread(_tid, _page){
        var from_url = location.href;
        location.href='/forum.php?mod=viewthread&tid='+_tid+ '&from_url=' + encodeURIComponent(from_url) +'&referer=' + encodeURIComponent('/forum.php?fid=' + fidRange + '&page='+_page + '&showbeforebtn=1#t' + _tid);
    }

    var productImagesSwiper = new Swiper('.swiper-container', {
        pagination: '.swiper-container .swiper-pagination',
        onSlideChangeStart: function(s){
            var d = bannerInfo[s['activeIndex']],
                    o = jQuery("#banner-list-info");
            o.find(".user-avatar-container").html(d['avatar']);
            o.find(".comments").html(d['replies']);
            o.find(".views").html(d['views']);
            o.find(".nickname").html(d['author']);
            o.find(".dateline").html(d['dateline']);
        }
    });

    // 锁定页面滚动
    function lockPageScroll(){
        _htmlbody.css({
            "height": "100%",
            "overflow": "hidden"
        });
    }
    // 释放页面滚动
    function releasedPageScroll(){
        _htmlbody.css({
            "height": "auto",
            "overflow": "scroll"
        });
    }

</script>
<!--{/if}-->
<!--{hook/forumdisplay_bottom_mobile}-->
<div class="pullrefresh" style="display:none;"></div>
{eval $nofooter = true;}
<!--{template common/footer}-->


