{eval}


$usergroup_id = isset($_G['member']['groupid']) ? $_G['member']['groupid'] : null;
$usergroup = isset($_G['cache']['usergroups'][$usergroup_id]) ? $_G['cache']['usergroups'][$usergroup_id] : null;

$user_level = $_G['cache']['usergroups'][$_G['member']['groupid']]['stars'];

$birthday = $_G['member']['birthyear'] . '-' . $_G['member']['birthmonth'] . '-' . $_G['member']['birthday'];



{/eval}

<!--{template common/header}-->

<link rel="stylesheet" href="/static/css/mobile/config.css" />

<div class="config_index">

    <div class="config_item_group">

        <div id="change_avatar_item" class="config_item avatar_item">

            <div class="config_item_name">头像</div>

            <div class="config_item_content">
                <img src="{:avatar($_G['uid'], 'small', true)}" alt="头像" />
            </div>

        </div>

        <div class="config_item nickname">

            <div class="config_item_name">昵称</div>

            <div class="config_item_content">
                <span>{eval echo $_G['member']['nickname']; }</span>
            </div>

        </div>

        <div class="config_item">

            <div class="config_item_name">会员等级</div>

            <div class="config_item_content">
                {$usergroup[grouptitle]}
            </div>

        </div>

        <div class="config_item gender">

            <div class="config_item_name">性别</div>

            <div class="config_item_content">
                <span>
                    {eval}
                    switch ($_G['member']['gender'])
                    {
                      case 0 :
                        echo '保密';
                        break;
                      case 1 :
                        echo '男';
                        break;
                      case 2 :
                        echo '女';
                        break;
                      default :
                        echo '未知';
                    }
                    {/eval}
                </span>
            </div>

        </div>

        <div class="config_item birthday last">

            <div class="config_item_name">生日</div>

            <div class="config_item_content">
                <span>{$birthday}</span>
            </div>

        </div>

    </div>

    <div class="config_item_group">

        <div class="config_item phone">

            <div class="config_item_name">绑定手机</div>

            <div class="config_item_content">
                {eval if ($binded_mobile) : }
                <span>{$_G['member']['mobile']}</span>
                {eval else : }
                <span>未绑定&nbsp;&gt;</span>
                <script>jQuery(".phone").click(function(){location.href='{:U('member/wechat/bind','debug=1')}';});</script>
                {eval endif; }
            </div>

        </div>

        <div class="config_item change_password last">

            <div class="config_item_name ">修改密码</div>

            <div class="config_item_content">
                <span>&gt;</span>
            </div>

        </div>

    </div>

</div>

<!-- 更改昵称对话框 -->
<div id="change_nickname_dialog" class="dialog">

    <div class="dialog_body">
        <p class="desc">请输入你的昵称</p>

        <div class="">
            <input class="input" type="text" name="" />
        </div>

        <div class="text-right">
            <button class="button cancel" type="button">取消</button>
            <button class="button submit" type="button">确认</button>
        </div>
    </div>

</div><!-- 结束 更改昵称对话框 -->

<!-- 更改昵称对话框 -->
<div id="change_nickname_dialog" class="dialog">

    <div class="dialog_body">
        <p class="desc">请输入你的昵称</p>

        <div class="">
            <input class="input" type="text" name="" />
        </div>

        <div class="text-right">
            <button class="button cancel" type="button">取消</button>
            <button class="button submit" type="button">确认</button>
        </div>
    </div>

</div><!-- 结束 更改昵称对话框 -->

<!-- 更改性别对话框 -->
<div id="change_gender_dialog" class="dialog">

    <div class="dialog_body">

        <p class="desc">请选择你的性别</p>

        <ul>
            <li>保密</li>
            <li>男</li>
            <li>女</li>
        </ul>

    </div>

</div><!-- 结束 更改性别对话框 -->

<!-- 更改生日对话框 -->
<div id="change_birthday_dialog" class="dialog">

    <div class="dialog_body">

        <p class="desc"></p>

        <div class="control_group">

            <select class="input" name="year">
                {eval} for ($i=date('Y')-70; $i<=date('Y'); $i++) : {/eval}
                <option value="{$i}">{$i}</option>
                {eval} endfor; {/eval}
            </select>

            <select class="input" name="month">
                {eval} for ($i=1; $i<=12; $i++) : {/eval}
                <option value="{$i}">{$i}</option>
                {eval} endfor; {/eval}
            </select>

            <select class="input" name="day"></select>

        </div>

        <div class="button_box">
            <button class="button">完成</button>
        </div>

    </div>

</div><!-- 结束 更改性别对话框 -->

<!-- 更改密码对话框 -->
<div id="change_password_dialog" class="dialog">

    <div class="dialog_body">

        <div class="control_group">
            <label>新密码</label>
            <input type="password" name="newpassword" />
        </div>

        <div class="control_group">
            <label>确认新密码</label>
            <input type="password" name="newpassword2" />
        </div>

        <div class="button_box">
            <button type="button">确认修改</button>
        </div>

    </div>

</div><!-- 结束 更改密码对话框 -->

<!-- 7牛 SDK -->
<script src="/static/js/vivo/plupload-2.1.2/js/moxie.js"></script>
<script src="/static/js/vivo/plupload-2.1.2/js/plupload.dev.js"></script>
<script src="/static/js/vivo/qiniu-js-sdk/src/qiniu.js"></script>

<!-- 当前页的脚本 -->
<script src="/static/js/vivo/mobile/config.js"></script>

{eval}
$return_url = '/forum.php?mod=personal';
{/eval}
<!--{template common/buttons}-->

<!--{template common/footer}-->
