<style>
    body {
        background-image: url('/static/image/vivo/mobile/forumdisplay-bg.png');
        background-repeat: repeat-y;
        background-position: center;
        color: #000;
    }
</style>

{eval $return_url = U('forum/personal')}
<!--{template common/buttons}-->

<div class="credit-summary-container">
	<!--{eval $creditid = $_G['setting']['creditstrans'];}-->
	<!--{if $_G['setting']['extcredits'][$creditid]}-->
	<!--{eval $credit = $_G['setting']['extcredits'][$creditid]; }-->
	<!--{/if}-->
	<p class="credit-summary">
		<span class="credit-summary-title">{$credit[title]}</span>
		<span class="credit-summary-data"><!--{echo getuserprofile('extcredits'.$creditid);}--></span>
	</p>
</div>
<ul class="operation-type-list">
	<li class="operation-type {if $spacecp_credit_header_type == 'log'}active{/if}"><a href="/home.php?mod=spacecp&ac=credit&op=base">积分日志</a></li><li class="operation-type {if $spacecp_credit_header_type == 'buy'}active{/if}"><a href="/forum.php?mod=product&action=creditlist">积分换购</a></li>
</ul>