<!--{template common/header}-->

<style>body{padding: 0px;}</style>
<div class="touch-credit-container">
	{eval $spacecp_credit_header_type = 'log';}
	<!--{template home/spacecp_credit_header}-->
	<ul class="credit-log-list">
        <!--{if $loglist}-->
            <!--{loop $loglist $value}-->
            <!--{eval $value = makecreditlog($value, $otherinfo);}-->
            <li class="credit-log">
                <span class="dot"></span>
                <p class="log-desc"><!--{if $value['operation']}-->$value['opinfo']<!--{else}-->$value['text']<!--{/if}--></p>
                <p class="log-point">{$value['credit']}</p>
                <p class="log-date">$value['dateline']</p>
            </li>
            <!--{/loop}-->
        <!--{else}-->
            <li class="credit-log" style="text-align: center">
                暂无记录
            </li>
        <!--{/if}-->
	</ul>
</div>
<!--{template common/footer}-->