{include file="header"}

{if $do=='list'}

<table class="tb tb2">
	<tr>
		<th>序号</th>
		<th>图标</th>
		<th>任务类型</th>
		<th>任务名称</th>
		<th>奖励情况</th>
		<th>开始时间</th>
		<th>结束时间</th>
		<th>参与人数</th>
		<th>操作</th>
	</tr>
	{if $list}
	{loop $list $k $l}
	<tr>
		<td>{eval}echo (($_G['page']-1)*15)+$k+1; {/eval}</td>
		<td><img src="{$l['pic']}" width="100" /></td>
		<td>{:get_task_types($l['type'])}</td>
		<td>{$l['name']}</td>
		<td>
			{loop $l['prizes'] $lpk $lpv}
				{$lpv['award']}
			{/loop}
		</td>
		<td>{$l['timetype']?date('Y-m-d H:i',$l['starttime']):'长期'}</td>
		<td>{$l['timetype']?date('Y-m-d H:i',$l['endtime']):'——'}</td>
		<td>{$l['players_count']?$l['players_count']:0}</td>
		<td><a href="{:adminurl('mission/task/add',array('tid'=>$l['tid']))}">编辑</a> | 删除</td>
	</tr>
	{/loop}
	{else}
	<tr><td colspan="9" style="text-align: center;">暂无游戏</td></tr>
	{/if}
</table>
{$multi}
{/if}

{if $do=='add'}
<script src="/static/js/vivo/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="/static/js/vivo/qiniu-js-sdk/src/qiniu.min.js"></script>
<script src="static/js/calendar.js?" type="text/javascript"></script>
<form action="admin.php" method="post">
<table class="tb tb2" >
	<tr>
		<th width="140">任务名称</th>
		<td><input type="text" name="name" value="{$item['name']}" style="width: 200px;" /></td>
	</tr>
	<tr>
		<th width="100">任务图标</th>
		<td>
			<div id="form_image_url_container">
				<div>
					<img id="form_image" src="{$item['pic']}" alt="预览图片" style="max-width: 160px; max-height: 160px; height: auto; {if !$item['pic']}display: none;{/if}" />
				</div>
				<div>
					<input id="form_image_url" type="hidden" name="pic" value="{$item['pic']}" />
					<button class="btn" type="button" id="qiniuImageUpload">上传图片</button>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th>任务类型</th>
		<td>
			<select name="type" >
				<option value="-1">请选择类型</option>
				{eval}$types = get_task_types();{/eval}
				{loop $types $k $v}
				<option value="{$k}" {if $item['type']==$k}selected{/if}>{$v}</option>
				{/loop}
			</select>
		</td>
	</tr>
	<tr>
		<th>时效性</th>
		<td>
			<select name="timetype" id="timetype">
				<option value="0" {if $item['timetype']==0}selected="selected"{/if}>长期有效</option>
				<option value="1" {if $item['timetype']==1}selected="selected"{/if}>时间区间</option>
			</select>
		</td>
	</tr>
	<tr id="show_time" {if !$item['timetype']}style="display: none;"{/if}>
		<th>开始时间--结束时间</th>
		<td><input type="text" name="starttime" value="{:date('Y-m-d',$item['starttime']?$item['starttime']:time())}" onclick="showcalendar(event, this)" />——<input type="text" name="endtime" value="{:date('Y-m-d',$item['endtime']?$item['endtime']:time())}" onclick="showcalendar(event, this)" /></td>
	</tr>
	<tr>
		<th>任务总完成度</th>
		<td><input type="text" name="finish" value="{$item['finish']?$item['finish']:100}" />&nbsp;&nbsp;默认100</td>
	</tr>
	<tr>
		<th>任务规则</th>
		<td>
			<table>
				<tr>
					<th style="text-align: center;">任务类型</th>
					<th style="text-align: center;">增加的完成度</th>
					<th style="text-align: center;">描述</th>
					<th style="text-align: center;">&nbsp;</th>
				</tr>
				<tr id="addruletr">
					<td colspan="4"><a href="javascript:;" id="addrule">添加</a></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<th>任务奖品</th>
		<td>
			<table>
				<tr id="addprize">
					<!--<td colspan="2"><a href="javascript:;" id="addprize">添加</a></td>-->
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="hidden" name="tid" value="{$item['tid']}" />
			<input type="hidden" name="action" value="mission" />
			<input type="hidden" name="operation" value="task" />
			<input type="hidden" name="do" value="add" />
			<button type="submit" class="btn">提交</button>
		</td>
	</tr>
</table>
</form>

<script>
	$(function(){
		$('#timetype').change(function(){
			if($(this).val()==0){
				$('#show_time').hide(100);
			}else{
				$('#show_time').show(100);
			}
		});
		
		$('#addrule').click(function(){
			rulebox('');
		});
		$('table').on('click','.deleterule',function(){
			$(this).parent().parent().remove();
		});
		
		$('#addprize').click(function(){
			prizebox('');
		});
		$('table').on('change','.prize-type',function(){
			$(this).parent().parent().find('td').html(prize_td($(this).val()));
		});
		
		//init
		rulebox('{$rule?unicode_json_encode($rule):""}');
		prizebox('{$prize?unicode_json_encode($prize):""}');
	});
	
	function rulebox(def){
		var cont = '';
		if(!def){
			def = '[{}]';
		}
		def = $.parseJSON(def);
		for(var i=0;i<def.length;i++){
			cont += '<tr>'+
						'<td>'+
							'<select name="rule-actionid[]">'+
								'<option value="1" '+ ( def[i].actionid == 1 ? 'selected' : '' ) +'>好友浏览</option>'+
								'<option value="2" '+ ( def[i].actionid == 2 ? 'selected' : '' ) +'>好友购买该商品</option>'+
							'</select>'+
						'</td>'+
						'<td><input type="text" name="rule-aval[]" value="'+(def[i].aval ? def[i].aval : '')+'" /></td>'+
						'<td><textarea name="rule-desc[]" rows="3" placeholder="描述" >'+(def[i].desc ? def[i].desc : '')+'</textarea></td>'+
						'<td><a href="javascript:;" class="deleterule">删除</a></td>'+
					'</tr>';
		}
		
		$(cont).insertBefore($('#addruletr'));
	}
	
	function prizebox(def){
		var cont = '';
		if(!def){
			def = '[{}]';
		}
		def = $.parseJSON(def);
		for(var i=0;i<def.length;i++){
			cont = '<tr>'+
					'<td>'+
						'<select name="prize-ptype[]" class="prize-type">'+
							'<option value="0" >请选择</option>'+
							'<option value="1" '+ ( def[i].ptype == 1 ? 'selected' : '' ) +'>积分</option>'+
							'<!--<option value="2" '+ ( def[i].ptype == 2 ? 'selected' : '' ) +'>优惠券</option>-->'+
							'<option value="3" '+ ( def[i].ptype == 3 ? 'selected' : '' ) +'>赠品</option>'+
						'</select>'+
					'</td>'+
					'<td>'+(def[i].ptype > 0 ? prize_td(def[i].ptype,(def[i].ptype==1?def[i].num:def[i].pid)) : '' )+'</td>'+
				'</tr>';
			
		}
		$(cont).insertBefore($('#addprize'));
	}
	
	//全局保存积分商品
	var credit_product = null;
	function prize_td(_typeid,def){
		//积分
		if(_typeid == 1){
			return  '积分数量：<input type="text" name="prize-num[]" value="'+(def?def:'')+'" />';
		}
		//优惠券，暂未实现
		else if(_typeid == 2){
			
		}
		//赠品
		else if(_typeid == 3){
			var cont = '从积分商品中选择：<select name="prize-pid[]">';
			if(window.credit_product==null){
				$.ajax({
					async: false,
					type : "GET",
					url: '{:adminurl("ajax/getcreditproduct")}',
					success:function(data){
						var _data = $.parseJSON(data);
						window.credit_product = _data;
						for(var i=0;i<_data.length;i++){
							cont += '<option value="'+_data[i].spid+'" '+(def==_data[i].spid ? 'selected' : '')+'>'+_data[i].subject+'</option>';
						}
					}
				});
			}else{
				for(var i=0;i<window.credit_product.length;i++){
					cont += '<option value="'+window.credit_product[i].spid+'" '+(def== window.credit_product[i].spid ? 'selected' : '')+'>'+window.credit_product[i].subject+'</option>';
				}
			}
			cont += '</select>';
			return cont;
		}else{
			return '';
		}
	}
	
	var loading = null;
	var bgUploader = Qiniu.uploader({
	    runtimes: 'html5,flash,html4',    //上传模式,依次退化
	    browse_button: 'qiniuImageUpload',       //上传选择的点选按钮ID，**必需**
	    uptoken_url: 'forum.php?mod=ajax&action=getQiNiuToken',
	    domain: 'http://7u2qq8.com1.z0.glb.clouddn.com/',
	    //container: 'form_image_url_container',           //上传区域DOM ID，默认是browser_button的父元素，
	    max_file_size: '2mb',           //最大文件体积限制
	    flash_swf_url: '/static/js/vivo/plupload-2.1.2/js/Moxie.swf',  //引入flash,相对路径
	    max_retries: 3,                   //上传失败最大重试次数
	    dragdrop: true,                   //开启可拖曳上传
	    drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
	    chunk_size: '4mb',                //分块上传时，每片的体积
	    auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
	    init: {
	        'FileUploaded': function(up, file, info) {
	        	var domain = up.getOption('domain');
	        	var res = jQuery.parseJSON(info);
	        	var sourceLink = domain + res.key;
	        	jQuery("#form_image").attr("src", sourceLink).fadeIn();
            	jQuery("#form_image_url").val(sourceLink);
            	layer.close(loading);
	        },
	        'Error': function(up, err, errTip) {
	          alert(errTip);
	        },
          'BeforeUpload': function(up, file)
          {
            // create progress
             loading = layer.load('图片上传中...');
          },
	        'UploadComplete': function() {
	               //队列文件处理完毕后,处理相关的事情
	        },
          'UploadProgress': function(up, file)
          {
          	
          },
	        'Key': function(up, file) {
	            // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
	            // 该配置必须要在 unique_names: false , save_key: false 时才生效
              var date = new Date();
              var key = "banner/pid"+jQuery("#form_tid").val()+"_"+date.getFullYear()+(date.getMonth()+1)+date.getDate()+date.getTime();
              // do something with key here
              return key;
	        }
	    }
	});
	
</script>

{/if}


{include file="footer"}