

body {
    /*background-color: #123993;*/
    color: #999;
    background-image: url('/static/image/vivo/mobile/forumdisplay-bg.png');
    background-repeat: repeat-y;
    background-position: center;
}

a, a:visited {
    color: #FFF;
}

.badge_index {
    position: relative;
    /*width: 320px;*/
    height: 448px;
    margin: 0 auto;
    background: url(/static/image/vivo/mobile/badge_index_bg.png) no-repeat;
    background-size: 100%;
    background-position-y: 36px;
}

@media screen and (min-width: 640px) {

    .badge_index {
        width: 640px;
        height: 895px;
        background-position-y: 73px;
    }

}

.badge_index .page_title {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    position: absolute;
    top: 38px;
    line-height: 37px;
    margin-top: 0;
    font-size: 19px;
}

@media screen and (min-width: 640px) {

    .badge_index .page_title {
        top: 72px;
        line-height: 74px;
        font-size: 38px;
    }
}

.badge_index .personal-avatar-container {
    position: absolute;
    padding: 4px;
    border-radius: 50%;
    background-color: #FFF;
    background-color: rgba(255,255,255,0.4);
    margin-left: 14px;
    margin-right: 9px;
    margin-top: 23px;
}

.badge_index .personal-avatar {
    width: 79px;
    height: 79px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #FFF;
    border-color: rgba(255,255,255,0.8);
}

@media screen and (min-width: 640px) {

    .badge_index .personal-avatar-container {
        padding: 8px;
        margin-left: 29px;
        margin-right: 18px;
        margin-top: 46px;
    }

    .badge_index .personal-avatar {
        width: 158px;
        height: 158px;
        border-width: 2px;
    }

}

.badge_index .level {
    background-image: url(/static/image/vivo/mobile/level_shield.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Comic Sans MS';
    font-size: 12px;
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 20px;
    position: absolute;
    margin-top: 85px;
    margin-left: 92px;
    color:#fff;
}

@media screen and (min-width: 640px) {
    .badge_index .level {
        font-size: 18px;
        width: 35px;
        height: 35px;
        line-height: 30px;
        margin-top: 186px;
        margin-left: 176px;
    }
}

.badge_list {
    clear: both;
    overflow: hidden;
    padding-top: 128px;
    padding-left: 10px;
    padding-right: 10px;
}

.badge_index .badge_item {
    float: left;
    width: 33.3333%;
    height: 130px;
    text-align: center;
    overflow: hidden;
}

@media screen and (min-width: 640px) {

    .badge_list {
        padding-top: 256px;
        padding-left: 21px;
        padding-right: 21px;
    }

    .badge_index .badge_item {
        height: 210px;
    }
}

.badge_index .badge_item .image_box {
    margin-bottom: 6px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 640px) {
    .badge_index .badge_item .image_box {
        margin-bottom: 12px;
    }
}

.badge_index .badge_item .image_box img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);

    filter: grayscale(100%);
    filter: gray;

    width: 100%;
    height: auto;
}

.badge_index .badge_item.light .image_box img {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
}

.badge_index .badge_item .badge_title {
    color: #FFF;
    font-size: 13px;
    margin-top: 0;
}

@media screen and (min-width: 640px) {

    .badge_index .badge_item .badge_title {
        font-size: 30px;
    }
}
