/*
 * 新手引导介绍
 */

.beginner_guide_wrapper {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.mobile_home_beginner_guide {
	/*background: url(../../image/vivo/mobile/beginner_guide/bg_sm.png) no-repeat 0 0;
    background-repeat: no-repeat;
    max-width: 1240px;*/
}

.guide_mask {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.mobile_home_beginner_guide .guide_mask .top_left,
.mobile_home_beginner_guide .guide_mask .top_right,
.mobile_home_beginner_guide .guide_mask .bottom_left,
.mobile_home_beginner_guide .guide_mask .bottom_right {
    position: absolute;
    z-index: 2;
}

.mobile_home_beginner_guide .guide_mask .top_left {
    background: url(../../image/vivo/mobile/beginner_guide/bg_sm.png) no-repeat 0 0;
}

.mobile_home_beginner_guide .guide_mask .top_right,
.mobile_home_beginner_guide .guide_mask .bottom_left,
.mobile_home_beginner_guide .guide_mask .bottom_right {
    background-color: #000;
    background-color: rgba(0,0,0,0.75);
}

.mobile_home_beginner_guide .guide_mask .top_left {
    width: 51px;
    height: 464px;
    left: 0;
}

.mobile_home_beginner_guide .guide_mask .top_right {
    width: 0;
    width: calc( 100% - 51px );
    left: 51px;
    height: 464px;
}

.mobile_home_beginner_guide .guide_mask .bottom_left {
    width: 51px;
    height: 0;
    height: calc(100% - 464px);
    left: 0;
    top: 464px;
}

.mobile_home_beginner_guide .guide_mask .bottom_right {

    width: 0;
    width: calc( 100% - 51px );
    height: 0;
    height: calc(100% - 464px);
    left: 51px;
    top: 464px;
}

/* 手机版主题页新手引导 */

.mobile_viewthread_beginner_guide {
    /*background-image: url(../../image/vivo/mobile/beginner_guide/viewthread_guide_mask_320.png);
    background-repeat: no-repeat;
    background-position: right -109px;*/
}

.mobile_viewthread_beginner_guide .desc {
    width: 206px;
    height: 247px;
    position: absolute;
    z-index: 2;

    /*right: 0;
    top: 143px;*/

    right: -2px;
    /*top: 298px;*/
    bottom: 58px;

    background: url(/static/image/vivo/mobile/beginner_guide/viewthread_guide_320.png);
}

/*
@media screen and (min-width: 640px) {

    .mobile_viewthread_beginner_guide .desc {
        bottom: 58px;
        background: url(/static/image/vivo/mobile/beginner_guide/viewthread_guide_640.png);
    }
}*/

.mobile_viewthread_beginner_guide .guide_mask .top_left,
.mobile_viewthread_beginner_guide .guide_mask .top_right,
.mobile_viewthread_beginner_guide .guide_mask .bottom_left,
.mobile_viewthread_beginner_guide .guide_mask .bottom_right {
    position: absolute;
    z-index: 2;
}

.mobile_viewthread_beginner_guide .guide_mask .top_left,
.mobile_viewthread_beginner_guide .guide_mask .bottom_left,
.mobile_viewthread_beginner_guide .guide_mask .top_right {
    background-color: #000;
    background-color: rgba(0,0,0,0.76);
}

.mobile_viewthread_beginner_guide .guide_mask .top_left {

    width: 0;
    height: 0;
    right: 320px;
    bottom: 350px;
}


.mobile_viewthread_beginner_guide .guide_mask .top_right {

    width: 320px;
    height: 0;
    right: 0;
    bottom: 350px;
}

.mobile_viewthread_beginner_guide .guide_mask .bottom_left {

    width: 0;
    height: 350px;
    right: 320px;
    bottom: 0;
}

.mobile_viewthread_beginner_guide .guide_mask .bottom_right {

    width: 320px;
    right: 0;
    height: 350px;
    bottom: 0;

    background-image: url(../../image/vivo/mobile/beginner_guide/viewthread_guide_mask_320.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

/*
@media screen and (min-width: 640px) {

    .mobile_viewthread_beginner_guide .guide_mask .top_right {
        background-image: url(../../image/vivo/mobile/beginner_guide/viewthread_guide_mask_640.png);
        background-position: right -270px;
    }
}*/

.beginner_guide_wrapper .piece {
	position: absolute;
	z-index: 2;
}

.beginner_guide_wrapper .share_guide {
	display: none;
	background: url(../../image/vivo/mobile/beginner_guide/01.png) no-repeat;
	background-size: 50%;
}

.beginner_guide_wrapper .nav_guide {
	background: url(../../image/vivo/mobile/beginner_guide/02.png) no-repeat;
	top: -4px;
	left: 0;
    width: 154px;
    height: 480px;
}

.beginner_guide_wrapper .content_operation_guide {
	background: url(../../image/vivo/mobile/beginner_guide/03.png) no-repeat;
	background-size: 100%;
	top: 155px;
	right: 0;
	width: 50%;
	height: 235px;
	max-width: 321px;
}

.beginner_guide_wrapper .i_know_button {
	background: url(../../image/vivo/mobile/beginner_guide/04.png) no-repeat;
	background-size: 100%;
	width: 50%;
	bottom: 50px;
	right: 0;
	height: 252px;
	max-width: 320px;
}



