

body {
    /*background-color: #123993;*/
    background-image: url('/static/image/vivo/mobile/forumdisplay-bg.png');
    background-repeat: repeat-y;
    background-position: center;
    color: #FFF;
}

a, a:visited {
    color: #FFF;
}

.checkin_index {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: '黑体';
}

@media screen and (min-width: 640px) {

    .checkin_index {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.checkin_index > div {
    /*width: 299px;*/
    margin: 0 auto;
}

@media screen and (min-width: 640px) {
    .checkin_index > div {
        width: 598px;
    }
}

.checkin_index > .row1 {
    position: relative;
    background-color: rgba(0,0,0,0.65);
    overflow: hidden;
    clear: both;
    padding-bottom: 9px;
}

.checkin_index > .row1 .checkin_icon {

    position: absolute;
    z-index: 1;
    top: 10px;
    right: -13px;
    width: 84px;
    height: 76px;

    background-image: url(/static/image/vivo/mobile/checkin/checkin_icon.png);
    background-repeat: no-repeat;
    background-size: 100%;

    opacity: 0.66;
}

.checkin_index p {
    margin-bottom: 0;
}

.checkin_index .personal-avatar {
    width: 79px;
    height: 79px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #FFF;
    border-color: rgba(255,255,255,0.8);
    float: left;
    margin-right: 4px;
    margin-top: 5px;
    margin-left: 5px;
}

.checkin_index .nickname {
    padding-top: 19px;
    font-size: 16px;
    margin-bottom: 14px;
}

@media screen and (min-width: 640px) {

    .checkin_index > .row1 {
        padding-bottom: 18px;
    }

    .checkin_index > .row1 .checkin_icon {
        width: 169px;
        height: 152px;
        top: 20px;
        left: 469px;
    }

    .checkin_index .personal-avatar {
        width: 158px;
        height: 158px;
        border-width: 2px;
        margin-right: 8px;
    }

    .checkin_index .nickname {
        padding-top: 38px;
        font-size: 32px;
        margin-bottom: 28px;
    }

}

.checkin_index .level {
    background-image: url(/static/image/vivo/mobile/level_shield.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Comic Sans MS';
    font-size: 12px;
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 20px;
}

@media screen and (min-width: 640px) {
    .checkin_index .level {
        font-size: 18px;
        width: 35px;
        height: 35px;
        line-height: 30px;
    }
}

.checkin_index > .row2 {

    background-color: #000;
    background-color: rgba(0,0,0,0.3);

    font-size: 16px;
    line-height: 20px;
    padding: 7px 0;
    
    clear: both;
    overflow: hidden;

    margin-bottom: 6px;

}

.checkin_index > .row2 .row2_left {
    float: left;
    width: 135px;
    padding-left: 14px;

}

.checkin_index > .row2 .row2_right {
    float: right;
    width: 130px;
    padding-right: 10px;
}

@media screen and (min-width: 640px) {

    .checkin_index > .row2 {
        font-size: 32px;
        line-height: 36px;
        padding: 16px 0;
        margin-bottom: 12px;
    }

    .checkin_index > .row2 .row2_left {
        width: 270px;
        padding-left: 28px;
    }

    .checkin_index > .row2 .row2_right {
        width: 260px;
        padding-right: 20px;
    }

}

.checkin_index > .row3 {
    position: relative;
    background: url(/static/image/vivo/mobile/checkin/row3_bg.png) no-repeat;
    background-size: 100%;
    height: 163px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 45px;
}

.checkin_index > .row3 .coin {
    background: url(/static/image/vivo/mobile/checkin/coin_icon.png) no-repeat;
    background-size: 100%;
    width: 85px;
    height: 71px;
    position: absolute;
    left: 50%;
    margin-left: -41px;
    top: 9px;

}

@media screen and (min-width: 640px) {

    .checkin_index > .row3 {
        height: 326px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 90px;
    }

    .checkin_index > .row3 .coin {
        width: 170px;
        height: 142px;
        margin-left: -85px;
        top: 19px;
    }
}

.checkin_index > .row3 > div {
    
    clear: both;
    overflow: hidden;
    line-height: 24px;
}

@media screen and (min-width: 640px) {

    .checkin_index > .row3 > div {
        line-height: 48px;
    }
}

.checkin_index > .row3 .margin_line {
    border-bottom: dotted 1px #ededed;
}

.checkin_index > .row3 .left,
.checkin_index > .row3 .right {
    width: 95px;
    padding-top: 16px;
    padding-bottom: 8px;
}

@media screen and (min-width: 640px) {
    .checkin_index > .row3 .left,
    .checkin_index > .row3 .right {
        width: 190px;
        padding-top: 32px;
        padding-bottom: 16px;
    }
}

.checkin_index > .row3 .left {
    float: left;
    font-size: 16px;
}

.checkin_index > .row3 .right {
    float: right;
    text-align: center;
    font-size: 16px;
}

.checkin_index > .row3 > .div3 {
    padding: 9px 0;
    font-size: 16px;
}

@media screen and (min-width: 640px) {

    .checkin_index > .row3 > .div3 {
        padding: 18px 0;
        font-size: 32px;
    }

    .checkin_index > .row3 .left {
        font-size: 36px;
    }

    .checkin_index > .row3 .right {
        font-size: 32px;
    }
}

.checkin_index > .row4 {
    background-color: #000;
    background-color: rgba(0,0,0,0.5);
    padding: 13px 12px 19px;
    margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
    .checkin_index > .row4 {
        padding: 27px 24px 38px;
    }

}

.checkin_index > .row5 {

    background-color: #000;
    background-color: rgba(0,0,0,0.5);
}

.checkin_index > .row5 > .title {
    margin: 0;
    padding: 10px 0;
    font-size: 16px;
}

.checkin_index > .row5 table {
    width: 100%;
}

.checkin_index > .row5 td,
.checkin_index > .row5 th {
    padding: 4px 8px;
    word-break: break-all;
}

.checkin_index .task_list {

}

.checkin_index .task_item {
    position: relative;
    box-sizing: border-box;
    height: 74px;
    padding: 4px 0;
    clear: both;
    overflow: hidden;
    margin-bottom: 14px;
}

.checkin_index .task_item .icon_box {
    float: left;
    width: 46px;
    height: 100%;
    border-right: dotted 1px #FFF;
    box-sizing: border-box;
}

.checkin_index .task_item .text_box {
    float: left;
    width: 227px;
    padding-left: 9px;
}

@media screen and (min-width: 640px) {

    .checkin_index .task_item {
        height: 148px;
        padding: 8px 0;
        margin-bottom: 28px;
    }

    .checkin_index .task_item .icon_box {
        width: 93px;
        border-right: dotted 2px #FFF;
    }

    .checkin_index .task_item .text_box {
        width: 454px;
        padding-left: 18px;
    }

}

.checkin_index .task_item .task_title {
    margin-top: 0;
    padding-top: 14px;
    font-size: 15px;

}

@media screen and (min-width: 640px) {

    .checkin_index .task_item .task_title {
        padding-top: 28px;
        font-size: 30px;
    }

    .checkin_index .task_item .text_box p {
        font-size: 28px;
    }
}

.checkin_index .task_item .point {
    position: absolute;
    width: 7px;
    height: 7px;
    top: 12px;
    right: 11px;
    background-color: #FFF;
    border-radius: 50%;
}

@media screen and (min-width: 640px) {

    .checkin_index .task_item .point {
        width: 15px;
        height: 15px;
        top: 6px;
        right: 5px;
    }

}

.checkin_index .task_item .icon_box .icon {
    margin: 0 auto;
    position: relative;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.checkin_index .task_item.checkin {
    background-color: #ff7506;
}

.checkin_index .task_item.checkin .icon_box .icon {
    background-image: url(/static/image/vivo/mobile/task/checkin_icon.png);
    width: 19px;
    height: 20px;
    top: 26px;
}

@media screen and (min-width: 640px) {
    .checkin_index .task_item.checkin .icon_box .icon {
        width: 39px;
        height: 41px;
        top: 20px;
    }
}

.checkin_index .task_item.exchange_bubble_wine {
    background-color: #069eff;
}

.checkin_index .task_item.exchange_bubble_wine .icon_box .icon {
    background-image: url(/static/image/vivo/mobile/task/bubble_wine_icon.png);
    width: 17px;
    height: 29px;
    top: 21px;
}

@media screen and (min-width: 640px) {
    .checkin_index .task_item.exchange_bubble_wine .icon_box .icon {
        width: 35px;
        height: 59px;
        top: 20px;
    }
}

.checkin_index .task_item.bubble_wine {
    width: 275px;
    height: 70px;
    background: url(/static/image/vivo/mobile/checkin/exchange_bubble_wine.png) no-repeat;
    background-size: 100%;
}

.checkin_index .task_item.bubble_wine a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999pt;
}

@media screen and (min-width: 640px) {
    .checkin_index .task_item.bubble_wine {
        width: 550px;
        height: 141px;
    }
}



