/**
 * style for community component
 */

/* community info --------------------------------------------------------------- */

.wrapper_community_info {
  padding: 10px;
  border-bottom: solid 1px #EEE;
  background-color: #FFF;
  margin-bottom: 10px;
}

.wrapper_community_info .box_image {
  float: left;
  margin-right: 15px;
}

.wrapper_community_info .box_image img {
  width: 64px;
  height: 64px;
}

.wrapper_community_info .box_name {
  font-size: 20px;
  font-weight: 700;
}

.wrapper_community_info .box_intro {
  color: #999;
  font-size: 12px;
}

/* share list & detail -------------------------------------------------------------- */

.wrapper_share,
.wrapper_user_comment {
  padding-top: 10px;
}

.wrapper_share_detail {
  background-color: #FFF;
  padding: 10px;
  /* margin: 10px; */
  /* box-shadow: 1px 1px 2px #ccc; */
}

.list_share,
.list_comment {
  list-style: none none;
  padding-left: 0;
  padding: 0 10px;
}

.item_share,
.item_comment {
  position: relative;
  /* padding: 20px; */
  background-color: #FFF;
  margin-bottom: 10px;
}

.item_share *:last-child,
.item_comment *:last-child{
  margin-bottom: 0;
}

.item_share .item_link {
  position: absolute;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.item_header,
.item_title,
.item_text,
.item_photos,
.item_actions {
  position: relative;
}

.item_actions {
  z-index: 3;
}

@media screen and (min-width: 1280px)
{
  .list_share {
    padding: 0;
  }

  .item_share {
    box-shadow: 0 0 0;
  }
}

.item_share .item_header,
.item_comment .item_header,
.wrapper_share_detail .box_header {
  clear: both;
  border-bottom: solid 1px #CCC;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden;
}

@media screen and (min-width: 20cm)
{
  .item_share .item_header,
  .item_comment .item_header,
  .wrapper_share_detail .box_header {
    padding: 15px;
  }
}

.item_share .item_header .item_author_image,
.item_comment .item_header .item_author_image,
.wrapper_share_detail .author_image {
  float: left;
  margin-right: 12px;
}

.item_author_image img,
.wrapper_share_detail  .author_image img {
  width: 44px;
  height: 44px;
  border-radius: 28px;
}

.item_author_name,
.wrapper_share_detail .author_name {
  font-size: 14pt;
  font-weight: 700;
  padding-bottom: 3px;
  margin: 0;
  color: #666;
}

.item_author_name a,
.wrapper_share_detail  .author_name a {
  color: #666;
}

.item_publish_time,
.wrapper_share_detail  .publish_time {
  font-size: 94.28%;
  color: #999;
}

.item_publish_time span,
.wrapper_share_detail  .publish_time span {
  padding: 0 1em;
}

.item_title,
.item_text {
  clear: both;
  color: #666;
  word-break: break-all;
  padding: 0 10px;
  margin-bottom: 10px;
}

.item_title {
  font-size: 14pt;
  font-weight: 700;
}

.item_text {
  overflow: hidden;
  line-height: 20px;
  max-height: 80px;
  text-overflow: ellipsis;
}

#form_text_wrapper .item_text {
  padding: 0;
}

.item_share .item_photos {
  /*position: relative;*/
  /*z-index: 1;*/
  margin-bottom: 10px;
  padding: 0 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.item_share .item_photos .wrapper_item_photos {
  overflow: hidden;
}

.item_share .item_photos ul {
  list-style: none none;
  padding-left: 0;
  overflow: hidden;
}

.item_share .item_photos li {
  position: relative;
  z-index: 1;
  float: left;
  width: 30%;
  height: 80px;
  min-height: 20px;
  overflow: hidden;
  margin-right: 4%;
}

.item_share .item_photos li + li + li {
  margin-right: 0;
}

.item_share .item_photos li + li + li + li {
  display: none;
}

.item_share .item_photos ul.high_capacity li + li + li + li {
  display: list-item;
}

/*
@media screen and (min-width: 480px)
{
    
    .item_share .item_photos li {
        width: 80px;
        height: 80px;
        margin-right: 5px;
        float: left;
    }
}*/

.item_share .item_photos img {
  max-width: 100%;
  /*min-height: 100%;*/

}

.item_share .item_photos span {
  position: absolute;
  z-index: 1;
  display: block;
  height: 30px;
  line-height: 30px;
  right: 0;
  bottom: 0;
  padding: 0 8px;
  background-color: #000;
  font-size: 12px;
  color: #FFF;
  opacity: 0.7;
  font-family: Tahoma;
}

.noMore-item {

}

.noMore-item p {
  padding: 10px;
}

.loading-item {
  height: 40px;
  background-image: url(../../../images/community/mobile/circle-ball-dark-antialiased.gif);
  background-position: center center;
  background-repeat: no-repeat;
}

.wrapper_share_detail .box_title {
  font-size: 18px;
  color: #666;
}

.wrapper_share_detail .box_text {
  word-break: break-all;
  line-height: 26px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.wrapper_share_detail .box_text img {
  max-width: 100%;
  height: auto!important;
}

.item_share .item_actions,
.wrapper_share_detail .box_actions {
  clear: both;
  color: #999;
  line-height: 24px;
  text-align: right;
  overflow: hidden;
  border-color: #DDD;
  border-style: solid;
  border-width: 1px 0 0;
}

.wrapper_share_detail .box_actions {
  border-width: 1px;
}

.item_share .item_actions a,
.wrapper_share_detail .box_actions a {
  /* padding: 0 5px; */

}

.item_share .item_actions .icon,
.wrapper_share_detail .box_actions .icon {
  background-image: url(../../../images/community/mobile/icon_share_actions.gif);
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.icon-praise {
  background-position: -6px -3px;
}

.icon-share {
  background-position: -48px -3px;
}

.icon-comment {
  background-position: -90px -3px;
}

.item_share .item_actions a,
.wrapper_share_detail .box_actions a {
  display: inline-block;
  float: left;
  width: 33%;
  height: 36px;
  line-height: 36px;
  text-align: center;
  overflow: hidden;
  border-left: solid 1px #DDD;
}

.item_share .item_actions a:first-child,
.wrapper_share_detail .box_actions a:first-child {
  border-left: 0 none;
}

.item_share .item_actions a,
.item_share .item_actions a:visited,
.wrapper_share_detail .box_actions a,
.wrapper_share_detail .box_actions a:visited {
  color: #999;
}

.item_share .item_actions a.praised span,
.wrapper_share_detail .box_actions a.praised span {
  font-weight: 700;
  color: #666;
}

.item_share .item_praises {
  padding-bottom: 10px;
  border-bottom: solid 1px #EEE;
}

.item_share .item_praises .users {
  color: #666;
  padding-right: 1ex;
}

.item_share .item_praises .text_praise {
  color: #999;
}

.item_share .item_reply {
  padding-bottom: 10px;
  border-bottom: solid 1px #EEE;
}

.item_share .item_reply ul {
  padding-left: 0;
  list-style: none none;
}

.item_share .item_reply li {

}

.item_share .item_reply .user_head {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 5px;
}

.item_share .item_reply .text {
  color: #000;
}

.item_share .item_read_more {
  padding-top: 10px;
  text-align: center;
}

.button_image,
.button_face {
  float: left;
  width: 32px;
  height: 32px;
  border: 0 none;
  margin-right: 30px;
}

.button_image {
  background: url(../../../images/community/mobile/iconfont-tupian.png) no-repeat;
}

.button_face {
  background: url(../../../images/community/mobile/iconfont-biaoqing.png) no-repeat;
}

/* comment box */
.box_comment {
}

.box_comment .row_input {
  margin-bottom: 10px;
}

.box_comment .row_input textarea {
  width: 100%;
  border-color: #DDD;
  border-radius: 5px;
  box-shadow: 0 0 0;
}

.box_comment .row_input textarea:focus {
  border-color: #fee101;
}

.box_comment .row_opt {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
}

.box_comment .box_comment_list {
  border-top: solid 1px #CCC;
  padding-top: 20px;
  padding-left: 20px;
}

.box_comment .box_comment_list ul {
  padding-left: 0;
  list-style: none none; 
}

.box_comment .box_comment_list ul.list_user_filter {
  padding-top: 10px;
  padding-bottom: 10px;
}

.box_comment .box_comment_list ul.list_user_filter li {
  display: inline-block;

}

.box_comment .box_comment_list ul.list_user_filter li + li {
  border-left: solid 1px #CCC;
}

.box_comment .box_comment_list ul.list_user_filter li.active {
  font-weight: 700;
}

.box_comment .box_comment_list ul.list_user_filter a {
  padding: 0 10px;
  color: #000;
}

.box_comment .list_comment li {
  position: relative;
  min-height: 30px;
  margin-bottom: 10px;
}

.box_comment .list_comment .item_image {
  position: absolute;
  width: 40px;
  height: 40px;
}

.box_comment .list_comment .item_image img {
  width: 100%;
  border-radius: 20px;
}

.box_comment .list_comment .item_content,
.box_comment .list_comment .item_info {
  padding-left: 54px;
}

.box_comment .list_comment .item_content {
  margin-bottom: 4px;
  word-break: break-all;
}

.box_comment .list_comment .item_info {
  clear: both;
  overflow: hidden;
}

.box_comment .list_comment .item_info .publish_time {
  float: left;
}

.box_comment .list_comment .item_info .opt {
  float: right;
}

.box_comment .list_comment .item_info .opt li {
  display: inline-block;
}

.box_comment .list_comment .item_info .opt a {
  padding: 0 5px;
}

.box_comment .panel_reply {
  position: relative;
  min-height: 80px;
  padding-left: 20px;
}

.box_comment .panel_reply .box_face {
  position: absolute;
  width: 35px;
  height: 35px;
}

.box_comment .panel_reply .box_face img {
  width: 35px;
  height: auto;
}

.box_comment .panel_reply .box_content {
  padding-left: 50px;
  margin-bottom: 10px;
}

.box_comment .panel_reply .box_content .box_input {
  margin-bottom: 10px;
}

.box_comment .panel_reply .box_content .box_input textarea {
  height: 35px;
}

.box_comment .panel_reply .box_content .box_options {
  overflow: hidden;
}

.box_comment .button_comment {
  display: inline-block;
  float: right;
  width: 70px;
  height: 30px;
  line-height: 30px;
  background-color: #fee101;
  border: none 0;
  border-radius: 5px;
  color: #4c4c4c;
  outline: medium none;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 128.57%;
  margin-right: 0;
}

/* share edit page -------------------------------------------------------------------------- */

.wrapper_edit {
  padding: 10px;
  background-color: #FFF;
  margin: 10px;
}

.wrapper_edit label {
  color: #999;
  position: absolute;
  width: 4em;
  height: 20px;
  padding: 6px 12px;
  font-weight: normal;
}

.wrapper_edit textarea {
  height: 75px;
  margin-bottom: 10px;
  overflow: visible;
}

#form_text_wrapper .item_image {
  margin-bottom: 10px;
  text-align: center;
  background-image: url(../../../images/community/mobile/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  border: solid 1px #CCC;
  min-height: 40px;
}

#form_text_wrapper .item_image img {
  max-width: 100%;
}

.wrapper_edit .box_images ul {
  padding-left: 0;
  list-style: none none;
}

.wrapper_edit .box_images li {
  clear: both;
  position: relative;
  padding: 10px;
  border: solid 1px #999;
  margin-bottom: 12px;
}

.wrapper_edit .box_images li .item_image,
.wrapper_edit .box_images li .item_alt {
  float: left;
  margin-bottom: 10px;
}

.wrapper_edit .box_images li .item_text {
  clear: both;
}

.wrapper_edit .box_images li .item_image {
  width: 80px;
  margin-right: 20px;
  padding: 10px;
  border: solid 1px #EEE;
}

.wrapper_edit .box_images li .item_alt {
  width: 70%;
  padding: 10px 0;
  text-align: right;
}

.wrapper_edit .box_images li .item_image img {
  width: 64px;
  height: auto;
}

.wrapper_edit .box_images li .item_alt input {
  width: 100%;
  float: right;
}

.wrapper_edit .box_images li .item_text textarea {
  width: 100%;
}

#form_text_wrapper .item_image,
#form_text_wrapper .item_text {
  position: relative;
}

#form_text_wrapper .item_remove {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -10px;
  right: -10px;
  display: inline-block;
  background-color: #ccc;
  border-radius: 10px;
  color: #fff;
  height: 20px;
  text-align: center;
  width: 20px;
  text-decoration: none;
}

.wrapper_edit .box_buttons {
  clear: both;
  overflow: hidden;
  padding-left: 15px;
}

.wrapper_edit .button_send {
  float: right;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 60px;
  padding: 0 10px;
  background-color: #ff8140;
  border: 1px solid #f77c3d;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  color: #fff;
  outline: medium none;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  margin-right: 0;
}

#form_upload_file {
  display: none;
}

/* my comment --------------------------------------------------- */

.item_comment {
  position: relative;
  padding: 10px;
}

.item_comment .item_author_image {
  position: absolute;
  width: 48px;
  height: 48px;
}

.item_comment .item_author_name,
.item_comment .item_text,
.item_comment .item_quote,
.item_comment .item_publish_time,
.item_comment .item_actions {
  margin-left: 60px;
}

.item_comment .item_author_name {
  padding-bottom: 10px;
}

.item_comment .item_quote {
  background-color: #EEE;
  margin-bottom: 5px;
}

.item_comment .item_quote a {
  display: block;
  color: #666;
  text-decoration: none;
  padding: 10px;
}

.item_comment .item_actions {
  overflow: hidden;
  clear: both;
}

.item_comment .item_actions a {
  float: left;
  width: 50%;
  text-align: center;
}

/* lightbox */

#imagelightbox
{
  position: fixed;
  z-index: 9999;
}

