/* style of common module */

body{
  font-family: "微软雅黑", "Microsoft YaHei";
  background-color: #f0f1f2;
  min-height: 100%;
  padding-top: 120px;
  font-size: 10.05pt;   /* 五号字 */
}

img {
  max-width: 100%;
}

a {
  font-size: 100%;
}

input.form-control,
select.form-control,
textarea.form-control {
  box-shadow: 0 0 0;
}

/* layout */
.layout,
.bd {
  margin: 0 auto;
  clear: both;
}

@media screen and (min-width:1280px)
{
  .bd {
    width: 1200px;
  }
}

/* header */
.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  overflow: hidden;
  color:#fff;
}

.header > .bd {
  position: relative;
  padding: 8px 10px;
}

.header .header_title{
  font-size: 120%;
  margin: 0;
  color: #222;
}

.header .button_return {
  position: absolute;
  line-height: 24px;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  color: #FFF;
  font-size: 16px;
  background: url(../../../images/community/mobile/iconfont-fanhui.png) no-repeat center center;
}

.header .button_toggle_menu {
  position: absolute;
  height: 40px;
  top: 6px;
  right: 0;
}

.header .header_title > img {
  border-radius: 2px;
}

.header .button_edit,
.header .button_login {
  position: absolute;
  top: 20px;
  right: 22px;
  line-height: 24px;
  color: #333;
}

.header .button_edit {
  background: url(../../../images/community/mobile/iconfont-edit_24.png) no-repeat center 20px #fee101;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  border: 0 none;
}

.header .button_edit:active {
  opacity: 0.9;
}

/* navigation */

.nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 35px;
  top: 60px;
  left: 0;
  overflow: hidden;
  border-bottom: solid 1px #CCC;
  font-size: 100%;
}

.nav ul {
  list-style: none none;
  padding-left: 0;
  margin-bottom: 0;
}

.nav li {
  float: left;
  width: 25%;
  overflow: hidden;
  text-align: center;
}

.nav a {
  display: inline-block;
  padding: 0 8px;
  color: #333;
  font-weight: 700;
  width: 100%;
  line-height: 35px;
  font-size: 12pt;
}

.nav .current a {
  color: #D33;
}

/* bottom toolbar */
.toolbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 5px 0;
  background-color: #FFF;
  border-top: solid 1px #CCC;
}

.toolbar .bd {
  position: relative;
  height: 30px;
}

.toolbar a {
  position: absolute;
  display: block;
  height: 30px;
  width: 40px;
  top: 0;
  right: 0;
  line-height: 30px;
}

/* content wrapper */

.content {
  position: relative;
  z-index: 1;
  clear: both;
  background-color: #EEE;
  overflow: hidden;
}

/*
@media screen and (min-width: 950px)
{
    .content .bd {
        width: 950px;
    }
    
    .content .main,
    .content .sidebar {
        float: left;
    }
    
    .content .main {
        width: 720px;
        margin-right: 10px;
    }
    
    .content .sidebar {
        width: 220px;
    }
    
}
*/

/* loading box */

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background: url(../../../images/community/mobile/circle-ball-dark-antialiased.gif) no-repeat;
  /* border: solid 1px #CCC; */
}

/* ImageViewer */
#ImageViewer
{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#ImageViewer .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
}

#ImageViewer img {
  position: absolute;
}

/* icon ------------------------------------------------------- */

.icon {
  display: inline-block;
}

.icon_user_favorite,
.icon_user_config,
.icon_user_friend,
.icon_user_photos,
.icon_user_praise,
.icon_user_qr {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}

.icon_user_qr {
  background-image: url(../../../images/community/mobile/icon_user_qr.png);
}

.icon_user_favorite {
  background-image: url(../../../images/community/mobile/icon_user_favorite.png);
}

.icon_user_config {
  background-image: url(../../../images/community/mobile/icon_user_config.png);
}

/**/

.form-control {
  font-size: 100%;
}

/* dialog ------------------------------------------------- */

.dialog {
  position: fixed;
  z-index: 99;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -75px;
  background-color: #FFF;
  border: solid 1px #EEE;
  border-radius: 10px;
}

.dialog_header,
.dialog_body {
  position: relative;
  clear: both;
  padding: 0 10px;
  overflow: hidden;
}

.dialog_header {
  min-height: 20px;
  background-color: #EEE;
}

.dialog_title {
  float: left;
  line-height: 30px;
  padding: 0 10px;
}

.dialog_buttons {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}

.dialog_close {
  height: 100%;
  font-family: Arial;
  text-transform: uppercase;
}

.dialog_body {
  padding: 10px;
}

.dialog_progress {
  width: 70%;
  left: 15%;
  height: 60px;
  margin-top: -40px;
  padding: 10px;
}

.dialog_progress .box_progress {
  padding: 20px;
}

.dialog_progress .box_progress .progress {
  margin-bottom: 0;
}

/* app default style */

.default-background {
  background: #FFF;
}

.orange-background {
  background: #fee101;
}

.default-border {
  border: solid 1px #d2d2d2;
}

.orange-border {
  border: solid 1px #fee101;
}

.default-radius {
  border-radius: 8px;
}

/* panel style */

.panel-position-left,
.panel-position-right {
  position: fixed;
  z-index: 2;
  width: 17em;
  min-height: 100%;
  top: 0;
  transition: left 300ms ease 0s;
  color: #333;
  text-shadow: 0 1px 0 #f3f3f3;
}

.panel-position-left {
  left: -17em;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15);
}

.panel-position-right {
  right: -17em;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15);
}

.panel-position-left.panel-open {
  left: 0;
}

.panel-position-right.panel-open {
  right: 0;
}

#leftPanel1 .panel_title {
  font-size: 24px;
}

#leftPanel1 ul {
  list-style: none none;
  padding-left: 0;
  border-top: solid 1px #ddd;
}

#leftPanel1 li {
  border-bottom: solid 1px #ddd;
}

#leftPanel1 a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

#leftPanel1 a:active {
  background-color: rgba(0,0,0,0.05);
}

#leftPanel1 .badge {
  background-color: #D33;
  color: #FFF;
  font-weight: normal;
}

.maskLayer {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}





