

body {
    background-color: #EEE;
}

.config_index {

}

.config_item_group {
    padding-left: 18px;
    background-color: #FFF;
    margin-bottom: 20px;
}

.config_index .config_item {
    overflow: hidden;
    clear: both;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #DDD;
}

.config_index .config_item.last {
    border-bottom: none;
}

.config_index .config_item:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    line-height: 0;
    clear: both;
}

.config_index .config_item .config_item_name {
    float: left;
    width: 50%;
    font-weight: 700;
    font-size: 16px;
}

.config_index .config_item .config_item_content {
    float: right;
    width: 50%;
    text-align: right;
    color: #666;
    font-size: 16px;
}

.avatar_item .config_item_content img {
    border-radius: 50%;
    width: 50px;
}

#change_nickname_dialog {
    display: none;
    position: absolute;
    z-index: 100;
    width: 80%;
    left: 10%;
    top: 50%;
    margin-top: -100px;
    background-color: #FFF;
    border: solid 1px #333;
}

#change_nickname_dialog .dialog_body {
    padding: 25px 20px;
}

#change_nickname_dialog .desc {
    color: #ddd;
    margin-bottom: 0;
}

#change_nickname_dialog .input {
    width: 100%;
    border: none;
    background: transparent;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: solid 2px #ffe837;
    margin-bottom: 20px;
}

#change_nickname_dialog .button {
    padding: 0 12px;
    border: none;
    background: transparent;
    font-size: 16px;
}

#change_nickname_dialog .cancel {
    margin-right: 20px;
    color: #d8d8d8;
}

#change_nickname_dialog .submit {
    color: #ffe837;
}

#change_gender_dialog {
    display: none;
    position: absolute;
    z-index: 100;
    width: 80%;
    left: 10%;
    top: 50%;
    margin-top: -120px;

    background-color: #FFF;
}

#change_gender_dialog .dialog_body .desc {
    padding: 16px;

    font-size: 18px;

    color: #ffe837;

    border-bottom: solid 2px #ffe837;
}

#change_gender_dialog .dialog_body ul {
    margin-bottom: 0;
}


#change_gender_dialog .dialog_body li {

    padding: 12px;
    border-bottom: solid 2px #ececec;
}

#change_gender_dialog .dialog_body li:last-child {
    border-bottom: none;
}

/* 更改生日对话框 */

#change_birthday_dialog {
    display: none;
    position: absolute;
    z-index: 100;
    width: 80%;
    left: 10%;
    top: 50%;
    margin-top: -130px;

    background-color: #FFF;
}

#change_birthday_dialog .desc {
    margin-bottom: 16px;
    padding: 18px 15px;

    color: #ffe837;

    border-bottom: solid 2px #ffe837;

    font-size: 18px;
}

#change_birthday_dialog .control_group {
    text-align: center;
    margin-bottom: 12px;

}

#change_birthday_dialog .control_group select {
    margin: 0 6px;
    width: 66px;
    height: 44px;
    border-style: solid;
    border-color: #ffe837;
    border-width: 0 0 2px;

    text-align: center;
}

#change_birthday_dialog .button_box {
    text-align: center;
}

#change_birthday_dialog .button_box .button {
    width: 100%;
    padding: 10px 0;
    border: none;
    background: transparent;
}

/* change password dialog */

#change_password_dialog {

    display: none;

    position: absolute;
    z-index: 100;
    width: 80%;
    left: 10%;
    top: 50%;
    margin-top: -130px;

    background-color: #FFF;
    border: solid 1px #DDD;

}

#change_password_dialog .control_group {
    padding: 6px 4px;
}

#change_password_dialog .control_group label {
    display: block;
}

#change_password_dialog .button_box {
    padding: 10px 4px;
}



