/**
 * style for login page
 * @time: 2015-01-28
 */

.wrapper_login_form {
	padding: 15px 10px;
	background-color: #FFF;
	margin: 10px;
	box-shadow: 1px 1px 2px #ccc;
}

.wrapper_login_form .verifycode {
	width: 100%;
	max-width: 320px;
	height: auto;
}



