


body {
    background-image: url('/static/image/vivo/mobile/forumdisplay-bg.png');
    background-repeat: repeat-y;
    background-position: center;
    /*background-color: #123993;*/
    color: #000;
}

.clearfix{
    clear: both;
}

a, a:visited {
    color: #FFF;
}

.personal_mod {
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 11px;
    font-family: '黑体';
}

@media screen and (min-width: 640px) {
    .personal_mod {
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 22px;
    }
}

.personal-header .personal-avatar-container {
    padding: 4px;
    border-radius: 50%;
    background-color: #FFF;
    background-color: rgba(255,255,255,0.4);
    margin-right: 9px;
    float: left;
}

.personal-header {
    position: relative;
    padding-top: 17px;
    padding-left: 10px;
}

@media screen and (min-width: 640px) {
    .personal-header {
        padding-top: 34px;
        padding-left: 20px;
    }

    .personal-header .personal-avatar-container {
        padding: 8px;
        margin-right: 18px;
    }
}



.personal-header .personal-avatar {
    width: 79px;
    height: 79px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #FFF;
    border-color: rgba(255,255,255,0.8);

}

.personal-header .nickname {
    padding-top: 10px;
    font-size: 16px;
}

.credis-box{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.credis-box .credis-counter{
    position: relative;
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
    height: 15px;
    font-size: 11px;
    overflow: hidden;
    width: 80%;
    float: left;
}

.credis-box .credis-counter span{
    position: absolute;
    top:0px;
    left: 0px;
    text-align: center;
    color: #fff;
    width: 100%;
    line-height: 15px;
}

.credis-box .credis-counter span.counter{
    width: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff4f02), color-stop(1, #8f2c00)); /* Saf4+, Chrome */
    border-radius: 8px;
}

.credis-box .credis-next-name{
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    width: 20%;
    float: left;
    text-align: center;
}


@media screen and (min-width: 640px) {

    .personal-header .personal-avatar {
        width: 158px;
        height: 158px;
        border-width: 2px;
    }

    .personal-header .nickname {
        padding-top: 38px;
        font-size: 32px;
    }

}

.personal-header p {
    margin-bottom: 0;
}

.personal-header .credits {
    text-align: right;
    font-size: 15px;
    line-height: 22px;
}

.personal-header .credits .number {
    font-size: 21px;
    font-family: '微软雅黑', 'Microsoft YaHei';
}

@media screen and (min-width: 640px) {

    .personal-header .credits {
        font-size: 30px;
        line-height: 46px;
    }
    .personal-header .credits .number {
        font-size: 42px;
    }
}

.personal-header .check_in {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 10px;
}

.personal-header .check_in {
    top: 30px;
    background: url(/static/image/vivo/mobile/signin.png) no-repeat #ff7617;
    background-size: 100%;
    width: 63px;
    height: 30px;
}

.personal-header .check_in.active {
    background-color: rgba(0,0,0,0.3);
    background-image: url(/static/image/vivo/mobile/signin_active.png);
}

@media screen and (min-width: 640px) {

    .personal-header .check_in {
        width: 126px;
        height: 60px;
    }
}

.personal-header .check_in a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    text-indent: -9999pt;
}

.personal-header .level {
    background-image: url(/static/image/vivo/mobile/level_shield.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Comic Sans MS';
    font-size: 12px;
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 20px;
    color:#fff;
}

@media screen and (min-width: 640px) {
    .personal-header .level {
        font-size: 18px;
        width: 35px;
        height: 35px;
        line-height: 30px;
    }
}

.personal_body {
    position: relative;
}

.personal_mod .row-box {
    background-color: #000;
    background-color: rgba(0,0,0,0.5);
}

.personal_body .trigon {
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    z-index: 1;
    border-style: solid;
    border-color: transparent transparent #000;
    border-color: transparent transparent rgba(0,0,0,0.5);
    border-width: 10px 11px;
    top: 0;
    margin-top: -20px;
    left: 38px;
}

@media screen and (min-width: 640px) {

    .personal_body .trigon {
        border-width: 21px 23px;
        margin-top: -42px;
        left: 85px;
    }
}

/* task index page */

.task_index{
    margin-top: 15px;
}

.task_index .buttons {
    clear: both;
    overflow: hidden;
}

.task_index .buttons .button {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
}

.task_index .task_list .task_item{
    margin: 10px 10px;
    border-bottom: 1px dashed #cccccc;
}

.task_index .task_list .task_item .wrapper {
    position: relative;
    height: 90px;
}

.task_index .task_list .task_item div{
    position: absolute;
}

.task_index .task_list .task_item .description_box{
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fdb965), to(#ee6900));
    background:-moz-linear-gradient(top, #fdb965,#ee6900);
    width: 80px;
    line-height: 80px;
    border-radius: 80px;
    text-align: center;
    font-size: 28px;
    color:#ffffff;
    border: 2px solid #ffffff;
    z-index: 1;
}

.task_index .task_list .task_item .title_box{
    top: 10px;
    right: 0;
    height: 60px;
    width: 90%;
    background:#ffbb80;
    border: 2px solid #ffa75d;
    border-radius: 5px;
    color:#0C2764;
    -webkit-box-shadow: 3px 3px 3px;
    -moz-box-shadow: 3px 3px 3px;
    box-shadow: 3px 3px 3px;
}

.task_index .task_list .task_item .title_text{
    top: 15px;
    left: 35%;
    width: 40%;
    line-height: 26px;
    color: #ffffff;
    z-index: 5;
}

.task_index .task_list .task_item .image_box{
    width: 50px;
    height: 50px;
    right: 10px;
    top:10px;
    z-index: 1;
}

.task_index .task_list .task_item .progress_box{
    top: 12px;
    left: 20%;
    height: 56px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdb965), to(#ee6900));
    background: -moz-linear-gradient(top, #fdb965,#ee6900);
    color: #ca9768;
    box-shadow: 3px 1px 3px;
}

.task_index .task_list .task_item .progress_backimg{
    top: 12px;
    left: 20%;
    height: 56px;
    background-image: url('/static/image/mobile/images/task_progress_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}

.task_header{
    width: 80%;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    color: #0C2764;
    -webkit-box-shadow: 3px 3px 3px;
    -moz-box-shadow: 3px 3px 3px;
    box-shadow: 3px 3px 3px;
    border-radius:  5px;
}

.task_header li{
    float: left;
    width: 50%;
    text-align: center;
    background: #848daa;
    color: #ffffff;
    font-size: 16px;
    font-family: "microsoft yahei";
}

.task_header li:first-child{
    border-radius:  5px 0 0 5px;
}

.task_header li:last-child{
    border-radius: 0 5px 5px 0;
}

.task_header li.on{
    background: #ee6900;
}

.task_notice {
    width: 80%;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* task doing */

.task_doing a , .task_doing a:visited{
    color: #999;
}

.task_doing .qr_image {
    text-align: center;
}

.task_doing .product_image{
    position: relative;
    width: 100%;
}

.task_doing .product_image .task-product-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.task_doing .product_image .task-progress{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    background: rgba(0,0,0,0.7);
    border-bottom: 2px solid #ffffff;
    height: 0%;
    z-index: 10;
}

.task_doing .product_image .task-product-progress-line{
    position: absolute;
    /*top: -18%; 正常高度 */
    top: -20%;
    left: 0;
    width: 100%;
    height: 15%;
    z-index: 11;
    background-image: url('/static/image/mobile/images/task-product-progress-line.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;

}

.task_doing .product_image .task-progress-num{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 64px;
    text-align: center;
    line-height: 74px;
    font-size: 22px;
    z-index: 12;
    background: url('/static/image/mobile/images/task-progress-drop.png') no-repeat;
    overflow: hidden;
    color: #fff;
}

.task_product_share_btn{
    width: 80%;
    margin: 20px auto;
}

.task_product_share_btn ul{
    list-style-type: none;
}

.task_product_share_btn ul li{
    height: 60px;
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 10px;
}

.task_product_share_btn ul li:first-child{
    text-align: right;
    padding-right: 10px;
}

.task_product_share_btn ul li img{
    height: 60px;
    width: 60px;
}

.task_product_share_btn p{
    text-align: center;
}

.task-product-title-tab{
    background: #1971cc;
    height: 36px;
    line-height: 36px;
    width: 90px;
    border-radius: 0px  18px 18px 0px;
    color: #fff;
    text-align: center;
    padding-right: 10px;
}

.task-product-desc{
    padding: 10px 5px;
}

.task-product-sharelist-title{
    margin-top: 15px;
}

.task-product-sharelist-title img{
    margin-left: 5px;
    height: 35px;
}

.task-product-sharelist{
    border-top:2px solid #ff8b19;
    background: rgba(0,0,0,0.6);
    margin: 10px 5px;
}

.task-product-sharelist ul{
    padding: 10px;
    color: #999;
}

.task-product-sharelist ul a{
    color: #999;
}

.task-product-sharelist ul li{
    padding: 10px;
    border-bottom: 1px solid #999;
    background-image: url('/static/image/mobile/images/task-product-sharelist-cup.png');
    background-position: 1px 18px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.task-product-sharelist ul li:last-child{
    border-bottom: none;
}

.task-product-sharelist ul li .sharelist-header{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #fff;
    float: left;
}

.task-product-sharelist ul li .sharelist-header img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
}

.task-product-sharelist ul li .sharelist-content{
    float: left;
    width: auto;
    padding-left: 10px;
    color: #fff;
}

.task-product-sharelist ul li .sharelist-content p{
    margin: 0;
    padding: 0;
    line-height: 25px;
    font-size: 13px;
}


