/**
 * style for user component
 * @time: 2015-02-15
 */

/* login page -------------------------------------------------------------------- */

.wrapper_login_form {
	padding: 15px 10px;
	background-color: #FFF;
	margin: 10px;
	box-shadow: 1px 1px 2px #ccc;
}

.wrapper_login_form .verifycode {
	width: 100%;
	max-width: 320px;
	height: auto;
}

/* register page ------------------------------------------------------------- */

.wrapper_register_form {
  margin: 10px;
  padding: 10px;
}

#phoneVerificationInput {
  margin-bottom: 5px;
}

/* user comment page ------------------------------------------------------------- */

.wrapper_user_comment {
  margin: 10px;
}

.wrapper_user_comment .list_comment {
  list-style: none none;
  padding-left: 0;
}

.wrapper_user_comment .item_comment {
  background-color: #FFF;
  margin-bottom: 10px;
  box-shadow: 1px 1px 2px #ccc;
}

/* user detail page */

.wrapper_user_detail {
  background-color: #FFF;
	padding: 10px 10px 0;
  margin: 10px;
}

.wrapper_user_detail .box_user {
  position: relative;
  display: block;
  padding-left: 76px;
  padding-top: 10px;
  clear: both;
  overflow: hidden;
  min-height: 76px;
  border-bottom: solid 1px #EEE;
  color: #000;
  text-decoration: none;
}

.wrapper_user_detail .box_user:active {
  background-color: #EEE;
}

.wrapper_user_detail .image_user_head {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  top: 0;
}

.wrapper_user_detail .title_user_name {
  font-size: 16px;
  font-weight: normal;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 10px;
}

.wrapper_user_detail .title_user_description {
  font-size: 12px;
  font-weight: normal;
  line-height: 100%;
  margin: 0;
  color: #999;
}

.wrapper_user_detail .box_data ul {
  list-style: none none;
  padding-left: 0;
}

.wrapper_user_detail .box_data li {
  display: inline-block;
  width: 32%;
}

.wrapper_user_detail .box_data a,
.wrapper_user_detail .box_data .text_number,
.wrapper_user_detail .box_data .text_title {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.wrapper_user_detail .box_data .text_number {
  padding-top: 5px;
  color: #000;
}

.wrapper_user_detail .box_data .text_title {
  color: #999;
  padding-bottom: 5px;
  font-size: 13px;
}

/* user menu -------------------------------------------- */

.user-menu {
  margin: 0 10px 10px;
}

.user-menu ul {
  list-style: none none;
  padding-left: 0;
  margin-bottom: 0;
}

.user-menu li {
  clear: both;
  overflow: hidden;
  line-height: 48px;
  border-bottom: solid 1px #EEE;
}

.user-menu li .icon {
  margin-right: 10px;
  float: left;
}

.user-menu li a {
  display: block;
  padding: 10px;
  color: #333;
}

.user-menu li:last-child {
  border-bottom: 0 none;
}

/* user setting page */

.wrapper_user_setting {
  font-size: 120%;
}

.wrapper_user_setting ul {
  list-style: none none;
  padding-left: 0;
  padding-top: 10px;
}

.wrapper_user_setting li {
  background-color: #FFF;
  border-bottom: solid 1px #EEE;
}

.wrapper_user_setting .mb {
  margin-bottom: 10px;
}

.wrapper_user_setting a {
  display: block;
  color: #666;
  padding: 10px;
}

.wrapper_user_setting .logout-item {
  text-align: center;
}

 .logout-item a {
  color: #F00;
}

/* user personal info  for "userPersonalIndex" page ---------------------- */

.wrapper_user_personal_info {
  background: url("../../../images/community/mobile/user_personal_index_bg.jpg") no-repeat center 0;
  height: 135px;
  padding-top: 20px;
}

.wrapper_user_personal_info .user_head {
  width: 64px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.wrapper_user_personal_info .user_name {
  text-align: center;
  color: #FFF;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}

/* avatar image upload dialog */

#avatarImageUploadDialog {
  position: fixed;
  z-index: 99;
  width: 80%;
  height: 280px;
  max-height: 95%;
  left: 10%;
  top: 50%;
  margin-top: -140px;
  background-color: #FFF;
  border: solid 1px #CCC;
  display: none;
}

#avatarImageUploadDialog .box {
  position: relative;
  padding: 20px;
  text-align: center;
}

#avatarImageUploadDialog .box_image {
  margin-bottom: 15px;
  height: 150px;
  overflow: hidden;
}

#avatarImageUploadDialog .box_image img {
  max-height: 100%;
}

#avatarImageUploadDialog .button {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}

#avatarImageInput {
  display: none;
}

/* user profiles page ------------------------------------------------ */

.wrapper_user_profiles {
  margin: 10px 10px 0;
  padding: 20px;
  background-color: #FFF;
  margin-bottom: 10px;
  box-shadow: 1px 1px 2px #ccc;
}



