{template common/header}

{eval}
$url_current = '/plugin.php?id=gsignin:index';
{/eval}

<link rel="stylesheet" type="text/css" href="source/plugin/gsignin/css/base.css" />
<link rel="stylesheet" type="text/css" href="source/plugin/gsignin/css/calendar.css" />
<script src="source/plugin/gsignin/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	var jq = jQuery.noConflict();
</script>
<iframe style="visibility:hidden;display:none" id="formsubmit" name="formsubmit" width="1" height="1"></iframe>

<div id="main">
	<div class="content">
		<div class="top">
			<!--
			<div class="left">
				<div style="height: 40px;line-height: 40px; border-bottom: none;font-size: 14px;color: #FFFFFF;" class="base_bg_color">
					{if $rightCheck == ''}
						{lang gsignin:t00001}
					{else}
						{lang gsignin:t00021}
					{/if}
				</div>
				<div style="height: 50px;line-height: 50px;font-size: 22px;font-weight: bold;">
					{$num}<span style="font-size: 14px; color: #999999;">{lang gsignin:t00002}</span>
				</div>
			</div>
			<div style="width: 142px; height: 4px; background: url(source/plugin/gsignin/img/mask.png);position: absolute; top: 192px;">
			
			</div>-->

			<div class="center">
				<div style="margin-top: 67px;" class="front">
					<div class="user_picture">
						{if empty($memberTops[1])}
						<img id="user_head2" class="user_head" src="source/plugin/gsignin/img/nouser.png"> {else}
						<img id="user_head2" class="user_head" src="uc_server/avatar.php?uid={$memberTops[1]['uid']}&size=middle" width="120" height="120" onmouseover="showUserInfo(2)" onmouseout="hideUserInfo(2)">
						<a href="home.php?mod=space&uid={$memberTops[1]['uid']}" class="user_name" style="color:{$memberTops[1]['color']}">
							{eval $memberTops[1]['user']=getuserprofilebyuid($memberTops[1]['uid'],'profile')}{eval echo $memberTops[1]['user']['nickname']}
						</a> {/if}
						<img style="position: absolute;top: -4px;right: 4px;" src="source/plugin/gsignin/img/argentum.png" />
						<div id="user_info2" class="user_info">
							<div id="user_info_content2" class="user_info_content">
								{if !empty($memberTops[1])}
								<div style="height: 20px;line-height: 20px;">
									{if $memberTops[1]['lasttime'] >= $today} {lang gsignin:t00003}{eval echo gmdate('H:i:s',$memberTops[1]['lasttime']+8*3600)}{lang gsignin:signin} {else} {lang gsignin:t00022} {/if}
								</div>
								<div style="height: 20px;line-height: 20px;">
									{lang gsignin:t00004}{$memberTops[1]['continuous']}{lang gsignin:day}
								</div>
								<div style="height: 20px;line-height: 20px;">
									{lang gsignin:t00005}{$memberTops[1]['total']}{lang gsignin:day}
								</div>
								{/if}
							</div>
						</div>
					</div>

				</div>
				<div style="margin-top: 38px;" class="front">
					<div class="user_picture">
						{if empty($memberTops[0])}
						<img id="user_head1" class="user_head" src="source/plugin/gsignin/img/nouser.png"> {else}
						<img id="user_head1" class="user_head" src="uc_server/avatar.php?uid={$memberTops[0]['uid']}&size=middle" width="120" height="120" onmouseover="showUserInfo(1)" onmouseout="hideUserInfo(1)">
						<a href="home.php?mod=space&uid={$memberTops[0]['uid']}" class="user_name" style="color:{$memberTops[0]['color']}">
							{eval $memberTops[0]['user']=getuserprofilebyuid($memberTops[0]['uid'],'profile')}{eval echo $memberTops[0]['user']['nickname']}
						</a> {/if}
						<img style="position: absolute;top: -4px;right: 4px;" src="source/plugin/gsignin/img/gold.gif" />
						<div id="user_info1" class="user_info">
							<div id="user_info_content1" class="user_info_content">
								{if !empty($memberTops[0])}
								<div style="height: 20px;line-height: 20px;">
									{if $memberTops[0]['lasttime'] >= $today} {lang gsignin:t00003}{eval echo gmdate('H:i:s',$memberTops[0]['lasttime']+8*3600)}{lang gsignin:signin} {else} {lang gsignin:t00022} {/if}
								</div>
								<div style="height: 20px;line-height: 20px;">
									{lang gsignin:t00004}{$memberTops[0]['continuous']}{lang gsignin:day}
								</div>
								<div style="height: 20px;line-height: 20px;">
									{lang gsignin:t00005}{$memberTops[0]['total']}{lang gsignin:day}
								</div>
								{/if}
							</div>
						</div>
					</div>

				</div>
				<div style="margin-top: 67px;" class="front">
					<div class="user_picture">
						{if empty($memberTops[2])}
						<img id="user_head3" class="user_head" src="source/plugin/gsignin/img/nouser.png"> {else}
						<img id="user_head3" class="user_head" src="uc_server/avatar.php?uid={$memberTops[2]['uid']}&size=middle" width="120" height="120" onmouseover="showUserInfo(3)" onmouseout="hideUserInfo(3)">
						<a href="home.php?mod=space&uid={$memberTops[2]['uid']}" class="user_name" style="color:{$memberTops[2]['color']}">
								{eval $memberTops[2]['user']=getuserprofilebyuid($memberTops[2]['uid'],'profile')}{eval echo $memberTops[2]['user']['nickname']}
							</a> {/if}
						<img style="position: absolute;top: -4px;right: 4px;" src="source/plugin/gsignin/img/copper.png" />
						<div id="user_info3" class="user_info">
							<div id="user_info_content3" class="user_info_content">
								{if !empty($memberTops[2])}
								<div style="height: 20px;line-height: 20px;">
									{if $memberTops[2]['lasttime'] >= $today} {lang gsignin:t00003}{eval echo gmdate('H:i:s',$memberTops[2]['lasttime']+8*3600)}{lang gsignin:signin} {else} {lang gsignin:t00022} {/if}
								</div>
								<div style="height: 20px;line-height: 20px;">
									{lang gsignin:t00004}{$memberTops[2]['continuous']}{lang gsignin:day}
								</div>
								<div style="height: 20px;line-height: 20px;">
									{lang gsignin:t00005}{$memberTops[2]['total']}{lang gsignin:day}
								</div>
								{/if}
							</div>
						</div>
					</div>

				</div>
			</div>
			
			<a id="signinButton" href="plugin.php?id=gsignin:index&action=signin&formhash={FORMHASH}" target="formsubmit" style="display: none;">签到</a>
			{if !empty($member) && $member['lasttime'] < $today }
			<script>
				jQuery(document).ready(function(){
					window.console.log(jQuery("#signinButton")[0]);
					jQuery("#signinButton")[0].click();
				});
			</script>
			{/if}

			<!--
			{if !empty($member) && $member['lasttime']>=$today}
			<div class="right" style="background-position: 0 -180px;" onmouseenter="showCalendar()" onmouseleave="hideCalendar()">
				<a href="javascript:;" target="formsubmit">
					<div style="color: #FFF;line-height: 40px; height: 40px;">
						{lang gsignin:t00006}
					</div>
				</a>
				<div style="background: #FFFFFF; color: #818181; height: 50px; line-height: 50px; font-size: 13px;">
					{lang gsignin:t00007} <span style="font-size: 17px; font-weight: 700;">{$member['continuous']}</span> {lang gsignin:day}
				</div>
				<div style="font-size: 14px;">
					<span style="color: #5494EE;line-height: 42px;">
							{eval echo gmdate('m{lang gsignin:month}d{lang gsignin:fuck}',$today+8*3600)}
                        </span>&nbsp;
					<span style="color: #5494EE;">
							{lang gsignin:t00008}<span style="color:#ff7f3e">{$forget}</span>{lang gsignin:day}
					</span>
				</div>
				<div style="width: 142px; height: 4px; background: url(source/plugin/gsignin/img/mask.png);position: absolute; top: 92px; right: 0;"></div>
				<div style="clear: both;"></div>
			</div>
			{else}
			<div class="right">

				<a href="plugin.php?id=gsignin:index&action=signin&formhash={FORMHASH}" target="formsubmit">
					<div style="color: #FFF;line-height: 40px; height: 40px;">
						签到
					</div>
				</a>
				<div style="font-size: 14px; height: 50px; line-height: 50px; font-size: 13px;">
					<span style="color: #5494EE;line-height: 42px;">
						{eval echo gmdate('m{lang gsignin:month}d{lang gsignin:fuck}',$today+8*3600)}
					</span>
					<span style="color: #5494EE;">
						{lang gsignin:t00008}0{lang gsignin:day}
					</span>
				</div>
				<div style="width: 142px; height: 4px; background: url(source/plugin/gsignin/img/mask.png);position: absolute; top: 92px; right: 0;"></div>
				<div style="clear: both;"></div>
			</div>
			{/if}-->

			<div id="calendar_bg" style="opacity: 0;" onmouseenter="shopHideCalendar()" onmouseleave="hideCalendar()">
			</div>
		</div>
		<div class="bottom">
			<table>

				<thead>
					<tr>
						<th width="87">名次</th>
						<th width="72"></th>
						<th width="335" style="text-align: left;  padding-left: 10px">{lang gsignin:t00009}</th>
						<th>{lang gsignin:t00012}</th><!-- 今日签到 -->
						<!--<th>{lang gsignin:t00010}</th>--> <!-- 连续签到天数 -->
						<th>{lang gsignin:t00011}</th><!-- 累计签到天数 -->
						
						<th>{lang gsignin:t00013}</th><!-- 最后签到时间 -->
						{if $rightCheck == '' && !empty($component) && $component['flag'] == 1}
						<th>{lang gsignin:t00024}</th>
						{/if}
					</tr>
				</thead>

				<tbody>
					{eval $flag=1; $member_is_top=false;}
					{loop $memberBottoms $key $val}
					{eval $val['uid'] == $_G['uid'] ? $member_is_top = true : null; }
					{if $flag==1}
					<tr class="{eval echo $key+$offset+1 <= 3 ? 'star' : ''; }">
						{eval $flag=-1}
					{else}
					<tr class="myalt {eval echo $key+$offset+1 <= 3 ? 'star' : ''; }">
						{eval $flag=1} {/if}
						<td>
							<div class="order">
								{eval echo $key+$offset+1}
							</div>
						</td>
						<td class="headImage" style="text-align: right;">
							<img src="uc_server/avatar.php?uid={$val['uid']}&size=small" width="24" height="24" />
						</td>
						<td class="nickname" style="text-align: left;"><a target="_blank" href="/forum.php?mod=personal&uid={$val['uid']}" style="color:{$val['color']};font-weight:{$val['weight']};">{eval $val['user']=getuserprofilebyuid($val['uid'],'profile')}{eval echo $val['user']['nickname']}</a>
						</td>
						<td>{if $val['lasttime'] >= $today}{lang gsignin:t00014}{else}{lang gsignin:t00023}{/if}</td>
						
						<!--<td>{$val['continuous']}</td>-->
						<td>{$val['total']}</td>
						<td>{eval echo gmdate('Y-m-d',$val['lasttime']+8*3600)}</td>
						{if $rightCheck == '' && !empty($component) && $component['flag'] == 1}
						<td>
							{if $val['difference']
							< 0} <img src="source/plugin/gsignin/img/up.png" title="{lang gsignin:t00025}{eval echo -$val['difference']}{lang gsignin:t00027}" /> {elseif $val['difference'] > 0}
							<img src="source/plugin/gsignin/img/down.png" title="{lang gsignin:t00026}{$val['difference']}{lang gsignin:t00027}" /> {else}
							<img src="source/plugin/gsignin/img/normal.png" title="" /> {/if}
						</td>
						{/if}
					</tr>
					{/loop}

						{eval if ($_G['uid'] && !$member_is_top && $currentPage == 1): }
						<tr>
							<td>
								<div class="order">...</div>
							</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							{eval $member_rank = getRankByUid($_G['uid']); }
							<td>
								<div class="order">{$member_rank}
								</div>
							</td>
							<td class="headImage" style="text-align: right;">
								<img src="uc_server/avatar.php?uid={$member['uid']}&size=small" width="24" height="24" />
							</td>
							<td class="nickname" style="text-align: left;">
								<a target="_blank" href="/forum.php?mod=personal&uid={$_G['uid']}">
									{$_G['member']['nickname']}
								</a>
							</td>
							<td>
								{if $member['lasttime'] >= $today}
								{lang gsignin:t00014}
								{else}
								{lang gsignin:t00023}
								{/if}
							</td>
							<td>{$member['continuous']}</td>
							<td>{$member['total']}</td>
							<td>{eval echo gmdate('Y-m-d', $member['lasttime']+8*3600)}</td>
							{if $rightCheck == '' && !empty($component) && $component['flag'] == 1}
							<td>
								{if $member['difference'] < 0}
								<img src="source/plugin/gsignin/img/up.png" title="{lang gsignin:t00025}{eval echo -$member['difference']}{lang gsignin:t00027}" />
								{elseif $member['difference'] > 0}
								<img src="source/plugin/gsignin/img/down.png" title="{lang gsignin:t00026}{$member['difference']}{lang gsignin:t00027}" /> {else}
								<img src="source/plugin/gsignin/img/normal.png" title="" />
								{/if}
							</td>
							{/if}
						</tr>
						{eval endif; }
						
						<tr>
							<td colspan="8" style="border:none;padding:0; {if count($memberBottoms)<12}height:{eval echo 360 - count($memberBottoms)*30}px{/if}"></td>
						</tr>
						
						{if !empty($paging)}
						<tr>
							<td colspan="8" style="border:none; padding: 0;height: 38px; text-align: right;">
								{$paging}
							</td>
						</tr>
						{/if}
						
				</tbody>

			</table>
			<div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>
	<div class="tab">
		<ul style="width: 24px;text-align: center;float: right;">

			<li {if $rightCheck=='' }class="check" {/if}>
				<a href="plugin.php?id=gsignin:index">{lang gsignin:t00015}</a>
			</li>
			<li {if $rightCheck=='continuous' }class="check" {/if} style="border-top: none; border-bottom: none;">
				<a href="plugin.php?id=gsignin:index&action=continuous">{lang gsignin:t00016}</a>
			</li>
			<li {if $rightCheck=='total' }class="check" {/if}>
				<a href="plugin.php?id=gsignin:index&action=total">{lang gsignin:t00017}</a>
			</li>
		</ul>
	</div>
</div>
<div id="footer">
	<div style="height: 30px;border-right: 1px solid #EEEEEE;text-align: right;line-height: 30px;position: relative;">
		{if !empty($copyname)}
		<a href="{if $copyurl['value']!=''}{$copyurl['value']}{else}javascript:;{/if}" style="color: #CCCCCC;text-decoration: none;">
			{$copyname['value']}
		</a> {else}
		<a href="http://bbs.47jh.com/" style="color: #CCCCCC;text-decoration: none;">
			{lang gsignin:laoguogongzuoshi}&copy;47jh.com
		</a> {/if} &nbsp;&nbsp;
	</div>

</div>
<script type="text/javascript" charset="utf-8">
	{if $rightCheck != ''}
		{if empty($component) || $component['flag'] == 0}
			showDialog('{lang gsignin:t00075}','','',function(){
				window.location.href='plugin.php?id=gsignin:index';
			},1);
		{/if}
	{/if}
	function showUserInfo(key) {
		jq("#user_info"+key).stop()
		jq("#user_head"+key).css("margin-bottom","4px");
		jq("#user_info"+key).animate({
			height : jq("#user_info_content"+key).outerHeight() + "px"
		}, 300);

	}

	function hideUserInfo(key) {
		jq("#user_info"+key).stop();
		jq("#user_head"+key).css("margin-bottom","0px");
		jq("#user_info"+key).animate({
			height : "0px"
		}, 300);
	}
	
	function showCalendar() {
		ajaxget('plugin.php?id=gsignin:index&action=calendar','calendar_bg');
		jq("#calendar_bg").stop();
		jq("#calendar_bg").css('display','');
		jq("#calendar_bg").css('opacity','1');
	}
	function shopHideCalendar() {
		jq("#calendar_bg").stop();
		jq("#calendar_bg").css('opacity','1');
		jq("#calendar_bg").css('display','')
	}
	function hideCalendar() {
		jq("#calendar_bg").stop();
		jq("#calendar_bg").animate({
			opacity:'0'
		}, 600,function() {jq("#calendar_bg").css('display','none');});
	}
</script>
{template common/footer}