{include file="header"}

<!--{if $do=='list'}-->
<table class="tb tb2">
	<tr>
		<th>序号</th>
		<th>规则名</th>
		<th>回复类型</th>
		<th>关键词</th>
		<th>关键词规则</th>
		<th>操作</th>
	</tr>
	{if $list}
	{loop $list $k $l}
	<tr>
		<td>{eval}echo $k*$_G['page']+1;{/eval}</td>
		<td>{$l['name']}</td>
		<td>{:getReplyType($l['type'])}</td>
		<td>{$l['keyword']}</td>
		<td>{:getReplyKeywordType($l['keytype'])}</td>
		<td><a href="{:adminurl('wechat/msg','do=add&rid='.$l['id'])}">修改</a> | <a href="javascript:confirm_delete_simple('{:adminurl('wechat/msg','do=delete&rid='.$l['id'])}');">删除</a></td>
	</tr>
	{/loop}
	{else}
	<tr><td colspan="6">暂无规则</td></tr>
	{/if}
</table>
{$multi}
<!--{/if}-->

<!--添加规则和回复-->
<!--{if $do=='add'}-->
<form action="admin.php" method="post">
<div style="width:500px;">
	<table class="tb tb2">
		<tr>
			<th style="width: 100px;">规则名称</th>
			<td><input type="text" name="name" value="{$item['name']}" /></td>
		</tr>
		<tr>
			<th>回复类型</th>
			<td>
				<select name="type">
					<option value="0" {if $item['type']==0}selected{/if} >文字回复</option>
					<option value="1" {if $item['type']==1}selected{/if} >图文回复</option>
					<option value="2" {if $item['type']==2}selected{/if} >语音回复</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>关键词</th>
			<td>
				<table class="tb">
					<tr><td><button id="addkeytype" type="button" class="btn">新增关键词</button></td></tr>
				</table>
			</td>
		</tr>
		<tr>
			<th>回复内容</th>
			<td id="add_content">
				
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center;">
				<input type="hidden" name="rid" value="{$item['id']}"  />
				<input type="hidden" name="action" value="wechat"  />
				<input type="hidden" name="operation" value="msg"  />
				<input type="hidden" name="do" value="add" />
				<button type="submit" class="btn">提交</button>
			</td>
		</tr>
	</table>
</div>
</form>
<script>
	
	$(function(){
		
		function keytypeitem(_val){
			var con = '<tr>'+
						'<td>'+
							'<select name="keytype[]">'+
								'<option value="1"'+(_val.keytype==1?'selected':'')+'>匹配</option>'+
								'<option value="2"'+(_val.keytype==2?'selected':'')+'>包含</option>'+
							'</select>'+
							'<input type="text" name="keyword[]" value="'+(_val.keyword?_val.keyword:'')+'" />'+
						'</td>'+
					'</tr>';
			return con;
		}
		
		function addkeytype(default_json){
			var  res = '';
			if(default_json){
				var _default = $.parseJSON(default_json);
				for(i=0;i<_default.length;i++){
					res += keytypeitem(_default[i]);
				}
			}else{
				res = keytypeitem('');
			}
			$(res).insertBefore($('#addkeytype').parent().parent());
		}
		
		$('#addkeytype').click(function(){
			addkeytype();
		});
		
		function resourse_content(type,val){
			type = type ? type : 0;
			//文字
			if(type==0){
				
				var v = '<textarea name="reply" rows="10" cols="50">'+(val?val:'')+'</textarea>';
				$('#add_content').html(v);
			}else{
				$.post('{:adminurl("wechat/ajax/get_resourse")}',{'type':type},function(data){
					data = $.parseJSON(data);
					if(data.result){
						var _data = data.data,va = '<select name="reply">';
						$(_data).each(function(i,e){
							va += '<option value="'+_data[i]['id']+'">'+_data[i]['title']+'</option>';
						});
						va += '</select>';
						$('#add_content').html(va);
					}else{
						$('#add_content').html('暂无'+(type==1?'图文':'语音')+'素材（<a href="{:adminurl("wechat/resourse")}">添加素材</a>）');
					}
				});
			}
		}
		
		//初始化
		resourse_content({$item[type]?$item[type]:0},'{:delete_blank($item[reply])}');
		addkeytype('{$item["keyword"]}');
		
		$('select[name="type"]').change(function(){
			var _type = $(this).val();
			resourse_content(_type);
		});
		
		
	})
</script>
<!--{/if}-->

<!--{if $do=='special'}-->

<form id="form" action="" method="post">
	<table  class="tb tb2" style="width: 500px;">
		<tr>
			<th>首次关注自动回复</th>
			<td>
				<textarea style="padding: 10px;" name="welcome" rows="10" cols="45">{$_G['wechat']['welcome']}</textarea>
			</td>
		</tr>
		<tr style="text-align: center;">
			<td colspan="2">
				<input type="hidden" name="action" value="wechat" />
				<input type="hidden" name="operation" value="msg" />
				<input type="hidden" name="do" value="special" />
				<input class="btn" type="button" id="btn" value="保存"/>
			</td>
		</tr>
	</table>
</form>
<script>
	ajaxSubmit('btn','form','admin.php',function(data){
		alert(data.msg);
	});
</script>
<!--{/if}-->

{include file="footer"}