{include file="header"}

{if $do == 'list'}

<table class="tb tb2">
	<tr>
		<th>序号</th>
		<th>二维码</th>
		<th>二维码类型</th>
		<th>有效时间</th>
		<th>功能</th>
		<th>参数</th>
		<th>操作</th>
	</tr>
	{loop $list $k $q}
	<tr>
		<td>{eval}echo ($_G['page']*$k)-1;{/eval}</td>
		<td><a target="_blank" href="/qrcode.php?data={:urlencode($q['url'])}"><img src="/qrcode.php?data={:urlencode($q['url'])}" width="100" /></a></td>
		<td>{$q['type']?'永久二维码':'临时二维码'}</td>
		<td>{$q['type']?'永不过期':(($q['expire_seconds']/(3600)).'小时')}</td>
		<td>{$q['func']==0?'发送关键词':($q['func']==1?'发送图片':'发送地址')}</td>
		<td>{$q['param']}</td>
		<td><a href="javascript:confirm_delete_simple('{:adminurl('wechat/qrcode/delete',array('id'=>$q['id']))}');">删除</a></td>
	</tr>
	{/loop}
</table>

{/if}

{if $do == 'add'}

<form action="" id="form">
<table class="tb tb2" style="width: 500px;">
	<tr>
		<td>二维码类型</td>
		<td>
			<select name="type">
				<option value="-1">请选择二维码类型</option>
				<option value="0">临时二维码</option>
				<option value="1">永久二维码</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>功能</td>
		<td>
			<select name="func">
				<option value="-1">请选择功能</option>
				<option value="0">发送关键词</option>
				<!--<option value="1">发送图片</option>
				<option value="2">发送地址</option>-->
			</select>
		</td>
	</tr>
	<tr id="param" style="display: none;">
		<th>关键词</th>
		<td></td>
	</tr>
	<tr style="text-align: center;">
		<td colspan="2">
			<input type="hidden" name="action" value="wechat" />
			<input type="hidden" name="operation" value="qrcode" />
			<input type="hidden" name="do" value="add" />
			<button class="btn" type="button" id="btn">新建</button>
		</td>
	</tr>
</table>
</form>

<script>
	$(function(){
		
		$('select[name="func"]').change(function(){
			var _v = $(this).val() , param = $('#param');
			if(_v==0){
				param.find('th').html('关键词');
				param.find('td').html('<input type="text" name="param" />');
				param.show(100);
			}
			else{
				param.hide(100).find('td').html('');
			}
		});
		
		ajaxSubmit('btn','form','admin.php',function(data){
			alert(data.msg);
			location.href='{:adminurl("wechat/qrcode")}';
		});
		
	});
</script>

{/if}

{include file="footer"}