{if $ajax==0}{include file="header"}{/if}

{if $do=='list'}
<table class="tb tb2">
	{if $type == 'image'}
		<tr>
			<th width="30">序号</th>
			<th width="80">素材类型</th><!--单图文还是多图文-->
			<th width="300">缩略图</th>
			<th>标题</th>
			<th>描述</th>
			<th>操作</th>
		</tr>
		{if $list}
			{loop $list $lk $l}
			<tr>
				<td>{eval}echo $lk*$_G[page]+1{/eval}</td>
				<td>{if $l['child']}多图文{else}单图文{/if}</td>
				<td><img src="{$l['thumb']}" height="50"></td>
				<td>{$l['title']}</td>
				<td>{:cutstr($l['description'],30)}</td>
				<td><a href="{:adminurl('wechat/resourse/add',array('type'=>$type,'parentid'=>$l['id']))}">添加子图文</a> | <a href="{:adminurl('wechat/resourse/add',array('type'=>$type,'id'=>$l['id']))}">修改</a> | 删除</td>
			</tr>
				{if $l['child']}
				{loop $l['child'] $lk $lc}
				<tr style="background: #91C8E2;">
					<td>&nbsp;</td>
					<td>——</td>
					<td><img src="{$lc['thumb']}" height="50"></td>
					<td>{$lc['title']}</td>
					<td>{:cutstr($lc['description'],30)}</td>
					<td><a href="{:adminurl('wechat/resourse/add',array('type'=>$type,'id'=>$lc['id']))}">修改</a> | 删除</td>
				</tr>
				{/loop}
				{/if}
			{/loop}
		{else}
			<tr><td colspan="6" style="text-align: center;">暂无素材</td></tr>
		{/if}
	{/if}
	
	{if $type == 'music'}
		
		
		
	{/if}
	
</table>
{$multi}
{/if}


{if $do=='add'}
<script src="/static/js/vivo/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="/static/js/vivo/qiniu-js-sdk/src/qiniu.min.js"></script>
<script src="static/js/vivo/ueditor/ueditor.config.js"></script>
<script src="static/js/vivo/ueditor/ueditor.all.min.js"></script>
<script src="static/js/vivo/ueditor/lang/zh-cn/zh-cn.js"></script>

<div style="width: 60%;float: left;">
	<form action="" method="post">
		<table class="tb tb2" >
			<tr>
				<th style="width: 100px;">标题</th>
				<td><input type="text" name="title" value="{$item['title']}" /></td>
			</tr>
			<tr>
				<th>简述</th>
				<td><textarea name="description" rows="8" cols="40">{$item['description']}</textarea></td>
			</tr>
			<tr>
				<th>封面图</th>
				<td>
					<div id="form_image_url_container">
			          <div>
			            <img id="form_image" src="{$item['thumb']}" alt="预览图片" style="max-width: 160px; max-height: 160px; height: auto; {if !$item['thumb']}display: none;{/if}" />
			          </div>
			          <div>
			            <input id="form_image_url" type="hidden" name="thumb" value="{$item['thumb']}" style="width: 300px;" />
			            <button class="btn" type="button" id="qiniuImageUpload">上传图片</button>
			          </div>
			        </div>
				</td>
			</tr>
			<tr>
				<th>图文内容</th>
				<td>
					<script type="text/javascript" name="content" id="content" style="width:98%;height:300px;">
						{:htmlspecialchars_decode($item['content'])}
					</script>
				</td>
			</tr>
			<tr>
				<th>跳转地址</th>
				<td>
					<input type="text" name="url" value="{$item['url']}" style="width: 60%;" />
					&nbsp;不填写本地址默认显示图文内容
				</td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td>
					<input type="hidden" name="formhash" value="{:formhash()}" />
					<input type="hidden" name="id" value="{$item['id']}" />
					<input type="hidden" name="action" value="wechat" />
					<input type="hidden" name="operation" value="resourse" />
					<input type="hidden" name="do" value="add" />
					<input type="hidden" name="type" value="{$type}" />
					<input type="hidden" name="parentid" value="{eval}echo $item['parentid']?$item['parentid']:($parentid?$parentid:0);{/eval}" />
					<button class="btn" type="submit">提交</button>
				</td>
			</tr>
		</table>
	</form>
</div>
<script>
	var loading = null;
	var bgUploader = Qiniu.uploader({
	    runtimes: 'html5,flash,html4',    //上传模式,依次退化
	    browse_button: 'qiniuImageUpload',       //上传选择的点选按钮ID，**必需**
	    uptoken_url: 'forum.php?mod=ajax&action=getQiNiuToken',
	    domain: 'http://7u2qq8.com1.z0.glb.clouddn.com/',
	    //container: 'form_image_url_container',           //上传区域DOM ID，默认是browser_button的父元素，
	    max_file_size: '2mb',           //最大文件体积限制
	    flash_swf_url: '/static/js/vivo/plupload-2.1.2/js/Moxie.swf',  //引入flash,相对路径
	    max_retries: 3,                   //上传失败最大重试次数
	    dragdrop: true,                   //开启可拖曳上传
	    drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
	    chunk_size: '4mb',                //分块上传时，每片的体积
	    auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
	    init: {
	        'FileUploaded': function(up, file, info) {
	        	var domain = up.getOption('domain');
	        	var res = jQuery.parseJSON(info);
	        	var sourceLink = domain + res.key;
	        	jQuery("#form_image").attr("src", sourceLink).fadeIn();
            	jQuery("#form_image_url").val(sourceLink);
            	layer.close(loading);
	        },
	        'Error': function(up, err, errTip) {
	          alert(errTip);
	        },
          'BeforeUpload': function(up, file)
          {
            // create progress
             loading = layer.load('图片上传中...');
          },
	        'UploadComplete': function() {
	               //队列文件处理完毕后,处理相关的事情
	        },
          'UploadProgress': function(up, file)
          {
          	
          },
	        'Key': function(up, file) {
	            // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
	            // 该配置必须要在 unique_names: false , save_key: false 时才生效
              var date = new Date();
              var key = "banner/pid"+jQuery("#form_tid").val()+"_"+date.getFullYear()+(date.getMonth()+1)+date.getDate()+date.getTime();
              // do something with key here
              return key;
	        }
	    }
	});
	
	var ue = UE.getEditor('content',{
		  toolbars:[[
		  		'source',
	            'insertimage','|','undo', 'redo', '|',
	            'fontsize', 'indent', '|',
	            'horizontal', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'blockquote', 'pasteplain', '|', 
			    'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', '|',
	            'justifyleft', 'justifycenter', 'justifyright', '|', 
	            'preview', 'drafts'
	        ]]
			,saveInterval: 30000
			,elementPathEnabled : false
	});
</script>
	
{/if}

{if $ajax==0}{include file="footer"}{/if}