{include file="header"}

{if $do=='list'}
	<table class="tb tb2" style="width: 80%;">
		<tr>
			<th style="width: 50px;">序号</th>
			<th style="width: 120px;">头像</th>
			<th>昵称</th>
			<th>性别</th>
			<th>地址</th>
			<th>关联用户</th>
			<th>获取资料日期</th>
			<th>操作</th>
		</tr>
		{loop $list $k $v}
		<tr>
			<td>{eval}echo ($k+1)*$_G['page']{/eval}</td>
			<td><img src="{$v['headimgurl']}" width="50" height="50"></td>
			<td>{$v['nickname']}</td>
			<td>{:getSexName($v['sex'])}</td>
			<td>{$v['country']}-{$v['province']}-{$v['city']}</td>
			<td>
				{eval}
					if($v['uid']){
						echo '<a target="_blank" href="/forum.php?mod=personal&uid='.$v['uid'].'">'.getnicknamebyuid($v['uid']).'</a>（<a href="'.adminurl('wechat/douser',array('do'=>'unbinduser','id'=>$v['id'],'returnpage'=>$_G['page'])).'">解除绑定</a>）';
					}else{
						echo '未绑定用户';
					}
				{/eval}
			</td>
			<td>{:date('Y-m-d H:i',$v['addtime'])}</td>
			<td><a href="javascript:showajax('wechat','userlist','detail','wechatuid={$v['id']}')">查看</a> | <a href="javascript:confirm_delete_simple('{:adminurl('wechat/userlist/delete','wechatuid='.$v['id'])}');">删除</a></td>
		</tr>
		{/loop}
	</table>
	{$multipage}
{/if}

{if $do=='detail'}
<div style="padding: 10px;">
	<table class="tb tb2">
		<tr>
			<th>头像</th>
			<td><img src="{$user['headimgurl']}" width="100" height="100"></td>
		</tr>
		<tr>
			<th>用户的昵称</th>
			<td>{$user['nickname']}</td>
		</tr>
		<tr>
			<th>性别</th>
			<td>{:getSexName($user['sex'])}</td>
		</tr>
		<tr>
			<th>地址</th>
			<td>{$user['country']}-{$user['province']}-{$user['city']}</td>
		</tr>
		<tr>
			<th>openid</th>
			<td>{$user['openid']}</td>
		</tr>
		<tr>
			<th>unionid</th>
			<td>{$user['unionid']}</td>
		</tr>
	</table>
</div>
{/if}

{include file="footer"}