{include file="header"}
<form action="" method="post" class="form-horizontal tab-content" enctype="multipart/form-data">
<input type="hidden" name="id" value="{$wechat['weid']}" />
	<table class="tb tb2" style="width: 50%;">
		<tr>
			<td style="width: 30%;"><label for="">是否开启微信登录</label></td>
			<td style="width: 70%;">
				<label><input type="radio" name="open" value="1" {if $wechatconfig['open']==1}checked{/if} />&nbsp;是</label>
				&nbsp;&nbsp;
				<label><input type="radio" name="open" value="0" {if $wechatconfig['open']==0}checked{/if}/>&nbsp;否</label>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<input name="submit" type="submit" value="提交" class="btn btn-primary span2" />
				<input type="hidden" name="formhash" value="{:formhash()}" />
			</td>
		</tr>
	</table>
</form>
{include file="footer"}