{include file="header"}

<table class="tb tb2">
	<tr>
		<th>序号</th>
		<th>公众号名称</th>
		<th>公众号类型</th>
		<th>接口地址</th>
		<th>接口TOKEN</th>
		<th>状态</th>
		<th>操作</th>
	</tr>
	{loop $list $k $v}
	<tr>
		<td>{$i+1}</td>
		<td>{$v['name']}</td>
		<td>{:getLevelName($v['level'])}</td>
		<td>{$_G['config']['wechat_url']}wechat.php?mod=msg&hash={$v['hash']}</td>
		<td>{$v['token']}</td>
		<td>{if $_G['wechat']['weid']==$v['weid']}默认公众号{/if}</td>
		<td>{if $_G['wechat']['weid']!=$v['weid']}<a href="{:adminurl('wechatbase/setDefault',array('id'=>$v['weid']))}">设置默认</a> | {/if}<a href="{:adminurl('wechatbase/post',array('id'=>$v['weid']))}">编辑</a> | 删除</td>
	</tr>
	{/loop}
</table>

{include file="footer"}