{include file="header"}
<form action="" method="post" class="form-horizontal tab-content" enctype="multipart/form-data">
<input type="hidden" name="id" value="{$wechat['weid']}" />
	<table class="tb tb2">
		<tr>
			<th><label for="">公众号名称</label></th>
			<td>
				<input type="text" name="name" class="span6" value="{$wechat['name']}" autocomplete="off">
				<!--label for="adv-setting" class="checkbox inline">
					<input type="checkbox" id="adv-setting" hideclass="adv-setting"{if $wechat['key'] && $wechat['secret']} checked='true'{/if}> 服务号
				</label-->
				<span class="help-block">您可以给此公众号起一个名字, 方便下次修改和查看.</span>
			</td>
		</tr>
		<tr>
			<th><label for="">公众号接口权限</label></th>
			<td>
				<label for="status_1" class="radio inline"><input autocomplete="off" type="radio" name="level" id="status_1" value="0" {if empty($wechat['level'])} checked{/if} /> 普通订阅号</label>
				<label for="status_2" class="radio inline"><input autocomplete="off" type="radio" name="level" id="status_2" value="1" {if $wechat['level'] == 1} checked{/if} /> 认证订阅号/普通服务号</label>
				<label for="status_3" class="radio inline"><input autocomplete="off" type="radio" name="level" id="status_3" value="2" {if $wechat['level'] == 2} checked{/if} /> 认证服务号</label>
			</td>
		</tr>
		{if !empty($id)}
		<tr>
			<th style="color:red">接口地址</th>
			<td>
				<input style="width: 300px;" type="text" class="span6" value="{$_G['config']['wechat_url']}wechat.php?mod=msg&hash={$wechat['hash']}" readonly="readonly" autocomplete="off"/>
				<input type="button" class="copybtn" id="copyval" data-clipboard-text="{$_G['siteurl']}wechat.php?mod=msg&hash={$wechat['hash']}" value="复制" />
				<div class="help-block">设置“微信公众平台接口”配置信息中的接口地址</div>
			</td>
		</tr>
		<tr>
			<th style="color:red">微信Token</th>
			<td>
				<input style="width: 300px;" type="text" name="token" class="span6" value="{$wechat['token']}" readonly="readonly" /><input type="button" class="copybtn" id="copyval" data-clipboard-text="{$wechat['token']}" value="复制" /><a href="javascript:;" onclick="tokenGen();">生成新的</a>
				<div class="help-block">与微信公众平台接入设置值一致，必须为英文或者数字，长度为3到32个字符. 请妥善保管, Token 泄露将可能被窃取或篡改微信平台的操作数据.</div>
			</td>
		</tr>
		<tr>
			<th style="color:red">EncodingAESKey</th>
			<td>
				<input style="width: 300px;" type="text" name="EncodingAESKey" class="span6" value="{$wechat['EncodingAESKey']}" readonly="readonly" /><input type="button" class="copybtn" id="copyval" data-clipboard-text="{$wechat['EncodingAESKey']}" value="复制" /><a href="javascript:;" onclick="EncodingAESKeyGen();">生成新的</a>
				<div class="help-block">与公众平台接入设置值一致，必须为英文或者数字，长度为43个字符. 请妥善保管, EncodingAESKey 泄露将可能被窃取或篡改平台的操作数据.</div>
			</td>
		</tr>
		{/if}
		<tr class="">
			<th>公众号AppId</th>
			<td>
				<input style="width: 250px;" type="text" name="key" class="span6" value="{$wechat['key']}" autocomplete="off"/>
				<div class="help-block">请填写微信公众平台后台的AppId</div>
			</td>
		</tr>
		<tr class="">
			<th>公众号AppSecret</th>
			<td>
				<input style="width: 250px;" type="text" name="secret" class="span6" value="{$wechat['secret']}" autocomplete="off"/>
				<div class="help-block">请填写微信公众平台后台的AppSecret, 只有填写这两项才能管理自定义菜单</div>
			</td>
		</tr>
		<tr>
			<th><label for="">公众帐号</label></th>
			<td>
				<input type="text" name="account" class="span6" value="{$wechat['account']}" autocomplete="off" />
				<span class="help-block">您的微信帐号或是易信帐号，本平台支持管理多个公众号</span>
			</td>
		</tr>
		
		<tr>
			<th><label for="">公众帐号引导关注</label></th>
			<td>
				<input type="text" name="accountlink" class="span6" value="{$wechat['accountlink']}" autocomplete="off" />
				<span class="help-block">您的微信帐号或是易信帐号，引导关注页面，直接点击到引导关注页面</span>
			</td>
		</tr>
		
		<tr>
			<th><label for="">原始帐号</label></th>
			<td>
				<input type="text" name="original" class="span6" value="{$wechat['original']}" autocomplete="off" />
				<span class="help-block">微信公众帐号的原ID串，<a href="index.php?act=help&amp;do=wx_uid" target="blank">怎么查看微信的原始帐号？</a></span>
			</td>
		</tr>
		<tr>
			<th></th>
			<td>
				<input name="submit" type="submit" value="提交" class="btn btn-primary span2" />
				<input type="hidden" name="formhash" value="{:formhash()}" />
			</td>
		</tr>
	</table>
</form>
<script>
	function tokenGen() {
		var letters = 'abcdefghijklmnopqrstuvwxyz0123456789';
		var token = '';
		for(var i = 0; i < 32; i++) {
			var j = parseInt(Math.random() * (31 + 1));
			token += letters[j];
		}
		$(':text[name="wetoken"]').val(token).parent().find('.copybtn').attr('data-clipboard-text',token);
	}
	function EncodingAESKeyGen() {
		var letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
		var token = '';
		for(var i = 0; i < 43; i++) {
			var j = parseInt(Math.random() * 61 + 1);
			token += letters[j];
		}
		$(':text[name="EncodingAESKey"]').val(token).parent().find('.copybtn').attr('data-clipboard-text',token);
	}
</script>
{include file="footer"}