{include file="header"}
<style>
	.file {
	    position: relative;
	    display: inline-block;
	    background: #D0EEFF;
	    border: 1px solid #99D3F5;
	    border-radius: 4px;
	    padding: 4px 12px;
	    /*overflow: hidden;*/
	    color: #1E88C7;
	    text-decoration: none;
	    text-indent: 0;
	    line-height: 20px;
	}
	.file_selected{
		 background: #008C00;
		 color: #fff;
	}
	.file input {
	    position: absolute;
	    font-size: 100px;
	    right: 0;
	    top: 0;
	    opacity: 0;
	}
	.file:hover {
	    background: #AADFFD;
	    border-color: #78C3F3;
	    color: #004974;
	    text-decoration: none;
	}
</style>
<form action="" method="post" class="form-horizontal tab-content" enctype="multipart/form-data">
<input type="hidden" name="id" value="{$wechat['weid']}" />
	<table class="tb tb2" style="width: 700px;">
		<tr>
			<th><label for="">受理商ID：</label></th>
			<td>
				<input style="width: 250px;" type="text" name="MCHID" class="span6" value="{$item['MCHID']}" autocomplete="off">
				<span class="help-block">即：MCHID</span>
			</td>
		</tr>
		<tr class="">
			<th>支付密钥Key：</th>
			<td>
				<input style="width: 250px;" type="text" name="paykey" class="span6" value="{$item['paykey']}" autocomplete="off"/>
			</td>
		</tr>
		<tr class="">
			<th>唯一标识APPID：</th>
			<td>
				<input style="width: 250px;" type="text" name="APPID" class="span6" value="{$item['APPID']?$item['APPID']:$_G['wechat']['key']}" autocomplete="off"/>
				<span class="help-block">默认使用“默认公众号”APPID</span>
			</td>
		</tr>
		<tr>
			<th><label for="">唯一标识AppSecret：</label></th>
			<td>
				<input style="width: 250px;" type="text" name="APPSECRET" class="span6" value="{$item['APPSECRET']?$item['APPSECRET']:$_G['wechat']['secret']}" autocomplete="off" />
				<span class="help-block">默认使用“默认公众号”AppSecret</span>
			</td>
		</tr>
		<tr>
			<th><label for="">超时时间：</label></th>
			<td>
				<input type="text" name="CURL_TIMEOUT" class="span6" value="{$item['CURL_TIMEOUT']?$item['CURL_TIMEOUT']:30}" autocomplete="off" />
			</td>
		</tr>
		<tr>
			<th><label for="">证书CERT：</label></th>
			<td>
				<input type="text" style="width: 250px;" name="SSLCERT_PATH" value="{:str_replace(DISCUZ_ROOT,'',$item['SSLCERT_PATH'])}" />
				<a href="javascript:;" class="file"><span>选择文件</span>
					<input type="file" id="SSLCERT_PATH" name="SSLCERT_PATH" class="span6"  onchange="$(this).parent().addClass('file_selected').find('span').html('已选择');" />
				</a>
			</td>
		</tr>
		<tr>
			<th><label for="">证书KEY：</label></th>
			<td>
				<input type="text" style="width: 250px;" name="SSLKEY_PATH" value="{:str_replace(DISCUZ_ROOT,'',$item['SSLKEY_PATH'])}" />
				<a href="javascript:;" class="file"><span>选择文件</span>
					<input type="file" class="file" id="SSLKEY_PATH" name="SSLKEY_PATH" class="span6" onchange="$(this).parent().addClass('file_selected').find('span').html('已选择');" />
				</a>
			</td>
		</tr>
		<tr>
			<th><label for="">支付授权目录</label></th>
			<td>
				<input readonly="readonly" style="width: 250px;" type="text" name="" class="span12" value="{$_G['config']['wechatpay']['PAY_DIR']}" autocomplete="off" /><input type="button" id="copyval" data-clipboard-text="{$_G['config']['wechatpay']['PAY_DIR']}" value="复制" />
			</td>
		</tr>
		<tr>
			<th><label for="">告警通知URL</label></th>
			<td>
				<input readonly="readonly" style="width: 250px;" type="text" name="" class="span12" value="{$_G['config']['wechatpay']['NOTIFY_URL']}" autocomplete="off" /><input type="button" id="copyval" data-clipboard-text="{$_G['config']['wechatpay']['NOTIFY_URL']}" value="复制" />
			</td>
		</tr>
		<tr>
			<th></th>
			<td>
				<input name="submit" type="submit" value="提交" class="btn btn-primary span2" />
				<input type="hidden" name="formhash" value="{:formhash()}" />
			</td>
		</tr>
	</table>
</form>
<style>
	.uploadbtn{
		border-radius: 0px;
	}
</style>
{include file="footer"}