{template common/header_ajax}
<table id="overlay_container" class="overlay_container">
	<tr>
		<td>
			<div class="toast">{$message}</div>
		</td>
	</tr>
</table>

<script type="text/javascript" reload="1">
	setTimeout(function(){
		jq("#overlay_container").css("display","none");
		window.location.href='{$url}';
	},1400);
</script>
{template common/footer_ajax}