<div class="plc cl col-xs-12">
  <a class="avatar" href="javascript:;">
    <img class="img-circle" src="">
  </a>
  <div class="display pi" href="">
    <ul class="authi">
      <li class="grey">
        <b class="pull-left"><a href="javascript:;" class="blue"></a>
        </b>
        <span class="pull-right postTime"></span>
      </li>
    </ul>
    <div class="message"></div>
    
    <div class="postOpt">
      <a class="saygood" data-content="" data-type="" href="javascript:;">
        <img src="" alt="赞" />
        <span class="number"></span>
      </a>
      <a class="reply" data-content="" href="">
        <img src="/static/image/vivo/ico_comment_1.gif" alt="" />
        <span>回复</span>
      </a>
    </div>
    
  </div>
</div>
