@CHARSET "UTF-8";
.shareShare-box{
	width: 300px;
	height: 105px;
	border-radius: 10px;
	color: #999;
}

.shareShare-title{
	
}

.shareShare-title img{
	margin-left: 132px;
	margin-bottom: -3px;
}

.shareShare-body{
	width: 300px;
	height: 100px;
	border-radius: 10px;
	border: 1px solid #EDEDED;
	background: #fff;
	-webkit-box-shadow: #666 0px 0px 10px;
	-moz-box-shadow: #666 0px 0px 10px;
	box-shadow: #666 0px 0px 10px;
}

.shareShare-body h4{
	height: 40px;
	line-height: 30px;
	padding: 5px;
	padding-left: 15px;
	font-size: 18px;
	font-weight: 300;
	
}

.shareShare-body .shareShare-content a{
	display: inline-block;
	padding: 0 10px 0px 5px;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #EDEDED;
	cursor: pointer;
}

.shareShare-body .shareShare-content a span span{
	display: inline-block;
}

.shareShare-body .shareShare-content a:first-child{
	margin-left: 10px;
}
.shareShare-body .shareShare-content a:last-child{
	border-right:none;
}

/* 微信二维码 */
.weixin_qcode_mask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.weixin_qcode_box{
	width: 400px;
	height: 445px;
	margin: 100px auto;
	background: #fff;
	border-radius: 10px;
	-webkit-box-shadow: #666 0px 0px 10px;
	-moz-box-shadow: #666 0px 0px 10px;
	box-shadow: #666 0px 0px 10px;
	position: relative;
	
}

.weixin_qcode_box h5{
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	font-size: 18px;
	text-align: center;
}

.weixin_qcode_box img.qrcode{
	border-radius: 10px;
	width: 100%;
}

.weixin_qcode_box img.logo{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #666 0px 0px 10px;
	-moz-box-shadow: #666 0px 0px 10px;
	box-shadow: #666 0px 0px 10px;
	position: absolute;
	width: 120px;
	height: 120px;
	top:170px;
	left: 145px;

}

.weixin_qcode_box .weixin_qrcode_close_btn{
	position: absolute;
	top:10px;
	right: 10px;
	font-size: 18px;
	cursor: pointer;
}

