<link rel="stylesheet" type="text/css" href="/static/js/vivo/shareShare/shareShare.css" />
<div class="shareShare-box">
	<!--指向标-->
	<div class="shareShare-title">
		<img src="/static/js/vivo/shareShare/pointor.png" />
	</div>
	<div class="shareShare-body">
		<h4>分享到：</h4>
		<div class="shareShare-content">
			<a id="button_tsina"><img src="/static/js/vivo/shareShare/weibo.png" height="25" /> &nbsp;微博</a>
			<a id="button_weixin"><img src="/static/js/vivo/shareShare/weixin.png" height="25" />&nbsp; 微信</a>
			<a id="button_qzone"><img src="/static/js/vivo/shareShare/qqzone.png" height="25" />&nbsp; QQ空间</a>
		</div>
	</div>
</div>
<div class="weixin_qcode_mask" style="display: none;">
	<div class="weixin_qcode_box">
		<h5>请扫描</h5>
		<img class="qrcode" src="/static/js/vivo/shareShare/qrcod.jpg"  />
		<img class="logo" src="/static/image/vivo/logo_yellow.jpg" />
		<div class="weixin_qrcode_close_btn"><i id="cancle-btn" class="fa fa-times-circle"></i></div>
	</div>
</div>

