<div class="share-preview-bg"></div>
<div class="share-preview">
	<div class="top-header">
		<ul class="top-btn-list">
			<li class="btn-item prev-template disable" title="上一个模板"><i class="fa fa-chevron-left"></i></li>
			<li class="btn-item next-template" title="下一个模板"><i class="fa fa-chevron-right"></i></li>
			<li class="btn-item close-window" title="关闭"><i class="fa fa-remove"></i></li>
		</ul>
		<h4 class="text">预览框</h4>
	</div>
	<div class="preview">
		<iframe name="preview" id="preview-iframe" scrolling="auto"></iframe>
	</div>
</div>