@CHARSET "UTF-8";
.share-preview-container{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	background-color:#fff;
	z-index:1000;
}
.share-preview-container>.share-preview-bg{
	position:absolute;
	top:0px;
	left:0px;
	background-color:#000;
	opacity:0.5;
}
.share-preview-container>.share-preview{
	position:absolute;
	top:0px;
	left:0px;
	border:1px solid #DDD;
	background-color:#fff;
}
/* 标题栏  */
.share-preview-container>.share-preview>.top-header{
	padding:4px 10px;
	background-color:#f2f2f5;
	border-bottom:1px solid #DDD;
}
.share-preview-container>.share-preview>.top-header>.text{
	line-height:30px;
	font-size:16px;
}
.share-preview-container>.share-preview>.top-header>.top-btn-list{
	text-align:right;
	float:right;
}
.share-preview-container>.share-preview>.top-header>.top-btn-list>.btn-item{
	font-size:20px;
	font-weight:200;
	padding:3px;
	color:#999;
	display:inline-block;
	line-height:20px;
	border:1px solid #999;
	border-radius:2px;
	width:20px;
	text-align:center;
}
.share-preview-container>.share-preview>.top-header>.top-btn-list>.btn-item.disable{
	border:1px solid #ccc;
	color:#ccc;
}
.share-preview-container>.share-preview>.top-header>.top-btn-list>.btn-item:hover{
	color:#333;
	border:1px solid #333;
	cursor:pointer;
}
.share-preview-container>.share-preview>.top-header>.top-btn-list>.btn-item.disable:hover{
	color:#ccc;
	border:1px solid #ccc;
	cursor:auto;
}
.share-preview-container>.share-preview>.preview{
	padding:20px;
}
#preview-iframe{
	
}