body{
	background-color:#fff;
}
/* 分享列表 */
.share-list{
	background-color:#fff;
	border-radius:8px;
}
.share-list>.share-list-item{
	padding:15px;
	margin:0px 0px 4px 0px;
	border-bottom:1px solid #EDEDED;
}
.share-list>.share-list-item:last-child{
	border-bottom:none;
}
.share-list>.share-list-item>.share-header{
	margin-bottom:15px;
}
.share-list>.share-list-item>.share-header>.user-img-container{
	float:left;
	width:50px;
	height:50px;
	overflow:hidden;
	border-radius:4px;
}
.share-list>.share-list-item>.share-header>.user-img-container>.user-img{
	width:50px;
	height:50px;
}
.share-list>.share-list-item>.share-header>.share-time{
	float:right;
	color:#999;
}
.share-list>.share-list-item>.share-header>.user-info-container{
	margin:0px 0px 0px 65px;
}
.share-list>.share-list-item>.share-header>.user-info-container>.user-name{
	font-size:16px;
	line-height:30px;
}
.share-list>.share-list-item>.share-header>.user-info-container>.share-title{
	color:#737373;
	line-height:20px;
	min-height:20px;
}
.share-list>.share-list-item>.share-content{
	
}
.share-list>.share-list-item>.share-content>div{
	padding:0px 0px 10px 0px;
}
.share-list>.share-list-item>.share-content img{
	padding:0px 0px 10px 0px;
	max-width:50%;
}
/* 点赞/评论/分享按钮 */
.share-list>.share-list-item>.btn-list{
	margin:10px 0px 0px 0px;
}
.share-list>.share-list-item>.btn-list>.btn-list-item{
	display:inline-block;
	color:#388cba;
	font-size:12px;
}
.share-list>.share-list-item>.btn-list>.btn-list-item>.icon{
	margin:0px 5px 0px 0px;
}
.share-list>.share-list-item>.btn-list>.btn-list-item:hover{
	color:#f17f2b;
	text-decoration:underline;
	cursor:pointer;
}
.share-list>.share-list-item>.btn-list>.separator{
	margin:0px 10px;
	color:#388cba;
}
.share-list>.share-list-item>.from-source{
	float:right;
	color:#388cba;
	font-size:12px;
	margin:10px 0px 0px 0px;
}