<div class="dialog_header">
  <div class="dialog_buttons">
    <a class="closeButton" href="javascript:;">x</a>
  </div>
</div>
<div class="dialog_body">
  <form action="javascript:;" method="post" id="reportDialogForm">
    <div class="form_group">
      <p class="dialog-title">我要举报的信息：</p>    	
    </div>
    <div class="form_group">
      <div class="quote">
        <div class="share-item">
          <div class="user-img-container">
            <img src="" class="user-img" alt="" />
          </div>
          <div class="user-name-container">
            <h4 class="user-name"></h4>
          </div>
          <div class="share-title-container">
            <p class="share-title"></p>
          </div>
          <div class="img-list-container">
            <ul class="img-list"></ul>
          </div>
          <div class="share-info">
            <span class="share-time"></span>
            <span class="from-source"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="form_group inputGroup">
      <input id="report_reason" class="form_control" type="text" placeholder="请详细描述被举报人的恶意行为！" name="" autocomplete="off" />
    </div>
    <div class="form_group buttonGroup">
      <input type="submit" class="submitButton" id="reportDialogActionBtn" value="提交" />
    </div>
  </form>
</div>