/**
 * style for report dialog
 * @author: xiaowen
 */

#reportDialog{
  position: fixed;
  z-index: 901;
  width: 516px;
  min-height: 250px;
  left: 50%;
  margin-left: -258px;
  top: 50%;
  margin-top: -200px;
  background-color: #FFF;
  border: solid 1px #b1b1b1;
  border-radius: 10px;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
  box-shadow: 0 0 2px rgb(229,229,229) inset, -1px 4px 5px rgba(4,0,0,0.47);
  z-index:902;
}

#reportDialog .dialog_header {
  position: absolute;
  width: 100%;
}

#reportDialog .dialog_buttons {
  float: right;
  padding-top: 10px;
  padding-right: 6px;
}

#reportDialog .closeButton {
  display: inline-block;
  width: 34px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  text-indent: -9999pt;
  background: url(../../../../images/community/pc/ico_close.gif) no-repeat center center #cfcfcf;
  border-radius: 17px;
}

#reportDialog .dialog_body {
  padding: 28px 27px 0;
}

#reportDialog .dialog-title {
  font-size: 18px;
  font-weight: 700;
  color: #272727;
  margin-bottom: 20px;
}

#reportDialog .quote {
  border: solid 1px #d2d2d2;
  border-radius: 10px;
  padding: 10px 8px;
  margin-bottom: 10px;
}

#reportDialog .quote .share-item {
  position: relative;
  min-height: 60px;
}

#reportDialog .share-item .user-name-container,
#reportDialog .share-item .share-title-container,
#reportDialog .share-item .img-list-container,
#reportDialog .share-item .share-info {
  padding-left: 73px;
}

#reportDialog .user-img-container {
  position: absolute;
  width: 55px;
  height: 55px;
}

#reportDialog .user-img-container img {
  border-radius: 27px;
}

#reportDialog .user-name-container {
  margin-bottom: 7px;
}

#reportDialog .user-name-container .user-name {
  color: #222;
  font-size: 18px;
  font-weight: 700;
}

#reportDialog .share-title-container {
  color: #222;
  font-size: 15px;
  margin-bottom: 12px;
}

#reportDialog .dialog_body .user-img {
  width: 55px;
  height: 55px;
}

#reportDialog .img-list-container {
  margin-bottom: 12px;
}

#reportDialog .img-list-container .img-list {
  clear: both;
  overflow: hidden;
  height: 70px;
}

#reportDialog .img-list-container .img-list li {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 6px;
}

#reportDialog .img-list-container .img-list li img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

#reportDialog .share-info {
  text-align: right;
  font-size: 15px;
  color: #222;
}

#reportDialog .dialog_body .form_group {
  clear: both;
  overflow: hidden;
}

#reportDialog .dialog_body .left,
#reportDialog .dialog_body .right {
  height: 26px;
  line-height: 26px;
}

#reportDialog .dialog_body .left {
  float: left;
}
#reportDialog .dialog_body .right {
  float: right;
}

#reportDialog .dialog_body .inputGroup {
  padding: 7px 12px;
  margin-bottom: 12px;
  border: solid 1px #d2d2d2;
  border-radius: 10px;
}

#reportDialog .dialog_body .buttonGroup {
  text-align: right;
}

#reportDialog .dialog_body .form_control {
  width: 100%;
  height: 20px;
  line-height: 20px;
  border: none 0;
  color: #919191;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
}

#reportDialog .form_control {
  background-color: transparent;
  font-size: 15px;
  color: #959595;
}
#reportDialog .form_control.share-title{
	text-align: left;
	overflow:hidden;
	color:#666;
}
#reportDialog .dialog_body .form_control.report_reason{
  padding:10px 15px;
  resize:none;
  height:140px;
  line-height:32px;
  text-align: left;
}

#reportDialog .dialog_body .passwordInputGroup {
  background-position: 22px -69px;
}

#reportDialog .submitButton {
  width: 71px;
  height: 29px;
  line-height: 29px;
  margin-bottom: 16px;
  background-color: #fee101;
  font-size: 18px;
  font-weight: 700;
  border: none 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  color: #4c4c4c;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
  
}

#reportDialog .ico_notice {
  background: url(../../../../images/community/pc/ico_notice.gif);
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
}

#reportDialog a {
  font-size: 16.49px;
  text-decoration: none;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
}

#reportDialog a,
#reportDialog a:visited {
  color: #282626;
}

#reportDialog  .bold {
  font-weight: 700;
}

#reportDialog  .color-orange {
  color: #feae01;
}

#reportMask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.17);
  z-index:901;
}

