<!--{template common/header}-->

<style>
	body{
		padding-top: 0;
		background: url('/static/image/mobile/images/mobile_login_bg.jpg') 100%  no-repeat;
	}	
</style>

<!--{if !$_GET['infloat']}-->

<div class="loginheader">
	<img src="/static/image/mobile/images/mobile_login_top.png"  />
</div>

<!--{/if}-->

{eval $loginhash = 'L'.random(4);}

<!-- userinfo start -->
<div class="loginbox <!--{if $_GET[infloat]}-->login_pop<!--{/if}-->">
	<!--{if $_GET[infloat]}-->
		<h2 class="log_tit"><a href="javascript:;" onclick="popup.close();"><span class="icon_close y">&nbsp;</span></a>{lang login}</h2>
	<!--{/if}-->
		{eval //用接口登录 /app.php?mod=member&act=login&username=admin&password=admin}
		<form id="ajaxloginform" method="post" >
		<input type="hidden" name="formhash" id="formhash" value='{FORMHASH}' />
	<div class="login_from">
		<ul>
			<li>
				<div class="blackbg">
					<span class="head head1"><img src="/static/image/mobile/images/mobile_login_input1.png" height="30"></span>
					<input type="text" value="" tabindex="1" class="px p_fre" size="11" autocomplete="off" value="" name="username" placeholder="请输入手机号码" fwin="login">
					<div style="clear: both;"></div>
				</div>
			</li>
			<li>
				<div class="blackbg">
					<span class="head head1"><img src="/static/image/mobile/images/mobile_login_input2.png" height="30"></span>
					<input type="password" tabindex="2" class="px p_fre" size="30" value="" name="password" placeholder="{lang login_password}" fwin="login">
					<div style="clear: both;"></div>
				</div>
			</li>
		</ul>
	</div>
	<div class="btn_login"><button id="submitbtn" tabindex="3" value="true" name="submit" type="button" class="formdialog pn pnc" ><span>{lang login}</span></button></div>
	</form>
	<!--{if $_G['setting']['connect']['allow'] && !$_G['setting']['bbclosed']}-->
	<p>{lang useqqconnectlogin}</p>
	<div class="btn_qqlogin"><a href="$_G[connect][login_url]&statfrom=login_simple">{lang qqconnect:connect_mobile_login}</a></div>
	<!--{/if}-->
	<!--{if $_G['setting']['regstatus']}-->
	<p class="reg_link"><a href="member.php?mod={$_G[setting][regname]}">注册账号</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="">忘记密码</a></p>
	<!--{/if}-->
	<!--{hook/logging_bottom_mobile}-->
</div>
<!-- userinfo end -->

<!--{if $_G['setting']['pwdsafety']}-->
	<script type="text/javascript" src="{$_G['setting']['jspath']}md5.js?{VERHASH}" reload="1"></script>
<!--{/if}-->
<!--{eval updatesession();}-->

<script>
	(function() {
		$(document).on('change', '.sel_list', function() {
			var obj = $(this);
			$('.span_question').text(obj.find('option:selected').text());
			if(obj.val() == 0) {
				$('.answerli').css('display', 'none');
				$('.questionli').addClass('bl_none');
			} else {
				$('.answerli').css('display', 'block');
				$('.questionli').removeClass('bl_none');
			}
		});
		
		$('#submitbtn').click(function(){
			if(!check_mobile()){
				return;
			}
			$.post('/app.php?mod=member&act=login',$('#ajaxloginform').serialize(),function(data){
				var _data = $.parseJSON(data);
				if(_data.result==1){
					location.href='{eval echo $_SERVER["HTTP_REFERER"]?$_SERVER["HTTP_REFERER"]:"/forum.php?mod=personal"}';
				}else{
					alert(_data.msg);
				}
			});
		});
		
	 })();
	 
	 function check_mobile(){
		var m = jQuery('input[name="username"]').val();
		if (!checkmobile(m)){
			alert('请输入正确的手机号码！');
			jQuery('input[name="username"]').focus();
			return false;
		};
		return true;
	}
</script>
<!--{template common/footer}-->
