<!--{template common/header}-->

<style>
	body{
		padding-top: 0;
		background: url('/static/image/mobile/images/mobile_login_bg.jpg') 100%  no-repeat;
	}	
</style>

<div class="loginheader">
	<img src="/static/image/mobile/images/mobile_login_top.png"  />
</div>

<!-- registerbox start -->
<div class="loginbox registerbox">
	<div class="login_from">
		{eval //http://192.168.1.58/app.php?mod=member&act=register&input=13923145300&type=mobile&code=1220&password=123456}
		<form method="post" autocomplete="off" id="ajaxregisterform">
		<input type="hidden" name="type" value="mobile" />
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<ul>
			<li>
				<div class="blackbg">
					<span class="head head1"><img src="/static/image/mobile/images/mobile_login_input1.png" height="30"></span>
					<input type="text" value="" tabindex="1" class="px p_fre" size="11" autocomplete="off" value="" name="input" placeholder="请输入手机号码" fwin="login" id="username_input">
					<div style="clear: both;"></div>
				</div>
			</li>
			<li>
				<div class="blackbg">
					<span class="head head1"><img src="/static/image/mobile/images/mobile_login_input2.png" height="30"></span>
					<input type="password" tabindex="2" class="px p_fre" size="30" value="" name="password" placeholder="{lang login_password}" fwin="login">
					<div style="clear: both;"></div>
				</div>
			</li>
			<li>
				<div class="blackbg">
					<span class="head head1"><img src="/static/image/mobile/images/mobile_login_input2.png" height="30"></span>
					<input type="password" tabindex="2" class="px p_fre" size="30" value="" name="password2" placeholder="{lang registerpassword2}" fwin="login">
					<div style="clear: both;"></div>
				</div>
			</li>
		</ul>
		
	</div>
	<div class="btn_register"><button tabindex="7" value="true" name="regsubmit" id="regsubmit" type="button" class="formdialog pn pnc"><span>{lang quickregister}</span></button></div>
	</form>
	<p class="reg_link"><a href="member.php?mod=logging&action=login">登录账号</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="">忘记密码</a></p>
</div>
<!-- registerbox end -->
<script>
	function _checkmobile(){
		var p1 = jQuery('input[name="password"]').val(),p2 = jQuery('input[name="password2"]').val(), m = jQuery('#username_input').val();
		if (!checkmobile(m)){
			alert('请输入正确的手机号码！');
			jQuery('#username_input').focus();
			return;
		};
		if(p1==''){
			alert('密码为空！');
			jQuery('input[name="password"]').focus();
			return false;
		}
		if(p1!=p2){
			alert('两次密码输入不相同，请重填！');
			jQuery('input[name="password2"]').focus();
			return false;
		}
		return true;
	}
	
	
	jQuery(function(){
		
		jQuery('#regsubmit').click(function(){
			if(!_checkmobile()){
				return;
			}
			jQuery.post('/app.php?mod=member&act=register',jQuery('#ajaxregisterform').serialize(),function(data){
				var _data = jQuery.parseJSON(data);
				if(_data.result==1){
					location.href="/forum.php?mod=personal";
				}else{
					alert(_data.msg);
				}
			});
		});
		
		
	});
	
	
	
</script>

<!--{eval updatesession();}-->
<!--{template common/footer}-->
