<!--{template common/header}-->

<style>
	body{
		padding-top: 0;
		background: url('/static/image/mobile/images/mobile_login_bg.jpg') 100%  no-repeat;
	}	
</style>

<div class="loginheader">
	<img src="/static/image/mobile/images/mobile_login_top.png"  />
</div>

{eval $loginhash = 'L'.random(4);}

<!-- userinfo start -->
<div class="loginbox <!--{if $_GET[infloat]}-->login_pop<!--{/if}-->" style="padding-bottom: 20px;">
	<form id="ajaxbindform" method="post" >
		<input type="hidden" name="formhash" id="formhash" value='{FORMHASH}' />
		<div class="login_from">
			<ul>
				<li>
					<div class="blackbg">
						<span class="head head1"><span style="font-size: 25px; color: #ccc; margin-top: 3px; font-weight: 300;" class="glyphicon glyphicon-phone"></span></span>
						<input style="width: 50%;" type="text" value="" tabindex="1" class="px p_fre" size="11" maxlength="11" autocomplete="off" value="" name="phone" placeholder="请输入手机号码" fwin="login" id="username_input">
						<button type="button" class="smsbtn" id="smsbtn">验证码</button>
						<div style="clear: both;"></div>
					</div>
				</li>
				<Li id="smscode">
					<div class="blackbg">
						<span class="head head1"><span style="font-size: 25px; color: #ccc; margin-top: 3px; font-weight: 300;" class="glyphicon glyphicon-pencil"></span></span>
						<input type="text" class="px p_fre" size="5" maxlength="5" autocomplete="off" value="" name="snscode" placeholder="请填写手机验证码" fwin="login" style="width: 150px;" >
						<div style="clear: both;"></div>
					</div>
				</Li>
				<!--<li class="desc">
					<h3>说明</h3>
					若您已经是本站的会员，请输入过往在本站注册时所使用的手机号码进行绑定；若您是新用户，请直接添加您的手机号码，我们会为您使用本手机号注册一个号码；
				</li>-->
			</ul>
		</div>
		<div class="btn_login"><button id="submitbtn" tabindex="3" value="true" name="submit" type="button" class="formdialog pn pnc disablebtn" disabled="disabled" ><span>绑定</span></button></div>
	</form>
</div>
<!-- userinfo end -->

<script>
	
	var _time = 60,_t = jQuery('#smsbtn'),_timer = null;
	
	function sms_timer(){
		_t.html('('+(_time-1)+')');
		_time = _time-1;
		if(_time==0){
			_time = 60;
			_t.removeClass('smsbtn-disable').removeAttr('disabled').html('验证码');
			clearTimeout(_timer);
		}else{
			_timer = setTimeout('sms_timer()',1000);
		}
	}
	
	jQuery(function(){
		
		_t.click(function(){
			var m = jQuery('#username_input').val();
			if (!checkmobile(m)){
				alert('请输入正确的手机号码！');
				jQuery('#username_input').focus();
				return;
			};
			_t.addClass('smsbtn-disable').attr('disabled',true);
			jQuery.post('/member.php?mod=wechat&action=verifycode',{'cellphone':m},function(data){
				var _data = jQuery.parseJSON(data);
				if(_data.result==1){
					jQuery('li#smscode').show(100);
					sms_timer();
				}else{
					alert(_data.msg);
				}
			});
		});
		
		//当输入验证码时，才能点击提交
		jQuery('input[name="snscode"]').bind('input propertychange', function(){
			var _v = jQuery(this).val(), _btn = jQuery('#submitbtn');
			if(_v.length == 5){
				_btn.removeAttr('disabled').removeClass('disablebtn');
			}else{
				_btn.attr('disabled',true).addClass('disablebtn');
			}
		});
		
		//绑定
		jQuery('#submitbtn').click(function(){
			var m = jQuery('#username_input').val();
			if (!checkmobile(m)){
				alert('请输入正确的手机号码！');
				jQuery('#username_input').focus();
				return;
			};
			jQuery.post(
				'/member.php?mod=wechat&action=dobind',
				jQuery('#ajaxbindform').serialize(),
				function(data){
					var _data = jQuery.parseJSON(data);
					alert(_data.msg);
					if(_data.result==1){
						location.href='{:U("forum/personal")}';
					}else{
						jQuery('input[name="snscode"]').val('').focus();
					}
				}
			);
		});
		
	});
	
</script>
<!--{template common/footer}-->