/**
 * styles for dealer controller
 */

/* sign in */

/*
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}*/

body {
	font-family: "微软雅黑";
	background-color: #222d32;
}

.wrapper {
	overflow: auto;
}

/* .pg */

.pg:after {
	display: block;
	content: '';
	clear: both;
	width: 0;
	height: 0;
	line-height: 0;
}

.pg a,
.pg strong,
.pg label {
  float: left;
  height: 37px;
  line-height: 37px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
  /*
  border-right: solid 1px #e9e9e9;
  border-bottom: solid 1px #e9e9e9;
  border-top: 0 none;*/
  border: none;
  border-left: solid 1px #e9e9e9;
  background-color: #FFF;
  background-image: -moz-linear-gradient(0% 0% 270deg, #fff,#f3f3f3);
  background-image: -webkit-gradient(linear,0 0,0 100%, from(#fff), to(#f3f3f3));
  background-image: -o-linear-gradient(bottom,#fff, #f3f3f3);
  progid:DXImageTransform.Microsoft.gradient(startcolorstr='#fff',endcolorstr='#f3f3f3',gradientType=1);
  border-radius: 0;
  font-size: 14px;
  color: #7e7e7e;
  text-decoration: none;
}

.pg .first {
	display: none;
}

.pg .prev {
  border-radius: 19px 0 0 19px;
  border-left: solid 1px #e9e9e9;
}

.pg .nxt {
  border-radius: 0 19px 19px 0;
}

.pg > a {
	font-family: arial;
	font-weight: 700;
	font-size: 15px;
	color: #e72b18;
}

.pg .first,
.pg .prev,
.pg .nxt,
.pg .last {
	color: #7e7e7e;
	text-shadow: none;
	font-weight: normal;
}

.pg label {
  background-image: -moz-linear-gradient(0% 0% 270deg, #f3f3f3,#ddd);
  background-image: -webkit-gradient(linear,0 0,0 100%, from(#f3f3f3), to(#ddd));
  background-image: -o-linear-gradient(bottom,#f3f3f3, #ddd);
  progid:DXImageTransform.Microsoft.gradient(startcolorstr='#f3f3f3',endcolorstr='#ddd',gradientType=1);
}

.pg strong {
  background-color: #e94f3f;
  color: #FFF;
  background-image: -moz-linear-gradient(0% 0% 270deg, #ec5343,#d53a2a);
  background-image: -webkit-gradient(linear,0 0,0 100%, from(#ec5343), to(#d53a2a));
  box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
  border-left: none;
  
  text-shadow: 0 -1px 0 rgba(134,12,0,0.75);
}

.pg input {
	width: 24px;
	height: 24px;
	line-height: 24px;
	border: solid 1px #bfbfbf;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
}

/* end */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


