#body-container{
	margin-bottom: 25px;
}
.forum-activity{
	
}
.forum-activity>.forum-activity-header{
	background-color: #fff;
	padding:20px 15px 15px 15px;
	margin-bottom:15px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
	min-height:180px;
}
.forum-activity>.forum-activity-header>.left{
	float:left;	
}
.forum-activity>.forum-activity-header>.left>.activity-img-container{
	width:200px;
	height:130px;
	overflow:hidden;
	border:1px solid #d2d2d2;
	margin-bottom: 12px;
}
.forum-activity>.forum-activity-header>.left>.activity-img-container>.activity-img{
	max-width:200px;
	min-height:130px;
}
.forum-activity>.forum-activity-header>.left>.activity-info{
	
}
.forum-activity>.forum-activity-header>.left>.activity-info>.activity-info-item{
	display:inline-block;
	width:98px;
	border-left:1px solid #D6D6D6;
}
.forum-activity>.forum-activity-header>.left>.activity-info>.activity-info-item:first-child{
	border-left:none;
}
.forum-activity>.forum-activity-header>.left>.activity-info>.activity-info-item>p{
	text-align:center;
	font-size:15px;
	color:#6f6f6f;
}
.forum-activity>.forum-activity-header>.left>.activity-info>.activity-info-item>p.info-body{
	color:#ff5715;
	font-weight: bold;
	font-family: Simhei;
}
.forum-activity>.forum-activity-header>.left>.activity-info>.activity-info-item>p.info-title{
	
}
.forum-activity>.forum-activity-header>.right{
	margin:0px 0px 0px 220px;
}
.forum-activity>.forum-activity-header>.right>.activity-btn{
	position:relative;
	top:-10px;
	right:-5px;
	float:right;
	padding:0px 6px;
	background-color: #ff511c;
	color:#fff;
	font-size:14px;
	line-height:32px;
	border:none;
	border-radius:4px;
	cursor:pointer;
	margin-right: 10px;
}
.forum-activity>.forum-activity-header>.right>.activity-title{
	margin:0px 120px 20px 0px;
	color:#ff511c;
	font:bold 20px "Microsoft Yahei","Simhei";
}
.forum-activity>.forum-activity-header>.right>.activity-title>.activity-desc{
	font-weight: normal;
	font-size: 16px;
}

/* 内容 */
.forum-activity>.forum-activity-body{
	
}
.forum-activity>.forum-activity-body>.left,
.forum-activity>.forum-activity-body>.right{
	background-color: #fff;	
	margin-bottom:15px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
}
.forum-activity>.forum-activity-body>.left{
	float:left;
	padding:20px 0px 15px 0px;
}
.forum-activity>.forum-activity-body>.left>.ranking-list-title{
	font-size:15px;
	color:#ff511c;
	margin:0px 0px 0px 0px;
	padding:0px 15px 15px 15px;
	border-bottom: 1px solid #e5e5e5;
}
.forum-activity>.forum-activity-body>.left>.ranking-list{
	
}
.forum-activity>.forum-activity-body>.left>.ranking-list>.ranking-loading{
	margin-top: 15px;
	text-align: center;
}
.forum-activity>.forum-activity-body>.left>.ranking-list>.ranking-list-item{
	width:160px;
	padding:10px 15px;
	margin:0px 0px 0px 0px;
	cursor:pointer;
}
.forum-activity>.forum-activity-body>.left>.ranking-list>.ranking-list-item:hover{
	background-color:#f4f5f6;
}
.forum-activity>.forum-activity-body>.left>.ranking-list>.ranking-list-item>.user-img-container{
	float:left;
	width: 45px;
	height: 45px;
	overflow:hidden;
	border-radius:45px;
}
.forum-activity>.forum-activity-body>.left>.ranking-list>.ranking-list-item>.user-img-container>.user-img{
	max-width: 45px;
	min-height: 45px;
}
.forum-activity>.forum-activity-body>.left>.ranking-list>.ranking-list-item>.user-name{
	margin: 0px 0px 0px 55px;
	line-height:45px;
	width: 100px;
	height: 45px;
	overflow: hidden;
}
.forum-activity>.forum-activity-body>.right{
	margin:0px 0px 0px 210px;
	padding:20px 35px;
	min-height: 80px;
}
.forum-activity>.forum-activity-body>.right>.threads-header{
	margin-bottom:15px;
}
.forum-activity>.forum-activity-body>.right>.threads-header>.threads-desc{
	font-size:16px;
}
.forum-activity>.forum-activity-body>.right>.threads-header>.threads-desc>.desc{
	display: inline-block;
}
.forum-activity>.forum-activity-body>.right>.threads-header>.threads-desc>.desc>.data{
	margin:0px 8px;
}
.forum-activity>.forum-activity-body>.right>.threads-list{
	
}
.forum-activity>.forum-activity-body>.right>.threads-list>.threads-list-item{
	margin-bottom:25px;
}
.forum-activity>.forum-activity-body>.right>.threads-list>.threads-list-item>.user-img-container{
	float:left;
	width: 45px;
	height: 45px;
	overflow:hidden;
	border-radius:45px;
}
.forum-activity>.forum-activity-body>.right>.threads-list>.threads-list-item>.user-img-container>.user-img{
	max-width: 45px;
	min-height: 45px;
}
.forum-activity>.forum-activity-body>.right>.threads-list>.threads-list-item>.thread-detail{
	min-height:45px;
	margin:0px 0px 0px 65px;
	border-bottom: 1px solid #D9D9D9;
}
.forum-activity>.forum-activity-body>.right>.threads-list>.threads-list-item>.thread-detail>.thread-title{
	font-size: 14px;
	font-weight: normal;
	color: #454545;
}
.forum-activity>.forum-activity-body>.right>.threads-list>.threads-list-item>.thread-detail>.thread-info{
	
}
.forum-activity>.forum-activity-body>.right>.threads-list>.threads-list-item>.thread-detail>.thread-info>.info{
	color: #939393;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
}
.forum-activity>.forum-activity-body>.right>.threads-list>.threads-list-item>.thread-detail>.thread-info>.info.icon{
	float: right;
	margin:0px 0px 0px 20px;
	padding:0px 0px 0px 26px;
}
.forum-activity>.forum-activity-body>.right>.threads-list>.threads-list-item>.thread-detail>.thread-info>.info.icon.comments{
	background: url('/static/image/vivo/viewthread-btn-reply.png') no-repeat left center;
}
.forum-activity>.forum-activity-body>.right>.threads-list>.threads-list-item>.thread-detail>.thread-info>.info.icon.readcount{
	background: url('/static/image/vivo/viewthread-btn-views.png') no-repeat left center;
}
.forum-activity>.forum-activity-body>.right>.threads-list>.threads-list-item>.page-container{

}
