/**
 * module style for home page  首页的模块样式
 */

/* 文章列表瀑布流 ------------------------ */

.waterfall-container .box .thread-container{
	width: 100%;
	height: 100%;
	cursor:pointer;
    display: block;
}

.waterfall-container .box .thread-container .image_box {
    overflow: hidden;
    height: 250px;
}

.waterfall-container .box .thread-container .image_box img {
    width: 100%;
    height: 100%;
}

.waterfall-container .box .thread-container>.mask-image>.thread-image {
    width: 100%;
    height: 100%;
}
.waterfall-container .box .thread-container>.mask-image>.thread-image{
	min-width: 100%;
	z-index: 1;
}
.waterfall-container .box .thread-container>.mask-image>.thread-image.filter{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.waterfall-container .box .thread-container>.content{
	/*position: absolute;
	z-index: 3;
	width: auto;
	bottom: 0px;*/
	padding:0px 20px 15px 20px;
}

.waterfall-container .thread-container .thread-forum {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    line-height: 34px;
    color: #FFF;
}

.waterfall-container .box .thread-forum .icon {
	float: left;
	display: inline-block;
	height: 34px;
	width: 34px;
	background-repeat: no-repeat;
	margin-right: 8px;
}

.waterfall-container .box .thread-forum .icon_fid_50 {
	background-image: url(/static/image/vivo/thread/forum_icon_idea_art.png);
}

.waterfall-container .box .thread-forum .icon_fid_57 {
	background-image: url(/static/image/vivo/thread/forum_icon_artisan_spirit.png);
}

.waterfall-container .box .thread-forum .icon_fid_59 {
	background-image: url(/static/image/vivo/thread/forum_icon_high_quality_live.png);
}

.waterfall-container .box .thread-forum .icon_fid_38 {
	background-image: url(/static/image/vivo/thread/forum_icon_travel.png);
}

.waterfall-container .box .thread-container .thread-title{
	font-size: 16px;
    line-height: 26px;
    padding: 10px;
    height: 52px;
    overflow: hidden;
}

.waterfall-container .box .thread-container .thread-state{
	font-size: 13px;
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
}

.waterfall-container .box .thread-container .thread-state>span{
	margin-right: 2px;
}

.waterfall-container .box .thread-container .thread-state .thread-date {
    margin-right: 100px;
}

.waterfall-container .box .thread-container .thread-state .thread-icon{
    background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center left;
    display: inline-block;
}

.waterfall-container .box .thread-container .thread-state>.thread-icon.thread-replies{
	background-image: url('/static/image/vivo/mobile/comment_ico.gif');
    width: 12px;
    height: 10px;
}

.waterfall-container .box .thread-container .thread-state>.thread-icon.thread-saygood{
	background-image: url('/static/image/vivo/mobile/like_ico.png');
    width: 11px;
    height: 10px;
}

/* 文章列表瀑布流--轮播图 ------------------------ */
.vivo-banner-container{
	
}
.vivo-banner-container { 
	position: relative;
	width: 100%;
	overflow: auto;

	font-size: 18px;
	line-height: 24px;
	text-align: center;

	color: rgba(255,255,255,.6);

	background: #5b4d3d;
}
.vivo-banner-container>.banner{
	list-style: none;
	width: 400%;
}
.vivo-banner-container>.banner>.banner-item{ 
	display: block;
	float: left;
	width: 25%;
	height: 350px;

    cursor: pointer;

	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
