.personalContainer {
	padding-bottom: 39px;
	overflow: hidden;
}
/* 顶部 */
.personalContainer>.topColumn{
	height: 275px;
	background-color: #FFFFFF;
	position: relative;
	background-position: center center;
	
}
.personalContainer>.topColumn>.bgMask,
.personalContainer>.topColumn>.userInfoSummaryContainer{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
.personalContainer>.topColumn>.bgMask{
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	z-index: 1;
}
.personalContainer>.topColumn>.userInfoSummaryContainer{
	z-index: 2;
	color: #fff;
	padding: 70px 0px 0px 0px;
}
.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary{
	text-align: center;
}
.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary>p{
	margin-bottom: 8px;
}
.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary>.userAvatarContainer{
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 100%;
	margin:0 auto 10px auto;
}
.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary>.userAvatarContainer>.userAvatar{
	width: 100px;
}
.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary>.extcredit{
	margin:0px 0px 15px 0px;
	text-align: center;
}
.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary>.extcredit>.extcredit-icon{
	font-size: 14px;
	line-height: 22px;
	padding:6px 0px 6px 26px;
	background-repeat: no-repeat;
	background-position: left center;
	margin-right: 20px;
}
.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary>.extcredit>.extcredit-icon.extcredit1{
	color: #ffbf00;
	background-image: url('/static/image/vivo/icon-extcredit-1.png');
}
.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary>.extcredit>.extcredit-icon.extcredit2{
	color: #1cc7ff;
	background-image: url('/static/image/vivo/icon-extcredit-2.png');
}
.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary>.edit-user-setting>a{
	color: #ff7200;
}
.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary>.nicknameContainer{
	margin-bottom: 15px;
}

.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary>.nicknameContainer .icon_follow {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(/static/image/vivo/user/follow_user.png);
	background-repeat: no-repeat;
	background-position: -26px;
	vertical-align: top;
	margin-top: 2px;
	margin-right: 6px;
}

.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary>.nicknameContainer .icon_follow.active {
	background-position: 0;
}

.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary>.nicknameContainer .icon_follow a {
	display: block;
	width: 100%;
	height: 100%;
}

.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary>.nicknameContainer>.nickname{
	font-size: 16px;
	font-weight: 700;
}
.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary>.nicknameContainer>.levelName,
.personalContainer>.topColumn>.userInfoSummaryContainer>.userInfoSummary>.nicknameContainer>.level{
	font-size: 12px;
}

.personalContainer .topColumn .userInfoSummaryContainer .community_data {
	
}

.personalContainer .topColumn .userInfoSummaryContainer .community_data span {
	display: inline-block;
	margin-right: 10px;
}

.personalContainer .topColumn .userInfoSummaryContainer .community_data .number {
	margin-right: 15px;
}

.personalContainer .topColumn .credis-counter{
    position: relative;
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
    height: 15px;
    width: 200px;
    font-size: 11px;
    margin: 0 auto;
    overflow: hidden;
}

.personalContainer .topColumn .credis-counter span{
    position: absolute;
    top:0px;
    left: 0px;
    text-align: center;
    color: #fff;
    width: 100%;
    line-height: 15px;
}

.personalContainer .topColumn .credis-counter span.counter{
    width: 0;
    background: #ff4f02;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff4f02), color-stop(1, #8f2c00)); /* Saf4+, Chrome */
    border-radius: 8px;
}

/* 左边 */
.personalContainer .leftColumn {
	float: left;
	width: 238px;
	background-color: #FFFFFF;
	padding:40px 0px 0px 0px;
}

.personalContainer .info {
	margin-left: 22px;
	margin-right: 16px;
	border-bottom: dotted 1px #ff9c53;
	font-family: "微软雅黑";
	font-size: 14px;
}

.personalContainer .info p{
	text-align: left;
	margin-bottom: 7px;
	color: #4e4e4e;
}
.personalContainer .info p.info1>.sex{
	margin-right: 8px;
}
.personalContainer .info p.info1>.age{
	margin-right: 12px;
}
.personalContainer .stamp,
.personalContainer .join{
	padding-top: 18px;
	margin-left: 17px;
	margin-right: 13px;
	border-bottom: solid 1px #dcdcdc;
}

.personalContainer .join {
	margin-bottom: 20px;
}

.personalContainer .stamp ul {
	padding-left: 15px;
}

.personalContainer .stamp li {
	margin-bottom: 20px;
	height: 60px;
}

.personalContainer .stamp li a {
	display: block;
	overflow: hidden;
}

.personalContainer .stamp .item_image {
	float: left;
	width: 70px;
	text-align: center;
	margin-right: 6px;
}

.personalContainer .stamp li img {
	height: 60px;
	line-height: 60px;
}

.personalContainer .stamp li span {
	float: left;
	line-height: 20px;
	padding: 23px 6px 0;
	font-family: Kalinga, Arial;
	font-size: 16px;
	font-weight: 700;
	color: #454545;
}

.personalContainer .stamp li .number {
	font-size: 18.83px;
	color: #ed4d0e;
}

.personalContainer .join .join_title {
	height: 20px;
	padding-top: 4px;
	padding-left: 26px;
	font-size: 15px;
	font-weight: 700;
	color: #fb8731;
	margin-bottom: 18px;
	background: url(/static/image/vivo/ico_flag.gif) no-repeat 0 0;
}

.personalContainer .join dl {
	margin-bottom: 1em;
}

.personalContainer .join dt {
	font-weight: 700;
	color: #555;
}

/* 右边 */
.personalContainer .rightColumn {
	position: relative;
	float: right;
	width: 670px;
	background-color: #FFFFFF;
	padding: 40px 30px 0px 70px;
}

.post_tags {
	position: absolute;
	z-index: 1;
	right: 0;
	top: 17px;
	width: 86px;
	margin-right: -3px;
	
}

.post_tags .tag {
	position: absolute;
	z-index: 1;
	width: 86px;
	height: 44px;
	background-repeat: no-repeat;
}

.post_tags .tag_published {
	background-image: url(/static/image/vivo/user/tag_published.png);
}

.post_tags .tag_favorite {
	top: 30px;
	background-image: url(/static/image/vivo/user/tag_favorite.png);
}

.personalContainer .rightColumn>.page-container{
	margin:0px 0px 15px 0px;
}