

/* the past activities module */

#thePastActivitiesModule {
	padding-left: 18px;
	padding-right: 18px;
	font-family: "微软雅黑";
	padding-bottom: 10px;
	font-size: 15px;
}

#thePastActivitiesModule .module_title {
	padding-top: 20px;
	padding-bottom: 6px;
	height: 57px;
	line-height: 57px;
	font-size: 20px;
}

#thePastActivitiesModule .module_title img {
	display: block;
}
#thePastActivitiesModule>.module_header>.module_text_title{
	padding: 20px 0px 2px 0px;
	font-size: 18px;
	font-weight: bold;
	color:#ff710d;
}

#thePastActivitiesModule ul {
	padding-top: 0;
}

#thePastActivitiesModule li {
	position: relative;
	text-align: left;
	padding-top: 17px;
	padding-bottom: 15px;
	border-bottom: dotted 1px #bfbfbf;
	height: 80px;
}

#thePastActivitiesModule li:last-child {
	border-bottom: none;
}

#thePastActivitiesModule li a {
	display: block;
}

#thePastActivitiesModule .activityImage {
	position: absolute;
	width: 120px;
	height: 80px;
	overflow: hidden;
}
#thePastActivitiesModule .activityImage>img{
	max-width: 120px;
	min-height: 80px;
}
#thePastActivitiesModule .activityName,
#thePastActivitiesModule .publishedTime {
	padding-left: 138px;
	padding-right: 20px;
}

#thePastActivitiesModule .activityName {
	font-size: 15px;
	line-height: 18px;
	color: #6d6d6d;
	height: 54px;
	overflow: hidden;
}

#thePastActivitiesModule .publishedTime {
	font-family: "黑体";
}