<link rel="stylesheet" href="/static/css/threadWaterFall.css">
<script type="text/javascript" src="/static/js/vivo/watefall.js"></script>
<div class="waterfall-thread">
	<div class="waterfall-container" id="waterfall-container">
		<div class="box box-size-2" data-size="2">
			<div class="vivo-banner-container">
			    <ul class="banner">
			    	{loop $bannerList $banner}
			        <li class="banner-item" onclick="window.open('/forum.php?mod=viewthread&tid={$banner[tid]}')">
			        	<img src="{$banner['url']}" >
			        	<p class="thread-title">{$banner['title']}</p>
			        </li>
			        {/loop}
			    </ul>
			</div>
		</div>
	</div>
	<div class="sk-spinner sk-spinner-three-bounce">
		<div class="sk-bounce1"></div>
		<div class="sk-bounce2"></div>
		<div class="sk-bounce3"></div>
	</div>
</div>