<!--{template common/header}-->
<script>
	// 可以访问哪几个子论坛
	var fidRange = "50|51|38";
</script>
<script type="text/javascript" src="/static/js/vivo/shareShare/shareShare.js" ></script>
<link rel="stylesheet" type="text/css" href="/static/js/vivo/vivoBanner/vivoBanner.css">
<script type="text/javascript" src="/static/js/vivo/vivoBanner/vivoBanner.js" ></script>
<script type="text/javascript" src="/static/js/vivo/index.js"></script>
	<!--文章展示框-->
	<div class="main-container homePageMain">
		<link href="/static/css/home.css" rel="stylesheet" type="text/css" />

        <!-- Swiper JS -->
        <script src="/static/jquery/Swiper/dist/js/swiper.jquery.min.js"></script>

		<!--{template forum/discuz_index}-->
	</div>
<!--{template common/footer}-->