<!--{block creditstring}--><!--{loop $postattachcredits $id $credit}--><!--{if $credit != ''}-->{$_G['setting']['extcredits'][$id][title]} <!--{if $credit >= 0}-->+$credit<!--{else}-->$credit<!--{/if}--> {$_G['setting']['extcredits'][$id][unit]} &nbsp;<!--{/if}--><!--{/loop}--><!--{/block}-->


<script type="text/javascript">
	function switchImagebutton(btn) {
		switchButton(btn, 'image');
		$(editorid + '_image_menu').style.height = '';
		doane();
	}
	function switchAttachbutton(btn) {
		switchButton(btn, 'attach');
		doane();
	}
</script>
<div class="p_pof" id="{$editorid}_image_menu" style="display: none" unselectable="on">
	<table width="100%" cellpadding="0" cellspacing="0" class="fwin"><tr><td class="t_l"></td><td class="t_c"></td><td class="t_r"></td></tr><tr><td class="m_l">&nbsp;&nbsp;</td><td class="m_c"><div class="mtm">
	<ul class="tb tb_s cl" id="{$editorid}_image_ctrl" style="margin-top:0;margin-bottom:0;">
		<li class="y"><span class="flbc" onclick="hideAttachMenu('image')">{lang close}</span></li>
		<!--{if $allowpostimg}-->
			<li class="current" id="{$editorid}_btn_imgqiniu"><a href="javascript:;" hidefocus="true" onclick="switchImagebutton('imgqiniu');">{lang e_img_attach}</a></li>
			{eval}
			/*
			//隐藏附件上传
			<li class="current" id="{$editorid}_btn_imgattachlist"><a href="javascript:;" hidefocus="true" onclick="switchImagebutton('imgattachlist');">{lang e_img_attach}</a></li>
			<!--{if $allowuploadtoday}-->
				<li id="{$editorid}_btn_local" style="display:none;" did="{$editorid}_btn_imgattachlist|local"><a href="javascript:;" hidefocus="true" onclick="switchImagebutton('local');">{lang normal_upload}</a></li>
			<!--{/if}-->
			*/
			{/eval}
		<!--{/if}-->
		<!--{if helper_access::check_module('album')}--><li {if !$allowpostimg}class="current"{/if} id="{$editorid}_btn_albumlist"><a href="javascript:;" hidefocus="true" onclick="switchImagebutton('albumlist');">{lang e_img_albumlist}</a></li><!--{/if}-->
		<li {if !$allowpostimg && !helper_access::check_module('album')}class="current"{/if} id="{$editorid}_btn_www"><a href="javascript:;" hidefocus="true" onclick="switchImagebutton('www');">{lang e_img_www}</a></li>
		<li id="{$editorid}_btn_mygallery"><a href="javascript:;" hidefocus="true" onclick="switchImagebutton('mygallery');">我的图库</a></li>
		<!--{hook/post_image_btn_extra}-->
	</ul>
	<div unselectable="on" id="{$editorid}_www" {if $allowpostimg || helper_access::check_module('album')}style="display: none;"{/if}>
		<div class="p_opt popupfix">
			<table cellpadding="0" cellspacing="0" width="100%">
				<tr class="xg1">
					<th width="100%" class="pbn">{lang e_img_inserturl}</th>
					<!--<th width="13%" class="pbn">{lang e_img_width}</th>
					<th width="13%" class="pbn">{lang e_img_height}</th>-->
				</tr>
				<tr>
					<td><input type="text" id="{$editorid}_image_param_1" onchange="loadimgsize(this.value)" style="width: 95%;" value="" class="px" autocomplete="off" /></td>
					<!--<td><input id="{$editorid}_image_param_2" size="3" value="" class="px p_fre" autocomplete="off" /></td>
					<td><input id="{$editorid}_image_param_3" size="3" value="" class="px p_fre" autocomplete="off" /></td>-->
				</tr>
			</table>
		</div>
		<div class="o">
			<button type="button" class="pn pnc" id="{$editorid}_image_submit"><strong>{lang submit}</strong></button>
		</div>
	</div>
	<!-- 我的图库  Write By Jerry -->
	{eval}
		require_once libfile('function/gallery');
		require_once libfile('function/editor');
		$this_pagesize = 16;
		$this_gallery = hasGallery($_G['uid']);
		$attachlist_count = C::t('common_member_gallery_image')->count_by_uid_gid($_G['uid'], $this_gallery['gid']);
		if($attachlist_count){
			$this_pagecount = ceil($attachlist_count/$this_pagesize);
			$image_list = C::t('common_member_gallery_image')->fetch_all_by_uid_gid($_G['uid'], $this_gallery['gid'], 0, $this_pagesize);
		}
	{/eval}
	<div unselectable="on" class="{$editorid}_mygallery" id="{$editorid}_mygallery" style="display: none;">
		<div class="p_opt popupfix">
			<ul class="img-list">
			{eval}
			if(count($image_list) > 0){
				foreach($image_list as $k=>$image){
					gallery_template($image);
				}
			}
			{/eval}
			</ul>
			<div class="page-container" data-content="1" data-count="{$this_pagecount}" data-size="{$this_pagesize}">
				<span class="page-prev page-btn disable">上一页</span>
				<span class="page-next page-btn">下一页</span>
				<span class="page-to">当前<input class="px page-num" name="{$editorid}_mygallery_pagenum" id="{$editorid}_mygallery_pagenum" value="1" /> / 共{$this_pagecount}页</span>
			</div>
		</div>
		<div class="o">
			<button onclick="hideAttachMenu('image')" class="pn pnc">
				<strong>{lang confirms}</strong>
			</button>
		</div>
	</div>
	<script type="text/javascript">
	function resetMyGalleryPage(pagestart, pagesize, pagecount, newpage, parentContainer){
		if(newpage > 0 && newpage <= pagecount && newpage != pagestart){
			jQuery.ajax({
				"url":"forum.php",
				"data":{
					"mod":"ajax",
					"action":"ajaxLoadMyGallery",
					"pagesize":pagesize,
					"pagestart":newpage
				},
				"success":function(data){
					if(data){
						jQuery("#{$editorid}_mygallery .img-list").html(data);
						parentContainer.attr("data-content", newpage);
						parentContainer.find(".page-to>.page-num").val(newpage);
						if(newpage > 1){
							parentContainer.find(".page-btn.page-prev").removeClass("disable");
						}else{
							parentContainer.find(".page-btn.page-prev").addClass("disable");
						}
						if(newpage >= pagecount){
							parentContainer.find(".page-btn.page-next").addClass("disable");
						}else{
							parentContainer.find(".page-btn.page-next").removeClass("disable");
						}
					}else{
						vivoAlert("没有数据了");
					}
				}
			});
		}
	}
	jQuery(function(){
		// 上下页
		jQuery("#{$editorid}_mygallery .page-container>.page-btn").click(function(){
			var _this = jQuery(this),
				pc = _this.parent(),
				pagestart = parseInt(pc.attr("data-content")),
				pagesize = parseInt(pc.attr("data-size")),
				pagecount = parseInt(pc.attr("data-count")),
				newpage = pagestart;
			if(!_this.hasClass("disable")){
				if(_this.hasClass("page-prev")){
					newpage -= 1;
				}else if(_this.hasClass("page-next")){
					newpage += 1;
				}
				resetMyGalleryPage(pagestart, pagesize, pagecount, newpage, pc);
			}
		})
		// 输入页数
		jQuery("#{$editorid}_mygallery .page-container>.page-to>.page-num").keydown(function(e){
			var c = e.keyCode;
			if(c == 13){
				var _this = jQuery(this),
					pc = _this.parent().parent(),
					pagestart = parseInt(pc.attr("data-content")),
					pagesize = parseInt(pc.attr("data-size")),
					pagecount = parseInt(pc.attr("data-count")),
					newpage = parseInt(_this.val());
				resetMyGalleryPage(pagestart, pagesize, pagecount, newpage, pc);
			}else if((c >= 48 && c <= 57) || (c >= 96 && c <= 105) || c == 8 || c == 46){
			}else{
				return false;
			}
		});
	});
	</script>
	<!-- 我的图库  Write By Jerry -->
	<!--{if $allowpostimg}-->
		<div unselectable="on" id="{$editorid}_local" style="display: none;">
			<div class="p_opt">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tbody id="imgattachbodyhidden" style="display:none"><tr>
						<td class="atnu"><span id="imglocalno[]"><img src="{STATICURL}image/filetype/common_new.gif" /></span></td>
						<td class="atna">
							<span id="imgdeschidden[]" style="display:none">
								<span id="imglocalfile[]"></span>
							</span>
							<input type="hidden" name="imglocalid[]" />
						</td>
						<td class="attc"><span id="imgcpdel[]"></span></td>
					</tr></tbody>
				</table>
				<div class="p_tbl"><table cellpadding="0" cellspacing="0" summary="post_attachbody" border="0" width="100%"><tbody id="imgattachbody"></tbody></table></div>
				<div class="upbk pbm bbda">
					<div id="imgattachbtnhidden" style="display:none"><span><form name="imgattachform" id="imgattachform" method="post" autocomplete="off" action="misc.php?mod=swfupload&operation=upload&simple=1&type=image" target="attachframe" $enctype><input type="hidden" name="uid" value="$_G['uid']"><input type="hidden" name="hash" value="{echo md5(substr(md5($_G['config']['security']['authkey']), 8).$_G['uid'])}"><input type="file" name="Filedata" size="45" class="filedata" /></form></span></div>
					<div id="imgattachbtn" class="ptm pbn"></div>
					<p id="imguploadbtn">
						<button class="pn pnc vm" type="button" onclick="uploadAttach(0, 0, 'img')"><span>{lang upload}</span></button>
						<span class="xg1">&larr;{lang upload_after_selected}</span>
					</p>
					<p id="imguploading" style="display: none;"><img src="{IMGDIR}/uploading.gif" style="vertical-align: middle;" /> {lang uploading}</p>
				</div>
				<div class="notice upnf">
					{lang attachment_size}: <span class="xi1"><!--{if $_G['group']['maxattachsize']}-->{lang lower_than} $maxattachsize_mb <!--{else}-->{lang size_no_limit}<!--{/if}--></span>
					<!--{if $imgexts}-->
						, {lang attachment_allow_exts}: <span class="xi1">$imgexts</span>&nbsp;
					<!--{/if}-->
					<!--{if $creditstring}-->
						<br /><a href="forum.php?mod=faq&action=credits&fid=$_G[fid]" target="_blank" title="{lang credits_policy}">{lang post_credits_postattach}&nbsp;$creditstring</a>
					<!--{/if}-->
					<!--{if $_G['group']['maxattachnum'] || $_G['group']['maxsizeperday']}--><br /><!--{subtemplate forum/post_attachlimit}--><!--{/if}-->
				</div>
			</div>
			<div class="o">
				<button onclick="hideAttachMenu('image')" class="pn pnc">
					<strong>{lang confirms}</strong>
				</button>
			</div>
		</div>
		
		<!--七牛-->
		<div unselectable="on" id="{$editorid}_imgqiniu">
			<div class="{$editorid}_mygallery" id="imgqiniulist">
				<ul class="img-list"></ul>
				<div style="clear: both;"></div>
			</div>
			<div id="qiniuprogress"></div>
			<div id="qiniuupload_btn_box">
				<a type="button" id="qiniuupload_btn">&nbsp;</a>
			</div>
			<div class="notice upnf" style="border-top:1px dashed #CDCDCD;padding-top: 10px;" >
				{lang e_img_insertphoto}
				<br />{lang attachment_size}: <span class="xi1"><!--{if $_G['group']['maxattachsize']}-->{lang lower_than} $maxattachsize_mb <!--{else}-->{lang size_no_limit}<!--{/if}--></span>
				<!--{if $imgexts}-->
					, {lang attachment_allow_exts}: <span class="xi1">$imgexts</span>&nbsp;
				<!--{/if}-->
				<!--{if $creditstring}-->
					<br /><a href="forum.php?mod=faq&action=credits&fid=$_G[fid]" target="_blank" title="{lang credits_policy}">{lang post_credits_postattach}&nbsp;$creditstring</a>
				<!--{/if}-->
				<!--{if $_G['group']['maxattachnum'] || $_G['group']['maxsizeperday']}--><br /><!--{subtemplate forum/post_attachlimit}--><!--{/if}-->
			</div>
			<script src="/static/js/vivo/plupload-2.1.2/js/plupload.full.min.js"></script>
			<script src="/static/js/vivo/qiniu-js-sdk/src/qiniu.min.js"></script>
			<script>
				var progress = 0;
				var bgUploader = Qiniu.uploader({
					    runtimes: 'html5,flash,html4',    //上传模式,依次退化
					    browse_button: 'qiniuupload_btn',       //上传选择的点选按钮ID，**必需**
					    uptoken_url: 'forum.php?mod=ajax&action=getQiNiuToken',
					    domain: 'http://7u2qq8.com1.z0.glb.clouddn.com/',
					    container: 'qiniuupload_btn_box',           //上传区域DOM ID，默认是browser_button的父元素，
					    max_file_size: '2mb',           //最大文件体积限制
					    flash_swf_url: '/static/js/vivo/plupload-2.1.2/js/Moxie.swf',  //引入flash,相对路径
					    max_retries: 3,                   //上传失败最大重试次数
					    dragdrop: true,                   //开启可拖曳上传
					    drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
					    chunk_size: '4mb',                //分块上传时，每片的体积
					    auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
					    init: {
					        'FileUploaded': function(up, file, info) {
					        	var domain = up.getOption('domain');
					        	var res = jQuery.parseJSON(info);
					        	var sourceLink = domain + res.key;
//					        	jQuery('#imgqiniulist ul').append("<li><img src='"+sourceLink+"' onclick='insertQiNiuImgTag(this);doane(event);'></li>");
					        	jQuery.getJSON('/forum.php?mod=ajax&action=insert_gallery_image&url='+encodeURIComponent(sourceLink),function(data){
					        		jQuery('#imgqiniulist ul').prepend(jQuery("<div/>").html(data.data.html).text());
					        	});
					        },
					        'Error': function(up, err, errTip) {
					        	alert(errTip);
					        },
				          'BeforeUpload': function(up, file){
				          		 // create progress
				           		progress = 0;
				           		jQuery('#qiniuprogress').fadeIn();
				           },
					       'UploadComplete': function() {
					             //队列文件处理完毕后,处理相关的事情
					             jQuery('#qiniuprogress').fadeOut();
					        },
				          'UploadProgress': function(up, file)
				           {
				          		// update progress
				          		//判断有多少个文件
//				          		progress += parseInt(file.percent/up.files.length);
				           		jQuery('#qiniuprogress').css('width', file.percent + '%');
				           },
					        'Key': function(up, file) {
					            // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
					            // 该配置必须要在 unique_names: false , save_key: false 时才生效
				              var date = new Date();
				              var key = "banner/pid"+jQuery("#form_tid").val()+"_"+date.getFullYear()+(date.getMonth()+1)+date.getDate()+date.getTime();
				              // do something with key here
				              return key;
					        }
					    }
					});
			</script>
			
		</div>
		
{eval}
/*
//隐藏附件上传
		<div unselectable="on" id="{$editorid}_imgattachlist">
			<div class="p_opt">
			<!--{if $allowuploadtoday}-->
				<div class="pbm bbda cl">
					<div id="imgattach_notice" class="y" {if empty($imgattachs['used'])} style="display: none"{/if}>
						<!--{if helper_access::check_module('album') && $_G['group']['allowupload']}-->
							<div id="uploadPanel">
								<label style="margin-right:10px;"><input type="checkbox" name="selectallimg" class="pc" value="1" onchange="selectAllSaveImg(this.checked);" onpropertychange="selectAllSaveImg(this.checked);" />{lang attachment_select_attach_image}</label>
								{lang save_selected_pic}:
								<select name="uploadalbum" id="uploadalbum" class="ps vm" onchange="if(this.value == '-1') {selectCreateTab(0);}">
									<!--{if $albumlist}-->
										<!--{loop $albumlist $album}-->
											<option value="$album[albumid]">$album[albumname]</option>
										<!--{/loop}-->
									<!--{else}-->
										<option value="-2">-------</option>
									<!--{/if}-->
									<option value="-1" style="color:red;">+{lang create_new_album}</option>
								</select>
							</div>
							<div id="createalbum" style="display:none">
								<!--{if $_G['setting']['albumcategorystat'] && !empty($_G['cache']['albumcategory'])}-->
									<!--{eval echo category_showselect('album', 'albumcatid', !$_G['setting']['albumcategoryrequired'] ? true : false, $_GET['catid']);}-->&nbsp;
								<!--{/if}-->
								<input type="text" name="newalbum" id="newalbum" class="px vm" size="15" value="{lang input_album_name}"  onfocus="if(this.value == '{lang input_album_name}') {this.value = '';}" onblur="if(this.value == '') {this.value = '{lang input_album_name}';}" />&nbsp;<button type="button" class="pn pnc" onclick="createNewAlbum();"><span>{lang create_new_album}</span></button><button type="button" class="pn" onclick="selectCreateTab(1);"><span>{lang cancel}</span></button>
							</div>
						<!--{/if}-->
					</div>
					<span id="imgSpanButtonPlaceholder"></span>
				</div>
			<!--{/if}-->
			<div class="upfilelist upfl bbda">
				<!--{if !empty($imgattachs['used'])}--><!--{eval $imagelist = $imgattachs['used'];}-->
					<!--{template forum/ajax_imagelist}-->
				<!--{/if}-->
				<div id="imgattachlist"></div>
				<div id="unusedimgattachlist"></div>

				<!--{if $allowuploadtoday}-->

				<div class="fieldset flash" id="imgUploadProgress"></div>

				<script type="text/javascript">
					function createNewAlbum() {
						var inputObj = $('newalbum');
						if(inputObj.value == '' || inputObj.value == '{lang input_album_name}') {
							inputObj.value = '{lang input_album_name}';
						} else {
							var x = new Ajax();
							x.get('home.php?mod=misc&ac=ajax&op=createalbum&inajax=1&name=' + inputObj.value, function(s){
								var aid = parseInt(s);
								var albumList = $('uploadalbum');
								var haveoption = false;
								for(var i = 0; i < albumList.options.length; i++) {
									if(albumList.options[i].value == aid) {
										albumList.selectedIndex = i;
										haveoption = true;
										break;
									}
								}
								if(!haveoption) {
									var oOption = document.createElement("OPTION");
									oOption.text = trim(inputObj.value);
									oOption.value = aid;
									albumList.options.add(oOption);
									albumList.selectedIndex = albumList.options.length-1;
								}
								inputObj.value = ''
							});
							selectCreateTab(1)
						}
					}
					function selectCreateTab(flag) {
						var vwObj = $('uploadPanel');
						var opObj = $('createalbum');
						var selObj = $('uploadalbum');
						if(flag) {
							vwObj.style.display = '';
							opObj.style.display = 'none';
							selObj.value = selObj.options[0].value;
						} else {
							vwObj.style.display = 'none';
							opObj.style.display = '';
						}
					}
				</script>
				<!--{/if}-->
			</div>
			<div class="notice upnf">
				{lang e_img_insertphoto}
				<br />{lang attachment_size}: <span class="xi1"><!--{if $_G['group']['maxattachsize']}-->{lang lower_than} $maxattachsize_mb <!--{else}-->{lang size_no_limit}<!--{/if}--></span>
				<!--{if $imgexts}-->
					, {lang attachment_allow_exts}: <span class="xi1">$imgexts</span>&nbsp;
				<!--{/if}-->
				<!--{if $creditstring}-->
					<br /><a href="forum.php?mod=faq&action=credits&fid=$_G[fid]" target="_blank" title="{lang credits_policy}">{lang post_credits_postattach}&nbsp;$creditstring</a>
				<!--{/if}-->
				<!--{if $_G['group']['maxattachnum'] || $_G['group']['maxsizeperday']}--><br /><!--{subtemplate forum/post_attachlimit}--><!--{/if}-->
			</div>
			</div>
			<div class="o">
				<button onclick="hideAttachMenu('image')" class="pn pnc">
					<strong>{lang confirms}</strong>
				</button>
			</div>
		</div>
*/
{/eval}
	<!--{/if}-->
	
	
	
	<!--{if helper_access::check_module('album')}-->
		<div unselectable="on" id="{$editorid}_albumlist" {if $allowpostimg}style="display: none;"{/if}>
			<div class="p_opt">
			<div class="upfilelist pbm bbda">
				{lang uch_selectfromalbum}:
				<select onchange="if(this.value) {ajaxget('forum.php?mod=post&action=albumphoto&aid='+this.value, 'albumphoto');}">
					<option value="">{lang select_album}</option>
					<!--{loop $albumlist $album}-->
						<option value="$album[albumid]">$album[albumname]</option>
					<!--{/loop}-->
				</select>
				<div id="albumphoto"></div>
			</div>
			<p class="notice">{lang e_img_insertphoto}</p>
			</div>
			<div class="o">
				<button onclick="hideAttachMenu('image')" class="pn pnc">
					<strong>{lang confirms}</strong>
				</button>
			</div>
		</div>
	<!--{/if}-->
	<!--{hook/post_image_tab_extra}-->
	</div></td><td class="m_r"></td></tr><tr><td class="b_l"></td><td class="b_c"></td><td class="b_r"></td></tr></table>
</div>

<!--{if $_G['group']['allowpostattach']}-->
	<div class="p_pof upf" id="{$editorid}_attach_menu" style="display: none" unselectable="on">
		<table width="100%" cellpadding="0" cellspacing="0" class="fwin"><tr><td class="t_l"></td><td class="t_c"></td><td class="t_r"></td></tr><tr><td class="m_l">&nbsp;&nbsp;</td><td class="m_c"><div class="mtm">
		<ul class="tb tb_s cl" id="{$editorid}_attach_ctrl" style="margin-top:0;margin-bottom:0;">
			<li class="y"><span class="flbc" onclick="hideAttachMenu('attach')">{lang close}</span></li>
			<li class="current" id="{$editorid}_btn_attachlist"><a href="javascript:;" hidefocus="true" onclick="switchAttachbutton('attachlist');">{lang attachment_list}</a></li>
			<!--{if $allowuploadtoday}-->
			<li id="{$editorid}_btn_upload" style="display: none;" did="{$editorid}_btn_attachlist|upload"><a href="javascript:;" hidefocus="true" onclick="switchAttachbutton('upload');">{lang common_upload}</a></li>
			<!--{/if}-->
			<!--{hook/post_attach_btn_extra}-->
		</ul>

		<div class="p_opt" unselectable="on" id="{$editorid}_upload" style="display: none;">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody id="attachbodyhidden" style="display:none"><tr>
					<td class="atnu"><span id="localno[]"><img src="{STATICURL}image/filetype/common_new.gif" /></span></td>
					<td class="atna">
						<span id="deschidden[]" style="display:none">
							<span id="localfile[]"></span>
						</span>
						<input type="hidden" name="localid[]" />
					</td>
					<td class="attc"><span id="cpdel[]"></span></td>
				</tr></tbody>
			</table>
			<div class="p_tbl"><table cellpadding="0" cellspacing="0" summary="post_attachbody" border="0" width="100%"><tbody id="attachbody"></tbody></table></div>
			<div class="upbk pbm bbda">
				<div id="attachbtnhidden" style="display:none"><span><form name="attachform" id="attachform" method="post" autocomplete="off" action="misc.php?mod=swfupload&operation=upload&simple=1" target="attachframe" $enctype><input type="hidden" name="uid" value="$_G['uid']"><input type="hidden" name="hash" value="{echo md5(substr(md5($_G['config']['security']['authkey']), 8).$_G['uid'])}"><input type="file" name="Filedata" size="45" class="fldt" /></form></span></div>
				<div id="attachbtn" class="ptm pbn"></div>
				<p id="uploadbtn">
					<button type="button" class="pn pnc vm" onclick="uploadAttach(0, 0)"><span>{lang upload}</span></button>
					<span class="xg1">&larr;{lang upload_after_selected}</span>
				</p>
				<p id="uploading" style="display: none;"><img src="{IMGDIR}/uploading.gif" style="vertical-align: middle;" /> {lang uploading}</p>
			</div>
			<div class="notice upnf">
				{lang attachment_size}: <span class="xi1"><!--{if $_G['group']['maxattachsize']}-->{lang lower_than} $maxattachsize_mb <!--{else}-->{lang size_no_limit}<!--{/if}--></span>
				<!--{if $_G['group']['attachextensions']}-->
					, {lang attachment_allow_exts}: <span class="xi1">{$_G['group']['attachextensions']}</span>&nbsp;
				<!--{/if}-->
				<!--{if $creditstring}-->
					<br /><a href="forum.php?mod=faq&action=credits&fid=$_G[fid]" target="_blank" title="{lang credits_policy}">{lang post_credits_postattach}&nbsp;$creditstring</a>
				<!--{/if}-->
				<!--{if $_G['group']['maxattachnum'] || $_G['group']['maxsizeperday']}--><br /><!--{subtemplate forum/post_attachlimit}--><!--{/if}-->
			</div>
		</div>


		<div class="p_opt post_tablelist" unselectable="on" id="{$editorid}_attachlist">
			<!--{if $allowuploadtoday}-->
				<div class="pbm bbda">
					<span id="spanButtonPlaceholder"></span>
				</div>
			<!--{/if}-->
			<table cellpadding="0" cellspacing="0" border="0" width="100%" id="attach_tblheader" class="mtn bbs"{if empty($attachs['used'])} style="display: none"{/if}>
				<tr>
					<td class="atnu"></td>
					<td class="atna pbn">{lang filename} ( <a onclick="insertAllAttachTag();return false;" href="javascript:;" class="xi2">{lang attachment_insert_all_attach}</a> )</td>
					<td class="atds pbn">{lang description}</td>
					<!--{if $_G['group']['allowsetattachperm']}-->
					<td class="attv pbn">
						{lang readperm}
						<img src="{IMGDIR}/faq.gif" alt="Tip" class="vm" style="margin: 0;" onmouseover="showTip(this)" tip="{lang post_select_usergroup_readacces}" />
					</td>
					<!--{/if}-->
					<!--{if $_G['group']['maxprice']}--><td class="attp pbn">{$_G['setting']['extcredits'][$_G['setting']['creditstransextra'][1]][title]}</td><!--{/if}-->
					<td class="attc"></td>
				</tr>
			</table>
			<div class="upfl">
				<!--{if !empty($attachs['used'])}--><!--{eval $attachlist = $attachs['used'];}-->
					<!--{template forum/ajax_attachlist}-->
				<!--{/if}-->
				<div id="attachlist"></div>
				<div id="unusedattachlist"></div>

				<!--{if $allowuploadtoday}-->
					<div class="fieldset flash" id="fsUploadProgress"></div>
				<!--{/if}-->

			</div>
			<div class="notice upnf">
				<p id="attach_notice"{if empty($attachs['used']) && empty($attachs['unused'])} style="display: none"{/if}>{lang e_attach_insert}<!--{if $_G['setting']['allowattachurl']}-->{lang e_attach_inserturl}<!--{/if}--></p>
				{lang attachment_size}: <span class="xi1"><!--{if $_G['group']['maxattachsize']}-->{lang lower_than} $maxattachsize_mb <!--{else}-->{lang size_no_limit}<!--{/if}--></span>
				<!--{if $_G['group']['attachextensions']}-->
					, {lang attachment_allow_exts}: <span class="xi1">{$_G['group']['attachextensions']}</span>&nbsp;
				<!--{/if}-->
				<!--{if $creditstring}-->
					<br /><a href="forum.php?mod=faq&action=credits&fid=$_G[fid]" target="_blank" title="{lang credits_policy}">{lang post_credits_postattach}&nbsp;$creditstring</a>
				<!--{/if}-->
				<!--{if $_G['group']['maxattachnum'] || $_G['group']['maxsizeperday']}--><br /><!--{subtemplate forum/post_attachlimit}--><!--{/if}-->
				<!--{if $_G['group']['maxprice'] && $_G['setting']['maxincperthread']}--><br />{lang post_price_attachincome_comment}<!--{/if}-->
			</div>
		</div>
		<!--{hook/post_attach_tab_extra}-->
		</div>
		<div class="o">
			<button onclick="hideAttachMenu('attach')" class="pn pnc" id="attach_confirms">
				<strong>{lang confirms}</strong>
			</button>
		</div>
		</td><td class="m_r"></td></tr><tr><td class="b_l"></td><td class="b_c"></td><td class="b_r"></td></tr></table>
	</div>
<!--{/if}-->

<iframe name="attachframe" id="attachframe" style="display: none;" onload="uploadNextAttach();"></iframe>

<script type="text/javascript">
	if(wysiwyg) {
		newEditor(1, bbcode2html(textobj.value));
	} else {
		newEditor(0, textobj.value);
	}
	<!--{if $editor[simplemode] > 0}-->
		editorsimple();
	<!--{/if}-->

	var ATTACHNUM = {'imageused':0,'imageunused':0,'attachused':0,'attachunused':0}, ATTACHUNUSEDAID = new Array(), IMGUNUSEDAID = new Array();
	<!--{if $allowpostimg}-->
		ATTACHNUM['imageused'] = <!--{echo @count($imgattachs['used'])}-->;
		<!--{if !empty($imgattachs['used']) || !empty($imgattachs['unused'])}-->
			switchImagebutton('imgattachlist');
			$(editorid + '_image').evt = false;
			updateattachnum('image');
		<!--{else}-->
			switchImagebutton('multi');
		<!--{/if}-->
	<!--{/if}-->
	<!--{if $_G['group']['allowpostattach'] || $_G['group']['allowpostimage']}-->

		ATTACHNUM['attachused'] = <!--{echo @count($attachs['used'])}-->;
		<!--{if !empty($attachs['used']) || !empty($attachs['unused'])}-->
			$(editorid + '_attach').evt = false;
			updateattachnum('attach');
		<!--{else}-->
			switchAttachbutton('swfupload');
		<!--{/if}-->
	<!--{/if}-->
	<!--{if !empty($attachs['unused'])}-->
		display('attachnotice_attach');
		var msg = '';
		<!--{loop $attachs['unused'] $attach}-->
			<!--{if !empty($attach['aid'])}-->
				msg += '<p><label><input id="unused$attach[aid]" name="unused[]" value="$attach[aid]" checked type="checkbox" class="pc" /><span title="$attach[filenametitle] $attach[dateline]">$attach[filename]</span></label></p>'
				ATTACHUNUSEDAID[{$attach[aid]}] = '$attach[aid]';
			<!--{/if}-->
		<!--{/loop}-->
		$('unusedlist_attach').innerHTML = '<div class="cl">' + msg + '</div>';
		$('unusednum_attach').innerHTML = parseInt(<!--{echo @count($attachs['unused'])}-->);
	<!--{/if}-->
	<!--{if !empty($imgattachs['unused'])}-->
		display('attachnotice_img');
		var msg = '';
		<!--{loop $imgattachs['unused'] $attach}-->
			<!--{if !empty($attach['aid'])}-->
				msg += '<p style="float:left;width:220px;"><label><input id="unused$attach[aid]" name="unused[]" value="$attach[aid]" checked type="checkbox" class="pc" /><span title="$attach[filenametitle] $attach[dateline]">$attach[filename]</span></label></p>'
				IMGUNUSEDAID[{$attach[aid]}] = '$attach[aid]';
			<!--{/if}-->
		<!--{/loop}-->
		$('unusedlist_img').innerHTML = '<div class="cl">' + msg + '</div>';
		$('unusednum_img').innerHTML = parseInt(<!--{echo @count($imgattachs['unused'])}-->);
	<!--{/if}-->
	setCaretAtEnd();
	if(BROWSER.ie >= 5 || BROWSER.firefox >= '2') {
		_attachEvent(window, 'beforeunload', unloadAutoSave);
	}
	<!--{if !empty($_GET['cedit']) && $_GET['cedit'] == 'yes'}-->
		loadData(1);
		$(editorid + '_switchercheck').checked = !wysiwyg;
	<!--{/if}-->
</script>
