<!--{template common/header}-->
<script>
	// 可以访问哪几个论坛
	var fidRange = "{$_G[fid]}";
</script>
<script type="text/javascript" src="/static/js/vivo/shareShare/shareShare.js" ></script>
<link rel="stylesheet" type="text/css" href="/static/js/vivo/vivoBanner/vivoBanner.css">
<script type="text/javascript" src="/static/js/vivo/vivoBanner/vivoBanner.js" ></script>
<script type="text/javascript" src="/static/js/vivo/index.js"></script>
	<!--文章展示框-->
	<div class="main-container homePageMain">
		<link href="/static/css/home.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/static/css/threadWaterFall.css">
		<script type="text/javascript" src="/static/js/vivo/watefall.js"></script>
		<div class="waterfall-thread">
			<div class="waterfall-container" id="waterfall-container"></div>
			<div class="sk-spinner sk-spinner-three-bounce">
				<div class="sk-bounce1"></div>
				<div class="sk-bounce2"></div>
				<div class="sk-bounce3"></div>
			</div>
		</div>
	</div>
<!--{template common/footer}-->