<!--{template common/header}-->
<style>body{background: #f8f8f8;}</style>
	{eval}
		$headnav_name = '购物车';
	{/eval}
	<!--{template common/headnav}-->
	
    <div class="row-box">
    	<table class="product-list" id="product-list">
    		<tbody id="pdlist-container">
				
    		</tbody>
    	</table>
    </div>
    <div class="row-box" style="border-top:1px solid #E7E7E7;border-bottom:1px solid #E7E7E7;">
    	<form action="forum.php" method="post" class="buy-action-form">
    		<input type="hidden" name="mod" value="order"/>
    		<input type="hidden" name="action" value="buy" />
    		<input type="hidden" name="from" value="cart" />
    		<button id="buyAction" class="btn buy-btn" type="submit">结算</button>
    		<div class="order-container">
    			<p class="order-price" id="order-price"><span class="title">合计:</span><span class="content">￥<span class="data">0.0</span>元</span></p>
    			<p class="order-desc" id="order-desc">(共<span class="data"></span>件)</p>
    		</div>
    	</form>
    </div>
	<script>
		var productList,
			operatorTime = new Date().getTime(),
			ajaxLock = false;
		
		jQuery(function(){
			// load商品列表
			reloadProductList();
			
			// 增减事件
			jQuery("body").on("click", "#pdlist-container .numbtn", function(){
				var _this = jQuery(this),
					spid = _this.parent().attr("data-content"),
					numInput = _this.siblings(".num"),
					num = parseInt(numInput.val());
				if(_this.hasClass("dec-btn")){
					if(num <= 1) return;
					num--;
				}else if(_this.hasClass("inc-btn")){
					num++;
				}
				var oldnum = parseInt(numInput.val());
				if(oldnum != num){
					numInput.val(num);
					changeProductNum(spid, num, function(data){
						if(data.result != 1){
							numInput.val(oldnum);
						}
					});
				}
			});
			// 直接改数字事件
			jQuery("body").on("focusout", "#pdlist-container .num", function(){
				var _this = jQuery(this),
					spid = _this.parent().attr("data-content"),
					num = parseInt(_this.val());
				
				if(num <= 0){
					deleteProduct(spid);
				}else{
					changeProductNum(spid, num);
				}
			});
			// 删除商品事件
			jQuery("body").on("click", "#pdlist-container .remove", function(){
				var _this = jQuery(this),
					spid = _this.attr("data-content");
				deleteProduct(spid);
			});
		});
		function updateOrderState(){
			var total = 0.0,
				count = 0;
			for(var i = 0; i < productList.length; i++){
				total += parseFloat(productList[i]['total']);
				count += parseInt(productList[i]['amount']);
			}
			jQuery("#order-price").find(".data").html(total);
			jQuery("#order-desc").find(".data").html(count);
		}
		function changeProductNum(spid, num, cb){
			jQuery.ajax({
				"url":"forum.php",
				"data":{
					"mod":"order",
					"action":"ajaxmycartupdate",
					"spid":spid,
					"num":num
				},
				"dataType":"json",
				"success":function(data){
					if(typeof(cb)=="function"){
						cb(data);
					}
					if(data.result == 1){
						reloadProductList();
					}
				}
			});
		}
		function deleteProduct(spid, cb){
			jQuery.ajax({
				"url":"forum.php",
				"data":{
					"mod":"order",
					"action":"ajaxmycartdelete",
					"spid":spid
				},
				"dataType":"json",
				"success":function(data){
					if(typeof(cb)=="function"){
						cb(data);
					}
					if(data.result == 1){
						reloadProductList();
						jQuery("#sp_" + spid).remove();
					}
				}
			});
		}
		function reloadProductList(){
			jQuery.ajax({
				"url":"forum.php",
				"data":{
					"mod":"order",
					"action":"ajaxmycartlist"
				},
				"dataType":"json",
				"success":function(data){
					if(data.result == 1){
						var c = jQuery("#pdlist-container");
						c.html("");
						var pl = data.data,
							total = 0;
						productList = pl;
						for(var i = 0; i < pl.length; i++){
							total += pl[i]['total'];
							jQuery(formatProductData(pl[i])).appendTo(c);
						}
						updateOrderState();
					}
				}
			});
		}
		function formatProductData(p){
			var str = '  <tr id="sp_' + p['spid'] + '">\
			    			<td class="remove-btn"><img data-content="' + p['spid'] + '" src="/static/image/vivo/mobile/shopcart-remove-active.png" class="remove"></td>\
			    			<td class="product-image">\
			    				<div class="product-image-container">\
			    					<img class="product-image" src="' + p['pic'] + '">\
			    				</div>\
			    			</td>\
			    			<td class="product-desc">\
			    				<p class="product-name">' + p['name'] + '</p>\
			    				<p class="product-price">￥' + p['discount'] + '元</p>\
			    				<div class="num-controller" data-content="' + p['spid'] + '">\
			    					<span class="numbtn dec-btn">-</span>\
			    					<input class="num" type="text" value="' + p['amount'] + '">\
			    					<span class="numbtn inc-btn">+</span>\
			    				</div>\
			    			</td>\
			    		</tr>';
			return str;
		}
	</script>
{eval $nofooter=true;}
<!--{template common/footer}-->
