<!--{template common/header}-->

{eval}
//加载库文件
require_once libfile('function/product');
require_once libfile('function/order');
{/eval}

<div id="ct" class="cl">
  <div class="orderDetail orderModule bm">
    <div class="orderState">
      <p>订单号：{$orderInfo[o_openid]}&nbsp;&nbsp;&nbsp;
        状态：<strong>{eval echo get_state_name($orderInfo['state']); }</strong>
      </p>
    </div>
    {if $orderInfo['state'] >= 0 && $orderInfo['state'] <= 3}
    <p class="orderNotice">你的订单已提交，系统正在为你安排商品出库。</p>
    {elseif $orderInfo['state'] >= 3 && $orderInfo['state'] < 6 }
    <p class="orderNotice">尊敬的客户，您的订单商品已经从库房发出，请您做好收货准备。</p>
    {elseif $orderInfo['state'] == 6 }
    <p class="orderNotice">订单已完成。</p>
    {/if}
    
    <div class="orderProcess mb">
      <div class="process_body">
        <div class="node ico_file fore {eval echo $orderInfo['state'] >= 0 ? 'ready' : 'wait'; }">
          <ul>
            <li>&nbsp;</li>
            <li>提交订单</li>
            {if $orderInfo['state'] >= 0 }
            <li>$orderStateTime["submit"]</li>
             {/if}
          </ul>
        </div>
        <div class="proce {eval echo $orderInfo['state'] >= 0 ? 'ready' : 'wait'; }">
          <!--<ul>
            <li>&nbsp;</li>
          </ul>-->
        </div>
        <div class="node ico_cart {eval echo $orderInfo['state'] >= 2 ? 'ready' : 'wait'; }">
          <ul>
            <li>&nbsp;</li>
            <li>商品出库</li>
            {if $orderInfo['state'] >= 2}
            <li>{$orderStateTime["sended"]}</li>
            {/if}
          </ul>
        </div>
        <div class="proce {eval echo $orderInfo['state'] >= 2 ? 'ready' : 'wait'; }">
          <!--<ul>
            <li>&nbsp;</li>
          </ul>-->
        </div>
        <div class="node ico_car {eval echo $orderInfo['state'] >= 3 ? 'ready' : 'wait'; }">
          <ul>
            <li>&nbsp;</li>
            <li>等待收货</li>
            {if $orderInfo['state'] >= 3}
            <li>{$orderStateTime["start_deliver"]}</li>
            {/if}
          </ul>
        </div>
        <div class="proce {eval echo $orderInfo['state'] >= 3 ? 'ready' : 'wait'; }">
          <!--<ul>
            <li>&nbsp;</li>
          </ul>-->
        </div>
        <div class="node ico_ok {eval echo $orderInfo['state'] >= 6 ? 'ready' : 'wait'; }">
          <ul>
            <li>&nbsp;</li>
            <li>完成</li>
             {if $orderInfo['state'] >= 6}
            <li>{$orderStateTime["success"]}</li>
            {/if}
          </ul>
        </div>
      </div>
    </div>
    <div class="orderTrack mb">
      <p class="title">订单跟踪</p>
      <table cellpadding="0" cellspacing="0" width="100%">
        <thead id="tbody_track">
          <tr>
            <th width="27%"><strong>处理时间</strong></th>
            <th width="49%"><strong>处理信息</strong></th>
            <th width="24%"><strong>操作人</strong></th>
          </tr>
        </thead>
        <tbody>
          {if $orderState && count($orderState)}
          {eval foreach ($orderState as $v) : }
          <tr> 
            <td>{eval echo date("Y-m-d H:i:s", $v['dateline']); }</td> 
            <td>{eval echo get_state_message($v['state'], $orderInfo[expresscom], $orderInfo[expresscode]); }</td> 
            <td>
              {eval}
              $user = getuserbyuid($v['uid']);
              if (!$user)
              {
                echo '系统';
              }
              else
              {
                echo $user['username'];
              }
              
              {/eval}
            </td>
          </tr>
          {eval endforeach; }
          {else}
          <tr>
            <td class="text-center" colspan="3">暂时无任何跟踪信息。</td>
          </tr>
          {/if}
        </tbody>
        
      </table>
      <p class="expressInfo">送货方式：普通快递&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        承运人：{eval echo $orderAllInfo['express_company'] ? $orderAllInfo['express_company']['ecname'] : ""; }&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        货运单号：{$orderAllInfo[expresscode]}<a href="http://m.ickd.cn" target="_blank" style="color:#1071ea;margin:0px 10px;">(快递查询)</a></p>
    </div>

    <!-- order information -->
    <div class="orderInfo mb">
      <p class="title">订单信息</p>
      <dl class="bottomBorder">
        <dt>收货人信息</dt>
        <dd>收&nbsp;货&nbsp;人：{eval echo $orderAddress ? $orderAddress['name'] : ""; }</dd>
        <dd>地&nbsp;&nbsp;&nbsp;&nbsp;址：{eval echo $orderAddress ? getFullAddress($orderAddress) : ""; }</dd>
        {eval $phone = $orderAddress ? $orderAddress['phone'] : ''; }
        <dd>电话号码：{$phone}</dd>
        <dd>备&nbsp;&nbsp;&nbsp;&nbsp;注：{$orderInfo[note]}</dd>
      </dl>
      <dl>
        <dt>支付及配送方式</dt>
        <dd>支付方式：{:get_payment_name($orderInfo['payment'])}{if $orderInfo['payment']>0}{:get_paystate_name($orderInfo['paystate'])}{/if}</dd>
        <dd>运&nbsp;&nbsp;&nbsp;&nbsp;费：￥{$orderInfo[expresscost]}</dd>
      </dl>
      <dl class="productList">
        <dd>
          <table class="orderProductTable" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
              <tr>
                <th class="table-title f16" width="86"> 商品清单 </th>
                <th class="text-center" width="35%"> 商品名称 </th>
                <th class="text-center" width="17%"> 数量 </th>
                <th class="text-center"> 商品单价 </th>
                <th class="text-center"> 商品总价 </th>
              </tr>
              {eval}
              $detailTable = $orderAllInfo['productTable'];
              foreach ($detailTable as $od) :
              $media_list = json_decode(htmlspecialchars_decode($od['media_list']), true);
              {/eval}
              <tr>
                {eval}
                $product = $od ? $od : null;
                $product_url = $od ? 'forum.php?mod=product&pdid='.$od['pdid'] : 'javascript:;';
                {/eval}
                <td class="tdImage">
                  <a target="_blank" href="{$product_url}">
                    {if count($media_list)}
                    <img width="50" height="50" src="{$media_list[0][media_url]}" title="{eval echo $od['name'] ? $od['name'] : '未知商品'; }">
                    {/if}
                  </a>
                </td>
                <td class="text-center">
                  <a target="_blank" href="{$product_url}">
                    {eval echo $od ? $od['name'] : "未知商品"; }
                  </a>
                </td>
                <td class="text-center">{$od[amount]}</td>
                <td class="text-center price-text">{:getPriceInOrderDetail($od[discount],$od[credit])}</td>
                <td class="text-center price-text">{:getPriceInOrderDetail($od[total],$od[totalcredit])}</td>
              </tr>
              {eval endforeach; }
            </tbody>
          </table>
          <!-- order cost -->
          <div class="orderCost text-right">
            <table>
              <tbody>
                <tr>
                  <td class="text-right">总人民币价格：</td>
                  <td class="text-left">￥{$orderInfo[goodcost]}</td>
                </tr>
                <tr>
                  <td class="text-right">总虚拟币价格：</td>
                  <td class="text-left">{$orderInfo[totalcredit]}&nbsp;{:getCreditstransTitle()}</td>
                </tr>
                <tr>
                  <td class="text-right">- 返现：</td>
                  <td class="text-left">￥0.00</td>
                </tr>
                <tr>
                  <td class="text-right">+ 运费：</td>
                  <td class="text-left">￥{$orderInfo[expresscost]}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="total text-left" colspan="2">应付总额：<span><b>{:getPriceInOrderDetail($orderInfo[totalprice],$orderInfo[totalcredit],' + ' , true)}</b></span></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </dd>
      </dl>
      <div style="text-align: center;">{if $orderInfo['payment'] > 0 &&  $orderInfo['paystate']==0}<button type="button" onclick="location.href='{:U('forum/order/pay','order_id='.$orderInfo['oid'])}';">立刻支付</button>{/if}</div>
    </div> 
  </div>
</div>

<!--{template common/footer}-->

