<!--{template common/header}-->
{eval $product_onsell['currency'] = ($product_onsell['type'] == 1) ? $_G['setting']['extcredits'][$_G['setting']['creditstrans']]['title']: '元';}
<script type="text/javascript">
function checkSubmit(){
	// 检查地址
	var isaddr = false,
		addr = 0,
		addrs = jQuery("input.selectaddress");
	for(var i = 0; i < addrs.length; i++){
		if(jQuery(addrs[i]).prop("checked")){
			isaddr = true;
			break;
		}
	}
	if(!isaddr){
		vivoAlert("请选择发货地址", 2000);
		return false;
	}
	
	if(vivoConfirm({"message":"本次订单总购买：{$product_count}个商品\n共：{$order_total}{$product_onsell[currency]}\n是否确认下单？"})){
		return true;
	}else{
		return false;
	}
}

// 清除输入框
function clearAddressInput(){
	var newname = jQuery("#newname"),
		newaddress = jQuery("#newaddress"),
		newphone = jQuery("#newphone");
		
	newname.val("");
	newaddress.val("");
	newphone.val("");
}

// 编辑地址
function delAddress(obj){
	var o = jQuery(obj),
		uaid = o.attr("data-content");
	if(uaid > 0){
		jQuery.ajax({
			"type":"POST",
			"url":"forum.php",
			"data":{
				"mod":"ajax",
				"action":"deladdress",
				"uaid":uaid
			},
			"dataType":"json",
			"success":function(data){
				var r = data.result;
				if(r > 0){
					o.parent().parent().hide("500",function(){ jQuery(this).remove()});
				}else{
					vivoAlert("删除地址失败", 2000);
				}
			}
		});
	}
}

// 显示新增地址窗口
function addAddressContainer(){
	clearAddressInput();
	jQuery("#address-input").removeClass("disable");
}

// 新增地址
function addAddress(obj){
	var self = this,
		newname = jQuery("#newname"),
		newaddress = jQuery("#newaddress"),
		newphone = jQuery("#newphone"),
		provinceid = jQuery('#provinceid option:selected'),
		cityid = jQuery('#cityid option:selected'),
		distid = jQuery('#distid option:selected'),
		communityid = jQuery('#communityid option:selected'),
		n = newname.val(),
		a = newaddress.val(),
		p = newphone.val();
	
	myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
	if(!myreg.test(p)){ 
        vivoAlert('手机号码不正确，请重填！');
		newphone.focus();
		return;
    }
	
	if(n.length > 0 && a.length > 0 && p.length > 0){
		jQuery.ajax({
			"type":"POST",
			"url":"forum.php",
			"data":{
				"mod":"ajax",
				"action":"addaddress",
				"newname":n,
				"newaddress":a,
				"newphone":p,
				"provinceid":provinceid.val(),
				'cityid':cityid.val(),
				'distid':distid.val(),
				'communityid':communityid.val(),
				'province' : provinceid.text(),
				'city' : cityid.text(),
				'dist' : distid.text(),
				'community' : communityid.text()
			},
			"dataType":"json",
			"success":function(data){
				var id = data.uaid;
				if(id > 0){
					var btn = jQuery(obj);
					var li = jQuery("<li></li>")
					.attr("class","address-list-item")
					.html('<span class="address-edit"><a class="btn" href="###" onclick="delAddress(this);return false;" data-content="' + id + '">删除地址</a></span><span class="radio"><input class="selectaddress" type="radio" name="address" value="' + id + '"></span><span class="address-data"><span class="address">' + data.address + '</span><span class="name">(' + n + ')</span><span class="phone">' + p + '</span></span>');
					li.insertBefore(btn.parent().parent());
					clearAddressInput();
					btn.addClass("disable");
				}else{
					vivoAlert("添加地址失败", 2000);
				}
			}
		});
	}else{
		vivoAlert("请填写完整的地址信息", 2000);
	}
}
</script>
<form action="forum.php" method="POST" onSubmit="return checkSubmit();">
	<input type="hidden" name="mod" value="order"/>
	<input type="hidden" name="action" value="confirm"/>
	<input type="hidden" name="spid" value="{$spid}"/>
	<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />
	<input type="hidden" name="payment" value="0">
	<div class="order-container">
		<div class="order-address-container">
			<h3 class="address-header">确认收货地址</h3>
			<div class="address-body">
				<h4 class="address-title">寄送至：</h4>
				<ul class="address-list">
					<!--{eval}-->
					<!--
						if(count($address_list) > 0){
							foreach($address_list as $k=>$l){
								$checked = ($k == 0) ? 'checked' : '';
								echo '<li class="address-list-item">';
								echo '<span class="address-edit"><a class="btn" href="###" onclick="delAddress(this);return false;" data-content="'.$l['uaid'].'">删除地址</a></span>';
								echo '<span class="radio"><input class="selectaddress" type="radio" name="address" value="'.$l['uaid'].'" '.$checked.'></span>';
								echo '<span class="address-data"><span class="address">'.getFullAddress($l).'</span><span class="name">('.$l['name'].')</span><span class="phone">'.$l['phone'].'</span></span>';
								echo '</li>';
							}
						}
					-->
					<!--{/eval}-->
					<li id="address-input" class="address-input <!--{eval echo (count($address_list) > 0) ? 'disable':'';}-->">
						<span class="newinput name"><input class="text" type="text" name="newname" id="newname" placeholder="收件人"></span>
						<span class="newinput direct" id="selectdirectbox">{$provice_list}</span>
						<span class="newinput address"><input class="text" type="text" name="newaddress" id="newaddress" placeholder="收件地址"></span>
						<span class="newinput phone"><input class="text" type="text" name="newphone" id="newphone" placeholder="联系电话"></span>
						<span class="submit"><a class="btn" href="###" onclick="addAddress(this);return false;">新增地址</a></span>
					</li>
					<li class="address-add"><a class="btn" href="###" onclick="addAddressContainer();return false;">使用其他地址</a></li>
				</ul>
			</div>
		</div>
		<div class="order-info-container">
			<h4 class="info-header">订单信息</h4>
			<table class="info-table">
				<tr>
					<th class="name" colspan="2"><span>商品名</span></th>
					<th class="num"><span>数量</span></th>
					<th class="price"><span>单价</span></th>
					<th class="total"><span>总价</span></th>
				</tr>
				{loop $product_onsells $k $product_onsell}
				<tr>
					{eval $product_onsell['currency'] = ($product_onsell['type'] == 1) ? $_G['setting']['extcredits'][$_G['setting']['creditstrans']]['title']: '元';}
					<td class="img"><div class="pd-img-container"><img class="pd-img" src="{$product_onsell['main_pic']}"></div></td>
					<td class="name">
						<p class="pdname">{$product_onsell['name']}<input type="hidden" name="newspid[]" value="{$product_onsell['spid']}"></p>
					</td>
					<td class="num">{$num}<input type="hidden" name="newnum[]" value="{$nums[$k]}"></td>
					<td class="price">{$product_onsell['newprice']}{$product_onsell['currency']}</td>
					<td class="total">{$product_onsell['totalprice']}{$product_onsell['currency']}</td>
				</tr>
				{/loop}
			</table>
			<div class="info-input-group">
				<div class="info-input-title">订单备忘</div>
				<div class="info-input-body"><input class="text" type="text" name="newnote" value="" placeholder=""></div>
			</div>
		</div>
		<div class="order-info-container">
			<h4 class="info-header">支付方式</h4>
			<ul>
				{eval $payments = get_payment()}
				{loop $payments $pk $pv}
					{if $pv['status']}
					<li><label><input name="payment" value="{$pv['pid']}" type="radio" />{$pv['payname']}</label></li>
					{/if}
				{/loop}
			</ul>
		</div>
		<button type="submit" name="ordersubmit" class="ordersubmit" value="submit">提交订单</button>
	</div>
</form>
<!--{template common/footer}-->