<!--{template common/header}-->

{eval}
isset($scriptText) ? null : $scriptText = '';

$url_current = '/forum.php?mod=order&action=myorder';
if ( $orderType === 'wait' )
{
	$url_current .= '&order_type=wait';
}
{/eval}

  <div class="orderList orderModule bm">
    <dl>
      <dt>
      	<nav class="orderType">
      		<div class="title{eval echo $orderType === 'wait' ? '' : ' active'; }">
      			<a href="/forum.php?mod=order&action=myorder">全部订单</a>
      		</div>
      		<span></span>
      		<div class="title{eval echo $orderType === 'wait' ? ' active' : ''; }">
      			<a href="/forum.php?mod=order&action=myorder&order_type=wait">待收货</a>
      		</div>
      	</nav>
        <div class="search">
          <form action="" method="post">
            <input id="orderKeywords" type="text" name="keywords" placeholder="商品名称、订单编号" required="required" />
            <button class="ico_magnifier"></button>
          </form>
        </div>
      </dt>
      <dd>
        <table class="orderProductTable" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th class="orderInfo"><span>订单信息</span></th>
              <th class="addressee"><span>收货人</span></th>
              <th class="pay"><span>订单总价</span></th>
              <th class="time"><span>下单时间</span></th>
              <th class="status"><span>订单状态</span></th>
              <th class="operation"><span>操作</span></th>
            </tr>
          </thead>
          <tbody>
            
            {if count($orderList)}
            <!-- 有订单记录 -->
            
            {eval foreach ($orderList as $orderItem) : }
            
            {eval}
            // get order detail
            $orderAllInfo = getOrderAllInfo($orderItem['oid'], $_G['member']['uid']);
            {/eval}
            
            <!-- 订单头部信息 -->
            <tr class="order-header">
              
              {eval}
              $order_id = $orderAllInfo['o_openid'];
              $product_first = count($orderAllInfo['productTable']) ? $orderAllInfo['productTable'][0]['name'] : "";
              $product_first_id = count($orderAllInfo['productTable']) ? $orderAllInfo['productTable'][0]['pdid'] : 0;
              {/eval}
              
              <td colspan="6">
                <span class="orderNumber">订单编号：<a href="forum.php?mod=order&action=detail&order_id={$orderAllInfo[oid]}" target="_blank">$order_id</a></span>
              </td>
            </tr>
            
            {eval}
            $products = $orderAllInfo['productTable'];
            {/eval}
            
            <!-- 订单详情 -->
            <tr class="order-content">
              <td class="orderInfo">
              	{eval foreach($products as $product) : }
              	<a target="_blank" href="forum.php?mod=product&action=view&spid={$product[spid]}">
              		{eval $media_list = getMediaList($product); }
              		<div class="productImage">{eval echo count($media_list) ? sprintf('<img src="%s" alt="%s" />',$media_list[0]['media_url'], $product['name']) : ''; }</div>
              		<div class="productName">{$product[name]}</div>
              	</a>
              	{eval endforeach; }
              </td>
              <td class="text-center addressee">{eval echo $orderAllInfo['address'] ? $orderAllInfo['address']['name'] : ''; }</td>
              <td class="text-center pay">{:getPriceInOrderDetail($orderAllInfo[totalprice],$orderAllInfo[totalcredit])}</td>
              <td class="text-center time">{eval echo date("Y-m-d", $orderAllInfo['dateline']).'<br />'.date("H:i:s", $orderAllInfo['dateline']); }</td>
              <td class="text-center orderState status">{eval echo get_state_name($orderAllInfo['state']); }</td>
              <td class="text-center orderOperation operation">
                <a href="forum.php?mod=order&action=detail&order_id={$orderAllInfo[oid]}" target="_blank">查看</a>
                {if $orderAllInfo['state'] >= 0}
                <a class="returnRequest" href="javascript:;" data-order-openid="{$orderAllInfo[o_openid]}">退货申请</a>
              	{else}
              	<a href="javascript:;">查看退货申请结果</a>
              	{/if}
              </td>
            </tr>
            
            {eval endforeach; }
            
            {else}
            <tr>
              <td colspan="6" class="text-center">近期没有交易。</td>
            </tr>
            {/if}
          </tbody>
        </table>
        
        <div id="returnRequestConfirmDialog" title="退货申请确认" style="display: none;">
		  <form>
		  	<div class="form-group">
		  		<label for="returnReasonType">退货原因：</label><br />
		  		<select id="returnReasonType" class="form-control" name="reason_type">
		  			{:get_order_cancel_reason()}
		  		</select>
		  	</div>
		  	<div class="form-group">
		  		<label for="returnReason">退货说明：</label><br />
		  		<textarea id="returnReason" class="form-control" name="reason"></textarea>
		  	</div>
		  </form>    
		</div>
        <div class="clr text-right">
        	{eval}
        	$multi = helper_page::multi($orderCount, $limit, $page, "/forum.php?mod=order&action=myorder", 0, 5);
        	{/eval}
        	{if $multi}
        	{$multi}
        	{else}
        	<div class="pg">
        		<strong>1</strong>
        	</div>
        	{/if}
        </div>
      </dd>
    </dl>
  </div><!-- end orderList -->
  <script src="/static/js/vivo/order.js"></script>
<!--{template common/footer}-->