<!--{template common/header}-->
<script type="text/javascript" src="/static/js/vivo/plupload-2.1.2/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/static/js/vivo/qiniu-js-sdk/src/qiniu.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/js/vivo/setBannerImg/perfect-scrollbar/perfect-scrollbar-0.4.10.min.css">
<script type="text/javascript" src="/static/js/vivo/setBannerImg/perfect-scrollbar/perfect-scrollbar-0.4.10.with-mousewheel.min.js"></script>
<script type="text/javascript" src="/static/js/vivo/setBannerImg/setBannerImg.js"></script>
<script type="text/javascript" src="/static/js/vivo/userPersonalIndex.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/personal.css" />

{eval} if(!$_G['cache']['forums']){ loadcache('forums'); } $forums_cache = $_G['cache']['forums']; {/eval}

<div class="main-container personalContainer">
	<div class="topColumn" style="background-image: url('/static/image/vivo/person_background/2.jpg');">
		<div class="bgMask"></div>
		<div class="userInfoSummaryContainer">
			<div class="userInfoSummary">
				<div class="userAvatarContainer">
					<img class="userAvatar" src="{: avatar($profile['uid'], 'big', true)}">
				</div>
				<p class="edit-user-setting">
					{if $_G['uid']==$uid}
						<a href="/home.php?mod=spacecp&ac=avatar">
							<img src="/static/image/vivo/ico_pen.png" alt="" />
							修改
						</a>
					{/if}
				</p>
				<p class="nicknameContainer">
					{if $_G['uid']!=$uid}
					
						{if C::t('home_follow')->fetch_by_uid_followuid($_G['uid'], $profile['uid']) }
						<i class="icon_follow active"></i>
						{else}
						<i class="icon_follow">
							<a href="/home.php?mod=spacecp&ac=friend&op=add&uid={$profile['uid']}&handlekey=addfriendhk_1" onclick="showWindow(this.id, this.href, 'get', 0);"></a>
						</i>
						{/if}
					
					{/if}
					<span class="nickname">{$profile['nickname']}</span>
					{eval}
					if ( !isset($_G['cache']['usergroups']) )
					{
						loadcache('usergroups');
					}
					$group = $_G['cache']['usergroups'][$profile['groupid']];
					{/eval}
					<span class="levelName">
						{$group[grouptitle]}
					</span>

				</p>

                {eval if( $uid == $_G['uid'] && $_G['member']['adminid']==0) : }

                <p class="credis-counter">
                    <span class="counter" style="width:{eval echo (($_G['member']['credits']/$next_group['creditshigher'])*100) < 1 ? 1 : (($_G['member']['credits']/$next_group['creditshigher'])*100) }%;">&nbsp;</span> <span>{$_G['member']['credits']}/{$next_group['creditshigher']}</span>
                <div style="clear: both;"></div>
                </p>

                {eval else : }

				<div class="extcredit">
					<span class="extcredit-icon extcredit1">$profile['credits']</span>
					<!--<span class="extcredit-icon extcredit2">$profile['extcredit']['extcredits3']</span>-->
				</div>

                {eval endif; }

				<p class="community_data" style="display: none;">
					<span>关注</span>
					<span class="number">{eval echo C::t('home_follow')->count_follow_user($profile['uid']); }</span>
					<span>粉丝</span>
					<span class="number">{eval echo C::t('home_follow')->count_follow_user($profile['uid'], 1); }</span>
				</p>
			</div>
		</div>
	</div>
	<div class="leftColumn">
		<div class="info">
			<p class="info1">
				<span class="sex">{eval echo $profile['gender'] == 1 ? '男' : ($_G['member']['gender'] == 2 ? '女' : '保密'); }</span>
				<span class="age">{eval echo $profile['birthyear'] ? getAge($_G['member']['birthyear'], $_G['member']['birthmonth'], $_G['member']['birthday']).'岁' : ''; }</span>
				<span class="province">{eval echo str_replace('省', '', $profile['resideprovince']); }</span>
				<span class="city">{eval echo str_replace('市', '',$profile['residecity']); }</span>
			</p>
			{if $profile['email']}<p class="email">{$profile['email']}</p>{/if}
			{eval}
			$member_field = C::t('common_member_field_forum')->fetch_by_uid($uid);
			{/eval}
			{if $member_field}<p class="bio">{$member_field[sightml]}</p>{/if}
		</div>
		<div class="stamp">
			<ul>
			
				<li onclick="location.href='/forum.php?mod=personal&uid={$uid}';">
					<a href="javascript:;">
						<div class="item_image">
							<img src="/static/image/vivo/stamp_all_post.png" alt="所有帖子" />
						</div>
						<span>x</span>
						<span class="number">{: C::t("forum_thread")->count_by_authorid($profile['uid'])}篇</span>
					</a>
				</li>
				
				<li  onclick="location.href='/forum.php?mod=personal&uid={$uid}&filter=top';">
					<a href="javascript:;">
						<div class="item_image">
							<img src="/static/image/vivo/stamp_top.png" alt="顶置帖子" />
						</div>
						<span>x</span>
						<span class="number">{: C::t("forum_thread")->count_displayorder_by_uid($profile['uid'])}次</span>
					</a>
				</li>
				
				<li onclick="location.href='/forum.php?mod=personal&uid={$uid}&filter=digest';">
					<a href="javascript:;">
						<div class="item_image">
							<img src="/static/image/vivo/stamp_jinghua.png" alt="精华帖子" />
						</div>
						<span>x</span>
						<span class="number" >{: C::t("forum_thread")->count_digest_by_uid($profile['uid'])}次</span>
					</a>
				</li>
				
			</ul>
		</div>

		{eval}
		// 获取用户的所有活动参加记录
		$forumActivitiesJoined = C::t("forum_custom_activity_join")->fetch_all_by_uid($uid);
		// 获取用户参加的活动的信息
		$forumActivities = array();
		foreach ($forumActivitiesJoined as $joinRecord){
			$forumActivities[] = C::t("forum_custom_activity")->fetch_by_caid($joinRecord['caid']);
		}
		{/eval}

		<div class="join">
			<div class="join_title">我参与的</div>
			{eval foreach ($forumActivities as $activityItem) : }
			<dl>
				<dt>{$activityItem['name']}</dt>
				{eval}
				// 获取活动的主题
				$activityThreads = C::t("forum_thread")->fetch_all_by_authorid_displayorder($profile['uid'], null, '=', null, '', 0, 0, null, $activityItem['fid']);
				foreach ($activityThreads as $threadItem) :
				{/eval}
				<dd>
					<a href="/forum.php?mod=viewthread&tid={$threadItem['tid']}" target="_blank">
						{$threadItem['subject']}
					</a>
				</dd>
				{eval endforeach;}
			</dl>
			{eval endforeach; }
		</div>
	</div>
	<div class="rightColumn">
		<link rel="stylesheet" type="text/css" href="/static/css/forumdisplay_activity.css" />
		
		<div class="post_tags">
			
			<a href="/forum.php?mod=personal" class="tag tag_published"></a>
			<a href="/home.php?mod=space&do=favorite&type=thread" class="tag tag_favorite"></a>
		</div>
		
		<!--{if count($threads) > 0}-->
		<ul class="activityList">
	        <!--{loop $threads $thread}-->
	        <li class="activityItem">
	        	<h2 class="forumName"><a href="/forum.php?mod=forumdisplay&fid={$thread[fid]}" target="_blank">{$forums_cache[$thread[fid]][name]}</a></h2>
	        	<div class="activityImage">
	        		<a href="/forum.php?mod=viewthread&tid={$thread[tid]}" target="_blank">
	        			<img src="{eval echo empty($thread[media_list][0][media_url]) ? '/static/image/vivo/share-no-img.jpg' : $thread[media_list][0][media_url];}" alt="{$thread[subject]}" title="{$thread[subject]}" />
	        		</a>
	        	</div>
	        	<div class="activityName"><a href="/forum.php?mod=viewthread&tid={$thread[tid]}" target="_blank">{$thread[subject]}</a></div>
	        	<div class="activityIntro">{:htmlspecialchars_decode($thread[summary]);}</div>
	        	<div class="publishedTime">
	        		<span>{:custom_date($thread['dateline'])}</span>
	        		{eval} require_once libfile('function/post'); $post_first = getThreadFirstPost($thread['tid']); $post_id = $post_first ? $post_first['pid'] : ""; {/eval}
		        	<!--{if $_G['uid'] && $thread['authorid'] == $_G['uid']}-->
					<a class="editp" target="_blank" href="forum.php?mod=post&action=edit&fid=$thread[fid]&tid=$thread[tid]&pid=$post_id{if !empty($_GET[modthreadkey])}&modthreadkey=$_GET[modthreadkey]{/if}">
						<!--{if $_G['forum_thread']['special'] == 2 && !$post['message']}-->
						{lang post_add_aboutcounter}
						<!--{else}-->
						{lang edit}
						<!--{/if}-->
					</a>
					<!--{/if}-->
	        	</div>
	        	{eval}
	        	$this_isone = true;
	        	if($thread['displayorder'] > 0){
	        		echo '<span class="mark-icon top"></span>';
	        		$this_isone = false;
	        	}
	        	if($thread['digest'] > 0){
	        		echo '<span class="mark-icon recommend '.(!$this_isone ? 'second' : '').'"></span>';
	        	}
	        	{/eval}
	        </li>
	        <!--{/loop}-->
		</ul>
		<div class="page-container">{$multipage}</div>
		<!--{else}-->
		<div class="notice_no_share">
			<p>纳尼~没有贴子丫，贴子去哪儿了~~</p>
		</div>
		<!--{/if}-->
		
	</div>
</div>

<!--{template common/footer}-->