<!--{template common/header}-->
<div id="ct" class="cl">
  <div class="productDetail">
    <h1 class="title">{eval echo (empty($product['subject'])) ? $product['name'] : $product['subject'].'('.$product['name'].')'}</h1>
    <div class="clearfix">
      <div class="left">
        {eval}
        $media_list = json_decode(htmlspecialchars_decode($product['media_list']), true);
        {/eval}
        <div class="productImageContainer">
          <div class="showArea">
            {if count($media_list)}
            <img src="{$media_list[0][media_url]}" data-zoom-image="" alt="" />
            {/if}
          </div>
          <ul class="thumbnailImages">
            {eval}
            $index_image = 1;
            foreach($media_list as $image) :
            {/eval}
            <li{eval echo $index_image === 1 ? ' class="current"' : ''; }>
              <a href="javascript:;">
                <img src="{$image[media_url]}" data-zoom-image="/Public/images/demo_p5.jpg" alt="" />
              </a>
            </li>
            {eval $index_image++; endforeach; }
          </ul>
        </div>
      </div>
      <div class="right">
        <form action="forum.php" method="get" {if !$login_condition}onSubmit=";return false;"{/if}>
          <input type="hidden" name="mod" value="order">
          <input type="hidden" name="action" value="buy">
          <input type="hidden" name="spid" value="{$product[spid]}">
          <p class="param_item">
            <span style="color:#aaa;text-decoration:line-through;">原价：￥{$product[costprice]}</span>&nbsp;&nbsp;产地：{$product[area]}
          </p>
          <p class="param_item red-bg">
                  会员价：
            <strong>￥{$product[discount_price]}</strong>
            &nbsp;&nbsp;
            <span class="tag tag_info">货到付款</span>
            <span class="tag tag_important">限时热卖</span>
          </p>
          {if $product[expiration]}
          <p class="info_item indentation">
            <strong class="time" id="productCountTimer"></strong>
            <span class="orange">抢购结束</span>
          </p>
          {/if}
          <!--<ul class="param_item indentation">
            <li class="selected"><img src="/Public/images/demo_p6.jpg" title="普通装" alt="" /></li>
            <li><img src="/Public/images/demo_p7.jpg" title="金装" alt="" /></li>
          </ul>-->
          {if $product[limit]}
          <div class="buy_param indentation">
          	<span>限购数量：</span>
            <span>{$product[limit]}</span>
          </div>
          {/if}
          <div class="buy_param indentation">
            <span>购买数量：</span>
            <div class="buttonGroup">
              <button class="text_decrease decreaseButton" type="button">-</button>
              <input id='buyCount' type="text" name="num" value="{eval echo ($login_condition) ? ($buy_condition ? '0' : '1') : '0'; }" />
              <button class="text_increase increaseButton" type="button">+</button>
            </div>
          </div>
          <div class="buy_action indentation">
            <button class="btn-buy" {eval echo ($login_condition) ? '':'id="loginOperation"';}  type="submit"{eval echo ($login_condition) ? ($buy_condition) ? ' disabled="disabled"' : '' : ''; }>
            	{eval}
            		if($login_condition){
            			if($buy_condition){
            				echo '无法购买';
            			}else{
            				echo '购买';
            			}
            		}else{
            			echo '购买';
            		}
            	{/eval}
            </button>
          </div>
          <input id="buyAbleNum" type="hidden" name="" value="{eval echo $product[limit]; }" />
          <input id="sellStart" type="hidden" name="" value="{eval echo $product['dateline']; }" />
          <input id="sellEnd" type="hidden" name="" value="{eval echo $product['expiration']; }" />
        </form>
      </div>
    </div>
    <div class="productDescription">{$product['desc']}</div>
  </div>
</div>

<script type="text/javascript" src="/static/jquery/zoom-master/jquery.zoom.min.js"></script>
<script type="text/javascript">
  jQuery(".productDetail").ready(function ()
  {
  	// 设置商品倒数
  	jQuery("#productCountTimer").countTimer({
  		"beginTime":{eval} echo TIMESTAMP;{/eval},
  		"endTime":{eval} echo $product['expiration'];{/eval}
  	});
    // 设置商品预览大图
    jQuery('.productDetail .showArea').zoom();
    
    // 设置商品缩略图行为
    jQuery(".productDetail .thumbnailImages li a").click(function()
    {
      jQuery(".productDetail .thumbnailImages li").removeClass("current");
      jQuery(this).parent().addClass("current");

      var image_selected = jQuery(this).find("img");
      var image_source = image_selected.attr("data-zoom-image");
      var image_thumbnail = image_selected.attr("src");

      jQuery('.productDetail .showArea img').attr({
        "src" : image_thumbnail,
        "data-zoom-image" : image_source
      });
    });
    
    // 设置购买数量按钮组
    jQuery(".productDetail .decreaseButton").click(function()
    {
      var group = jQuery(this).parent();
      var input = group.find("input");
      var count = parseInt(input.val());
      if (count>0)
      {
        count -= 1;
      }
      input.val(count);
      input.change();
    });
    jQuery(".productDetail .increaseButton").click(function()
    {
      var group = jQuery(this).parent();
      var input = group.find("input");
      var count = parseInt(input.val());
      input.val(count+1);
      input.change();
    });
    
    // 检查购买数量
    jQuery("#buyCount").change(function(){
      var count = parseInt(this.value);
      var buyAbleNum = parseInt(document.getElementById("buyAbleNum").value);
      log(buyAbleNum);
      if ( buyAbleNum < 0 )
      {
        return false;
      }
      if (buyAbleNum > 0 && count > buyAbleNum)
      {
        this.value = buyAbleNum;
      }
    });
    
    
  });
</script>

<!--{template common/footer}-->
