<!--{template common/header}-->
<!--{if empty($_GET['infloat'])}-->
<div id="pt" class="bm cl">
	<div class="z"><a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em> $navigation</div>
</div>
<div id="ct" class="wp cl">
	<div class="mn main">
		<div class="bm bw0">
<!--{/if}-->

<div class="tm_c" id="floatlayout_topicadmin">
	<h3 class="flb">
		<em id="return_mods">{lang admin_select_piece}</em>
		<span>
			<a href="javascript:;" class="flbc" onclick="hideWindow('mods')" title="{lang close}">{lang close}</a>
		</span>
	</h3>
	<form id="moderateform" method="post" autocomplete="off" action="forum.php?mod=topicadmin&action=moderate&optgroup=$optgroup&modsubmit=yes&infloat=yes" onsubmit="ajaxpost('moderateform', 'return_mods', 'return_mods', 'onerror');return false;">
		<input type="hidden" name="frommodcp" value="$frommodcp" />
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<input type="hidden" name="fid" value="$_G[fid]" />
		<input type="hidden" name="redirect" value="{echo dreferer()}" />
		<!--{if !empty($_GET['listextra'])}--><input type="hidden" name="listextra" value="$_GET['listextra']" /><!--{/if}-->
		<!--{if !empty($_GET['infloat'])}--><input type="hidden" name="handlekey" value="$_GET['handlekey']" /><!--{/if}-->
		<!--{loop $threadlist $thread}-->
			<input type="hidden" name="moderate[]" value="$thread[tid]" />
		<!--{/loop}-->
		<div class="c">
			<!--{if $_GET['optgroup'] == 1}-->
				<ul class="tpcl">
				<!--{if count($threadlist) > 1 || empty($defaultcheck[recommend])}-->
					<!--{if $_G['group']['allowstickthread']}-->
					<li id="itemcp_stick">
						<table cellspacing="0" cellpadding="5" width="100%">
							<tr>
								<td width="15"><input type="checkbox" name="operations[]" class="pc" onclick="if(this.checked) switchitemcp('itemcp_stick')" value="stick" $defaultcheck[stick] /></td>
								<td class="hasd">
									<label onclick="switchitemcp('itemcp_stick')" class="labeltxt">{lang thread_stick}</label>
									<div class="dopt">
										<select class="ps" name="sticklevel">
											<!--{if $_G['forum']['status'] != 3}-->
												<option value="0">{lang none}</option>
												<option value="1" $stickcheck[1]>$_G['setting']['threadsticky'][2]</option>
												<!--{if $_G['group']['allowstickthread'] >= 2}-->
													<option value="2" $stickcheck[2]>$_G['setting']['threadsticky'][1]</option>
													<!--{if $_G['group']['allowstickthread'] == 3}-->
														<option value="3" $stickcheck[3]>$_G['setting']['threadsticky'][0]</option>
													<!--{/if}-->
												<!--{/if}-->
											<!--{else}-->
												<option value="0">{lang no}&nbsp;</option>
												<option value="1" $stickcheck[1]>{lang yes}&nbsp;</option>
											<!--{/if}-->
										</select>
									</div>
								</td>
							</tr>
							<tr class="dopt">
								<td>&nbsp;</td>
								<td>
									<p class="hasd">
										<label for="expirationstick" class="labeltxt">{lang expire}</label>
										<input onclick="showcalendar(event, this, true)" type="text" autocomplete="off" id="expirationstick" name="expirationstick" class="px" value="$expirationstick" tabindex="1" />
										<a href="javascript:;" class="dpbtn" onclick="showselect(this, 'expirationstick')">^</a>
									</p>
								</td>
							</tr>
						</table>
					</li>
					<!--{/if}-->
					<!--{if $_G['group']['allowdigestthread']}-->
					<li id="itemcp_digest">
						<table cellspacing="0" cellpadding="5">
							<tr>
								<td width="15"><input type="checkbox" name="operations[]" class="pc" onclick="if(this.checked) switchitemcp('itemcp_digest')" value="digest" $defaultcheck[digest] /></td>
								<td class="hasd">
									<label onclick="switchitemcp('itemcp_digest')" class="labeltxt">{lang admin_digest_add}</label>
									<div class="dopt">
										<select name="digestlevel">
											<option value="0">{lang admin_digest_remove}</option>
											<option value="1" $digestcheck[1]>{lang thread_digest} 1</option>
											<!--{if $_G['group']['allowdigestthread'] >= 2}-->
												<option value="2" $digestcheck[2]>{lang thread_digest} 2</option>
												<!--{if $_G['group']['allowdigestthread'] == 3}-->
													<option value="3" $digestcheck[3]>{lang thread_digest} 3</option>
												<!--{/if}-->
											<!--{/if}-->
										</select>
									</div>
								</td>
							</tr>
							<tr class="dopt">
								<td>&nbsp;</td>
								<td>
									<p class="hasd">
										<label for="expirationdigest" class="labeltxt">{lang expire}</label>
										<input onclick="showcalendar(event, this, true)" type="text" name="expirationdigest" id="expirationdigest" class="px" autocomplete="off" value="$expirationdigest" tabindex="1" />
										<a href="javascript:;" class="dpbtn" onclick="showselect(this, 'expirationdigest')">^</a>
									</p>
								</td>
							</tr>
						</table>
					</li>
					<!--{/if}-->
					<!--{if $_G['group']['allowbumpthread']}-->
					<li id="itemcp_bump">
						<table cellspacing="0" cellpadding="5">
							<tr>
								<td width="15"><input type="checkbox" name="operations[]" class="pc" onclick="if(this.checked) switchitemcp('itemcp_bump')" value="bump" $defaultcheck[bump] /></td>
								<td class="hasd">
									<label onclick="switchitemcp('itemcp_bump')" class="labeltxt">{lang bump}</label>
								</td>
							</tr>
							<tr class="dopt">
								<td>&nbsp;</td>
								<td>
									<p class="hasd">
										<label for="expirationbump" class="labeltxt">{lang expire}</label>
										<input onclick="showcalendar(event, this, true)" type="text" name="expirationbump" id="expirationbump" class="px" autocomplete="off" value="" tabindex="1" />
										<a href="javascript:;" class="dpbtn" onclick="showselect(this, 'expirationbump')">^</a>
									</p>
								</td>
							</tr>
						</table>
					</li>
					<!--{/if}-->
					<!--{if $_G['group']['allowhighlightthread']}-->
					<li id="itemcp_highlight">
						<table cellspacing="0" cellpadding="5">
							<tr>
								<td width="15"><input type="checkbox" name="operations[]" class="pc" onclick="if(this.checked) switchitemcp('itemcp_highlight')" value="highlight" $defaultcheck[highlight] /></td>
								<td class="hasd">
									<!--{eval $_G['forum_colorarray'] = array(1=>'#EE1B2E', 2=>'#EE5023', 3=>'#996600', 4=>'#3C9D40', 5=>'#2897C5', 6=>'#2B65B7', 7=>'#8F2A90', 8=>'#EC1282');}-->
									<label onclick="switchitemcp('itemcp_highlight')" class="labeltxt">{lang thread_highlight}</label>
									<div class="dopt">
										<span class="hasd">
											<input type="hidden" id="highlight_color" name="highlight_color" value="$colorcheck" />
											<input type="hidden" id="highlight_style_1" name="highlight_style[1]" value="$stylecheck[1]" />
											<input type="hidden" id="highlight_style_2" name="highlight_style[2]" value="$stylecheck[2]" />
											<input type="hidden" id="highlight_style_3" name="highlight_style[3]" value="$stylecheck[3]" />
											<a href="javascript:;" id="highlight_color_ctrl" onclick="showHighLightColor('highlight_color')" class="pn colorwd"{if $colorcheck} style="background-: $_G[forum_colorarray][$colorcheck]"{/if} /></a>
										</span>
										<a href="javascript:;" id="highlight_op_1" onclick="switchhl(this, 1)" class="dopt_b{if $stylecheck[1]} cnt{/if}" style="text-indent:0;text-decoration:none;font-weight:700;" title="{lang e_bold}">B</a>
										<a href="javascript:;" id="highlight_op_2" onclick="switchhl(this, 2)" class="dopt_i{if $stylecheck[2]} cnt{/if}" style="text-indent:0;text-decoration:none;font-style:italic;" title="{lang e_italic}">I</a>
										<a href="javascript:;" id="highlight_op_3" onclick="switchhl(this, 3)" class="dopt_l{if $stylecheck[3]} cnt{/if}" style="text-indent:0;text-decoration:underline;" title="{lang e_underline}">U</a>
									</div>
								</td>
							</tr>
							<tr class="dopt">
								<td>&nbsp;</td>
								<td>
									<p class="hasd">
										<label for="expirationhighlight" class="labeltxt">{lang expire}</label>
										<input type="text" name="expirationhighlight" id="expirationhighlight" class="px" onclick="showcalendar(event, this, true)" autocomplete="off" value="$expirationhighlight" tabindex="1" />
										<a href="javascript:;" class="dpbtn" onclick="showselect(this, 'expirationhighlight')">^</a>
									</p>
								</td>
							</tr>
							<tr class="dopt">
								<td>&nbsp;</td>
								<td>
									<p class="hasd">
										<label class="labeltxt">{lang backgroundcolor}:</label>
										<input type="hidden" id="highlight_bgcolor" name="highlight_bgcolor" value="$highlight_bgcolor" />
										<input type="button" style="background-color: $highlight_bgcolor" value="" class="pn colorwd" onclick="createPalette('highlight_bgcolor_ctrl', 'highlight_bgcolor');" id="chighlight_bgcolor_ctrl">
									</p>
								</td>
							</tr>
						</table>
					</li>
					<!--{/if}-->
				<!--{/if}-->
				<!--{if $_G['group']['allowrecommendthread'] && !empty($_G['forum']['modrecommend']['open']) && $_G['forum']['modrecommend']['sort'] != 1}-->
					<li id="itemcp_recommend">
						<table cellspacing="0" cellpadding="5">
							<tr>
								<td width="15"><input type="checkbox" name="operations[]" class="pc" onclick="if(this.checked) switchitemcp('itemcp_recommend')" value="recommend" $defaultcheck[recommend] /></td>
								<td>
									<label onclick="switchitemcp('itemcp_recommend')" class="labeltxt">{lang recommend}</label>
									<div class="dopt">
										<label class="lb"><input type="radio" name="isrecommend" class="pr" value="1" checked="checked" />{lang recommend}</label>
										<label><input type="radio" name="isrecommend" class="pr" value="0" />{lang admin_unrecommend}</label>
									</div>
								</td>
							</tr>
							<tr class="dopt">
								<td>&nbsp;</td>
								<td>
									<p class="hasd">
										<label for="expirationrecommend" class="labeltxt">{lang expire}</label>
										<input type="text" name="expirationrecommend" id="expirationrecommend" class="px" onclick="showcalendar(event, this, true)" autocomplete="off" value="$expirationrecommend" tabindex="1" />
										<a href="javascript:;" class="dpbtn" onclick="showselect(this, 'expirationrecommend')">^</a>
									</p>
								</td>
							</tr>
							<!--{if $defaultcheck[recommend] && count($threadlist) == 1}-->
								<input type="hidden" name="position" value="1" />
								<tr class="dopt">
									<td>&nbsp;</td>
									<td>
										<label for="reducetitle" class="labeltxt">{lang forum_recommend_reducetitle}</label>
										<input type="text" name="reducetitle" id="reducetitle" class="px" style="width: 122px" value="$thread[subject]" tabindex="2" />
									</td>
								</tr>
								<!--{if $imgattach}-->
									<tr class="dopt">
										<td>&nbsp;</td>
										<td>
											<label class="labeltxt">{lang forum_recommend_image}</label>
											<select name="selectattach" onchange="updateimginfo(this.value)" class="ps" style="width: 132px">
												<option value="">{lang forum_recommend_noimage}</option>
												<!--{loop $imgattach $imginfo}-->
													<option value="$imginfo[aid]"{if $selectattach == $imginfo[aid]} selected="selected"{/if}>$imginfo[filename]</option>
												<!--{/loop}-->
											</select>
										</td>
									</tr>
									<tr class="dopt">
										<td>&nbsp;</td>
										<td>
											<label class="labeltxt">&nbsp;</label>
											<img id="selectimg" src="{STATICURL}image/common/none.gif"  width="120" height="80" />
											<script type="text/javascript" reload="1">
											var imgk = new Array();
											<!--{loop $imgattach $imginfo}-->
												<!--{eval $a = '\"\'\t\\""\\\''."\\\\";$k = getforumimg($imginfo['aid'], 1, 120, 80);}-->
												imgk[{$imginfo[aid]}] = '$k';
											<!--{/loop}-->
											function updateimginfo(aid) {
												if(aid) {
													$('selectimg').src=imgk[aid];
												} else {
													$('selectimg').src='{STATICURL}image/common/none.gif';
												}
											}
											<!--{if $selectattach}-->updateimginfo('$selectattach');<!--{/if}-->
											</script>
										</td>
									</tr>
								<!--{/if}-->
							<!--{/if}-->
						</table>
					</li>
				<!--{/if}-->
				</ul>
			<!--{elseif $_GET['optgroup'] == 2}-->
				<div class="tplw">
					<!--{if $operation != 'type'}-->
						<input type="hidden" name="operations[]" value="move" />
						<p class="mbn tahfx">
							{lang admin_target}: <select name="moveto" id="moveto" class="ps vm" onchange="ajaxget('forum.php?mod=ajax&action=getthreadtypes&fid=' + this.value, 'threadtypes');if(this.value) {$('moveext').style.display='';} else {$('moveext').style.display='none';}">
								$forumselect
							</select>
						</p>
						<p class="mbn tahfx">
							{lang admin_targettype}: <span id="threadtypes"><select name="threadtypeid" class="ps vm"><option value="0" /></option></select></span>
						</p>
						<ul class="llst" id="moveext" style="display:none;margin:5px 0;">
							<li class="wide"><label><input type="radio" name="type" class="pr" value="normal" checked="checked" />{lang admin_move}</label></li>
							<li class="wide"><label><input type="radio" name="type" class="pr" value="redirect" />{lang admin_move_hold}</label></li>
						</ul>
					<!--{else}-->
						<!--{if $typeselect}-->
							<input type="hidden" name="operations[]" value="type" />
							<p>{lang types}: $typeselect</p>
						<!--{else}-->
							{lang admin_type_msg}<!--{eval $hiddensubmit = true;}-->
						<!--{/if}-->
					<!--{/if}-->
				</div>
			<!--{elseif $_GET['optgroup'] == 3}-->
				<div class="tplw">
				<ul class="llst">
					<!--{if $operation == 'delete'}-->
						<li>
						<!--{if $_G['group']['allowdelpost']}-->
							<input name="operations[]" type="hidden" value="delete"/>
							<p>{lang admin_delthread_confirm}</p>
						<!--{else}-->
							<p>{lang admin_delthread_nopermission}</p>
						<!--{/if}-->
						</li>
					<!--{elseif $operation == 'down' || $operation='bump'}-->
						<li class="wide" id="itemcp_bump" style="border-top:1px solid #DDD;padding:0px 0 6px 0;">
							<table cellspacing="0" cellpadding="5">
								<tr>
									<td width="15"><input type="radio" name="operations[]" class="pr" onclick="if(this.checked) switchitemcp('itemcp_bump');" value="bump" checked="checked"/></td>
									<td class="hasd"><label onclick="switchitemcp('itemcp_bump');" class="labeltxt" style="width:50px;margin:5px 0 10px 0px;">{lang admin_bump}</label></td>
								</tr>
								<tr class="dopt">
									<td>&nbsp;</td>
									<td>
										<p class="hasd">
											<label for="expirationbump" class="labeltxt">{lang expire}</label>
											<input onclick="showcalendar(event, this, true)" type="text" name="expirationbump" id="expirationbump" class="px" autocomplete="off" value="" tabindex="1" />
											<a href="javascript:;" class="dpbtn" onclick="showselect(this, 'expirationbump')">^</a>
										</p>
									</td>
								</tr>
							</table>
						</li>
						<li class="wide" id="itemcp_down" style="padding:0px 0 0px 0;height:28px;">
							<table cellspacing="0" cellpadding="5">
								<tr>
									<td width="15"><input type="radio" name="operations[]" class="pr" onclick="if(this.checked) switchitemcp('itemcp_down');" value="down"/></td>
									<td class="hasd"><label onclick="switchitemcp('itemcp_down');" class="labeltxt" style="width:50px;margin:5px 0 10px 0px;">{lang admin_down}</label></td>
								</tr>
								<!--
								<tr class="dopt">
									<td>&nbsp;</td>
									<td>
										<p class="hasd">
											<label for="expirationdown" class="labeltxt">{lang expire}</label>
											<input onclick="showcalendar(event, this, true)" type="text" name="expirationdown" id="expirationdown" class="px" autocomplete="off" value="" tabindex="1" />
											<a href="javascript:;" class="dpbtn" onclick="showselect(this, 'expirationdown')">^</a>
										</p>
									</td>
								</tr>
								-->
							</table>
						</li>
					<!--{/if}-->
				</ul>
				<!--{if $operation == 'delete'}-->
					<!--{if ($modpostsnum == 1 || $authorcount == 1) && $crimenum > 0}-->
						<br /><div style="clear: both; text-align: right;">{lang topicadmin_crime_delpost_nums}</div>
					<!--{/if}-->
				<!--{/if}-->
				</div>
			<!--{elseif $_GET['optgroup'] == 4}-->
				<table cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td>{lang expire}:&nbsp;</td>
						<td>
							<p class="hasd">
								<input type="text" name="expirationclose" id="expirationclose" class="px" onclick="showcalendar(event, this, true)" autocomplete="off" value="$expirationclose" tabindex="1" />
								<a href="javascript:;" class="dpbtn" onclick="showselect(this, 'expirationclose')">^</a>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="padding: 5px 0;">
							<ul class="llst">
								<li class="wide"><label><input type="radio" name="operations[]" class="pr" value="open" $closecheck[0]  onclick="$('expirationclose').value='';" />{lang admin_open}</label></li>
								<li class="wide"><label><input type="radio" name="operations[]" class="pr" value="close" $closecheck[1] />{lang admin_close}</label></li>
							</ul>
						</td>
					</tr>
				</table>
			<!--{elseif $_GET['optgroup'] == 5}-->
				<div class="tplw">
					<!--{if $operation == 'recommend_group'}-->
						<input type="hidden" name="operations[]" value="recommend_group" />
						<p class="mbn tahfx">
							{lang admin_target}: <select id="moveto" name="moveto" class="ps vm">
								$forumselect
							</select>
						</p>
					<!--{/if}-->
				</div>
			<!--{/if}-->
			<div class="tpclg">
				<!--{if empty($hiddensubmit)}-->
				<h4 class="cl"><a onclick="showselect(this, 'reason', 'reasonselect')" class="dpbtn" href="javascript:;">^</a><span>{lang admin_reason}:</span></h4>
				<p>
					<textarea id="reason" name="reason" class="pt" onkeyup="seditor_ctlent(event, '$(\'modsubmit\').click();')" rows="3"></textarea>
				</p>
				<ul id="reasonselect" style="display: none"><!--{echo modreasonselect()}--></ul>
				<!--{/if}-->
			</div>
		</div>
		<!--{if empty($hiddensubmit)}-->
			<p class="o pns">
				<!--{if $_GET['optgroup'] == 3 && $operation == 'delete'}-->
				<label for="crimerecord"><input type="checkbox" name="crimerecord" id="crimerecord" class="pc" />{lang crimerecord}</label>
				<!--{/if}-->
				<label for="sendreasonpm"><input type="checkbox" name="sendreasonpm" id="sendreasonpm" class="pc"{if $_G['group']['reasonpm'] == 2 || $_G['group']['reasonpm'] == 3} checked="checked" disabled="disabled"{/if} />{lang admin_pm}</label>
				<button type="submit" name="modsubmit" id="modsubmit" class="pn pnc" value="{lang confirms}"><span>{lang confirms}</span></button>
			</p>
		<!--{/if}-->
	</form>
</div>

<script type="text/javascript" src="{$_G[setting][jspath]}calendar.js?{VERHASH}" reload="1"></script>

<script type="text/javascript" reload="1">
function succeedhandle_mods(locationhref) {
	hideWindow('mods');
	<!--{if !empty($_GET[from])}-->
		location.href = 'forum.php?mod=viewthread&tid=$_GET[from]&extra=$_GET[listextra]';
	<!--{else}-->
		location.href = locationhref;
	<!--{/if}-->
}
var lastsel = null;
function switchitemcp(id) {
	if(lastsel) {
		lastsel.className = '';
	}
	$(id).className = 'copt';
	lastsel = $(id);
}

<!--{if !empty($operation)}-->
	if($('itemcp_$operation')) {
		switchitemcp('itemcp_$operation');
	}
<!--{/if}-->
function switchhl(obj, v) {
	if(parseInt($('highlight_style_' + v).value)) {
		$('highlight_style_' + v).value = 0;
		obj.className = obj.className.replace(/ cnt/, '');
	} else {
		$('highlight_style_' + v).value = 1;
		obj.className += ' cnt';
	}
}
function showHighLightColor(hlid) {
	var showid = hlid + '_ctrl';
	if(!$(showid + '_menu')) {
		var str = '';
		var coloroptions = {'0' : '#000', '1' : '#EE1B2E', '2' : '#EE5023', '3' : '#996600', '4' : '#3C9D40', '5' : '#2897C5', '6' : '#2B65B7', '7' : '#8F2A90', '8' : '#EC1282'};
		var menu = document.createElement('div');
		menu.id = showid + '_menu';
		menu.className = 'cmen';
		menu.style.display = 'none';
		for(var i in coloroptions) {
			str += '<a href="javascript:;" onclick="$(\'' + hlid + '\').value=' + i + ';$(\'' + showid + '\').style.backgroundColor=\'' + coloroptions[i] + '\';hideMenu(\'' + menu.id + '\')" style="background:' + coloroptions[i] + ';color:' + coloroptions[i] + ';">' + coloroptions[i] + '</a>';
		}
		menu.innerHTML = str;
		$('append_parent').appendChild(menu);
	}
	showMenu({'ctrlid':hlid + '_ctrl','evt':'click','showid':showid});
}
</script>

<!--{if empty($_GET['infloat'])}-->
		</div>
	</div>
</div>
<!--{/if}-->
<!--{template common/footer}-->
