<script type="text/javascript">
	var postminchars = parseInt('$_G['setting']['minpostsize']');
	var postmaxchars = parseInt('$_G['setting']['maxpostsize']');
	var disablepostctrl = parseInt('{$_G['group']['disablepostctrl']}');
</script>

<div id="f_pst" class="pl{if empty($_GET[from])} bm bmw{/if}">
<form method="post" autocomplete="off" id="fastpostform" action="forum.php?mod=post&action=reply&fid=$_G[fid]&tid=$_G[tid]&extra=$_GET[extra]&replysubmit=yes{if $_GET['ordertype'] != 1}&infloat=yes&handlekey=fastpost{/if}{if $_GET[from]}&from=$_GET[from]{/if}"{if $_GET['ordertype'] != 1} onSubmit="return fastpostvalidate(this)"{/if}>
	<!--{if empty($_GET[from])}-->
	<table cellspacing="0" cellpadding="0">
		<tr>
			<td class="plc">
	<!--{/if}-->
	<!--{hook/viewthread_fastpost_content}-->

	<span id="fastpostreturn"></span>

	<!--{if $_G[forum_thread][special] == 5 && empty($firststand)}-->
	<div class="pbt cl">
		<div class="ftid sslt">
			<select id="stand" name="stand">
				<option value="">{lang debate_viewpoint}</option>
				<option value="0">{lang debate_neutral}</option>
				<option value="1">{lang debate_square}</option>
				<option value="2">{lang debate_opponent}</option>
			</select>
		</div>
		<script type="text/javascript">simulateSelect('stand');</script>
	</div>
	<!--{/if}-->

	<div class="cl">
		<!--{if empty($_GET[from]) && $_G[setting][fastsmilies]}--><div id="fastsmiliesdiv" class="y"><div id="fastsmiliesdiv_data"><div id="fastsmilies"></div></div></div><!--{/if}-->
		<div{if empty($_GET[from]) && $_G[setting][fastsmilies]} class="hasfsl"{/if} id="fastposteditor">
			<div class="tedt{if !($_G[forum_thread][special] == 5 && empty($firststand))} mtn{/if}">
				<div class="bar">
					<span class="y">
						<!--{hook/viewthread_fastpost_func_extra}-->
						<a href="forum.php?mod=post&action=reply&fid=$_G[fid]&tid=$_G[tid]{if $_GET[from]}&from=$_GET[from]{/if}" onclick="return switchAdvanceMode(this.href)">{lang post_advancemode}</a>
					</span>
					<!--{eval $seditor = array('fastpost', array('upload','bold', 'color', 'img', 'link', 'quote', 'code', 'smilies'), !$allowfastpost ? 1 : 0, $allowpostattach && $_GET['from'] != 'preview' && $allowfastpost ? '<span id="spanButtonPlaceholder">'.lang('template', 'upload').'</span>' : '');}-->
					<!--{hook/viewthread_fastpost_ctrl_extra}-->
					<!--{subtemplate common/seditor}-->
				</div>
				<div class="area">
					<!--{if $allowfastpost}-->
						<textarea rows="6" cols="80" name="message" id="fastpostmessage" onKeyDown="seditor_ctlent(event, {if $_GET['ordertype'] != 1}'fastpostvalidate($(\'fastpostform\'))'{else}'$(\'fastpostform\').submit()'{/if});" tabindex="4" class="pt"{eval echo getreplybg($_G['forum']['replybg']);}></textarea>
					<!--{else}-->
						<div class="pt hm">
							<!--{if !$_G['uid']}-->
								<!--{if !$_G['connectguest']}-->
									{lang login_to_reply} <a href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href)" class="xi2">{lang login}</a> | <a href="javascript:;" onclick="hideWindow('login', 0, 1); jQuery('#registerDialog').fadeIn();" class="xi2">$_G['setting']['reglinkname']</a>
								<!--{else}-->
									{lang connect_fill_profile_to_post}
								<!--{/if}-->
							<!--{else}-->
								{lang no_permission_to_post}<a href="javascript:;" onclick="$('fastpostform').submit()" class="xi2">{lang click_to_show_reason}</a>
							<!--{/if}-->
							<!--{hook/global_login_text}-->
						</div>
					<!--{/if}-->
				</div>
			</div>
		</div>
	</div>
	<div id="seccheck_fastpost">
		<!--{if $allowpostreply && ($secqaacheck || $seccodecheck)}-->
			<!--{subtemplate forum/seccheck_post}-->
		<!--{/if}-->
	</div>
	
	<!--{if $allowpostattach && $_GET['from'] != 'preview'}-->
	<div class="fastpost-uploadimg-box" id="fastpost-uploadimg-box" >
		<h3><ul><li>图片上传</li><li>网络图片</li></ul><span class="close" onclick="jQuery(this).parent().parent().hide(100);">关闭</span></h3>

		<div class="uploadimg-box">
			<div class="e_mygallery" id="imgqiniulist">
				<ul class="img-list"></ul>
				<div style="clear: both;"></div>
			</div>
			<div id="qiniuprogress"></div>
			<div id="qiniuupload_btn_box">
				<a type="button" id="qiniuupload_btn">&nbsp;</a>
			</div>
			<script src="/static/js/vivo/plupload-2.1.2/js/plupload.full.min.js"></script>
			<script src="/static/js/vivo/qiniu-js-sdk/src/qiniu.min.js"></script>
			<script>
				var progress = 0;
				var bgUploader = Qiniu.uploader({
					    runtimes: 'html5,flash,html4',    //上传模式,依次退化
					    browse_button: 'qiniuupload_btn',       //上传选择的点选按钮ID，**必需**
					    uptoken_url: 'forum.php?mod=ajax&action=getQiNiuToken',
					    domain: 'http://7u2qq8.com1.z0.glb.clouddn.com/',
					    container: 'qiniuupload_btn_box',           //上传区域DOM ID，默认是browser_button的父元素，
					    max_file_size: '2mb',           //最大文件体积限制
					    flash_swf_url: '/static/js/vivo/plupload-2.1.2/js/Moxie.swf',  //引入flash,相对路径
					    max_retries: 3,                   //上传失败最大重试次数
					    dragdrop: true,                   //开启可拖曳上传
					    drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
					    chunk_size: '4mb',                //分块上传时，每片的体积
					    auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
					    init: {
					        'FileUploaded': function(up, file, info) {
					        	var domain = up.getOption('domain');
					        	var res = jQuery.parseJSON(info);
					        	var sourceLink = domain + res.key;
//					        	jQuery('#imgqiniulist ul').append("<li><img src='"+sourceLink+"' onclick='insertQiNiuImgTag(this);doane(event);'></li>");
					        	jQuery.getJSON('/forum.php?mod=ajax&action=insert_gallery_image&fastpost=1&url='+encodeURIComponent(sourceLink),function(data){
					        		jQuery('#imgqiniulist ul').prepend(jQuery("<div/>").html(data.data.html).text());
					        	});
					        },
					        'Error': function(up, err, errTip) {
					        	alert(errTip);
					        },
				          'BeforeUpload': function(up, file){
				          		 // create progress
				           		progress = 0;
				           		jQuery('#qiniuprogress').fadeIn();
				           },
					       'UploadComplete': function() {
					             //队列文件处理完毕后,处理相关的事情
					             jQuery('#qiniuprogress').fadeOut();
					        },
				          'UploadProgress': function(up, file)
				           {
				          		// update progress
				          		//判断有多少个文件
//				          		progress += parseInt(file.percent/up.files.length);
				           		jQuery('#qiniuprogress').css('width', file.percent + '%');
				           },
					        'Key': function(up, file) {
					            // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
					            // 该配置必须要在 unique_names: false , save_key: false 时才生效
				              var date = new Date();
				              var key = "banner/pid"+jQuery("#form_tid").val()+"_"+date.getFullYear()+(date.getMonth()+1)+date.getDate()+date.getTime();
				              // do something with key here
				              return key;
					        }
					    }
					});
			</script>
		</div>
		
{eval}
/*
//屏蔽原来
		<div class="uploadimg-box" >
			<script type="text/javascript">
			var editorid = '';
			var ATTACHNUM = {'imageused':0,'imageunused':0,'attachused':0,'attachunused':0}, ATTACHUNUSEDAID = new Array(), IMGUNUSEDAID = new Array();
			</script>
	
			<input type="hidden" name="posttime" id="posttime" value="{TIMESTAMP}" />
			<div style="padding: 15px;width:90%;min-height: 100px;" class="upfl{if empty($_GET[from]) && $_G[setting][fastsmilies]} hasfsl{/if}">
				<table cellpadding="0" cellspacing="0" border="0" id="attach_tblheader" style="width:100%; display: none;">
					<tr>
						<th>点击图片添加到帖子中</th>
						<th class="atds">{lang description}</th>
						<!--{if $_G['group']['allowsetattachperm']}-->
						<th class="attv">
							{lang readperm}
							<img src="{IMGDIR}/faq.gif" alt="Tip" class="vm" onmouseover="showTip(this)" tip="{lang post_select_usergroup_readacces}" />
						</th>
						<!--{/if}-->
						<!--{if $_G['group']['maxprice']}--><th class="attpr">{$_G['setting']['extcredits'][$_G['setting']['creditstransextra'][1]][title]}</th><!--{/if}-->
						<th class="attc" style="width: 35px;">删除</th>
					</tr>
				</table>
				<div class="fieldset flash" id="attachlist"></div>
			</div>
			{$seditor[3]}
			<!--{if empty($_G['setting']['pluginhooks']['viewthread_fastpost_upload_extend'])}-->
				<!--{subtemplate common/upload}-->
				<script type="text/javascript">
					var upload = new SWFUpload({
						upload_url: "{$_G[siteurl]}misc.php?mod=swfupload&action=swfupload&operation=upload&fid=$_G[fid]",
						post_params: {"uid" : "$_G[uid]", "hash":"$swfconfig[hash]"},
						file_size_limit : "$swfconfig[max]",
						file_types : "$swfconfig[attachexts][ext]",
						file_types_description : "$swfconfig[attachexts][depict]",
						file_upload_limit : $swfconfig['limit'],
						file_queue_limit : 0,
						swfupload_preload_handler : preLoad,
						swfupload_load_failed_handler : loadFailed,
						file_dialog_start_handler : fileDialogStart,
						file_queued_handler : fileQueued,
						file_queue_error_handler : fileQueueError,
						file_dialog_complete_handler : fileDialogComplete,
						upload_start_handler : uploadStart,
						upload_progress_handler : uploadProgress,
						upload_error_handler : uploadError,
						upload_success_handler : uploadSuccess,
						upload_complete_handler : uploadComplete,
						button_image_url : 'static/image/common/uploadbutton.png',
						button_placeholder_id : "spanButtonPlaceholder",
						button_width: 100,
						button_height: 25,
						button_cursor:SWFUpload.CURSOR.HAND,
						button_window_mode: "transparent",
						custom_settings : {
							progressTarget : "attachlist",
							uploadSource: 'forum',
							uploadType: 'attach',
							<!--{if $swfconfig['maxsizeperday']}-->
							maxSizePerDay: $swfconfig['maxsizeperday'],
							<!--{/if}-->
							<!--{if $swfconfig['maxattachnum']}-->
							maxAttachNum: $swfconfig['maxattachnum'],
							<!--{/if}-->
							uploadFrom: 'fastpost'
						},
						debug: false
					});
				</script>
			<!--{else}-->
				<!--{hook/viewthread_fastpost_upload_extend}-->
			<!--{/if}-->
		</div>
*/
{/eval}
		
		<div class="wwwimg-box" style="display: none;">
			<div>
				请输入图片地址:<br><input type="text" id="fastpostimg_param_1" style="width: 98%" value="" class="px" onchange="loadimgsize(this.value, 'fastpost','img')">
				<p class="mtm" style="display: none;">
					宽(可选): <input type="text" id="fastpostimg_param_2" style="width: 15%" value="" class="px"> &nbsp;
					高(可选): <input type="text" id="fastpostimg_param_3" style="width: 15%" value="" class="px">
				</p>
			</div>
			<div class="pns mtn">
				<button type="button" onclick="seditor_insertunit('fastpost', '[img' + ($('fastpostimg_param_2').value !== '' &amp;&amp; $('fastpostimg_param_3').value !== '' ? '='+$('fastpostimg_param_2').value+','+$('fastpostimg_param_3').value : '')+']'+seditor_squarestrip($('fastpostimg_param_1').value), '[/img]', null, 1);jQuery('#fastpostimg_param_1').val('');" class="pn pnc"><strong>插入</strong></button>
			</div>
		</div>
	</div>
	<script>
		jQuery('#fastpost-uploadimg-box').find('h3 ul li:first').css('background','#EDEDED');
		jQuery('#fastpost-uploadimg-box').find('h3 ul li').click(function(){
			var t = jQuery(this);
			var h = t.html();
			if(h=='图片上传'){
				jQuery('.uploadimg-box').show();
				jQuery('.wwwimg-box').hide();
			}else{
				jQuery('.uploadimg-box').hide();
				jQuery('.wwwimg-box').show();
			}
			t.css('background','#EDEDED').siblings().css('background','none');
		});
		//移动
		jQuery('#fastpost-uploadimg-box').find('h3').mousedown(function (event) {  
            var isMove = true;
            var _box = jQuery('#fastpost-uploadimg-box');
            var abs_x = event.pageX - _box.position().left;  
            var abs_y = event.pageY - _box.position().top;  
            jQuery(document).mousemove(function(event){  
                if(isMove){
                    _box.css({'left':event.pageX - abs_x, 'top':event.pageY - abs_y});  
                }  
            }).mouseup(function () {  
                isMove = false;
            });
        });
	</script>
	<!--{/if}-->

	<input type="hidden" name="formhash" value="{FORMHASH}" />
	<input type="hidden" name="usesig" value="$usesigcheck" />
	<input type="hidden" name="subject" value="  " />
	<p class="ptm pnpost">
		<a href="home.php?mod=spacecp&ac=credit&op=rule&fid=$_G[fid]" class="y" target="_blank">{lang post_credits_rule}</a>
		<button {if $allowpostreply}type="submit" {elseif !$_G['uid']}type="button" onclick="showWindow('login', 'member.php?mod=logging&action=login&guestmessage=yes')" {/if}{if !$seccodecheck}onmouseover="checkpostrule('seccheck_fastpost', 'ac=reply');this.onmouseover=null" {/if}name="replysubmit" id="fastpostsubmit" class="pn pnc vm" value="replysubmit" tabindex="5"><strong>{lang post_newreply}</strong></button>
		<!--{hook/viewthread_fastpost_btn_extra}-->
		<!--{if helper_access::check_module('follow')}-->
		<label class="lb"><input type="checkbox" name="adddynamic" class="pc" value="1" />{lang post_reply_relay}</label>
		<!--{/if}-->
		<!--{if $_GET['ordertype'] != 1 && empty($_GET[from])}-->
		<label for="fastpostrefresh"><input id="fastpostrefresh" type="checkbox" class="pc" />{lang post_fastreply_gotolast}</label>
		<script type="text/javascript">if(getcookie('fastpostrefresh') == 1) {$('fastpostrefresh').checked=true;}</script>
		<!--{/if}-->
	</p>
	<!--{if empty($_GET[from])}-->
			</td>
		</tr>
	</table>
	<!--{/if}-->
</form>
</div>