<!--{template common/header}-->
{eval}
// pc 版专用逻辑,获取该板块下前十的精华帖子
$filterarr = array(
	'inforum'=>$thread_post['fid'],
	'sticky'=>4,
	'displayorder'=>array(0,1,2,3,4),
	'digest'
);

$digest_threads = C::t('forum_thread')->fetch_all_search($filterarr, 0, 0, 10, NULL, '', 'FORCE INDEX (digest)');
{/eval}
<script>
	//分享信息
	var share_summary = '{eval echo compress_html($thread_post[summary])}';
	var share_pic = '{eval} $media_list = json_decode(htmlspecialchars_decode($thread_post['media_list']),true); echo htmlspecialchars_decode($media_list[0][media_url]); {/eval}';
	var share_location = window.location.href;
</script>
<script type="text/javascript">var fid = parseInt('$_G[fid]'), tid = parseInt('$_G[tid]');</script>
<script type="text/javascript" src="{$_G['setting']['jspath']}forum_viewthread.js?{VERHASH}"></script>
<script type="text/javascript">zoomstatus = parseInt($_G['setting']['zoomstatus']);var imagemaxwidth = '{$_G['setting']['imagemaxwidth']}';var aimgcount = new Array();</script>
<script type="text/javascript" src="/static/js/vivo/shareShare/shareShare.js" ></script>
<script type="text/javascript" src="/static/js/vivo/viewthread.js"></script>
<script type="text/javascript">

// 点赞及收藏按钮ajax交互
function change_btn_state(obj, type){
	var obj = jQuery(obj),
		op = obj.attr("data-type");
	jQuery.ajax({
		"url":"/home.php",
		"data":{
			"mod":"ajax",
			"action":"get_operator_url",
			"op":op,
			"type":type,
			"id":obj.attr("data-content")
		},
		"dataType":"json",
		"async":false,
		"success":function(data){
			if(data.result == 1){
				if(op == "cancle"){
					obj.find(".data").html(parseInt(obj.find(".data").html()) - 1);
					obj.attr("data-type","add");
					obj.removeClass("active");
				}else if(op == "add"){
					obj.find(".data").html(parseInt(obj.find(".data").html()) + 1);
					obj.attr("data-type","cancle");
					obj.addClass("active");
				}
				obj.attr("onclick","");
				obj.unbind("click");
				obj.click(function(){
					showWindow('k_' + type , data.data, 'get', 0, 0, function(){
						change_btn_state(obj, type);
					});
				});
			}
		}
	})
}

// ajax加载商品评测
function getThreadsByspid(spids, type, obj){
	var getData = {
			"mod": "ajax",
			"action": "getThreadByspid",
			"tid":tid,
			"spids": spids
	};
	if(type == 1){
		// 初始化开始两条
		getData.start = 0;
		getData.pagesize = 2;
	}else{
		// 获取后面所有
		getData.all = 1;
		getData.start = 2;
	}
	jQuery.ajax({
		url:"forum.php",
		data: getData,
		dataType: "json",
		success:function(data){
			if(data.result == 1){
				var tl = data.data;
				for(var i = 0; i < tl.length; i++){
					var html = formatTestThread(tl[i]);
					jQuery(html).appendTo(obj);
				}
			}
		}
	})
}

// 格式化商品评测
function formatTestThread(t){
	var imgs = '';
	for(var i = 0; i < t['media_list'].length; i++){
		if(i >= 6) break;
		imgs += '<li class="thread-image-item"><img src="' + t['media_list'][i]['media_url'] + '?imageView2/1/w/70"></li>';
	}
	var html = '\
		<li class="test-thread-list-item">\
			<div class="user-info">\
				<div class="user-avatar-container" onclick="window.open(\'/forum.php?mod=personal&uid=' + t['authorid'] + '\')">' + t['avatar'] + '</div>\
				<p class="user-name">' + t['author'] + '</p>\
			</div>\
			<p class="test-thread-summary">' + t['summary'] + '</p>\
			<ul class="test-thread-image">' + imgs + '</ul>\
		</li>\
	';
	return html;
}
</script>
	<div class="right-container">
		
		<!--{if count($products) > 0}-->
		<!--商品列表-->
		<div class="products-list-container" style="display: none;">
			<ul class="products-list">
				<!--{loop $products $pk $p}-->
				<li class="products-list-item">
					<div class="product-img-container">
						<img class="product-img" src="{$_G['setting']['attachurl']}{$p['main_pic']}" />
					</div>
					<div class="product-info">
						<p class="product-name">{$p['name']}</p>
						<div class="product-price">
							<span class="price old">原价：<span class="data old">￥{$p['costprice']}</span></span>
							<span class="price new">会员价：<span class="data new">￥???.??</span></span>
						</div>
						<button class="btn" onclick="location.href='forum.php?mod=product&spid={$p['spid']}'">购买</button>
					</div>
				</li>
				<!--{/loop}-->
			</ul>
		</div>
		
		<!-- 商品操作 -->
		<div class="product-operation">
			
			<div class="row1">
				<!--{loop $products $pk $p}-->
				<a class="btn" target="_blank" href="forum.php?mod=product&spid={$p['spid']}">
					<i class="icon"></i>
					购买
				</a>
				{eval break; }
				<!--{/loop}-->
			</div>
			
			<div class="row2">
				<a class="btn buttonLike{if $thread_post['is_saygood']} active{/if}" href="javascript:;" data-type="{if $thread_post['is_saygood']}cancle{else}add{/if}" data-content="{$thread_post['tid']}" onclick="var _this = this;showWindow('k_saygood' , 'home.php?mod=spacecp&ac=saygood&type=thread&id={$thread_post['tid']}&formhash={FORMHASH}', 'get', 0, 0, function(){change_btn_state(_this, 'like')});">
					<i class="icon"></i>
					喜欢
				</a>
				<a class="btn buttonShare" href="javascript:;">
					<i class="icon"></i>
					分享
				</a>
			</div>
			
		</div>
		<!--{/if}-->
		
		
		
		<div class="digest-thread-list-container">
			<h2 class="digest-thread-list-header">
				<span>编辑推荐</span>
			</h2>
			<ul class="digest-thread-list">
				{loop $digest_threads $digest_thread}
				{eval $digest_thread['media_list'] = json_decode(htmlspecialchars_decode($digest_thread['media_list']), 1);}
				<li class="digest-thread" onclick="window.open('forum.php?mod=viewthread&tid={$digest_thread[tid]}','_blank')">
					<div class="thread-image-container"><img class="thread-image" src="{$digest_thread[media_list][0][media_url]}?imageView2/2/w/230"></div>
					<h3 class="thread-title">{$digest_thread[subject]}</h3>
					<p class="thread-time">{eval echo custom_date($digest_thread['dateline']);}</p>
				</li>
				{/loop}
			</ul>
		</div>
	</div>
	<div class="main-container">
		<!--循环帖子和回复内容-->
		<!--第一个帖子为主贴-->
		<ul class="share-list" >
			<li class="share-list-item">
				<div class="share-item">
					<div class="share-header">
						<div class="share-title">
							<p class="share-title-content">
								{$thread_post['subject']}
								<span style="display: inline-block;float: right;font-size: 14px;font-weight: 300;">
									<!--{if $_G['group']['alloweditpost'] || ($_G['uid']==$thread_post['authorid'])}-->
									<a style="padding-left: 23px;" class="editp" href="forum.php?mod=post&action=edit&fid=$_G[fid]&tid=$_G[tid]&pid=$thread_post[pid]{if !empty($_GET[modthreadkey])}&modthreadkey=$_GET[modthreadkey]{/if}&page=$page"><!--{if $_G['forum_thread']['special'] == 2 && !$post['message']}-->{lang post_add_aboutcounter}<!--{else}-->{lang edit}</a><!--{/if}-->
									<!--{/if}-->
								</span>
							</p>
							<p class="share-type"><span class="title">文章分类：</span><span class="body">{$_G['cache']['forums'][$thread_post['fid']]['name']}</span></p>
						</div>
					</div>
					<ul class="share-btn-list">
						<li class="share-btn wechat" title="分享到微信"></li>
						<li class="share-btn weibo" title="分享到微博"></li>
						<li class="share-btn qqzone" title="分享到QQ空间"></li>
					</ul>
					<div class="user-info-container">
						<div class="user-img-container"><!--{avatar($thread_post['authorid'],small)}--></div>
						<h4 class="user-name" onclick="window.open('forum.php?mod=personal&uid={$thread_post['authorid']}', '_blank')">{$thread_post['author']}</h4>
						<div class="share-info">
							<p class="read-count" style="display: none;">阅读量:{$thread_post['views']}</p>
							<p class="share-time">{eval}echo custom_date($thread_post['dateline'], TIMESTAMP){/eval}</p>
						</div>
					</div>
					<div class="share-content" style="max-height: none;">
						<!--{if !$_G[forum_thread][special]}-->
						<div>{$thread_post['message']}<div style="clear:both"></div></div>
						<!--{elseif $_G[forum_thread][special] == 4}-->
						<!--活动帖子-->
						<!--{template forum/viewthread_activity}-->
						<!--{/if}-->
					</div>
					<ul class="btn-list">
						
						{if $thread_post['is_favorite']}
						<li class="btn-list-item collection active" title="取消收藏" data-type="cancle" data-content="{$thread_post['tid']}" onclick="var _this = this;showWindow('k_favorite' , 'home.php?mod=spacecp&ac=favorite&type=thread&favid={$thread_post['is_favorite']['favid']}&op=delete&formhash={FORMHASH}', 'get', 0, 0, function(){change_btn_state(_this, 'favorite')});" ><span class="data">{$thread_post['favtimes']}</span></li>
						{else}
						<li class="btn-list-item collection" title="收藏" data-type="add" data-content="{$thread_post['tid']}" onclick="var _this = this;showWindow('k_favorite' , 'home.php?mod=spacecp&ac=favorite&type=thread&id={$thread_post['tid']}&formhash={FORMHASH}', 'get', 0, 0, function(){change_btn_state(_this, 'favorite')});" ><span class="data">{$thread_post['favtimes']}</span></li>
						{/if}
						
						{if $thread_post['is_saygood']}
						<li class="btn-list-item saygood active" title="取消点赞" data-type="cancle" data-content="{$thread_post['tid']}" onclick="var _this = this;showWindow('k_saygood' , 'home.php?mod=spacecp&ac=saygood&type=thread&op=delete&saygood_id={$thread_post['is_saygood']['saygood_id']}&formhash={FORMHASH}', 'get', 0, 0, function(){change_btn_state(_this, 'saygood')});"><span class="data">{$thread_post['saygood']}</span></li>
						{else}
						<li class="btn-list-item saygood" title="点赞" data-type="add" data-content="{$thread_post['tid']}" onclick="var _this = this;showWindow('k_saygood' , 'home.php?mod=spacecp&ac=saygood&type=thread&id={$thread_post['tid']}&formhash={FORMHASH}', 'get', 0, 0, function(){change_btn_state(_this, 'saygood')});"><span class="data">{$thread_post['saygood']}</span></li>
						{/if}
						<li class="btn-list-item forward" title="分享" id="forward-btn">&nbsp;</li>
						
					</ul>
					
				</div>
				
				<!--{if count($products) > 0}-->
				<div class="share-item-rows">
					<div class="share-item-header">
						<a href="/forum.php?mod=post&action=newthread&spid={$thread[spid][0]}" class="header-btn">写评测</a>
						<h3 class="header-body">商品评测</h3>
					</div>
					<div class="share-item-body">
						<ul class="test-thread-list" data-content="{eval echo implode(',',$thread_post[spid]);}"></ul>
						<div class="test-thread-list-get-more"><span class="arrows-down"></span>查看更多</div>
					</div>
				</div>
				<!--{/if}-->
				
				<div class="comments-container">
					<h4 class="comments-container-header">
						文章评论
						<span class="data">({$thread_post['replies']})</span>
					</h4>
					<div class="user-comment-sender-container">
						<div class="user-comment-sender">
							<!--{subtemplate forum/viewthread_fastpost}-->
						</div>
					</div>
					<!-- 评论列表 -->
					<ul class="comments-list" id="postlistreply">
						<div id="post_new"></div>
						<!--{loop $postlist $post}-->
							<li class="comment" id="pid{$post[pid]}">
								<div class="user-img-container" data-content="{$post[authorid]}">{$post[avatar]}</div>
								<div class="comment-info"><a class="user-name" target="_blank" href="forum.php?mod=personal&uid={$post['authorid']}">{$post['author']}</a><span class="comment-date">{$post['dateline']}</span></div>
								<div class="comment-content">{$post['message']}</div>
								<div class="comment-state">
									<a class="comment-state-btn reply" href="forum.php?mod=post&action=reply&fid={$_G['fid']}&tid={$_G['tid']}&repquote={$post['pid']}&extra=">回复</a>
									<a class="comment-state-btn saygood" href="forum.php?mod=misc&action=postreview&do=support&tid={$_G['tid']}&pid={$post['pid']}&hash={FORMHASH}" onclick="ajaxmenu(this, 3000, 1, 0, '43', '');return false;">{eval}echo (empty($post['postreview']['support'])) ? 0 : $post['postreview']['support'];{/eval}</a>
								</div>
							</li>
						<!--{/loop}-->
					</ul>
					<div class="page-container">{$multipage}</div>
				</div>
				
			</li>
		</ul>
	</div>
	
	<script src="/static/js/vivo/shareShare/shareShare.js"></script>
	
<!--{if !empty($aimgs[$thread_post[pid]])}-->
<script type="text/javascript" reload="1">
	aimgcount[{$thread_post[pid]}] = [<!--{echo dimplode($aimgs[$thread_post[pid]]);}-->];
	attachimggroup($thread_post['pid']);
	<!--{if empty($_G['setting']['lazyload'])}-->
		<!--{if !$thread_post['imagelistthumb']}-->
			attachimgshow($thread_post[pid]);
		<!--{else}-->
			attachimgshow($thread_post[pid], 1);
		<!--{/if}-->
	<!--{/if}-->
	var aimgfid = 0;
	<!--{if $_G['forum']['picstyle'] && ($_G['forum']['ismoderator'] || $_G['uid'] == $_G['thread']['authorid'])}-->
		aimgfid = $_G[fid];
	<!--{/if}-->
	<!--{if $thread_post['imagelistthumb']}-->
		attachimglstshow($thread_post['pid'], <!--{echo intval($_G['setting']['lazyload'])}-->, aimgfid, '{$_G[setting][showexif]}');
	<!--{/if}-->
	
	jQuery(function(){
		jQuery("#body-container>.main-container>.share-list>.share-list-item .test-thread-list").each(function(index){
			var _this = jQuery(this),
				spid = _this.attr("data-content");
			if(spid != ""){
				getThreadsByspid(spid, 1, _this);
			}
		});
	});
</script>
<!--{/if}-->
<!--{template common/footer}-->
