<!--{eval
$needhiddenreply = ($hiddenreplies && $_G['uid'] != $post['authorid'] && $_G['uid'] != $_G['forum_thread']['authorid'] && !$post['first'] && !$_G['forum']['ismoderator']);
$postshowavatars = !($_G['setting']['bannedmessages'] & 2 && ($post['memberstatus'] == '-1' || ($post['authorid'] && !$post['username']) || ($post['groupid'] == 4 || $post['groupid'] == 5) || ($post['status'] & 1)));
}-->
<li class="comment" id="pid{$post[pid]}">
	<div class="user-img-container" data-content="{$post[authorid]}">{$post[avatar]}</div>
	<div class="comment-info"><a class="user-name" target="_blank" href="forum.php?mod=personal&uid={$post['authorid']}">{$post['author']}</a><span class="comment-date">{$post['dateline']}</span></div>
	<div class="comment-content">{$post['message']}</div>
	<div class="comment-state">
		<a class="comment-state-btn reply" href="forum.php?mod=post&action=reply&fid={$_G['fid']}&tid={$_G['tid']}&repquote={$post['pid']}&extra=">回复</a><!--onclick="showWindow('reply', this.href);"-->
		<a class="comment-state-btn saygood" href="forum.php?mod=misc&action=postreview&do=support&tid={$_G['tid']}&pid={$post['pid']}&hash={FORMHASH}" onclick="ajaxmenu(this, 3000, 1, 0, '43', '');return false;">{eval}echo (empty($post['postreview']['support'])) ? 0 : $post['postreview']['support'];{/eval}</a>
	</div>
</li>
<!--{hook/viewthread_endline $postcount}-->