{template common/header_ajax}
<style type="text/css">
.table002{
	width:65px;
	text-align:right;	
}
.picture{
	width:180px;
	height:100px;
	margin:0px auto;
}
</style>
<h2 class="flb" style="cursor: move;"><em>{lang gsignin:t00137}</em>
	<span ><a href="javascript:;" class="flbc" onclick="hideWindow('$_GET['handlekey']');" title="{lang close}">{lang close}</a></span>	
</h2>
<div style="padding:5px 10px;">
	<form id="myform" action="plugin.php?id=gsignin:index&action=buycard&do=buy&formhash={FORMHASH}" method="post" target="signin_card">
		<div class="imgbox" style="width:200px;height:110px;">
			<div class="picture">
				{if $cardInfo['picture']!=''}
				<img src="{$cardInfo['picture']}" width="180px" height="100px"/>
				{else}
				<img src="./source/plugin/gsignin/img/item_repair.jpg" width="180px" height="100px"/>
				{/if}
			</div>
		</div>
		<div class="info" style="margin-left:10px">
			<table class="table001" cellpadding="2px" width="180px">
				<tr>
				<td class="table002">{lang gsignin:t00139}</td>
	 				<td class="table003">
	 				<input type="hidden" id="title" name="title" value="{$_G['setting']['extcredits'][$cardInfo['extcredits']]['title']}">
	 				{$cardInfo['price']}{$_G['setting']['extcredits'][$cardInfo['extcredits']]['title']}{lang gsignin:t00138}
	 				</td>
				</tr> 
				<tr>
					<td class="table002">{lang gsignin:t00140}</td>
	 				<td>
	 					{if $cardInfo['inventory']>=0}$cardInfo['inventory']{lang gsignin:t00135}{else}{lang gsignin:t00141}{/if}
	 				</td>
				</tr>
				<tr>
					<td class="table002">{lang gsignin:t00142}</td>
	 				<td>
	 					{$memberExtcredits}{$_G['setting']['extcredits'][$cardInfo['extcredits']]['title']}
	 				</td>
				</tr> 
				<tr>
					<td class="table002">{lang gsignin:t00143}</td>
	 				<td>
	 					{$member['card']}{lang gsignin:t00135}
	 				</td>
				</tr>
				<tr>
					<td class="table002">{lang gsignin:t00144}</td>
	 				<td><input type="text" style="width:40px;height:13px;" id='card' name="card" value="1"/>
	 				</td>
				</tr>  
				<tr>
	 				<td class="table003" colspan="2" style="text-align:center;">
	 	 				<button class="pn pnc" type="button" onclick="buy();"><strong>{lang gsignin:t00145}</strong></button>
	 				</td>
				</tr>
			</table>
		</div>
	</form>
</div>
<script type="text/javascript" reload="1">
	function clo_window()
	{
		parent.window.hideWindow('gsignin');
	}
	function showmsg(msg){
		window.showDialog(msg,'right','',function(){window.location.href='plugin.php?id=gbank:front&mod=index'},0);
	}
	function showerror(msg) {
		window.showDialog(msg, 'error', '', function() {}, 0);
	}
	function buy(){	
		tt=/^[1-9]+[0-9]*$/;
		if(!tt.test($('card').value)){
			showerror('{lang gsignin:t00146}')
		}else{
			var price={$cardInfo['price']}*$('card').value;
			window.showDialog("\<table style=\"text-align:center;margin-left:60px;\"\>\<tr\>\<td style=\"text-align:right;\"\>"+'{lang gsignin:t00144}'+"\<\/td\>\<td\>"+$('card').value+'{lang gsignin:t00135}'
					+"\<\/td\>\<\/tr\>\<tr\>\<td style=\"text-align:right;\"\>"+'{lang gsignin:t00147}'+"\<\/td\>\<td\>"+price+$('title').value
					+"\<\/td\>\<\/tr\>\<tr\>\<td colspan=\"2\"\>"+'{lang gsignin:t00148}'+"\<\/td\>\<\/tr\>\<\/table\>",
					'confirm','',function(){$('myform').submit()}
			);
		}
	}
</script>
{template common/footer_ajax}