{template common/header_ajax}
	<style>
		li.forget{
			cursor:pointer;
		}
		li.forget:hover{
			background: #ffffda;
		}
	</style>
{if !empty($calendar)}
	<div style="background:#FFFFFF;position: relative;">
		<img src="source/plugin/gsignin/img/calendar_point.png" style="position: absolute; right:80px; bottom: -1px;z-index: 1;"/>
		<div style="background: url(source/plugin/gsignin/img/calendar_bg.png);height: 2px;"></div>
	</div>
	<div class="calendar_body">
		<div class="calendar_title">
			<a href="javascript:;" onclick="ajaxget('plugin.php?id=gsignin:index&action=calendar&mouth={$prevMouthFirstDay}&class={$_GET['class']}','calendar_bg{$_GET['class']}')"  class="calendar_btn" style="background: url(source/plugin/gsignin/img/calendar_left.gif) no-repeat center center;"></a>
			<div class="year_mouth">{eval echo gmdate('Y{lang gsignin:year}m{lang gsignin:month}',$mouth+8*3600)}</div>
			<a href="javascript:;" onclick="ajaxget('plugin.php?id=gsignin:index&action=calendar&mouth={$nextMouthFirstDay}&class={$_GET['class']}','calendar_bg{$_GET['class']}')" class="calendar_btn" style="background: url(source/plugin/gsignin/img/calendar_right.gif) no-repeat center center;"></a>
			<div style="clear: both"></div>
		</div>
		<ul>
			<li style="cursor:default;">{lang gsignin:fuck}</li>
			<li style="cursor:default;">{lang gsignin:one}</li>
			<li style="cursor:default;">{lang gsignin:two}</li>
			<li style="cursor:default;">{lang gsignin:three}</li>
			<li style="cursor:default;">{lang gsignin:four}</li>
			<li style="cursor:default;">{lang gsignin:five}</li>
			<li style="cursor:default;">{lang gsignin:six}</li>
			{loop $calendar $key $val}
				<li {if !empty($monthSigninMap[$val])}style="background: {if $monthSigninMap[$val]['issupplement'] == 0}url(source/plugin/gsignin/img/signin_have.gif){else}url(source/plugin/gsignin/img/signin_replenish.gif){/if} no-repeat center center; cursor: default;" {if $monthSigninMap[$val]['issupplement'] == 0} title="{lang gsignin:t00079}{eval echo gmdate('H{lang gsignin:t00076}i{lang gsignin:t00077}',$monthSigninMap[$val]['currenttime']+8*3600)},{lang gsignin:t00078}$monthSigninMap[$val]['ranking']{lang gsignin:t00080}"{else}title="{lang gsignin:t00150}"{/if}  {/if} {if $calendartime[$key]!= 0 && $calendartime[$key]<$today && empty($monthSigninMap[$val])} class="forget" title="{lang gsignin:t00151}" onclick="showconfirm('{lang gsignin:t00149}','plugin.php?id=gsignin:index&action=add&currenttime={$calendartime[$key]}&formhash={FORMHASH}')" {else}style="cursor:default;" {/if}>
					{if $calendartime[$key]!= 0 && $calendartime[$key]<$today && empty($monthSigninMap[$val])} 
						<a href="javascript:;" style="display:block; width: 49px; height: 40px; text-decoration: none;">{if $val !=0 }$val{/if}</a>
					{else}
						{if $val !=0 }$val{/if}
					{/if}
				</li>
			{/loop}	
		</ul>
		<div style="clear:both;"></div>
	</div>
	<div class="calendar_info">
		<div style="width: 320px;margin:0 auto;padding: 10px 0; border-bottom: 1px dashed #e5e6e8;">
			<table>
				<tr>
					<td>
						<img src="source/plugin/gsignin/img/signin_person.gif">&nbsp;
					</td>
					<td style="text-align: left;">
						{lang gsignin:t00018}{lang gsignin:t00019} {$ranking} {lang gsignin:t00020}
					</td>
				</tr>
				<tr>
					<td>
						
					</td>
					<td style="text-align: left;position: relative;">
						{lang gsignin:t00134}{$member['card']}{lang gsignin:t00135}
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="javascript:;" style="color: #00C;" onmouseover="showPrompt()" onmouseout="hidePrompt()" >{lang gsignin:t00136}</a>
						&nbsp;&nbsp;
						<a href="javascript:;" onclick="showWindow('gsignin','plugin.php?id=gsignin:index&action=buycard&do=buy_input')" style="color: #00C;">{lang gsignin:t00137}&gt;&gt;</a>
						<span class="calendar_prompt"  style="display: none; position: absolute; width:140px; height:40px;background:url(source/plugin/gsignin/img/mask_prompt.png);padding:2px; top:-48px; left: 65px;">
							<span style="display: block;background-color: #FFFFFF; width: 132px; height: 32px;border: 1px solid #bfbfbf; padding:3px 3px;position: relative;">
								{lang gsignin:t00151}
								<img style="position: absolute; bottom:-11px; left: 58px;" alt="" src="source/plugin/gsignin/img/prompt_tip.png">
							</span>
						</span>
					</td>
				</tr>
			</table>
		</div>
		<div style="width: 320px;margin:0 auto;padding: 10px 0;">
			<table>
				<tr>
					<td>
						<img src="source/plugin/gsignin/img/signin_award.gif">&nbsp;
					</td>
					<td style="text-align: left;height: 20px;">
						{lang gsignin:t00106}
					</td>
				</tr>
				{loop $awards $key $val}
					<tr>
						<td>
						</td>
						<td colspan="1">
							<table>	
								<tr>
									<td>{eval echo $key+1}{lang gsignin:t00164}</td>
									<td  style="text-align: left;">
										{lang gsignin:t00107}{$val['continuous']}{lang gsignin:t00108}
									</td>
								</tr>
								<tr>
									<td></td>
									<td  style="text-align: left;">
										{loop $_G['setting']['extcredits'] $k $v}
												{if !empty($val['extcredits'.$k])}
													{$v['title']}+$val['extcredits'.$k]&nbsp;&nbsp;
												{/if}
										{/loop}
									</td>
								</tr>
							</table>
						</td>
					</tr>
				{/loop}
			</table>
		</div>
	</div>
	<div style="background: url(source/plugin/gsignin/img/calendar_bg.png);height: 2px;"></div>
{/if}
<script type="text/javascript" reload="1">
	function showconfirm(message,url) {
		showDialog(message,'confirm','',function(){window.signin_card.location.href=url;},0);
	}
	function showPrompt(){
		jq(".calendar_prompt").css('display','block');
	}
	function hidePrompt(){
		jq(".calendar_prompt").css('display','none');
	}
	
</script>
{template common/footer_ajax}