
<table class="tb tb2 nobdb">
	<tbody>
		<tr class="header">
			<td>ID</td>
			<td>{lang gsignin:t00098}</td>
			<td>{lang gsignin:t00099}</td>
			<td>{lang gsignin:t00100}</td>
			<td>{lang gsignin:t00101}</td>
		</tr>
		<!--{loop $components $key $val}-->
		<tr>
			<td>$val['id']</td>
			<td>$val['name']</td>
			<td>{eval echo date('Y-m-d',$val['createtime'])}</td>
			<td>{if $val['flag']=='0'}<font color="#FF0000">{lang gsignin:t00102}</font>{else}<font color="#00AA00">{lang gsignin:t00103}</font>{/if}</td>
			<td><!--{if $val['flag']=='0'}--><A href="admin.php?action=plugins&identifier={$pluginName}&pmod=component&do=install&formhash={FORMHASH}&page={$_GET['page']}&cid={$val['id']}">{lang gsignin:t00104}</a><!--{else}--><A href="admin.php?action=plugins&identifier={$pluginName}&pmod=component&do=uninstall&formhash={FORMHASH}&page={$_GET['page']}&cid={$val['id']}">{lang gsignin:t00105}</a><!--{/if}--></td>
		</tr>
		<!--{/loop}-->
		<tr>
			<td colspan="5" align="right">$paging</td>
		</tr>
	</tbody>
</table>
