<div class="appl"><div class="tbn">
<h2 class="mt bbda">{lang gsignin:t00046}</h2>
<ul>
	<li {if $navigation[0]=='{lang gsignin:t00047}'}class="a"{/if}><a href="plugin.php?id=gsignin:member">{lang gsignin:t00047}</a></li>
	<li {if $navigation[0]=='{lang gsignin:t00048}'}class="a"{/if}><a href="plugin.php?id=gsignin:signin">{lang gsignin:t00048}</a></li>
	<li {if $navigation[0]=='{lang gsignin:t00049}'}class="a"{/if}><a href="plugin.php?id=gsignin:award">{lang gsignin:t00049}</a></li>
	<li {if $navigation[0]=='{lang gsignin:t00167}'}class="a"{/if}><a href="plugin.php?id=gsignin:extend">{lang gsignin:t00167}</a></li>
	<li {if $navigation[0]=='{lang gsignin:t00121}'}class="a"{/if}><a href="plugin.php?id=gsignin:config&mod=config&cmod=global">{lang gsignin:t00121}</a></li>
</ul>
</div></div>