<!--{block return}-->
<div class="focus plugin" id="plugin_notice">
<div class="bm">
<div class="bm_h cl"><a href="javascript:;"
	onclick="$('plugin_notice').style.display='none';"
	class="y">{lang gsignin:t00109}</a>
<h2 class="i">{lang gsignin:t00110}</h2>
</div>
<div class="bm_c">
<div class="cl bbda pbm">{lang gsignin:t00111}</div>
<div class="ptn cl"><a href="plugin.php?id=gsignin:index"
	class="xi2 y">{lang gsignin:t00112}&raquo;</a></div>
</div>
</div>
</div>
<!--{/block}-->