<!--{block return}-->
<script src="source/plugin/gsignin/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="source/plugin/gsignin/css/calendar.css"/>
<style type="text/css">
<!--
#calendar_bg_class {
	background: url(../img/calendar_bg.png) ;
	position: absolute;
	top: 30px;
	right: -50px;
	z-index: 100;
}

-->
</style>
<script type="text/javascript" charset="utf-8">
	var jq = jQuery.noConflict();
</script>
<script type="text/javascript" charset="utf-8" reload="1">	
	function showCalendarClass() {
		ajaxget('plugin.php?id=gsignin:index&action=calendar&class=_class','calendar_bg_class');
		jq("#calendar_bg_class").stop();
		jq("#calendar_bg_class").css('display','');
		jq("#calendar_bg_class").css('opacity','1');
	}
	function shopHideCalendarClass() {
		jq("#calendar_bg_class").stop();
		jq("#calendar_bg_class").css('opacity','1');
		jq("#calendar_bg_class").css('display','')
	}
	function hideCalendarClass() {
		jq("#calendar_bg_class").stop();
		jq("#calendar_bg_class").animate({
			opacity:'0'
		}, 600,function() {jq("#calendar_bg_class").css('display','none');});
	}	
</script>
<iframe style="visibility:hidden;display:none" id="signin_card" name="signin_card" width="1" height="1" ></iframe>
<!--{if $this->lasttime >= $this->today}-->
	<a  href="plugin.php?id=gsignin:index" style="position:relative; display:block;float:right;margin:3px; width:77px; height:22px; background:url(source/plugin/gsignin/img/signin_yes.png) no-repeat center center; text-shadow:none;color: #444444;"  onmouseenter="showCalendarClass()" onmouseleave="hideCalendarClass()">	
		<span style="z-index: 100; line-height: 1.4em;" id="calendar_bg_class" ></span>
	</a>
<!--{else}-->
	<a  href="plugin.php?id=gsignin:index" style="display:block;float:right;margin:3px; width:77px; height:22px; background:url(source/plugin/gsignin/img/signin_no.png) no-repeat center center;" ></a>
<!--{/if}-->
<!--{/block}-->

