</div>
</div>

		{if !$_G['uid']}
		<!-- 注册对话框 -->
		<div class="dialog" id="registerDialog" style="display: none;">
			<div class="memberRegister">
				<div class="mn main">
		
					<div id="main_message" class="bm" fwin="register">
		
						<h3 id="main_hnav" class="bm_h flb" fwin="register">
							<button class="dialog_close" type="button"></button>
						</h3>

						<form action="member.php?mod=register" onsubmit="checksubmit();return false;"
						  enctype="multipart/form-data" id="registerform" name="register" autocomplete="off" method="post"
						  fwin="register">
							<div class="bm_c" id="layer_reg" fwin="register">
								<input type="hidden" value="yes" name="regsubmit">
								<input type="hidden" value="0757ebae" name="formhash">
								<input type="hidden" value="http://127.0.0.2/forum.php" name="referer">
								<input type="hidden" value="" name="activationauth">
								<div class="mtw">
									<div id="reginfo_a" fwin="register">
		
										<!-- 注册账户名 -->
										<div class="rfm box_input">
											<table>
												<tbody>
													<tr>
														<th>
															<span class="rq">*</span>
															<label for="RTcAS8">手机:</label>
														</th>
														<td>
															<input type="text" required="" maxlength="15" size="25" value="" tabindex="1" class="px" name="mobile" id="RTcAS8" fwin="register">
														</td>
													</tr>
												</tbody>
											</table>
										</div>
		
										<!-- 输入密码 -->
										<div class="rfm box_input">
											<table>
												<tbody>
													<tr>
														<th><span class="rq">*</span>
															<label for="mAw06a">输入密码:</label>
														</th>
														<td>
															<input type="password" required="" class="px" tabindex="1" size="25" name="password" id="mAw06a" fwin="register" />
														</td>
													</tr>
												</tbody>
											</table>
										</div>
		
										<div class="rfm box_input">
											<p class="declaration">我已经认真阅读并接受<a href="javascript:;">《意大利原生活网免责声明》</a>
											</p>
										</div>
		
									</div>
								</div>
							</div>
							<div id="layer_reginfo_b" fwin="register">
								<div class="rfm mbw bw0">
									<table width="100%">
										<tbody>
											<tr>
												<td colspan="3">
													<span id="reginfo_a_btn" fwin="register">
														<em>&nbsp;</em>
														<button tabindex="1" value="true" name="regsubmit" type="submit" id="registerformsubmit" class="pn pnc" fwin="register">
															<strong>
															  注册
															</strong>
														</button>
													</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		{/if}
		
		<div class="dialog" id="followWeixinDialog" style="display: none;">
			<a class="dialog_close">close</a>
			<div class="dialog_body">
				<div class="box_image">
					<img src="/static/image/vivo/qr.png" alt="" />
				</div>
				<p>请使用微信扫一扫，或者在微信搜索公众号“意大利原生活”，关注我们。</p>
			</div>
		</div>

		<!-- 用户信息弹窗模块Begin -->
		<link rel="stylesheet" type="text/css" href="/static/js/vivo/userInfo/userInfo.css" />
		<script src="/static/js/vivo/userInfo/userInfo.js"></script>
		<!-- 用户信息弹窗模块End -->
		
		<!-- jQuery-UI -->
		<script src="/static/jquery/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
		
		<!-- jQuery mousewheel -->
		<script src="/static/jquery/jquery-mousewheel-3.1.12/jquery.mousewheel.min.js"></script>
		
		<!-- jquery scrollbar -->
		<script src="/static/jquery/jquery.scrollbar/jquery.scrollbar.min.js"></script>

        <script src="/static/js/vivo/mobile/tools.js"></script>

		<script src="/static/js/vivo/shareShare/shareShare.js"></script>
		
		<!-- firebug -->
		<!--<script type="text/javascript" src="/static/firebug-lite/build/firebug-lite.js"></script>-->
		
		<!--{if isset($scriptText)}-->
		<script>$scriptText</script>
		<!--{/if}-->
		
	</body>

</html>

