<!--{subtemplate common/header_common}-->
    <meta name="application-name" content="$_G['setting']['bbname']" />
    <meta name="msapplication-tooltip" content="$_G['setting']['bbname']" />
    <!--{if $_G['setting']['portalstatus']}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][1]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['portal']) ? 'http://'.$_G['setting']['domain']['app']['portal'] : $_G[siteurl].'portal.php'};icon-uri={$_G[siteurl]}{IMGDIR}/portal.ico" /><!--{/if}-->
    <meta name="msapplication-task" content="name=$_G['setting']['navs'][2]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['forum']) ? 'http://'.$_G['setting']['domain']['app']['forum'] : $_G[siteurl].'forum.php'};icon-uri={$_G[siteurl]}{IMGDIR}/bbs.ico" />
    <!--{if $_G['setting']['groupstatus']}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][3]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['group']) ? 'http://'.$_G['setting']['domain']['app']['group'] : $_G[siteurl].'group.php'};icon-uri={$_G[siteurl]}{IMGDIR}/group.ico" /><!--{/if}-->
    <!--{if helper_access::check_module('feed')}--><meta name="msapplication-task" content="name=$_G['setting']['navs'][4]['navname'];action-uri={echo !empty($_G['setting']['domain']['app']['home']) ? 'http://'.$_G['setting']['domain']['app']['home'] : $_G[siteurl].'home.php'};icon-uri={$_G[siteurl]}{IMGDIR}/home.ico" /><!--{/if}-->
    <!--{if $_G['basescript'] == 'forum' && $_G['setting']['archiver']}-->
      <link rel="archives" title="$_G['setting']['bbname']" href="{$_G[siteurl]}archiver/" />
    <!--{/if}-->
    <!--{if !empty($rsshead)}-->$rsshead<!--{/if}-->
    
    <!--{if widthauto()}-->
      <link rel="stylesheet" id="css_widthauto" type="text/css" href='{$_G['setting']['csspath']}{STYLEID}_widthauto.css?{VERHASH}' />
   
    <!-- jquery layer -->
      <script type="text/javascript" src="/static/jquery/layer/layer.min.js" /></script>
   
      <script type="text/javascript">HTMLNODE.className += ' widthauto'</script>
    <!--{/if}-->
    
    <!--{if $_G['basescript'] == 'forum' || $_G['basescript'] == 'group'}-->
      <script type="text/javascript" src="{$_G[setting][jspath]}forum.js?{VERHASH}"></script>
    <!--{elseif $_G['basescript'] == 'home' || $_G['basescript'] == 'userapp'}-->
      <script type="text/javascript" src="{$_G[setting][jspath]}home.js?{VERHASH}"></script>
    <!--{elseif $_G['basescript'] == 'portal'}-->
      <script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
    <!--{/if}-->
    
    <!--{if $_G['basescript'] != 'portal' && $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
      <script type="text/javascript" src="{$_G[setting][jspath]}portal.js?{VERHASH}"></script>
    <!--{/if}-->
    
    <!--{if $_GET['diy'] == 'yes' && check_diy_perm($topic)}-->
      <link rel="stylesheet" type="text/css" id="diy_common" href="{$_G['setting']['csspath']}{STYLEID}_css_diy.css?{VERHASH}" />
    <!--{/if}-->
    
      <script type="text/javascript" src="{$_G[setting][jspath]}vivo/config.js?{VERHASH}"></script>
      
      <script type="text/javascript" src="{$_G[setting][jspath]}vivo/basic.js?{VERHASH}"></script>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/static/jquery/Swiper/dist/css/swiper.min.css">

  </head>

  <body>
    <!--动态框加载父窗口-->
    <div id="append_parent"></div><div id="ajaxwaitid"></div>
    <div id="all-content-container">
    <div id="header-container" class="">
      <div class="header scrollbar-macosx">
      	
      	<!-- logo -->
  		<div class="header-content">
          <img class="img" src="/static/image/vivo/index-nav-icon.jpg" onclick="location.href='/'">
        </div><!-- end logo -->
        
        <!-- 导航 -->
        <a class="navi-title forums active">原生活社区</a>
        
        <ul class="navi forums">
        	
	        {eval}
	        if(!$_G['cache']['forums']){
	          loadcache('forums');
	        }
	        $forums = $_G['cache']['forums'];
	        $forum_index = 1;
	        
	        foreach($forums as $forum){
	          if($forum['type'] == 'forum' && $forum['status'] != 0){
	            if($_G['fid'] == $forum['fid']){
	              echo '<li class="navi-item item_fid_' .$forum['fid']. ' item' .$forum_index. ' active"><a href="/forum.php?mod=forumdisplay&fid='.$forum['fid'].'">'.$forum['name'].'</a></li>';
	            }else{
	              echo '<li class="navi-item item_fid_' .$forum['fid']. ' item' .$forum_index. '"><a href="/forum.php?mod=forumdisplay&fid='.$forum['fid'].'">'.$forum['name'].'</a></li>';
	            }
	            $forum_index++;
	          }
	        }
	        {/eval}
	        
	    </ul>
	    <a class="navi-title shop{eval echo getgpc('fid') == '78' ? ' active' : ''; }" href="/forum.php?mod=forumdisplay&fid=78">坚嘢商城</a>
    	<!-- 结束 导航 -->
    	
    	<!-- 用户菜单 -->
    	<div class="user-info">
          <!--{if $_G['uid']}-->
          {eval}
          $gsignin_member = C::t('#gsignin#gsignin_member')->fetch_first_by_uid($_G['uid']);
		  $continuous = $gsignin_member ? $gsignin_member['continuous'] : '';
          {/eval}
          <a class="user_message" href="plugin.php?id=gsignin:index">
          	<img src="/static/image/vivo/ico_user_message_active.png" alt="" />+{$continuous}
          	<!--<img src="/static/image/vivo/ico_user_message.png" alt="" />-->
          </a>
          <div class="user-img-container" onclick="location.href='forum.php?mod=personal'" data-hash="{FORMHASH}"><!--{avatar($_G[uid],small)}--></div>
          <p class="username" id="active_myMenu" data-hash="{FORMHASH}">{$_G['member']['nickname']}</p>
          <ul class="user-quick-list">
          	<li class="user-quick"><a href="/forum.php?mod=personal">个人主页</a></li>
          	<li class="user-quick"><a href="/home.php?mod=spacecp">个人设置</a></li>
          	<li class="user-quick"><a href="/home.php?mod=space&do=notice&view=mypost">我的消息</a></li>
          	<li class="user-quick"><a href="/forum.php?mod=order&action=myorder">我的订单</a></li>
          	<li class="user-quick"><a href="/home.php?mod=space&do=favorite&view=me">我的收藏</a></li>
          	<li class="user-quick"><a href="/plugin.php?id=gsignin:index">我要签到</a></li>
          	<li class="user-quick"><a href="/member.php?mod=logging&action=logout&formhash={FORMHASH}">退出</a></li>
          </ul>
          <!--{else}-->
      	  <div class="notlogin">
      	  	<ul>
      	  		<li class="item1" id="loginOperation">
      	  			<a href="/member.php?mod=logging&action=login">登陆/注册</a>
      	  		</li>
      	  		<li class="item2">
      	  			<a href="javascript:;" onclick="followWeixin();">关注我们</a>
      	  		</li>
      	  		<li class="item3">
      	  			<a href="javascript:;">关于我们</a>
      	  		</li>
      	  	</ul>
      	  </div>
          <!--{/if}-->
        </div><!-- 结束 用户菜单 -->
        
        <div class="search-container">
			<form action="/search.php?searchsubmit=yes" onsubmit="searchFocus($('share_search_content'))" method="POST" target="_blank" autocomplete="off">
				<button class="submitButton" type="submit">
					<img src="/static/image/vivo/nav/search.gif" alt="搜索" />
				</button>
				<input id="search_keywords" class="search-content" type="text" name="srchtxt" placeholder="搜索" />
				<input type="hidden" name="mod" value="forum"/>
                <input type="hidden" name="formhash" value="{FORMHASH}"/>
                <input type="hidden" name="srchtype" value="title"/>
                <input type="hidden" name="srhfid" value=""/>
                <input type="hidden" name="srchlocality" value="forum::index"/>
                <input type="hidden" name="searchsubmit" value="true"/>
			</form>
	    </div>
	    
	    <div class="website-desc">
	    	<p class="desc">©2015 &nbsp;佛山市原生活电子商务有限公司</p>
	    	<p class="desc">粤ICP备15033731号-1</p>
	    	<p class="desc">友链：<a href="http://m.kuaidi100.com" target="_blank">快递查询</a></p>
	    </div>
		    
      </div>
    </div>
	<ul id="page-quick-btn-list">
		
		<li class="btn-item goto-top" title="回到顶部">
			<i class="fa fa-chevron-up icon" style="position:relative;left:1px;top:-1px;"></i>
		</li>
		
		<!--{if $_G['uid']}-->
		  <li class="btn-item goto-shareadd" title="发表分享">
			<a href="/forum.php?mod=post&action=newthread" title="发表分享"></a>
		  </li>
		  <!--{eval $new_messages = $_G['member']['newprompt']; }-->
		  <li id="bellIconItem" class="btn-item bell{if $new_messages} bell-active{/if}" title="消息" onclick="location.href='';">
			<a href="/home.php?mod=space&do=notice" title="消息"></a>
		  </li>
		<!--{/if}-->
		
		<!--
		<li class="btn-item shareButton">
			<a href="javascript:;" title="分享">分享</a>
		</li>
		-->
		
		<li class="btn-item messageButton">
			<a href="javascript:showLayerDOM('<div style=\'padding:10px;background:#fff;\'><p style=\'font-size:18px;text-align:center;\'>扫描二维码联系客服</p><img src=\'static/image/vivo/dkf_sub_qrcode.png\' width=\'500\' /></div>');" title="聊天">聊天</a>
		</li>
		
		
		<!--
		<li class="qr">
			<img src="/static/image/vivo/qr.png" alt="" />
		</li>
		-->
		
	</ul>
    <div id="body-container">
