@charset "utf-8";
/* 上传头像页面 */
.user-banner-header-img-mask{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(209,209,209,0.7);
	z-index: 100;
	display: none;
}

.user-banner-header-img-mask .user-banner-header-img-box{
	width: 500px;
	height: 500px;
	margin: 100px auto;
	background: #fff;
	border-radius: 10px;
	border:1px solid #EDEDED;
	-webkit-box-shadow:10px 10px 10px #ccc;
	-moz-box-shadow:10px 10px 10px #ccc;
}

.user-banner-header-img-mask .user-banner-header-img-box .user-banner-header-img-header{
	font-size: 20px;
	font-weight: bold;
	color: #1A1A1A;
	height: 50px;
	line-height: 50px;
	margin-top: 5px;
	padding: 0px 10px;
}

.user-banner-header-img-mask .user-banner-header-img-box .user-banner-header-img-header .user-banner-header-img-header-title{
	width:80%;
	float: left;
}

.user-banner-header-img-mask .user-banner-header-img-box .user-banner-header-img-header .user-banner-header-img-header-btn{
	width: 18%;
	float: right;
	text-align: right;
	color: #ccc;
	font-size: 30px;
}

.user-banner-header-img-mask .user-banner-header-img-box .user-banner-header-img-header .user-banner-header-img-header-btn i{
	cursor: pointer;
}

.user-banner-header-img-mask .user-banner-header-img-box .user-banner-header-img-body{
	padding: 10px;
}

.headerimgbody-imgbox{
	background: rgba(209,209,209,0.7);
	border: 1px solid #EDEDED;
	width:65%;
	float: left;
	height: 350px;
	position: relative;
}

.headerimgbody-imgbox img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: 0;
}

.headerimgbody-imgbox #upload_img{
	
}

.preview-imgbox{
	width:33%;
	float: right;
	height: 350px;
	background: #f2f2f5;
	border-radius: 10px;
}

.preview-imgbox h4,h6{
	margin-top: 30px;
	width: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	color: #999;
}

.preview-imgbox h6{
	font-size: 13px;
	font-weight: 300;
}

.preview-imgbox #preview-pane{
	margin-top: 20px;
}

.preview-imgbox #preview-box #preview-pane .preview-container{
	border-radius: 140px;
	width: 140px;
	height: 140px;
	overflow: hidden;
	margin: 0 auto;
}

.preview-imgbox #preview-box #preview-pane .preview-container img{
	width: 140px;
	height: 140px;
	display: block;
	margin: 0 auto;
	border: none;
}

.user-banner-header-img-btn{
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.btn-userheadimg{
	height: 35px;
	line-height: 34px;
	width: 75px;
	font-size: 16px;
	background: #f2f2f5;
	font-family: "微软雅黑";
	border: 1px solid #EDEDED;
	border-radius: 5px;
	color: #999;
	cursor: pointer;
}

.btn-sure{
	margin-left: 100px;
}


.user-banner-header-img-body .headerimgbody-imgbox .upload-avatar-btn{
	position: absolute;
	top: 100px;
	left: 0px;
	width: 100%;
	text-align: center;
}

.user-banner-header-img-body .headerimgbody-imgbox .upload-avatar-btn i{
	background: rgba(0,0,0,0.8);
	font-size: 58px;
	border-radius: 20px;
	padding: 50px;
	color: #fff;
	cursor: pointer;
}
