<link rel="stylesheet" type="text/css" href="/Public/js/community/pc/ajaxUploadAvatar/ajaxUploadAvatar.css" />
<!--用户上传头像-->
<div class="user-banner-header-img-mask" id="umask">
	<div class="user-banner-header-img-box">
		<div class="user-banner-header-img-header">
			<div class="user-banner-header-img-header-title">设置新头像</div>
			<div class="user-banner-header-img-header-btn"><i id="cancle-btn" class="fa fa-times-circle"></i></div>
			<div class="clear"></div>
		</div>
		<div class="user-banner-header-img-body">
			<div class="headerimgbody-imgbox">
				<div class="upload-avatar-btn" id="uploadAvatar"><i class="fa fa-upload"></i></div>
				<div class="warp-upload-haeaderimg">
				<img style="display: none;" id="upload_img" src="/Public/images/sago.jpg" >
				</div>
			</div>
			<div class="preview-imgbox">
				<h4>预览</h4>
				<div id="preview-box">
				<div id="preview-pane">
					<div class="preview-container">
						<img id="upload_preview_img" src="/Public/images/sago.jpg" width="140" height="140" class="jcrop-preview">
					</div>
				</div>
				</div>
				<h6>140px X 140px</h6>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="user-banner-header-img-btn">
			<form id="save-avator-form" action="" method="post">
				<input type="hidden" id="imgx" name="x">
				<input type="hidden" id="imgy" name="y">
				<input type="hidden" id="imgw" name="w">
				<input type="hidden" id="imgh" name="h">
				<input type="hidden" id="realw" name="realw">
				<input type="hidden" id="realh" name="realh">
				<input type="hidden" id="sourceLink" name="url" />
				<button disabled="disabled" class="btn-userheadimg btn-sure" id="btn-userheadimg-sure" type="button">确定</button>
				<button class="btn-userheadimg btn-cancle" id="btn-userheadimg-cancle" type="button">取消</button>
			</form>
		</div>
	</div>
</div>
<script>
	//七牛上传插件
			var uploader = Qiniu.uploader({
			    runtimes: 'html5,flash,html4',    //上传模式,依次退化
			    browse_button: 'uploadAvatar',       //上传选择的点选按钮ID，**必需**
			    uptoken_url: '/community/ajax/getQiNiuToken',
			    domain: VivoOptions.getOption("qiNiuUrlPrefix"),
			    container: 'uploadAvatarContainer',           //上传区域DOM ID，默认是browser_button的父元素，
			    max_file_size: '6mb',           //最大文件体积限制
			    flash_swf_url: '/public/plupload/js/plupload/Moxie.swf',  //引入flash,相对路径
			    max_retries: 3,                   //上传失败最大重试次数
			    dragdrop: true,                   //开启可拖曳上传
			    drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
			    chunk_size: '4mb',                //分块上传时，每片的体积
			    auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
			    init: {
			        'FilesAdded': function(up, files) {
			            plupload.each(files, function(file) {
			                // 文件添加进队列后,处理相关的事情
			            });
			        },
			        'BeforeUpload': function(up, file) {
			               // 每个文件上传前,处理相关的事情
			        },
			        'UploadProgress': function(up, file) {
			               // 每个文件上传时,处理相关的事情
			        },
			        'FileUploaded': function(up, file, info) {
			        	var domain = up.getOption('domain');
			        	var res = $.parseJSON(info);
			        	var sourceLink = domain + res.key;
			        	
			        	//显示上传图片
			        	var $upload_img = $("#upload_img");
			        	$upload_img.attr("src",sourceLink).show();
			        	$('#upload_preview_img').attr("src",sourceLink);
			        	//赋值图片
						$('#sourceLink').val(sourceLink);
			        	//关闭上传按钮
			        	$('#uploadAvatar').hide();
			        	//开启确认提交按钮
			        	$('#btn-userheadimg-sure').removeAttr('disabled').css('background','#fee101');
			        	//启动裁剪插件
			        	crop_avator();
			        	//调整上传图片的居中问题
			        	var h1 = $('.headerimgbody-imgbox').height(),
			        	    h2 = $upload_img.height();
			        	$('.warp-upload-haeaderimg').css('margin-top',(h1-h2)/2);
			        },
			        'Error': function(up, err, errTip) {
			               //上传出错时,处理相关的事情
			        },
			        'UploadComplete': function() {
			               //队列文件处理完毕后,处理相关的事情
			        },
			        'Key': function(up, file) {
			            // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
			            // 该配置必须要在 unique_names: false , save_key: false 时才生效
			            var key = VivoOptions.getOption("qiNiuFilePrefixUser");
			            $.ajax({
			            	"url":"/community/ajax/getQiNiuRandomKey",
			            	"async":false,
			            	"success":function(data){
			            		key += data;
			            	}
			            })
			            // do something with key here
			            return key
			        }
			    }
			});
			
		//裁剪图片方法
		function crop_avator(){
			//裁剪图片初始化
			var jcrop_api,boundx,boundy
		
			$preview = $('#preview-pane'),
			$pcnt = $('#preview-pane .preview-container'),
			$pimg = $('#preview-pane .preview-container img'),
			xsize = $pcnt.width(),
			ysize = $pcnt.height();
			
			$('#upload_img').Jcrop({
				onChange: updatePreview,
				onSelect: updatePreview,
				aspectRatio: xsize / ysize
			},function(){
				var bounds = this.getBounds();
				boundx = bounds[0];
				boundy = bounds[1];
				//保存实际缩放后大小
				$('#realw').val(boundx);
				$('#realh').val(boundy);
				jcrop_api = this;
				//加载缩略图
				$preview.appendTo($('#preview-box'));
			});
			
			function updatePreview(c){
				if (parseInt(c.w) > 0) {
					var rx = xsize / c.w;
					var ry = ysize / c.h;
					
					//保存图片裁剪坐标
					$('#imgx').val(c.x);
					$('#imgy').val(c.y);
					$('#imgw').val(c.w);
					$('#imgh').val(c.h);
					
					$pimg.css({
						width: Math.round(rx * boundx) + 'px',
						height: Math.round(ry * boundy) + 'px',
						marginLeft: '-' + Math.round(rx * c.x) + 'px',
						marginTop: '-' + Math.round(ry * c.y) + 'px'
					});
				}
			};
		}
	
</script>