<div class="dialog_header">
  <div class="dialog_buttons">
    <a class="closeButton" href="javascript:;">x</a>
  </div>
</div>
<div class="dialog_body">
  <div class="box_logo">
    <img src="/Public/images/community/pc/logo_login_register.gif" width="216" height="159" alt="意大利原生活" />
  </div>
  <form action="#" method="post" id="loginDialogForm">
    <div class="form_group inputGroup accountInputGroup">
      <input class="form_control" type="text" name="loginname" id="loginDialogLoginName" autocomplete="off" placeholder="输入你帐号" data-default="输入你帐号" />
    </div>
    <div class="form_group inputGroup passwordInputGroup">
      <input class="form_control" type="password" name="pwd" id="loginDialogPwd" placeholder="输入密码" data-default="输入密码" />
    </div>
    <div class="form_group buttonGroup">
      <input type="submit" class="submitButton" id="loginDialogActionBtn" value="登录" />
    </div>
    <div class="form_group">
      <a href="javascript:;" class="left bold">
        <i class="icon ico_notice"></i>
        忘记密码&gt;&gt;
      </a>
      <a href="javascript:;" class="right link_register">还没有帐号？<span class="bold color-orange">点击注册&gt;&gt;</span></a>
    </div>
  </form>
</div>

