/**
 * style for login dialog
 * @author: xiaowen
 */

#loginDialog {
  position: fixed;
  z-index: 902;
  width: 516px;
  height: 466px;
  left: 50%;
  margin-left: -258px;
  top: 50%;
  margin-top: -233px;
  background-color: #FFF;
  border: solid 1px #b1b1b1;
  border-radius: 10px;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
  box-shadow: 0 0 2px rgb(229,229,229) inset, -1px 4px 5px rgba(4,0,0,0.47);
}

#loginDialog .dialog_header {
  position: absolute;
  width: 100%;
}

#loginDialog .dialog_buttons {
  float: right;
  padding-top: 10px;
  padding-right: 6px;
}

#loginDialog .closeButton {
  display: inline-block;
  width: 34px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  text-indent: -9999pt;
  background: url(../../../../images/community/pc/ico_close.gif) no-repeat center center #cfcfcf;
  border-radius: 17px;
}

#loginDialog .dialog_body {
  padding: 28px 63px 0;
}

#loginDialog .dialog_body .box_logo {
  text-align: center;
  margin-bottom: 25px;
}

#loginDialog .dialog_body .form_group {
  clear: both;
  overflow: hidden;
}

#loginDialog .dialog_body .left,
#loginDialog .dialog_body .right {
  height: 26px;
  line-height: 26px;
}

#loginDialog .dialog_body .left {
  float: left;
}
#loginDialog .dialog_body .right {
  float: right;
}

#loginDialog .dialog_body .inputGroup {
  height: 52px;
  padding: 0 50px;
  margin-bottom: 17px;
  border-radius: 8px;
  background: url(../../../../images/community/pc/icons_login_input.gif) no-repeat 22px 0 #e5e5e5;
}

#loginDialog .dialog_body .form_control,
#loginDialog .submitButton {
  width: 100%;
  height: 52px;
  line-height: 52px;
  border: none 0;
  text-align: center;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
}

#loginDialog .dialog_body label {
  display: block;
  position: absolute;
  width: 290px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  color: #959595;
  font-size: 20px;
}

#loginDialog .dialog_body .form_control {
  background-color: transparent;
  font-size: 20px;
  color: #959595;
}

#loginDialog .dialog_body .passwordInputGroup {
  background-position: 22px -69px;
}

#loginDialog .submitButton {
  margin-bottom: 16px;
  background-color: #fee101;
  font-size: 23px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
}

#loginDialog .ico_notice {
  background: url(../../../../images/community/pc/ico_notice.gif);
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
}

#loginDialog a {
  font-size: 16.49px;
  text-decoration: none;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
}

#loginDialog a,
#loginDialog a:visited {
  color: #282626;
}

#loginDialog  .bold {
  font-weight: 700;
}

#loginDialog  .color-orange {
  color: #feae01;
}

#loginMask {
  position: fixed;
  z-index: 901;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.17);
}

