{include file="header"}

<form action="" method="post" id="multiform">
<table class="tb tb2 nobdb">
	<tr>
		<th colspan="6" class="partition">{$title}&nbsp;&nbsp;（{:count($list)}）</th>
	</tr>
	<tr class="header">
		<th width="15"></th>
		<th>排序</th>
		<th>图片</th>
		<th>名称</th>
		<th>描述</th>
		<th>操作</th>
	</tr>
	{if $list}
	{foreach $list $k $v}
	<tr>
		<td><input class="acheckbox" type="checkbox" name="ids[{$v['id']}]" value="1" /></td>
		<td><input style="width: 30px;text-align: center;" type="text" name="displayorder[{$v['id']}]" value="{$v['displayorder']}"></td>
		<td><img height="50" src="{$v['url']}"></td>
		<td>{$v['title']}</td>
		<td>{:cutstr($v['message'],30)}</td>
		<td><a href="javascript:editindex({$v['id']});">修改</a> | <a href="javascript:deleteindex({$v['id']});">删除</a></td>
	</tr>
	{/foreach}
	{else}
	<tr><td colspan="6" align="center">暂无</td></tr>
	{/if}
	<tr>
		<td><input type="checkbox" id="select_all_btn"/></td>
		<td colspan="5" align="left">删除</td>
	</tr>
</table>
<input type="hidden" name="formhash" value="{:formhash()}" >
<input type="hidden" name="action" value="setindex" >
<input type="hidden" name="op" value="setindex" >
<input type="hidden" name="subop" value="multi_save" >
<input type="hidden" name="type" value="{$type}" >
<div class=""><button type="button" id="exitmultiindex">批量修改</button>&nbsp;&nbsp;<button type="button" id="addindex">新增</button></div>
</form>
<script>
	var editListBox = null;
	var detailIframeBox = null;
	var closing_reload_parent = false;
	
	$(function(){
		$('#addindex').click(function(){
			detailIframeBox = showajax('setindex','setindex','detail', 'type={$type}' ,'500px','600px');
		});
		$('#exitmultiindex').click(function(){
			$.post('admin.php',$('#multiform').serialize(),function(data){
				data = jQuery.parseJSON(data);
				alert(data.msg);
				if(data.result){
					location.reload();
				}
			});
		});
		$('#select_all_btn').click(function(){
			if($(this).is(':checked')){
				$('.acheckbox').prop('checked',true);
			}else{
				$('.acheckbox').removeAttr('checked');
			}
		});
	});
	
	function editindex(_id){
		detailIframeBox = showajax('setindex','setindex','detail', 'type={$type}&id='+_id ,'500px','600px');
	}
	
	function deleteindex(_id){
		confirm_delete('setindex','setindex','delete',_id);
	}
	
</script>


{include file="footer"}