{include file="header"}

<table class="tb tb2 nobdb">
	<tr>
		<th colspan="6" class="partition">广告图列表&nbsp;&nbsp;（{:count($list)}）</th>
		<th class="partition"><a href="javascript:showajax('setindex','setbanner','edit','type={$type}');">新增</a></th>
	</tr>
	<tr class="header">
		<th></th>
		<th>顺序</th>
		<th>图片</th>
		<th>标题</th>
		<th>指向文章</th>
		<th>编辑时间</th>
		<th>操作</th>
	</tr>
	<?php
	foreach($list as $k => $v){
		$thread = C::t('forum_thread')->fetch($v['tid']);
		$thread['forum'] = C::t('forum_forum')->fetch($thread['fid']);
	?>
	<tr class="hover">
		<td><input class="baid_checkbox" type="checkbox" name="baid[{$v['baid']}]" value="1" /></td>
		<td><input style="width: 50px;text-align: center;" type="text" name="displayorder[{$v['baid']}]" value="{$v['displayorder']}" ></td>
		<td><img src="{$v['url']}" height="80"> </td>
		<td>{$v['title']}</td>
		<td><a href="/forum.php?mod=viewthread&tid={$v['tid']}" target="_blank">{$thread['subject']}</a>（{$thread['forum']['name']}）</td>
		<td>{:date('Y-m-d H:i',$v['dateline'])}</td>
		<td><a href="javascript:showajax('setindex','setbanner','edit','id={$v["baid"]}');">编辑</a>|<a href="javascript:confirm_delete_banner({$v['baid']})">删除</a></td>
	</tr>
	<?php } ?>
	<tr>
		<td><input type="checkbox" id="select_all_btn"/></td>
		<td colspan="6" >删除</td>
	</tr>
</table>

<script>
	$(function(){
		$('#select_all_btn').click(function(){
			if($(this).is(':checked')){
				$('.baid_checkbox').prop('checked',true);
			}else{
				$('.baid_checkbox').removeAttr('checked');
			}
		});
	});
	
	function confirm_delete_banner(_id){
		confirm_delete('setindex','setbanner','delete', _id);
	}
</script>

{include file="footer"}