{include file="header"}
<link rel="stylesheet" type="text/css" href="/template/vivo/common/common.css" />
<link rel="stylesheet" type="text/css" href="/static/css/home.css" />

<div class="main-container homePageMain" style="width: 1060px;margin: 0 auto; padding-top: 30px;">
	{include file="discuz_index" dir="/template/vivo/forum/"}
</div>

<script>
	
	var editListBox = null;
	var detailIframeBox = null;
	var closing_reload_parent = false;
	
	$(function(){
		$(".hover_edit").hover(function(){
			var _type = $(this).attr('data-type');
			$(this).append("<a class='edit_btn' onclick='showeditbox(\""+_type+"\");'>编辑</a>");
		},function(){
			$(this).find('a.edit_btn').remove();
		});
	});
	
	function showeditbox(_type){
		editListBox = showajax('setindex','setindex','list','type='+_type+'' ,'700px','500px',true);
	}
</script>

{include file="footer"}