{include file="head"}
<div style="padding: 10px;text-align: left;">

{if $subop == 'list'}
<link rel="stylesheet" type="text/css" href="/static/jquery/sortable/jquery.sortable.css">
<script type="text/javascript" src="/static/jquery/sortable/jquery.sortable.js" ></script>
<form action="" method="post" id="multiform">
<table class="tb tb2" id="sortable">
	<tr class="header">
		<th>排序</th>
		<th>图片</th>
		<th>名称</th>
		<th>描述</th>
		<th>操作</th>
	</tr>
	{if $list}
	{foreach $list $k $v}
	<tr>
		<td><input style="width: 30px;text-align: center;" type="text" name="displayorder[{$v['id']}]" value="{$v['displayorder']}"></td>
		<td><img height="50" src="{$v['url']}"></td>
		<td>{$v['title']}</td>
		<td>{:cutstr($v['message'],30)}</td>
		<td><a href="javascript:editindex({$v['id']});">修改</a> | <a href="javascript:deleteindex({$v['id']});">删除</a></td>
	</tr>
	{/foreach}
	{else}
	<tr><td colspan="4">暂无</td></tr>
	{/if}
</table>
<input type="hidden" name="formhash" value="{:formhash()}" >
<input type="hidden" name="action" value="setindex" >
<input type="hidden" name="op" value="setindex" >
<input type="hidden" name="subop" value="multi_save" >
<input type="hidden" name="type" value="{$type}" >
<div class=""><button type="button" id="exitmultiindex">批量修改</button>&nbsp;&nbsp;<button type="button" id="addindex">新增</button></div>
</form>
<script>
	$(function(){
		$('#sortable').sortable();
		$('#addindex').click(function(){
			parent.detailIframeBox = parent.showajax('setindex','setindex','detail', 'type={$type}' ,'500px','600px');
		});
		$('#exitmultiindex').click(function(){
			$.post('admin.php',$('#multiform').serialize(),function(data){
				data = jQuery.parseJSON(data);
				alert(data.msg);
				if(data.result){
					location.reload();
				}
			});
		});
	});
	
	function editindex(_id){
		parent.detailIframeBox = parent.showajax('setindex','setindex','detail', 'type={$type}&id='+_id ,'500px','600px');
	}
	
	function deleteindex(_id){
		confirm_delete('setindex','setindex','delete',_id);
	}
	
</script>


{elseif $subop == 'detail'}

<form action="" method="post" id="index_form" >
  <table class="tb tb2">
    <tr class="rowform">
      <td class="td27">
        <label>指向帖子：</label>
      </td>
      <td>
        <div>
        	<select class="forumselect" name="fid" id="forumselect">
        		<option value="-1">请选择</option>
        		{:forumselect(FALSE, 0, $item['fid'], TRUE)}
        	</select><br><br>
			<select class="threadselect" name="tid" id="threadselect">
        	</select>
        </div>
      </td>
    </tr>
    <tr class="rowform">
      <td class="td27">
        <label>标题：</label>
      </td>
      <td>
      	<input type="text" name="title" class="txt" required="" value="{$item['title']}" />
      </td>
    </tr>
    <tr class="rowform">
      <td class="td27">
        <label>描述：</label>
      </td>
      <td>
		<textarea rows="5" cols="5" name="message" >{$item['message']}</textarea>
      </td>
    </tr>
    <tr class="rowform">
      <td class="td27">
        <label>图片：</label>
      </td>
      <td>
        <div id="form_image_url_container">
          <div>
            <img id="form_image" src="{$item['url']}" alt="预览图片" style="max-width: 160px; max-height: 160px; height: auto; {if !$item['url']}display: none;{/if}" />
          </div>
          <div style="margin-top: 5px;">
            <input id="form_image_url" type="hidden" name="url" value="{$item['url']}" style="width: 300px;" />
            <button type="button" id="qiniuImageUpload">上传图片</button>
          </div>
        </div>
      </td>
    </tr>
    <tr class="rowform">
      <td class="td27">
        <label>排序：</label>
	  </td>
      <td>
      	<input style="width: 50px;text-align: center;" type="text" name="displayorder" class="txt" value="{$item['displayorder']}" />
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
      	<input type="hidden" name="formhash" value="{:formhash()}" >
      	<input type="hidden" name="action" value="setindex" >
      	<input type="hidden" name="op" value="setindex" >
      	<input type="hidden" name="subop" value="save" >
      	<input type="hidden" name="type" value="{$type}" >
      	<input type="hidden" name="id" value="{$item['id']}" >
        <input type="button" id="submit_btn" class="btn" value="保存">
      </td>
    </tr>
  </table>
</form>
</div>
<script src="/static/js/vivo/mobile/tools.js"></script>
<script src="/static/js/vivo/mobile/app.js"></script>
<script src="/static/js/vivo/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="/static/js/vivo/qiniu-js-sdk/src/qiniu.min.js"></script>
<script>
	$(function(){
		$('#submit_btn').click(function(){
			$.post(
				'/admin.php',
				$('#index_form').serialize(),
				function(data){
					data = jQuery.parseJSON(data);
					alert(data.msg);
					if(data.result ==1){
						//获取列表list_iframe
						var $list_iframe = $(parent.document).find('#xubox_iframe'+parent.editListBox);
						//刷新list_iframe
						$list_iframe.attr('src',$list_iframe.attr('src'));
						//改变让list_iframe关闭能刷新
						parent.closing_reload_parent = true;
						//关闭自身
						parent.layer.close(parent.detailIframeBox);
					}
				}
			);
		});
		//列表选择器
		$('select').select2({
			language: "zh-CN",
		});
		var change_threadselect = 0;
		selectthreadlist('forumselect','threadselect',{$item['fid']?$item['fid']:0},{$item['tid']?$item['tid']:0});
		//绑定帖子选择后事件
		$('#threadselect').change(function(){
			var _tid = $(this).val();
			$.getJSON('/admin.php?action=setindex&operation=ajax_getthread_by_tid&tid='+_tid,function(data){
				if(data.result==1){
					var _item = data.item;
					if(change_threadselect!=0){
						$('input[name="title"]').val(_item.subject);
						$('textarea[name="message"]').val(_item.summary);
						$('input[name="url"]').val(_item.media_list[0].media_url);
						$('#form_image').attr('src',_item.media_list[0].media_url).show(100);
					}
					change_threadselect = 1;
				}
			});
		});
	});
  var loading = null;
  var bgUploader = Qiniu.uploader({
	    runtimes: 'html5,flash,html4',    //上传模式,依次退化
	    browse_button: 'qiniuImageUpload',       //上传选择的点选按钮ID，**必需**
	    uptoken_url: 'forum.php?mod=ajax&action=getQiNiuToken',
	    domain: 'http://7u2qq8.com1.z0.glb.clouddn.com/',
	    //container: 'form_image_url_container',           //上传区域DOM ID，默认是browser_button的父元素，
	    max_file_size: '2mb',           //最大文件体积限制
	    flash_swf_url: '../plupload-2.1.2/js/Moxie.swf',  //引入flash,相对路径
	    max_retries: 3,                   //上传失败最大重试次数
	    dragdrop: true,                   //开启可拖曳上传
	    drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
	    chunk_size: '4mb',                //分块上传时，每片的体积
	    auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
	    init: {
	        'FileUploaded': function(up, file, info) {
	        	var domain = up.getOption('domain');
	        	var res = jQuery.parseJSON(info);
	        	var sourceLink = domain + res.key;
	        	jQuery("#form_image").attr("src", sourceLink).fadeIn();
            	jQuery("#form_image_url").val(sourceLink);
            	layer.close(loading);
	        },
	        'Error': function(up, err, errTip) {
	          alert(errTip);
	        },
          'BeforeUpload': function(up, file){
            // create progress
            loading = layer.load('图片上传中...');
          },
	        'UploadComplete': function() {
	             //队列文件处理完毕后,处理相关的事情
	        },
          'UploadProgress': function(up, file)
          {
            // update progress
            var dialog_id = "progressDialog-" + file.id;
            updateProgressDialog(dialog_id, file.percent)
            //log(file.percent);
          },
	        'Key': function(up, file) {
	            // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
	            // 该配置必须要在 unique_names: false , save_key: false 时才生效
              var date = new Date();
              var key = "banner/pid"+jQuery("#form_tid").val()+"_"+date.getFullYear()+(date.getMonth()+1)+date.getDate()+date.getTime();
              // do something with key here
              return key;
	        }
	    }
	});
  
</script>
{/if}

{include file="foot"}