<!--{template common/header}-->
<!-- 主要容器 -->
<link rel="stylesheet" href="/static/css/forumdisplay_activity_detail.css" />
<div class="main-container forum-activity">
	<div class="forum-activity-header">
		<div class="left">
			<div class="activity-img-container"><img class="activity-img" src="{if $_G['forum']['custom_activity']['pic']}{$_G['forum']['custom_activity']['pic']}{else}/static/image/vivo/logo_yellow.jpg{/if}"></div>
			<ul class="activity-info">
				<li class="activity-info-item">
					<p class="info-body">{$_G['forum']['threads']}</p>
					<p class="info-title">总帖子量</p>
				</li>
				<li class="activity-info-item">
					<p class="info-body">{$_G['forum']['todayposts']}</p>
					<p class="info-title">今日贴子</p>
				</li>
			</ul>
		</div>
		<div class="right">
			{eval}
				require_once libfile('function/product');
				$buyable = buyableNum($_G['forum']['custom_activity']['spid']);
				if($buyable > 0){
					echo '<button class="activity-btn buy-btn" onclick="location.href=\'/forum.php?mod=order&action=buy&spid='.$_G['forum']['custom_activity']['spid'].'&num=1\';">获取试用</button>';
				}
			{/eval}
			<button class="activity-btn send-btn" onclick="location.href='/forum.php?mod=post&action=newthread&fid={$_G['fid']}';">发表文章</button>
			<h2 class="activity-title">{$_G['forum']['custom_activity']['name']}</h2>
			<div class="activity-desc">{eval echo nl2br($_G['forum']['custom_activity']['desc'])}</div>
		</div>
	</div>
	<div class="forum-activity-body">
		<div class="left">
			<h4 class="ranking-list-title">排行榜</h4>
			<ul class="ranking-list">
				<li class="ranking-loading"><img src="/static/jquery/layer/skin/default/xubox_loading2.gif"></li>
			</ul>
		</div>
		<div class="right">
			<div class="threads-header">
				<p class="threads-desc">
					{eval //今天的帖子数 + 昨天的帖子数 }
					<span class="desc">最新<span class="data">{eval echo $_G['forum']['todayposts'] + $_G['forum']['yesterdayposts']}</span>篇</span>
					<!--<span class="desc">推荐<span class="data">{$_G['forum']['todayposts']}</span>篇</span>-->
				</p>
			</div>
			<ul class="threads-list">
				<!--{loop $all_threads $share}-->
				<!--{if $share['displayorder']<2}-->
				{eval //禁止限制全局置顶（即displayorder大于1的）}
				<li class="threads-list-item">
					<div class="user-img-container"><!--{avatar($share['authorid'],small)}--></div>
					<div class="thread-detail">
						<h4 class="thread-title"><a href="/forum.php?mod=viewthread&tid={$share['tid']}" target="_blank">{$share['subject']}</a></h4>
						<div class="thread-info">
							<span class="info icon comments">{$share['replies']}</span>
							<span class="info icon readcount">{$share['views']}</span>
							<span class="info dateline">{$share['dateline']}</span>
						</div>
					</div>
				</li>
				<!--{/if}-->
				<!--{/loop}-->
			</ul>
			<div class="page-container">{$multipage}</div>
		</div>
	</div>
</div>
<script>
	jQuery(function(){
		//AJAX获取排名
		jQuery.getJSON('/forum.php?mod=ajax&action=get_rank&fid={$_G['fid']}',function(data){
			if(data.result){
				var list = data.data;
				jQuery(list).each(function(index,ele){
					jQuery('<li class="ranking-list-item first" onclick="window.open(\'/forum.php?mod=viewthread&tid='+list[index]['tid']+'\');"><div class="user-img-container"><img class="user-img" src="/uc_server/avatar.php?uid='+list[index]['authorid']+'&size=small" ></div><p class="user-name">'+list[index]['author']+'</p></li>')
					.insertBefore('li.ranking-loading');
				});
				jQuery('li.ranking-loading').fadeOut();
			}
		});
	});
</script>
<!--{template common/footer}-->