<!--{template common/header}-->
	<link rel="stylesheet" type="text/css" href="/static/js/vivo/vivoBanner/vivoBanner.css">
	<link rel="stylesheet" type="text/css" href="/static/css/thePastActivitiesModule.css" />
	<script type="text/javascript" src="/static/js/vivo/vivoBanner/vivoBanner.js" ></script>
	<script type="text/javascript" src="/static/js/vivo/forumdisplay_activity.js"></script>
	<!--{if count($sublist) > 0}-->
	<!--{eval}-->
	require_once libfile("function/banner");
	$bannerList = getBanners('fid'.$_G['fid'], 8, "DESC");
	<!--{/eval}-->
	<!--{if $bannerList}-->
	<div id="activityBanner">
		<div class="bannerList">
			{eval}foreach($bannerList as $k=>$v):{/eval}
			<div class="bannerItem">
				<a href="/forum.php?mod=forumdisplay&fid={$v['fid']}">
					<img src="{$v['url']}" alt="{$v['title']}" />
				</a>
			</div>
			{eval}endforeach;{/eval}
		</div>
	</div>
	<!--{/if}-->
      <!-- 主要容器 -->
      <div id="activityContainer" class="main-container">
      	<div class="centerWidth">
      		<div class="main">
      			<div class="activityIcon">
      				<img src="/static/image/vivo/ico_activity_reward.png" alt="" />
      			</div>
      			<!--{if count($sublist) > 0}-->
      			<div class="activityList boxShadow">
			        <!--{loop $sublist $subitem}-->
			        {eval}
						$activityForum = C::t("forum_custom_activity")->fetch_by_fid($subitem['fid']);
						$activityName = $activityForum ? $activityForum['name'] : "";
						$activityDesc = $activityForum ? $activityForum['desc'] : "";
						$activityBegin = $activityForum ? $activityForum['btimeline'] : "";
						$activityEnd = $activityForum ? $activityForum['etimeline'] : "";
						$activityPic = $activityForum ? $activityForum['pic'] : "";
						$activityPic ? '' : $activityPic = '/static/image/vivo/default_activity.jpg';
					{/eval}
			        <li class="activityItem">
			        	<h2 class="forumName"><a href="/forum.php?mod=forumdisplay&fid={$activityForum['fid']}" target="_blank" style="color: {$activityForum['color']};">{$subitem[name]}</a></h2>
			        	<div class="activityImage">
			        		<a href="/forum.php?mod=forumdisplay&fid={$activityForum['fid']}" target="_blank"><img src="{$activityPic}" alt="" /></a>
			        	</div>
			        	<div class="activityName"><a href="/forum.php?mod=forumdisplay&fid={$activityForum['fid']}" target="_blank">{$activityName}</a></div>
			        	<div class="activityIntro">{$activityDesc}</div>
			        	<p class="publishedTime">{:date("Y年m月d日", $activityBegin)}</p>
			        	{if $activityForum && !$activityForum['closed']}
			        	<a class="joinButton" href="javascript:;">
			        		<img src="/static/image/vivo/ico_join.png" alt="我要参加" class="participate" data-caid="{$activityForum['caid']}" data-fid="{$activityForum['fid']}" />
			        	</a>
			        	{/if}
			        </li>
			        <!--{/loop}-->
      			</div>
      			<div class="page-container">{$multipage}</div>
      			<script>
      				jQuery(function(){
      					jQuery('.participate').click(function(){
      						var t = jQuery(this);
      						var _url = '/forum.php?mod=ajax&action=activity&op=participate';
      						jQuery.post(_url,{'caid':t.attr('data-caid'),'fid':t.attr('data-fid')},function(data){
      							var ret = jQuery.parseJSON(data);
								location.href='/forum.php?mod=forumdisplay&fid='+t.attr('data-fid');
      						});
      					});
      				});
      			</script>
      			<!--{/if}-->
      		</div>
      		
      		<div class="sidebar boxShadow">
      			<div id="thePastActivitiesModule" class="module">
      				<div class="module_header">
      					<div class="module_title">
      						<img src="/static/image/vivo/title_past_activities.gif" alt="往期精华  The past activities" />
      					</div>
      				</div>
      				<div class="module_main">
      					<ul>
      						{eval}
      						if(!$_G['cache']['forumindex']){
      							loadcache('forumindex');
      						}
      						{/eval}
      						<!--{loop $_G['cache']['forumindex']['fid'.$_G['fid']] $thread}-->
      						<li>
      							<a href="/forum.php?mod=forumdisplay&fid={$thread[fid]}" target="blank">
      								<div class="activityImage">
	      								<img src="{$thread['url']}" />
	      							</div>
	      							<div class="activityName">{$thread['title']}</div>
	      							<div class="publishedTime">{:custom_date($thread[addtime])}</div>
      							</a>
      						</li>
      						<!--{/loop}-->
      					</ul>
      				</div>
      			</div>
      		</div>
      	</div>
      </div>
      <!--{else}-->
      <div class="notice_no_share">
        <p>纳尼~没有贴子丫，贴子去哪儿了~~</p>
      </div>
      <!--{/if}-->
	
<!--{template common/footer}-->
