{include file="header"}

{eval}

{/eval}
<style>
.badge_edit .badge_image {
	max-width: 100px;
	height: auto;
}
.badge_edit table {
	border-color: #666;
	border-style: solid;
	border-width: 1px 0 0 1px;
}
.badge_edit th,
.badge_edit td {
	border-color: #666;
	border-style: solid;
	border-width: 0 1px 1px 0;
	padding: 5px 10px;
}
</style>
<div class="badge_edit">
	
	{if $message}
	<div>{$message}</div>
	{/if}
	
	<form class="form" action="" method="post">
		
		<div class="form-group">
			<label>徽章ID</label>
			<div class="">
				{eval} $badge_id = $badge ? $badge['badge'] : '';{/eval}
				{if $badge}
				<span>{$badge_id}</span>
				{else}
				<input type="text" name="badge_id" value="" />
				{/if}
			</div>
		</div>
		
		<div class="form-group">
			<label>徽章名称</label>
			<div class="">
				{eval} $name = $badge ? $badge['name'] : '';{/eval}
				<input type="text" name="name" value="{$name}" />
			</div>
		</div>
		
		<div class="form-group">
			<label>排序</label>
			<div class="">
				{eval} $displayorder = $badge ? $badge['displayorder'] : '1';{/eval}
				<input type="number" name="displayorder" value="{$displayorder}" />
			</div>
		</div>

        <div class="form-group">
            <label>状态</label>
            <div class="">
                {eval} $state = $badge ? $badge['state'] : '1';{/eval}
                <select class="state">
                    <option value="1"{if $state} selected="selected"{/if}>开启</option>
                    <option value="0"{if !$state} selected="selected"{/if}>关闭</option>
                </select>

            </div>
        </div>
		
		<div class="form-group" style="margin-bottom: 20px;">
			<label>描述</label>
			<div class="">
				<input type="text" name="desc" value="{eval}echo $badge ? $badge['desc'] : '';{/eval}" />
			</div>
		</div>
		
		<div class="form-group">
			<h2 style="margin-bottom: 10px;">等级参数</h2>
			<table>
				<thead>
					<tr>
						<th>等级</th>
						<th>名字</th>
						<th>升级限制</th>
						<th>图片</th>
					</tr>
				</thead>
				<tbody>
					{eval} for ($i=1; $i<=7; $i++) : {/eval}
					<tr class="row">
						<td>等级{$i}</td>
						<td>
							<input type="text" name="lv{$i}" value="{eval}echo $badge ? $badge['lv'.$i] : '';{/eval}" />
						</td>
						<td>
							<input type="text" name="lv{$i}_limit" value="{eval}echo $badge ? $badge['lv'.$i.'_limit'] : '';{/eval}" />
						</td>
						<td>
							<div>
								<img id="badge_image_lv{$i}" class="badge_image" src="{eval} echo ($badge && $badge['lv'.$i.'_image']) ? $badge['lv'.$i.'_image'] : ''; {/eval}" alt="" />
							</div>
							<div>
								<button class="badge_image_select_button" type="button" data-lv="{$i}">{eval}echo $badge ? '修改图片' : '选择图片';{/eval}</button>
							</div>
							<input id="badge_image_url_lv{$i}" type="hidden" name="lv{$i}_image" value="{eval}echo $badge ? $badge['lv'.$i.'_image'] : '';{/eval}" />
						</td>
					</tr>
					{eval} endfor; {/eval}
				</tbody>
			</table>
			
		</div>
		
		<div>
			<button type="submit">保存</button>
		</div>
		
		{eval} $task = $badge ? 'update' : 'insert'; {/eval}
		<input type="hidden" name="task" value="{$task}" />
		<button id="qiniuImageUpload" style="display: none"></button>
	</form>
</div>

<script src="/static/js/vivo/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="/static/js/vivo/qiniu-js-sdk/src/qiniu.min.js"></script>

<script>
badge_image_upload_lv = 0;
badge_image_upload_lock = false;

var qiniu_options = {
    runtimes: 'html5,flash,html4',    //上传模式,依次退化
    browse_button: 'qiniuImageUpload',       //上传选择的点选按钮ID，**必需**
    uptoken_url: 'forum.php?mod=ajax&action=getQiNiuToken',
    domain: 'http://7u2qq8.com1.z0.glb.clouddn.com/',
    //container: 'form_image_url_container',           //上传区域DOM ID，默认是browser_button的父元素，
    max_file_size: '2mb',           //最大文件体积限制
    flash_swf_url: '/static/js/vivo/plupload-2.1.2/js/Moxie.swf',  //引入flash,相对路径
    max_retries: 3,                   //上传失败最大重试次数
    dragdrop: true,                   //开启可拖曳上传
    drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
    chunk_size: '4mb',                //分块上传时，每片的体积
    auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
    init: {
	    'FileUploaded': function(up, file, info) {
	    	var domain = up.getOption('domain');
	    	var res = jQuery.parseJSON(info);
	    	var sourceLink = domain + res.key;
	    	
			badge_image_upload_lock = false;
	    	jQuery("#badge_image_lv" + badge_image_upload_lv).attr("src", sourceLink);
	    	jQuery("#badge_image_url_lv" + badge_image_upload_lv).val(sourceLink);
	    	
	    	layer.close(loading);
	    },
	    'Error': function(up, err, errTip) {
	      alert(errTip);
	    },
	   'BeforeUpload': function(up, file)
	   {
	   	 badge_image_upload_lock = true;
	     // create progress
	     loading = layer.load('图片上传中...');
	   },
	    'Key': function(up, file) {
	        // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
	        // 该配置必须要在 unique_names: false , save_key: false 时才生效
	      var date = new Date();
	      var key = "badge/"+date.getFullYear()+(date.getMonth()+1)+date.getDate()+date.getTime();
	      // do something with key here
	      return key;
	    }
    }
};
var qiniu_uploader = Qiniu.uploader(qiniu_options);

jQuery('.badge_image_select_button').click(function(){
	console.log('badge_image_upload_lock= ' + badge_image_upload_lock);
	if (badge_image_upload_lock)
	{
		return;
	}
	badge_image_upload_lv = jQuery(this).data('lv');
	jQuery('#qiniuImageUpload').click();
});
</script>

{include file="footer"}

