{include file="header"}

<table class="tb tb2">
	
	{eval}
	//var_dump($badge_list);
	{/eval}
	
	<thead>
		<tr>
			<th>名称</th>
			<th>排序</th>
			<th>描述</th>
			<th>操作</th>
		</tr>
		
	</thead>
	
	<tbody>
		{if count($badge_list) }
		  {loop $badge_list $badge}
			<tr>
				<td>
					<a href="/admin.php?action=badge&operation=edit&badge_id={$badge['badge']}">
						{$badge[name]}
					</a>
				</td>
				<td>{$badge[displayorder]}</td>
				<td>{$badge[desc]}</td>
				<td>
					<a href="/admin.php?action=badge&operation=edit&badge_id={$badge['badge']}">
						编辑
					</a>
					<a href="/admin.php?action=badge&operation=delete&badge_id={$badge['badge']}">
						删除
					</a>
				</td>
			</tr>
		  {/loop}
		{else}
		  <tr>
		  	<td colspan="3">
		  		<p>赞无任何徽章，<a href="/admin.php?action=badge&operation=edit">
		  			立即添加
		  		</a>一个吧！</p>
		  	</td>
		  </tr>
		{/if}
	</tbody>
	
</table>


{include file="footer"}

