{template common/header}
<div id="wp" class="wp">
<div id="pt" class="bm cl">
<div class="z">
<a href="./" class="nvhm">Discuz! Board</a> <em>?</em>
<a href="plugin.php?id=gsignin:index">{lang gsignin:pluginname}</a> <em>?</em><a href="plugin.php?id=gsignin:card">{lang gsignin:t00121}</a><em>?</em>{lang gsignin:t00122}
</div>
</div>
<div id="ct" class="ct2_a wp cl">
<div class="mn">
<div class="bm bw0">
<h1 class="mt">
</h1>
<!--don't close the div here--><ul class="tb cl">
<li {if $_GET['cmod'] == 'overall'}class="a"{/if}><a href="plugin.php?id=gsignin:config&mod=config&cmod=overall">{lang gsignin:t00165}</a></li>
<li {if $_GET['cmod'] == 'copyright'}class="a"{/if}><a href="plugin.php?id=gsignin:config&mod=config&cmod=copyright">{lang gsignin:t00166}</a></li>
<li  {if $_GET['cmod']=='card'}class="a"{/if}><a href="plugin.php?id=gsignin:card&cmod=card">{lang gsignin:t00122}</a></li>
</ul>
<iframe id="mgframe" name="mgframe" style="display:none;"></iframe>
<form name="psForm" action="plugin.php?id=gsignin:card&action=set&formhash={FORMHASH}" method="post" target="mgframe" enctype="multipart/form-data">
	<table cellspacing="0" cellpadding="0" id="profilelist" class="tfm">
		<tbody>
			<tr id="tr_bloodtype">
				<th id="th_bloodtype">{lang gsignin:t00123}</th>
				<td id="td_bloodtype">
					<input type="file" id="picture" name="picture" value="{$setInfo['picture']}"/>
					<font style="color: red;">{lang gsignin:t00124}</font>
				</td>
			</tr>
			<tr id="tr_bloodtype">
				<th id="th_bloodtype"></th>
				<td id="picture">
					{if $setInfo['picture']!=''}
					<img src="{$setInfo['picture']}" width="90px" height="50px">
					{/if}
				</td>
			</tr>
			<tr id="tr_bloodtype">
				<th id="th_bloodtype">{lang gsignin:t00125}</th>
				<td id="td_bloodtype">
					<input type="text" name="price" value="{$setInfo['price']}"/>
					<font style="color: red;"> {lang gsignin:t00126}</font>
				</td>
			</tr>
			<tr id="tr_bloodtype">
				<th id="th_bloodtype">{lang gsignin:t00127}</th>
				<td id="td_bloodtype">
					<select tabindex="1" class="ps" id="bloodtype" name="extcredits">
						{loop $_G['setting']['extcredits'] $key $set}						
		   				<option {if $key==$setInfo['extcredits']}selected="selected" {/if}value="{$key}">{$set['title']}</option>
		   				{/loop}
					</select><font style="color: red;"> {lang gsignin:t00128}</font>
					<div id="showerror_bloodtype" class="rq mtn"></div><p class="d"></p>
				</td>
			</tr>
			<tr id="tr_bloodtype">
				<th id="th_bloodtype">{lang gsignin:t00129}</th>
				<td id="td_bloodtype">
					<input type="text" name="salevolume" readonly="readonly"  value="{$setInfo['salevolume']}"/>
					<font style="color: red;">{lang gsignin:t00130}</font>
				</td>
			</tr>
			<tr id="tr_bloodtype">
				<th id="th_bloodtype">{lang gsignin:t00131}</th>
				<td id="td_bloodtype">
					<input type="text" id="inventory" name="inventory" value="{$setInfo['inventory']}"/>
					<font style="color: red;">{lang gsignin:t00132}</font>
				</td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td colspan="2">
					<input type="hidden" value="true" name="profilesubmit">
					<button class="pn pnc" value="true"  name="submit" type="submit"><strong>{lang gsignin:t00087}</strong></button>
					<span class="rq" id="submit_result"></span>
				</td>
			</tr>
		</tbody>
	</table>
</form>
</div>
</div>
{template gsignin:leftnav}
</div>
</div>
{template common/footer}