<!--{template common/header}-->
	
<button type="button" id="help_btn">帮助好友</button>
<button type="button" >我也要参与</button>

<script>
	jQuery(function(){
		jQuery('#help_btn').click(function(){
			jQuery.getJSON(
				'{:U("task/share",array("tid"=>$taskUser["tid"],"shareid"=>$taskUser["uid"]))}',
				function(data){
					if(data.result!=1){
						alert(data.msg);
					}else{
						alert('帮助成功！');
					}
				}
			);
		});
	});
</script>

<!--{template common/footer}-->
