@charset "utf-8";
.setbannerimg-box{
	width: 100%;
	background: rgba(0,0,0,0.9);
	-webkit-box-shadow: #000 0px 0px 10px;
	-moz-box-shadow: #000 0px 0px 10px;
	box-shadow: #000 0px 0px 10px;
	color: #fff;
	position: relative;
}

.setbannerimg-innerbox{
	width: 930px;
	margin: 0 auto;
	padding-top: 40px;
}

.setbannerimg-innerbox h4{
	text-align: center;
	font-size: 22px;
	font-weight: 300;
}

.setbannerimg-options{
	background: #0f1012;
	padding: 15px;
	margin-top: 15px;
	height: 220px;
	/*overflow:auto;*/
}

.setbannerimg-options ul{
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* 自定义滚动 */
	position: relative;
}

.setbannerimg-options ul li{
	position: relative;
	height: 100px;
	width: 280px;
	margin-left: 8px;
	margin-top: 10px;
	background: #fff;
	float: left;
	border: 2px solid #0f1012;
	cursor: pointer;
	overflow:hidden;
}

.setbannerimg-options ul li.select{
	background-image: ;
}

.setbannerimg-options ul li.select,.setbannerimg-options ul li:hover{
	border-color: #f76a3d;
}

.setbannerimg-options ul li img{
	max-width: 280px;
	min-height: 100px;	
}

#BGSelected-img{
	position: absolute;
	top:0;
	right: 0;
	width:27px;
	height:29px;
	min-height: 0px;	
	z-index: 1000;
}

#uploadPersonalBg img{
	margin-top: 12px;
	margin-left: 100px;
}

.setbannerimg-close-btn{
	position: absolute;
	right: 15px;
	top:15px;
	font-size: 25px;
	cursor: pointer;
}
