<link rel="stylesheet" type="text/css" href="/static/js/vivo/setBannerImg/setBannerImg.css" />
<div class="setbannerimg-box">
	<div class="setbannerimg-close-btn"><i id="cancle-setbannerimg-btn" class="fa fa-times-circle"></i></div>
	<div class="setbannerimg-innerbox">
		<h4>个性背景图</h4>
		<div class="setbannerimg-options">
			<ul id="mscrolle">
				<li id="uploadPersonalBg">
					<img src="/static/js/vivo/setBannerImg/select_btn.jpg" style="width:74px;height:73px;min-height:73px;" />
				</li>
			</ul>
			<div style="clear: both;"></div>
		</div>
	</div>
</div>

<script>

jQuery(function() {
    jQuery('#mscrolle').perfectScrollbar();
});

if (document.getElementById('uploadAvatarContainer')) {
		var bgUploader = Qiniu.uploader({
		runtimes: 'html5,flash,html4',    //上传模式,依次退化
		browse_button: 'uploadPersonalBg',       //上传选择的点选按钮ID，**必需**
		uptoken_url: '/forum.php?mod=ajax&action=getQiNiuToken',
		domain: VivoOptions.getOption("qiNiuUrlPrefix"),
		container: 'uploadAvatarContainer',           //上传区域DOM ID，默认是browser_button的父元素，
		max_file_size: '2mb',           //最大文件体积限制
		flash_swf_url: '/static/js/vivo/plupload/Moxie.swf',  //引入flash,相对路径
		max_retries: 3,                   //上传失败最大重试次数
		dragdrop: true,                   //开启可拖曳上传
		drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
		chunk_size: '4mb',                //分块上传时，每片的体积
		auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
		init: {
			'FileUploaded': function(up, file, info) {
				var domain = up.getOption('domain');
				var res = jQuery.parseJSON(info);
				var sourceLink = domain + res.key;
				jQuery.ajax({
					"type":"POST",
					"url":"/forum.php?mod=ajax&action=updateUserPersonalBg",
					"data":{
						"url":sourceLink
					},
					"dataType":"json",
					"success":function(data){
						if(data.result == 1){
							jQuery("#uploadAvatarContainer").css("background-image","url('" + sourceLink + "')");
							jQuery('.setbannerimg-options').find('li').removeClass('select').find('#BGSelected-img').remove();
						}else{
							vivoAlert("上传头像失败");
						}
					}
				});
			},
			'Error': function(up, err, errTip) {
				   //上传出错时,处理相关的事情
			},
			'UploadComplete': function() {
				   //队列文件处理完毕后,处理相关的事情
			},
			'Key': function(up, file) {
				// 若想在前端对每个文件的key进行个性化处理，可以配置该函数
				// 该配置必须要在 unique_names: false , save_key: false 时才生效
				var key = VivoOptions.getOption("qiNiuFilePrefixUser");
				jQuery.ajax({
					"url":"/forum.php?mod=ajax&action=getQiNiuRandomKey",
					"async":false,
					"success":function(data){
						key += data;
					}
				})
				// do something with key here
				return key
			}
		}
	});
}
</script>