<!--{template common/header}-->

	<div class="badge_detail">
		
		
		<h1 class="page_title">{$badge['name']}</h1>
		<div class="badge_desc">
			{$badge['desc']}
		</div>
		
		{eval $share_count = C::t("forum_thread")->count_by_authorid($profile['uid']); }
		<div>你累计分享：{$share_count}</div>
		
		{if $badge_member}
		  {if $badge_member['lv']}
		  <p>你已获得{$badge['lv'.$badge_member['lv']]}</p>
		  {else}
		  
		  {/if}
		{else}
		  {eval $can_obtain = checkBadgeCanObtain($badge, $uid); }
		  {if $can_obtain}
		  <p>你已有足够资格领取徽章了。<a href="/forum.php?mod=badge&action=obtain&badge_id={$badge['badge']}">领取徽章</a></p>
		  {else}
		  <p>你还未够资格领取该徽章。<a href="">立即去分享</a></p>
		  {/if}
		{/if}
	
	</div>

<!--{template common/footer}-->

