<!--{template common/header}-->
	
	<div class="badge_index">
		
		<h1 class="page_title">徽章榜</h1>

        <div class="personal-avatar-container">
            <img class="personal-avatar" src="{:avatar($_G['uid'], 'big', true)}" />
        </div>

        <div class="level">
            L{eval}echo $profiles['group']['stars'];{/eval}
        </div>
		
		<div class="badge_list">
			
			{loop $badge_data $badge}

      {eval} if ( !$badge['state'] ) { continue; } {/eval}
			<div class="badge_item{eval echo checkMemberHasBadge($_G['uid'], $badge['badge_id']) ? ' light' : ''; }">
				
				{eval $badge_detail_url = '/forum.php?mod=badge&action=detail&badge_id='.$badge['badge_id']; }
				
				<div class="box image_box">
					<a href="{$badge_detail_url}">
						<img class="{if $badge['high_light']}highlight{/if}" src="{$badge['badge_image']}" alt="徽章图片" />
                    </a>
				</div>
				
				<div class="box title_box">
					<a href="{$badge_detail_url}">
						<h2 class="badge_title">{$badge['name']}</h2>
					</a>
				</div>

			</div>
			{/loop}
			
		</div>
		
		{if count($badge_can_obtain)}
		<div class="badge_message_wrapper">
			<h2 class="title">你可以获得以下徽章</h2>
			<ul>
				{loop $badge_can_obtain $v}
				<li>
					你可以获得
					<a href="/forum.php?mod=badge&action=obtain&badge_id={$v['badge']['badge']}">
						{$v['badge']['lv'.$v['lv']]}
					</a>
				</li>
				{/loop}
			</ul>
		</div>
		{/if}
		
	</div>
	
	<link rel="stylesheet" href="/static/css/mobile/badge.css" />


{eval}
$return_url = '/forum.php?mod=personal';
{/eval}
<!--{template common/buttons}-->

<!--{template common/footer}-->

