<!--{template common/header}-->
	
	<div class="badge_detail">
		<h1 class="page_title">你已经连续签到了{$checkin_total}天</h1>

        <h1 class="page_title">{$badge['name']}</h1>
        <div class="badge_desc">
            {$badge['desc']}
        </div>
		
		<p>目前已超过{eval echo ceil($user_rank * 100); }%的用户。</p>
		
		{if $can_obtain}
		<p>你已经达到获得徽章的条件了！</p>
		{else}
		<p>你还未达到获得徽章的条件。</p>
		{/if}
		
		<p><a href="/forum.php?mod=badge&action=obtain&badge_id={$badge['badge']}">获取徽章</a></p>
		
		<ol class="task_list">
			<dt>还有以下任务：</dt>
			<dd>
				<a href="">
					1.任务一（我要上头条）
				</a>
			</dd>
			<dd>
				<a href="">
					2.任务二（B品推介）
				</a>
			</dd>
			<dd>
				<a href="">
					更多...
				</a>
			</dd>
		</ol>
		
		{if count($badges_can_obtain)}
		<ol>
			<dt>你还可以点亮这些徽章</dt>
			
			{loop $badges_can_obtain $v}
			<dd>
				<a href="">
					<img src="" alt="徽章图片" />
					{$v['badge']['name']}
				</a>
			</dd>
			{/loop}
			
		</ol>
		{/if}
		
	</div>
	
<!--{template common/footer}-->

