<!--{template common/header}-->

<div class="badge_detail">

    <h1 class="page_title">你已点赞过{$saygood_count}次</h1>

    {if $can_obtain}
    <p>你已经达到获得徽章的条件了！</p>
    {else}
    <p>你还未达到获得徽章的条件。</p>
    {/if}

</div>

<!--{template common/footer}-->

