<!--{template common/header}-->

    <div class="badge_detail">

        <h1 class="page_title">你购买过{$bubble_wine_buy_amount}支气泡酒</h1>

        <h1 class="page_title">{$badge['name']}</h1>
        <div class="badge_desc">
            {$badge['desc']}
        </div>

        {if $can_obtain}
        <p>你已经达到获得徽章的条件了！</p>
        {else}
        <p>你还未达到获得徽章的条件。</p>
        {/if}

    </div>

<!--{template common/footer}-->

