<!--{template common/header}-->

{eval}
require_once libfile('function/cache');
{/eval}

<div class="checkin_index">

    <div class="row1">

        <div class="">

            <div class="personal-avatar-container">
                <img class="personal-avatar" src="{:avatar($profiles['uid'], 'big', true)}" />
            </div>

            <p class="nickname">{$profiles['nickname']}</p>

            <p>
                <span class="level">L{echo $profiles['group']['stars'];}</span>

                {eval}
                include_once libfile('function/member');
                $usergroups = getUserGroups();

                $groupid = $profiles['groupid'];

                $member_group = isset($usergroups[$groupid]) ? $usergroups[$groupid] : null;
                {/eval}

                <span class="group">{eval echo $member_group ? $member_group['grouptitle'] : ''; }</span>

            </p>

            <div class="checkin_icon{if !$member_gsignin_today} hide{/if}"></div>

        </div>

    </div>

    <div class="row2">
        <div class="row2_left">
            已签到：{eval echo $member_gsignin ? $member_gsignin['total'] : '0'; }天
        </div>
        <!--<div class="row2_right">
            连续签到：{eval echo $member_gsignin ? $member_gsignin['continuous'] : '0'; }天
        </div>-->
    </div>

    <div class="row3 hide">

        <div class="coin"></div>

        <div class="div2 margin_line">
            <span class="left">您的积分<br />{$_G['member']['credits']}</span>
            <span class="right hide">点击金币<br />领取奖励</span>
        </div>

       <div class="div3"> <!--更多积分任务：-->  </div>
    </div>

    <div class="row4 hide">
        <ul class="task_list">

            <!--
            <li class="task_item checkin">
                <div class="icon_box">
                    <i class="icon"></i>
                </div>
                <div class="text_box">
                    <h2 class="task_title">每日签到</h2>
                    <p>亲~每天拿积分时间到了，快来吧！</p>
                </div>
                <div class="point"></div>
            </li>

            <li class="task_item exchange_bubble_wine">
                <div class="icon_box">
                    <i class="icon"></i>
                </div>
                <div class="text_box">
                    <h2 class="task_title">领奖励·拿起泡酒</h2>
                    <p>亲~每天拿积分时间到了，快来吧！</p>
                </div>
                <div class="point"></div>
            </li>

            <li class="task_item bubble_wine">
                <a href="javascript:;">
                    <span>免费赢取气泡酒</span>
                </a>
            </li>-->

        </ul>
    </div>

    <div class="row5">

        <h2 class="title text-center">签到排名</h2>

        <table>

            <thead>

                <tr>
                    <th width="15%">排名</th>
                    <th width="55%">会员</th>
                    <th width="30%">共签到次数</th>
                </tr>

            </thead>

            <tbody>

                {eval}
                $check_ordering = 1;

                foreach ($member_top_data as $v) :
                {/eval}
                <tr>
                    <td>{$check_ordering}</td>
                    {eval}
                    $name = $v['nickname'] != '' ? $v['nickname'] : $v['name'];
                    {/eval}
                    <td>{eval echo mb_strlen($name)>20 ? mb_substr($name, 0, 20, 'utf8').'...' : $name; }</td>
                    <td>{$v['checkin_total']}</td>
                </tr>
                {eval $check_ordering++; endforeach; }

                {eval}
                if (!$top10_has_user)
                {
                    $rank_update_time = getCache('rank_update_time');
                    if (!$rank_update_time || $rank_update_time != date('Y-m-d'))
                    {
                        C::t('checkin_rank')->update_all_data();
                        saveCache('rank_update_time', date('Y-m-d'));
                    }

                    $uid = $_G['uid'];
                    $current_user_data          = C::t('gsignin_member')->fetch_by_uid($uid);
                    $current_user_checkin_rank  = C::t('checkin_rank')->fetch_by_uid($uid);
                    if ( !$current_user_checkin_rank )
                    {
                        C::t('checkin_rank')->update_all_data();
                        $current_user_checkin_rank  = C::t('checkin_rank')->fetch_by_uid($uid);
                    }

                    if ($current_user_data)
                    {
                        echo '<tr><td colspan="3">...</td></tr>';

                        echo '<tr>';
                        echo '<td>' .($current_user_checkin_rank ? $current_user_checkin_rank['rank'] : ''). '</td>';
                        echo '<td>' .getnicknamebyuid($uid). '</td>';
                        echo '<td>' .$current_user_data['total']. '</td>';
                        echo '</tr>';
                    }
                }
                {/eval}

            </tbody>

        </table>

    </div>

</div>

<link rel="stylesheet" href="/static/css/mobile/checkin.css" />

{eval}
$return_url = '/forum.php?mod=personal';
{/eval}

{if !$member_gsignin_today }
<script>

jQuery(document).ready(function(){

    jQuery.ajax('/app.php?mod=member&act=signin', {
        'success': function(){
            jQuery('.checkin_index > .row1 .checkin_icon').removeClass('hide');
            location.reload();
        }
    });
});

</script>
{/if}

<!--{template common/buttons}-->

<!--{template common/footer}-->

