<!--{template common/header}-->
{eval}
$page = $_G['page'] ? $_G['page'] : 1;
$isfirstView = !$_GET['showbeforebtn'] && count(explode('|',$_G['fid'])) > 1;
{/eval}
<style>body{padding: 0px;}</style>

<!--{if !$subforumonly}-->
<div class="main-container">
	<div class="header-container">
		<div class="header-btn-list">
			<button class="header-btn art f50 {if $_G['fid'] == '50'}active{/if}" onclick="location.href='/forum.php?fid=50'"></button>
			<button class="header-btn spirit f57 {if $_G['fid'] == '57'}active{/if}" onclick="location.href='/forum.php?fid=57'"></button>
			<button class="header-btn life f59 {if $_G['fid'] == '59'}active{/if}" onclick="location.href='/forum.php?fid=59'"></button>
			<button class="header-btn tour f38 {if $_G['fid'] == '38'}active{/if}" onclick="location.href='/forum.php?fid=38'"></button>
            <button class="header-btn shop" onclick="location.href='/forum.php?mod=product&action=list'"></button>

            <button class="header-btn newthread" onclick="location.href='/forum.php?mod=post&action=newthread'"></button>
			<button class="header-btn usercenter" onclick="location.href='/forum.php?mod=personal'"></button>
		</div>
	</div>
	<div class="body-container">

		<ul class="items-list">
			{if count($bannerList) > 0}
			<li class="item">
				<div class="item-content">
					<div class="productImageContainer swiper-container mobile-swiper-container">
						<div class="thumbnailImages swiper-wrapper">
							{loop $bannerList $banner}
							<div class="swiper-slide">
								<a onclick="readthread({$banner['tid']},{$_G[page]})">
									<img class="img-responsive" src="{$banner['url']}" data-zoom-image="/Public/images/demo_p5.jpg" alt="" />
									<p class="thread-subject">{$banner[title]}</p>
								</a>
							</div>
							{/loop}
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
				{eval $banner = $bannerList[0];}
				<div class="item-info" id="banner-list-info">
					<div class="user-avatar-container">{$banner[avatar]}</div>
					<div class="thread-info">
						<span class="comments">{$banner[replies]}</span>
						<span class="views">{$banner[saygood]}</span>
					</div>
					<div class="user-info">
						<p class="nickname">{$banner[author]}</p>
						<p class="dateline">{$banner[dateline]}</p>
					</div>
				</div>
			</li>
			{/if}
			{if $_GET['showbeforebtn'] && $page!=1}
			<li class="beforeloading" id="beforeloading">加载前一页<li>
			{/if}
		    <li class="loading" id="loading"><img src="/static/image/mobile/images/icon_load.gif" width="30" /></li>
		</ul>
	</div>
	
	{eval}
	require_once libfile('function/beginner_guide');
	$beginner_guide_finished = $_G['uid'] ? checkBeginnerGuideIsFinished($_G['uid'], 'home') : false;
    $cookie_mobile_home_beginner_guide = getcookie('mobile_home_beginner_guide');
	{/eval}

	<!--{if !$beginner_guide_finished && !$cookie_mobile_home_beginner_guide }-->
    {eval}
    dsetcookie('mobile_home_beginner_guide', '1');
    {/eval}
	<!-- 新手引导 -->
	<link rel="stylesheet" href="/static/css/mobile/beginner_guide.css" />
	
	<div class="beginner_guide_wrapper mobile_home_beginner_guide">
        <div class="guide_mask">
            <div class="top_left"></div>
            <div class="top_right"></div>
            <div class="bottom_left"></div>
            <div class="bottom_right"></div>
        </div>
		<div class="share_guide piece"></div>
		<div class="nav_guide piece"></div>
		<div class="content_operation_guide piece proportional" data-proportion="1.365957"></div>
		<div class="i_know_button piece proportional" data-proportion="1.269841"></div>
	</div>
	
	<script>
	jQuery('.beginner_guide_wrapper').ready(function(){

        $(window).resize(function(){

            (function(){

                // 设置引导内容层的遮罩
                var window_width    = $(window).width();
                var window_height   = $(window).height();
                $('.mobile_home_beginner_guide .guide_mask .top_right').css('width', window_width - 51);
                $('.mobile_home_beginner_guide .guide_mask .bottom_left').css('height', window_height - 464 + 100);
                $('.mobile_home_beginner_guide .guide_mask .bottom_right').css('width', window_width - 51).css('height', window_height - 464 + 100);

            })();

        });

		jQuery('.beginner_guide_wrapper .i_know_button').click(function(){

			// 隐藏新手引导的内容
			jQuery('.beginner_guide_wrapper').fadeOut();
			jQuery.ajax('/forum.php?mod=ajax&action=finish_beginner_guide&guide_page=home', {

				'dataType' : 'json',
				'success' : function(result) {

					// 显示积分换商品的介绍
					if (result.result==1) {

						// 奖励的分数
						if ( typeof(result.credit) !== 'undefined' ) {
							jQuery('.integral_exchange_info .message .number').html(result.credit);
						}

						// 现有积分
						if ( typeof(result.credit_own) !== 'undefined' ) {
							jQuery('.integral_exchange_info .progress_wrapper .number_own').html(result.credit_own);
						}

						// 商品名和商品积分
						if ( typeof(result.product_name) !== 'undefined' ) {
							jQuery('.integral_exchange_info .product_name').html(result.product_name);
						}
						if ( typeof(result.product_price) !== 'undefined' ) {
							jQuery('.integral_exchange_info .product_number').html(parseInt(result.product_price));
						}

						if ( typeof(result.product_image) !== 'undefined' ) {
							jQuery('.integral_exchange_info .product_image').attr('src', result.product_image);
						}

						showIntegralExchangeInfo();
						jQuery(window).resize();

					} else {
						log('新手引导完成提交失败。');
					}

					setcookie('creditnotice', '');
					setcookie('creditbase', '');
					setcookie('creditrule', '');
				}
			});

		});
	});
	</script>
	<!--{/if}-->
	
	<!-- 积分换取商品介绍 -->
	<div class="integral_exchange_info creditPromptLayer">
		<p class="message">
			<span class="add">+</span>
			<span class="number">1000</span>
		</p>
		<div class="box_image"><img src="/static/image/vivo/mobile/integral_icon.png" alt="" /></div>
		<div class="title">
			<img src="/static/image/vivo/mobile/integral_exchange_gift.png" alt="" />
		</div>
		<div class="progress_wrapper">
			
			<div class="progress_control">
				<div class="pointer"></div>
				<div class="progress_bar proportional" data-proportion="7.390625">
					<div class="owe proportional" data-proportion="3.948275"></div>
				</div>
			</div>
			
			<div class="product_box proportional" data-proportion="1">
				<img class="product_image" src="" alt="" />
				<img class="dish" src="/static/image/vivo/mobile/progress_bar_product_dish.png" alt="" />
			</div>
			
			<span class="zero">0</span>
			<span class="number_own">1000</span>
			<span class="product_number">1500</span>
			
			<span class="product_name">奇迹气泡酒</span>
			
		</div>
		
		<div class="go_to_earn_integral proportional" data-proportion="2.865853"></div>
		
	</div>
	
	<script>
	jQuery('.integral_exchange_info').ready(function(){
		
		// 点击 马上赚积分 的按钮后关闭积分交换商品的说明
		jQuery('.go_to_earn_integral').click(function(){
			jQuery('.integral_exchange_info').fadeOut();
		});
	});
	
	</script>
	
</div>

<script src="/static/jquery/Swiper/dist/js/swiper.jquery.min.js" charset="utf-8"></script>
<script>
	var bannerInfo = {eval echo json_encode($bannerList, JSON_UNESCAPED_UNICODE);};
	var fidRange = "{$_G['fid']}";
	var pagesize = 6;
	var now_page = {$page};
	var before_now_page = {$page};
	var total_page = 0;
	var lock_page = 0;
	
	var _htmlbody = null,
		_bootPage = null;
	function loadThread(page, cb){
		jQuery.ajax({
			url: "app.php",
			data: {
				"mod": "forum",
				"act": "list",
				"pagesize": pagesize,
				"fid": fidRange,
				"page": page
			},
			dataType:"json",
			success: cb
		});
	}
	
	// 后翻页回调
	var loadThreadCallback = function(d){
		var loadingObj =  jQuery('#loading');
		if(d.result == 1){
			var list = d.data.list;
    		loaddata = acticle_factory(list, now_page);
    		jQuery(loaddata).insertBefore(loadingObj);
    		
			lock_page = 0;
			now_page++;
			total_page = d.data.pagecount;
			loadingObj.fadeOut();
		}else{
			loadingObj.html('翻到最后了哦！').fadeOut();
		}
	}
	
	// 格式化函数
	function acticle_factory(list,__page){
		var loaddata = '';
		for (var i = 0; i < list.length; i++){
			var d = list[i],
				pic = "";
			if(d["coverimg"] == ''){
				if(d["media_list"].length > 0){
					pic = d["media_list"][0]["media_url"];
				}
			}else{
				pic = d["coverimg"] + "";
			}
			loaddata += '\
				<li class="item" onclick="readthread(' + d['tid'] + ', ' + __page + ');" id="t' + d['tid'] + '" data-fid="' + d['fid'] + '">\
					<div class="item-content">\
						<div class="thread" style="background-image:url(' + pic + ')">\
							<p class="forumname f' + d['fid'] + '">' + d['forumname'] + '</p>\
							<p class="subject">' + d['subject'] + '</p>\
						</div>\
					</div>\
					<div class="item-info">\
						<div class="user-avatar-container">' + d['avatar'] + '</div>\
						<div class="thread-info">\
							<span class="comments">' + d['replies'] + '</span>\
							<span class="views">' + d['saygood'] + '</span>\
						</div>\
						<div class="user-info">\
							<p class="nickname">' + d['author'] + '</p>\
							<p class="dateline">' + d['dateline'] + '</p>\
						</div>\
					</div>\
				</li>\
			';
		}
		return loaddata;
	}
	
	jQuery(function(){

		// 轮播图大小调整
		jQuery(".mobile-swiper-container img.img-responsive").each(function(){
			setImageFill(this);
		});
		
		// 加载第一页数据
		loadThread(now_page, loadThreadCallback);
		
		// 页面滚动事件
		jQuery(window).scroll(function(e){
			// 滚动加载数据
	        if (($(window).scrollTop()) >= ($(document).height() - $(window).height()) && now_page <= total_page) {
	        	var loadingObj =  jQuery('#loading');
	            //当底部基本距离+滚动的高度〉=文档的高度-窗体的高度时；
	            //我们需要去异步加载数据了
	            loadingObj.fadeIn();
	            if(lock_page==1){
	            	setTimeout(function(){lock_page=0;},5000);
	            	return;
	            }
	            lock_page = 1;
	            loadThread(now_page, loadThreadCallback);
	        }
	        
	        // 左边栏图标状态动态切换
	        if(_htmlbody){
	        	// 找到边栏最高按钮的y坐标
	        	var btns = _htmlbody.find(".main-container>.header-container>.header-btn-list>.header-btn"),
	        		ytarget = jQuery(btns[0]).offset().top;
	        	// item body 在y坐标之中，高亮此分类
	        	var items = _htmlbody.find(".main-container>.body-container>.items-list>.item"),
	        		fid = 0;
	        	for(var i = 0; i < items.length; i++){
	        		var item = jQuery(items[i]),
	        			y1 = item.offset().top,
	        			y2 = y1 + item.height();
	        		if(y1 <= ytarget && y2>= ytarget){
	        			fid = item.attr("data-fid");
	        			break;
	        		}
	        	}
	        	for(var i = 0; i < btns.length; i++){
	        		var btn = jQuery(btns[i]);
	        		if(btn.hasClass("f" + fid)){
	        			btn.addClass("active");
	        		}else{
	        			btn.removeClass("active");
	        		}
	        	}
	        }
		});
		
		//加载上一页
		jQuery('#beforeloading').click(function(){
			var _this = jQuery(this);
			_this.html('<img src="/static/image/mobile/images/icon_load.gif" />');
			if(before_now_page!=1){
				loadThread(before_now_page - 1, function(d){
					if(d.result){
			    		var loaddata = '';
			    		var list = d.data.list;
			    		loaddata = acticle_factory(list, before_now_page - 1);
			    		jQuery(loaddata).insertAfter(_this);
			    		_this.html('加载前一页');
			    	}
			    	before_now_page--;
			    	if(before_now_page == 1){
			    		_this.remove();
			    	}
				})
	       }else{
	       		_this.remove();
	       }
		});
	});
	
	function readthread(_tid, _page){
        var from_url = location.href;
		location.href='/forum.php?mod=viewthread&tid='+_tid+ '&from_url=' + encodeURIComponent(from_url) +'&referer=' + encodeURIComponent('/forum.php?fid=' + fidRange + '&page='+_page + '&showbeforebtn=1#t' + _tid);
	}
	
	var productImagesSwiper = new Swiper('.swiper-container', {
	    pagination: '.swiper-container .swiper-pagination',
	    onSlideChangeStart: function(s){
	    	var d = bannerInfo[s['activeIndex']],
	    		o = jQuery("#banner-list-info");
	    	o.find(".user-avatar-container").html(d['avatar']);
	    	o.find(".comments").html(d['replies']);
	    	o.find(".views").html(d['views']);
	    	o.find(".nickname").html(d['author']);
	    	o.find(".dateline").html(d['dateline']);
	    }
	});
	
	// 锁定页面滚动
	function lockPageScroll(){
		_htmlbody.css({
			"height": "100%",
			"overflow": "hidden"
		});
	}
	// 释放页面滚动
	function releasedPageScroll(){
		_htmlbody.css({
			"height": "auto",
			"overflow": "scroll"
		});
	}
	// 处理bootPage滑动
	function bootPageTouchHandler(obj, y1, y2){
		var s = 10,
			dis = y1 - y2;
		if(Math.abs(dis) > s){
			if(dis > 0){
				// 向上拉
				if(obj.hasClass("bootpage-bottom")){
					// 主体部分上移
					var moveDistance = parseInt(_bootPage.height()) - dis;
					_htmlbody.css("padding-top", moveDistance + "px");
					// _bootPage遮罩上移
					moveDistance = - dis;
					_bootPage.css("top", moveDistance + "px");
				}
			}else{
				// 向下拉
				if(obj.hasClass("bootpage-top")){
					location.href = '/forum.php?mod=post&action=newthread';
				}
			}
		}
	}
</script>
<!--{/if}-->



<div class="pullrefresh" style="display:none;"></div>
{eval $nofooter = true;}
<!--{template common/footer}-->