<!--{template common/header}-->

{eval}
	$url_return = "forum.php";
{/eval}

{eval $nobackbtn=true;}
{eval $headnav_name = '意大利原生活'; //strip_tags($_G['forum']['name']) ? strip_tags($_G['forum']['name']) : $_G['forum']['name'];}

<!--{template common/headnav}-->
<!--{hook/forumdisplay_top_mobile}-->
<style>body{padding: 0px;}</style>
<div id="bootpage">
	<div class="rows bootpage-top">
		<div class="content"></div>
		<div class="operator forward"></div>
	</div>
	<div class="rows bootpage-bottom">
		<div class="content"></div>
		<div class="operator backward"></div>
	</div>
</div>
<!--{if !$subforumonly}-->
<div class="main-container">
	<div class="header-container">
		<div class="header-btn-list">
			<button class="header-btn art"></button>
			<button class="header-btn spirit"></button>
			<button class="header-btn life"></button>
			<button class="header-btn tour"></button>
			<button class="header-btn newthread" onclick="location.href='/forum.php?mod=post&action=newthread'"></button>
			<button class="header-btn usercenter" onclick="location.href='/forum.php?mod=personal'"></button>
		</div>
	</div>
	<div class="body-container">
		<ul class="items-list">
			<li class="item">
				<div class="item-content">
					<div class="productImageContainer swiper-container mobile-swiper-container">
						<div class="thumbnailImages swiper-wrapper">
							{loop $bannerList $banner}
							<div class="swiper-slide">
								<a href="/forum.php?mod=viewthread&tid={$banner['tid']}">
									<img class="img-responsive" src="{$banner['url']}" data-zoom-image="/Public/images/demo_p5.jpg" alt="" />
									<p class="thread-subject">{$banner[title]}</p>
								</a>
							</div>
							{/loop}
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</li>
			{if $_GET['showbeforebtn'] && $page!=1}
			<li class="beforeloading" id="beforeloading">加载前一页<li>
			{/if}
			<!--{if $_G['forum_threadcount']}-->
				<!--{loop $_G['forum_threadlist'] $key $thread}-->
					<!--{if !$_G['setting']['mobile']['mobiledisplayorder3'] && $thread['displayorder'] > 0}-->
						{eval continue;}
					<!--{/if}-->
		        	<!--{if $thread['displayorder'] > 0 && !$displayorder_thread}-->
		        		{eval $displayorder_thread = 1;}
		            <!--{/if}-->
					<!--{if $thread['moved']}-->
						<!--{eval $thread[tid]=$thread[closed];}-->
					<!--{/if}-->
				<li class="item" onclick="readthread({$thread[tid]},{$page});" $thread[highlight]>
					<!--{hook/forumdisplay_thread_mobile $key}-->
					<div class="item-content">
						<div class="thread" style="background-image:url('{$thread['media_list'][0]['media_url']}')">
							<p class="forumname"></p>
							<p class="subject">{$thread[subject]}</p>
						</div>
					</div>
					<div class="item-info">		
						<div class="user-avatar-container">{$thread[avatar]}</div>
						<div class="thread-info">
							<span class="comments">{$thread[replies]}</span>
							<span class="views">{$thread[saygood]}</span>
						</div>
						<div class="user-info">
							<p class="nickname">{$thread[author]}</p>
							<p class="dateline">{$thread[dateline]}</p>
						</div>
					</div>
				</li>
		        <!--{/loop}-->
		        <li class="loading" id="loading"><img src="/static/image/mobile/images/icon_load.gif" width="30" /></li>
		    <!--{else}-->
			<li>{lang forum_nothreads}</li>
			<!--{/if}-->
		</ul>
	</div>
</div>

<script src="/static/jquery/Swiper/dist/js/swiper.jquery.min.js" charset="utf-8"></script>
<script src="/static/jquery/swipebox-master/src/js/jquery.swipebox.min.js" charset="utf-8"></script>

<script>
	var now_page = {$page};
	var before_now_page = {$page};
	var total_page = {$realpages};
	var lock_page = 0;
	var _url = '/forum.php?mod=forumdisplay&fid={$_G[fid]}&ajax=1';
	
	jQuery(function(){
		// 锁定第一屏滚动
		lockPageScroll();
		// bootpage按钮调整位置,加特效
		jQuery("#bootpage>.rows>.operator").each(function(){
			var _ = jQuery(this),
				_p = _.parent(),
				_l = (_p.width() - _.width()) * 0.5;
			_.css({
				"left": _l + "px",
				"opacity" : 1
			});
		});
		// 上下块滑动事件
		var touchBlock = '',
			t_y1 = 0,
			t_y2 = 0;
		jQuery("#bootpage>.rows").each(function(){
			this.addEventListener("touchstart", function(e){
				var _ = jQuery(this),
					f1 = e.changedTouches[0];
					
				t_y1 = f1['clientY'];
				touchBlock = _;
			}, false);
			this.addEventListener("touchmove", function(e){
				var f1 = e.changedTouches[0];
				
				t_y2 = f1['clientY'];
				bootPageTouchHandler(touchBlock, t_y1, t_y2);
			}, false);
		});
		
		// 滚动加载数据
		jQuery(window).scroll(function(){
			//$(window).scrollTop()这个方法是当前滚动条滚动的距离
	        //$(window).height()获取当前窗体的高度
	        //$(document).height()获取当前文档的高度
	        
	        var loadingObj =  jQuery('#loading');
	        if (($(window).scrollTop()) >= ($(document).height() - $(window).height()) && now_page <= total_page) {
	            //当底部基本距离+滚动的高度〉=文档的高度-窗体的高度时；
	            //我们需要去异步加载数据了
	            loadingObj.fadeIn();
	            if(lock_page==1){
	            	setTimeout(function(){lock_page=0;},5000);
	            	return;
	            }
	            lock_page = 1;
	            jQuery.getJSON(_url, {page: now_page+1}, function (data) {
	            	//加载成功
	            	if(data.result){
	            		var loaddata = '';
	            		var list = data.list;
	            		loaddata = acticle_factory(list,now_page+1);
	            		jQuery(loaddata).insertBefore(loadingObj);
	            		loadingObj.fadeOut();
	            		lock_page = 0;
	            	}else{
	            		 loadingObj.html('翻到最后了哦！').fadeOut();
	            	}
	            	now_page++;
	            });
	            
	        }
		});
		
		//加载上一页
		jQuery('#beforeloading').click(function(){
			var _this = jQuery(this);
			_this.html('<img src="/static/image/mobile/images/icon_load.gif" />');
			if(before_now_page!=1){
				jQuery.getJSON(_url, {page: before_now_page-1}, function (data) {
	            	//加载成功
	            	if(data.result){
	            		var loaddata = '';
	            		var list = data.list;
	            		loaddata = acticle_factory(list,before_now_page-1);
	            		jQuery(loaddata).insertAfter(_this);
	            		_this.html('加载前一页');
	            	}
	            	before_now_page--;
		        });
	       }else{
	       		jQuery(this).remove();
	       }
		});
		
	});
	
	function readthread(_tid,_page){
		location.href='/forum.php?mod=viewthread&tid='+_tid+'&referer='+ encodeURIComponent('/forum.php?mod=forumdisplay&fid={$_G[fid]}&page='+_page+'&showbeforebtn=1');
	}
	
	function acticle_factory(list,__page){
		var loaddata = '';
		for (var i=0;i<list.length;i++){
    		loaddata += '<li>'+
			            '<a href="javascript:;" onclick="readthread('+list[i].tid+','+__page+');"  '+list[i].highlight+' >'+
							'<div class="">'+
								'<div class="text">'+
									'<span>'+list[i].subject+'</span>'+
									'<div class="author-replies">'+
										'<span class="by">评论：&nbsp;'+list[i].replies+'</span>'+
										'<span class="read">人气：&nbsp;'+list[i].views+'</span>'+
										'<div style="clear: both;"></div>'+
									'</div>'+
								'</div>'+
								'<span class="image"><img src="'+list[i].first_media_url+'?imageView2/1/w/80/h/60" ></span>'+
								'<div style="clear: both;"></div>'+
							'</div>'+
						'</a>'+
						'</li>';
		}
		return loaddata;
	}
	
	var productImagesSwiper = new Swiper('.swiper-container', {
	    // Optional parameters
	    //direction: 'vertical',
	    //loop: true,
	    pagination: '.swiper-container .swiper-pagination'
	  });
	
	// 锁定页面滚动
	function lockPageScroll(){
		jQuery("body").css({
			"height": "100%",
			"overflow": "hidden"
		});
	}
	// 释放页面滚动
	function releasedPageScroll(){
		jQuery("body").css({
			"height": "auto",
			"overflow": "scroll"
		});
	}
	// 处理滑动
	function bootPageTouchHandler(obj, y1, y2){
		var s = 10,
			dis = y1 - y2;
		if(Math.abs(dis) > s){
			if(dis > 0){
				// 向上拉
				if(obj.hasClass("bootpage-bottom")){
					jQuery("#bootpage").remove();
					releasedPageScroll();
				}
			}else{
				// 向下拉
				if(obj.hasClass("bootpage-top")){
					location.href = '/forum.php?mod=post&action=newthread';
				}
			}
		}
	}
</script>
<!--{/if}-->
<!--{hook/forumdisplay_bottom_mobile}-->
<div class="pullrefresh" style="display:none;"></div>
{eval $nofooter = true;}
<!--{template common/footer}-->
