<!--{template common/header}-->
<style>body{background: #f8f8f8;}</style>

    <div class="cart-nav">
        购物车
        <span class="glyphicon glyphicon-trash" onclick="claerCar();"></span>
    </div>


    <!--{if $cart_count <= 0}-->

    <!--购物车为空-->
    <div class="empty-cart">
        <img src="/static/image/vivo/mobile/shopping_car.png" />
        <p>您的购物车是空的哦，现在就去选购吧！</p>
        <p><button class="btn car-btn" onclick="location.href='{:U("forum/product/list")}';">去逛逛</button> </p>
    </div>

    <!--{else}-->

    <!--购物车不为空-->
    <div class="row-box">
    	<table class="product-list" id="product-list">
    		<tbody id="pdlist-container">
    		</tbody>
    	</table>
    </div>
    <div class="row-box cart-bottom">
    	<form action="forum.php" method="post" class="buy-action-form">
    		<input type="hidden" name="mod" value="order"/>
    		<input type="hidden" name="action" value="buy" />
    		<input type="hidden" name="from" value="cart" />
    		<button id="buyAction" class="btn buy-btn" type="submit">结算</button>
    		<div class="order-container">
    			<p class="order-price" id="order-price"><span class="title">合计:</span><span class="content">￥<span class="data">0.0</span>元</span></p>
    			<!--积分合计：<p class="order-price" id="order-creditprice"><span class="title" style="opacity: 0;">合计:</span><span class="content">￥<span class="data">0.0</span>{$credit_title}</span></p>-->
    			<p class="order-desc" id="order-desc">(共<span class="data"></span>件)</p>
    		</div>
    	</form>
    </div>

    <!--button-->
    <!--{template common/buttons}-->

    <!--{/if}-->

<script>
    var productList,
        operatorTime = new Date().getTime(),
        ajaxLock = false;

    jQuery(function(){
        // load商品列表
        reloadProductList();

        // 增减事件
        jQuery("body").on("click", "#pdlist-container .numbtn", function(){
            var _this = jQuery(this),
                spid = _this.parent().attr("data-content"),
                numInput = _this.siblings(".num"),
                num = parseInt(numInput.val());
            if(_this.hasClass("dec-btn")){
                if(num <= 1) return;
                num--;
            }else if(_this.hasClass("inc-btn")){
                num++;
            }
            var oldnum = parseInt(numInput.val());
            if(oldnum != num){
                numInput.val(num);
                changeProductNum(spid, num, function(data){
                    if(data.result != 1){
                        numInput.val(oldnum);
                    }
                });
            }
        });
        // 直接改数字事件
        jQuery("body").on("focusout", "#pdlist-container .num", function(){
            var _this = jQuery(this),
                spid = _this.parent().attr("data-content"),
                num = parseInt(_this.val());

            if(num <= 0){
                deleteProduct(spid);
            }else{
                changeProductNum(spid, num);
            }
        });
        // 删除商品事件
        jQuery("body").on("click", "#pdlist-container .remove-btn", function(){
            var _this = jQuery(this).find(".remove"),
                spid = _this.attr("data-content");
            _this.attr("src","/static/image/vivo/mobile/shopcart-remove-active.png");
            deleteProduct(spid);
        });
    });
    function updateOrderState(){
        var total = 0.0,
            creditTotal = 0.0,
            count = 0;
        for(var i = 0; i < productList.length; i++){
            if(productList[i]['type'] == 0){
                total += parseFloat(productList[i]['total']);
            }else if(productList[i]['type'] == 1){
                creditTotal += parseFloat(productList[i]['total']);
            }

            count += parseInt(productList[i]['amount']);
        }
        jQuery("#order-price").find(".data").html(total);
        jQuery("#order-creditprice").find(".data").html(creditTotal);
        jQuery("#order-desc").find(".data").html(count);
    }
    function changeProductNum(spid, num, cb){
        jQuery.ajax({
            "url":"forum.php",
            "data":{
                "mod":"order",
                "action":"ajaxmycartupdate",
                "spid":spid,
                "num":num
            },
            "dataType":"json",
            "success":function(data){
                if(typeof(cb)=="function"){
                    cb(data);
                }
                if(data.result == 1){
                    reloadProductList();
                }
            }
        });
    }
    function deleteProduct(spid, cb){
        jQuery.ajax({
            "url":"forum.php",
            "data":{
                "mod":"order",
                "action":"ajaxmycartdelete",
                "spid":spid
            },
            "dataType":"json",
            "success":function(data){
                if(typeof(cb)=="function"){
                    cb(data);
                }
                if(data.result == 1){
                    reloadProductList();
                    jQuery("#sp_" + spid).remove();
                }
            }
        });
    }
    function claerCar(){
        if(confirm('确认清空购物车？')){
            jQuery.ajax({
                "url":"forum.php",
                "data":{
                    "mod":"order",
                    "action":"ajaxclearcar"
                },
                "dataType":"json",
                "success":function(data){
                    if(data.result == 1){
                        location.reload();
                    }
                }
            });
        }
    }
    function reloadProductList(){
        jQuery.ajax({
            "url":"forum.php",
            "data":{
                "mod":"order",
                "action":"ajaxmycartlist"
            },
            "dataType":"json",
            "success":function(data){
                if(data.result == 1){
                    var c = jQuery("#pdlist-container");
                    c.html("");
                    var pl = data.data;

                    productList = pl;
                    for(var i = 0; i < pl.length; i++){
                        jQuery(formatProductData(pl[i])).appendTo(c);
                    }
                    updateOrderState();
                }
            }
        });
    }
    function formatProductData(p){
        var currency = p['type'] == 0 ? '元' : '{$credit_title}';
        var str = '  <tr id="sp_' + p['spid'] + '">\
                        <td class="remove-btn"><img data-content="' + p['spid'] + '" src="/static/image/vivo/mobile/shopcart-remove.png" class="remove"></td>\
                        <td class="product-image">\
                            <div class="product-image-container">\
                                <img class="product-image" src="' + p['pic'] + '">\
                            </div>\
                        </td>\
                        <td class="product-desc">\
                            <p class="product-name">' + (p['name'].length > 16 ? p['name'].substr(0, 16) : p['name']) + '</p>\
                            <p class="product-price">￥' + p['discount'] + currency +'</p>\
                            <div class="num-controller" data-content="' + p['spid'] + '">\
                                <button class="numbtn dec-btn">-</button>\
                                <input class="num" type="number" value="' + p['amount'] + '" >\
                                <button class="numbtn inc-btn">+</button>\
                            </div>\
                        </td>\
                    </tr>';
        return str;
    }
</script>
{eval $nofooter=true;}

{eval}
$return_url = '/forum.php?mod=personal';
{/eval}

<!--{template common/footer}-->
