<!--{template common/header}-->
<script src="/static/js/common.js"></script>
{eval}
//环境变量
$credit_title = $_G[setting][extcredits][$_G[setting][creditstrans]][title];
$rmb_product = '';
$credit_product = '';
{/eval}

{if $platform == 'touch'}
<style>body{background: #f1f1f1;padding-top: 0;}</style>
{/if}

<form id="order-submit-form" action="forum.php" method="POST">
	<input type="hidden" name="mod" value="order"/>
	<input type="hidden" name="action" value="confirm"/>
	<input type="hidden" name="spid" value="{$spid}"/>
	<input type="hidden" name="formhash" id="formhash" value="{eval echo FORMHASH}" />
	<input type="hidden" name="address" id="address_input_id" value="{eval echo getcookie('default_address_id')}">


    <h3 class="order-title">送货地址</h3>
	<div class="touch-order-container" style="padding: 0;">
		<div class="touch-order-box touch-address-box" id="show_address_selecter">
			<div class="touch-address-head">&nbsp;</div>
			<div class="touch-address-body">
				<!--{if count($address_list) > 0}-->
				<!--{eval $i=1}-->
				<!--{loop $address_list $k $l}-->
					<!--{if $i==1}-->
						<p class="namephone"><span class="name" id="address_input_name">{eval echo getcookie('default_address_name')}</span><span class="phone" id="address_input_phone">{eval echo getcookie('default_address_phone')}</span></p>
						<p class="address" id="address_input_address">{eval echo getcookie('default_address_address')}</p>
					<!--{/if}-->
					<!--{eval $i++}-->
				<!--{/loop}-->
				<!--{else}-->
					<p>点击添加收货地址</p>
				<!--{/if}-->
			</div>
			<div class="touch-address-tail">&nbsp;</div>
			<div class="clearfix"></div>
		</div>
	</div>

    <h3 class="order-title">商品清单</h3>
    <div class="row-box">
    	<table class="product-list" id="product-list">
    		<tbody id="pdlist-container">
				{loop $product_onsells $k $product_onsell}
				<input type="hidden" name="newspid[]" value="{$product_onsell[spid]}">
				<input type="hidden" name="newnum[]" value="{$nums[$k]}">
				<tr id="sp_{$product_onsell['spid']}">
	    			<td class="remove-btn">&nbsp;</td>
	    			<td class="product-image">
	    				<div class="product-image-container">
	    					<img class="product-image" src="{$product_onsell['main_pic']}">
	    				</div>
	    			</td>
	    			<td class="product-desc">
	    				<p class="product-name">{$product_onsell['name']}</p>
	    				<p class="product-price">
                            ￥{$product_onsell['newprice']}{if $product_onsell[type] == 0}元{else}{$credit_title}{/if}
                             x <span class="num-controller" data-content="{$product_onsell['name']}">{$nums[$k]}{$product_onsell[unit]}</span>
                        </p>
	    			</td>
	    		</tr>
				{/loop}
    		</tbody>
    	</table>
    </div>

    <h3 class="order-title">配送信息</h3>
    <div class="row-box">
        <ul class="sub-row">
            <li id="select-deliver-time">配送时间<span>请选择</span><input id="deliver_time" type="hidden" name="deliver_time" value=""></li>
        </ul>
    </div>

    <h3 class="order-title">支付信息</h3>
    <div class="row-box">
    	<!--<h2 class="row-box-header">支付方式</h2>-->
    	<ul class="selector paymethod-selector">
    		{eval $payments = get_payment()}
    		{eval $payment_condition = IN_WECHAT && $order_total > 0 && $payments[2]['status'] && $payments[2]['is_mobile'];}
    		<input type="hidden" name="payment" id="payment" value="{if $payment_condition}2{else}1{/if}" />
    		{if $payment_condition}
    		<li class="selector-item active" data-content="2">
    			<img class="checkbox checked" src="/static/image/vivo/mobile/rowbox-selector-active.png">
    			<img class="checkbox unchecked" src="/static/image/vivo/mobile/rowbox-selector.png">
    			<img class="paymethod-icon wechat" src="/static/image/vivo/mobile/payment-icon-wechat.png">
    			<p class="paymethod-name">微信安全支付</p>
    		</li>
    		{/if}
    		{if $payments[1]['status'] && $payments[1]['is_mobile']}
    		<li class="selector-item {if $payment_condition}unactive{else}active{/if}" data-content="1">
    			<img class="checkbox checked" src="/static/image/vivo/mobile/rowbox-selector-active.png">
    			<img class="checkbox unchecked" src="/static/image/vivo/mobile/rowbox-selector.png">
    			<img class="paymethod-icon payondelivery" src="/static/image/vivo/mobile/payment-icon-payondelivery.png">
    			<p class="paymethod-name">货到付款方式</p>
    		</li>
    		{/if}
    	</ul>
    </div>
    <div class="row-box buy-action-form" style="border-top:1px solid #E7E7E7;border-bottom:1px solid #E7E7E7;">
		<input type="hidden" name="from" value="cart" />
		<input type="hidden" name="ordersubmit" value="1" />
		<button id="buyAction" class="btn buy-btn" type="button">下单</button>
		<div class="order-container">
			<p class="order-price" id="order-price"><span class="title">合计:</span><span class="content">￥<span class="data">{$order_total}</span>元</span>+<span class="content"><span class="data">{$order_credit_total}</span>{$credit_title}</span></p>
			<p class="order-desc" id="order-desc">(共<span class="data">{$product_count}</span>件)</p>
		</div>
    </div>

</form>

<!--隐藏添加配送时间-->
<div class="touch-address-selecter touch-deliver-selecter" id="touch-deliver-selecter" >
    <h3 class="order-title">配送时间</h3>
    <ul class="touch-deliver-selecter-ul">
        {eval $delivers = get_deliver_time()}
        {loop $delivers $key $val}
        <li data-value="{$key}">{$val}</li>
        {/loop}
    </ul>
</div>
<div class="touch-address-selecter-mask" id="touch-deliver-selecter-mask">返回</div>
<!--隐藏添加配送时间 end-->

<!--隐藏添加收货地址-->
<div class="touch-address-selecter" id="touch-address-selecter">
    <h3 class="order-title">地址信息</h3>
	<ul class="touch-address-selecter-ul" id="touch-address-selecter-ul">
		<!--{loop $address_list $k $l}-->
			<li data-id='{$l[uaid]}' data-name='{$l[name]}' data-address='{:getFullAddress($l)}' data-phone='{$l[phone]}'>
				<div class="radio"><span id="address-select-sign-{$l['uaid']}" class="glyphicon glyphicon-ok-sign addresss_check"></span></div>
				<div class="address-detail"><p class="namephone"><span class="name">{$l['name']}</span><span class="phone">{$l['phone']}</span></p>
				<p class="address">{$l['province']}{$l['city']}{$l['dist']}{$l['community']}{$l['address']}</p></div>
				<div class="address-edit"><a {eval echo getcookie('default_address_id')==$l['uaid']?'style="display:none"':''} id="address-delete-btn-{$l['uaid']}" class="btn address-delete-btn" href="###" onclick="delAddress(this);return false;" data-content="{$l['uaid']}"><span class="glyphicon glyphicon-remove-circle"><span></a></div>
			</li>
		<!--{/loop}-->
		<li id="address-add-btn">
			<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;新增收获地址
		</li>
		<li id="address-input" class="address-input <!--{eval echo (count($address_list) > 0) ? 'disable':'';}-->">
			<form id="newaddressform">
			<table class="address-add-table">
				<tr>
					<th>收件人</th>
					<td><input  type="text" name="newname" id="newname" placeholder="姓名"></td>
				</tr>
				<tr>
					<th>联系方式</th>
					<td><input  type="text" name="newphone" id="newphone" placeholder="手机或电话号码"></td>
				</tr>
				<tr>
					<th>省市区</th>
					<td id="selectdirectbox" style="line-height: 30px;">{$provice_list}</td>
				</tr>
				<tr class="noborder">
					<th>详细地址</th>
					<td><input  type="text" name="newaddress" id="newaddress" placeholder="详细地址"></td>
				</tr>
				<tr class="noborder">
					<td colspan="2">
						<input type="hidden" name="mod" value="ajax"  /><input type="hidden" name="action" value="addaddress"  />
						<a class="address-add-btn" href="###" onclick="addAddress(this);return false;">新增地址</a><br><a class="address-add-btn address-add-cancle-btn" href="###" id="cancle-add-address-btn">取消</a>
					</td>
				</tr>
			</table>
			</form>
		</li>
	</ul>
</div>
<div class="touch-address-selecter-mask" id="touch-address-selecter-mask">返回</div>
<!--隐藏添加收货地址end-->

{eval}
	$scriptArray[] = '/static/js/vivo/setBannerImg/perfect-scrollbar/perfect-scrollbar-0.4.10.with-mousewheel.min.js';
{/eval}

<script src="/static/js/mobile/order.js"></script>

{eval $nofooter=true;}
<!--{template common/footer}-->