<!--{template common/header}-->

<style>
    body{
        background-image: url('/static/image/vivo/mobile/forumdisplay-bg.png');
        background-repeat: repeat-y;
        background-position: center;
    }
</style>

<div class="orderlist-nav">
    <ul>
        <li {if $orderType=="unfinished"}class="on"{/if} onclick="location.href='{:U('forum/order/myorder',array('order_type'=>'unfinished'))}';">未完成</li>
        <li {if $orderType=="finished"}class="on"{/if} onclick="location.href='{:U('forum/order/myorder',array('order_type'=>'finished'))}';">已完成</li>
        <li {if $orderType=="cancle"}class="on"{/if} onclick="location.href='{:U('forum/order/myorder',array('order_type'=>'cancle'))}';">已取消</li>
        <div style="clear: both"></div>
    </ul>
</div>

<div class="touch-orderlist-separation"></div>
<div class="touch-order-container touch-order-list-box" >
	{if count($orderList)}
	{eval}
        foreach ($orderList as $orderItem){
            mobile_order_list_item_template($orderItem, $_G['member']['uid']);
        }
	{/eval}
	<p style="display: none;text-align: center;" id="loading">loading</p>
	{else}
	<div class="touch-order-list-box empty-order-list" >
		还没有订单哦
	</div>
	{/if}
</div>

<script>
	jQuery(function(){
		// 修正浮动高度
		//fix_float_height('.touch-orderlist-goods');
		//页面跳转
		jQuery('.touch-orderlist-box').find('.touch-order-info,.touch-order-pdlist').click(function(){
			var _this = jQuery(this);
			var _oid = _this.parent().attr('data-oid');
			var _url = '/forum.php?mod=order&action=detail&order_id=' + _oid;
			if(isApp()){
				_url=_url+'&platform=app';
			}
//			sendAppCommand('loadOrderDetail',_url);
			window.location.href = _url;
		});

        jQuery('.order-btn-pay').click(function(){
            var _oid = jQuery(this).attr('data-oid');
            window.location.href = '/forum.php?mod=order&action=pay&order_id=' + _oid;
        });

		var now_page = {$page};
		var total_page = {$pageCount};
		var lock_page = 0;
		//滚动加载数据
		jQuery(window).scroll(function(){
			//$(window).scrollTop()这个方法是当前滚动条滚动的距离
	        //$(window).height()获取当前窗体的高度
	        //$(document).height()获取当前文档的高度
	        var _url = '/forum.php?mod=order&action=myorder{if $orderType}&order_type={$orderType}{/if}&ajax=1&html=1';
	        var loadingObj =  jQuery('#loading');
	        if (($(window).scrollTop()) >= ($(document).height() - $(window).height()) && now_page <= total_page) {
	            //当底部基本距离+滚动的高度〉=文档的高度-窗体的高度时；
	            //我们需要去异步加载数据了
	            loadingObj.fadeIn();
	            if(lock_page==1){
	            	setTimeout(function(){lock_page=0;},5000);
	            	return;
	            }
	            lock_page = 1;
	            $.getJSON(_url, {page: now_page+1}, function (data) {
	            	//加载成功
	            	if(data.result){
	            		var loaddata = '';
	            		loaddata = jQuery("<div>").html(data.data).text();
	            		
	            		jQuery(loaddata).insertBefore(loadingObj);
	            		loadingObj.fadeOut();
	            		lock_page = 0;
	            	}else{
	            		 loadingObj.html('翻到最后了哦！').fadeOut();
	            	}
	            	now_page++;
	            });
	            
	        }
		});

        jQuery('.getexpress').click(function(){
            var _this = jQuery(this),_oid = _this.attr('data-oid'),_url='{:U("forum/order/express",array("oid"=>"__OID__"))}';
            location.href=_url.replace('__OID__',_oid);
        });

	});
</script>

{eval}
$return_url = '/forum.php?mod=personal';
{/eval}
<!--{template common/buttons}-->

<!--{template common/footer}-->