<!--{template common/header}-->

<div class="order-detail-container" style="padding: 0;">
    <div class="order-detail-box order-statu-box">
        <div class="order-track-box">
            <p class="order-track-header">{$express['expTextName']}<span>NO.{$express['mailNo']} </span></p>
            <ul class="order-track-list">
                {if $error == 0}
                    {loop $express['data'] $key $list}
                    <li class="order-track">
                        <span class="dot {if $key == count($express['data'])-1}active{/if}"></span>
                        <p class="track-msg">{$list['context']}</p>
                        <p class="dateline">{$list['time']}</p>
                    </li>
                {/loop}
                {else}
                    <li class="order-track">
                        <span class="dot"></span>
                        <p class="track-msg">{$errmsg}</p>
                    </li>
                {/if}
            </ul>
        </div>
    </div>
</div>

{eval}
$return_url = 'javascript:history.go(-1);';
{/eval}
<!--{template common/buttons}-->

<!--{template common/footer}-->