<!--{template common/header}-->
{eval}
$headnav_name = '取消订单';
{/eval}
<!--{template common/headnav}-->
<form class="form-inline">
	<input type="hidden" id="oid" value="{$orderAllInfo[oid]}" />
	<input type="hidden" id="openid" value="{$orderAllInfo[o_openid]}" />
	<div class="form-group">
		<label class="col-sm-2 control-label">订单编号</label>
		<div class="col-sm-10">{$orderAllInfo['o_openid']}</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">总金额</label>
		<div class="col-sm-10">￥{$orderAllInfo['goodcost']} + ￥{$orderAllInfo['expresscost']} = ￥{$orderAllInfo['totalprice']}元</div>
	</div>
	<div class="form-group">
		<label for="reason" class="col-sm-2 control-label">退货原因</label>
		<div class="col-sm-10">
			<select class="form-control" id="reason">
				{:get_order_cancel_reason()}
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="note" class="col-sm-2 control-label">退货备注</label>
		<div class="col-sm-10">
			<textarea class="form-control" id="note" placeholder="如有补充请填在这"></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-3">
			<button type="button" class="btn btn-primary" onclick="history.back()">返回</button>
			<button type="button" class="btn btn-warning" onclick="cancelOrder();">取消订单</button>
		</div>
	</div>
</form>
<script>
var lock = false;
function cancelOrder(){
	if(lock){
		return false;
	}else{
		lock = true;
		jQuery.ajax({
			url: "/forum.php",
			data: {
				"mod":"ajax",
				"action":"order_cancel",
				"order_openid" : jQuery("#openid").val(),
				"reason_type" : jQuery("#reason").val(),
				"note": jQuery("#note").val()
			},
			dataType:"json",
			success: function(data){
				if(data.result == 1){
					alert("订单取消申请已提交，稍后系统将为您取消订单");
					location.href = '/forum.php?mod=order&action=detail&order_id={$orderAllInfo[oid]}';
				}else{
					alert("提交订单取消失败");
				}
			}
		})
	}
}
</script>
<!--{template common/footer}-->