<!--{template common/header}-->
<style>body{background: #f1f1f1;padding-top: 0;}</style>

<div class="order-detail-container" style="padding: 0;">
	
	<div class="row-box" style="padding-bottom: 10px;position: relative;">
		<p style="font-size: 20px; position: absolute;top:5px;left: 0;width: 100%;text-align: right;padding-right: 10px;">
			<span id="qrcodebtn" class="glyphicon glyphicon-qrcode"></span>
		</p>
		<div class="personal-header">
			<div class="personal-avatar-container"><img class="personal-avatar" src="{:avatar($profile['uid'], 'middle', true)}" /></div>
			<div class="personal-desc" style="color: #002240;">
				{$profile['nickname']}
				<p><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;{:getFullAddress($orderAllInfo['address'],3,'-')}</p>
			</div>
		</div>
	</div>
	
	<div class="order-detail-box touch-orderlist-box" style="font-size: 12px;">
		<div class="order-detail-info" style="padding: 0 10px;height: 40px; line-height: 40px;">
			<p class="order-detail-info-dateline">{:date('Y-m-d H:i', $orderInfo['dateline'])}</p>
			<p class="order-detail-info-total" >总价：<font style="color: #fd7306;">￥{$orderInfo[goodcost]}</font></p>
		</div>
		<ul class="touch-order-pdlist order-comment-ul">
			{loop $orderAllInfo['productTable'] $k $p}
			<li class="touch-order-pd">
				<div class="touch-order-pd-img" onclick="location.href='{:U('forum/product/view',array('spid'=>$p['spid']))}';">
					<img class="pd-img" src="{$p['media_list'][0][media_url]}?imageView2/1/w/78/h/78">
				</div>
				<div class="touch-order-pd-detail" onclick="location.href='{:U('forum/product/view',array('spid'=>$p['spid']))}';">
					<p class="touch-order-pd-price">￥{$p[discount]}元</p>
					<p class="touch-order-pd-name">{$p[name]}</p>
					<p class="touch-order-pd-num">{$p[amount]}{$p[unit]}</p>
				</div>
				<div class="order-comment-text">
					{if !empty($p['threads'])}
					<dl onclick="location.href='/forum.php?mod=viewthread&tid={$p['threads']['tid']}&referer={:urlencode('/forum.php?mod=order&action=comment&oid='.$orderAllInfo[oid])}';">
						<dt><span class="glyphicon glyphicon-pencil"></span>&nbsp;我的装逼感受：</dt>
						<dd>
							<div class="showcomment-box">$p['threads']['subject']</div>
						</dd>
						<dd>
							<ul id="imglist-{$p['odid']}" class="post_imglist">
								{loop $p['threads']['media_list'] $ptm}
								<li>
									<div><img src="{$ptm['media_url']}"></div>
								</li>
								{/loop}
							</ul>
						</dd>
					</dl>
					<script>
						wxshareImg = jQuery('#imglist-{$p[odid]}').find('li:first div img').attr('src'); //分享图片
						wxshareDesc = '{:delete_blank($p['threads']["subject"])}'; //分享详情
					</script>
					{else}
					<dl>
						<dt><span class="glyphicon glyphicon-pencil"></span>&nbsp;我的装逼感受：</dt>
						<dd>
							<textarea class="form-control"  id="comment_{$p['odid']}" tabindex="{$k}" autocomplete="off"  name="comment" rows="2"  placeholder="">$postinfo[message]</textarea>
						</dd>
						<dd>
							<ul id="imglist-{$p['odid']}" class="post_imglist hide"></ul>
						</dd>
						<dd id="comment_upload_btn_box_{$p[odid]}">
							<button id="comment_btn_{$p['odid']}" type="button" class="btn btn-default btn-sm picbtn" aria-label="Left Align">
							  <span class="glyphicon glyphicon-picture"></span>
							</button>
							<button type="button" class="btn btn-success btn-sm replybtn" data-odid="{$p['odid']}" data-spid="{$p['spid']}" aria-label="Left Align">
							  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
							     我要点评
							</button>
							<div class="clearfix"></div>
						</dd>
					</dl>
					{/if}
				</div>
			</li>
			{/loop}
		</ul>
	</div>
	
</div>

<div class="order-comment-qrcode-box">
	<div class="order-comment-qrcode">
		<p>长按保存二维码，分享更简单哦~</p>
		<img src="/qrcode.php?data={:urlencode($_G['url'])}">
	</div>
</div>

<script src="/static/js/vivo/mobile/app.js"></script>
<script src="/static/js/vivo/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="/static/js/vivo/qiniu-js-sdk/src/qiniu.min.js"></script>
<script>
	{loop $orderAllInfo['productTable'] $p}
	var progress_{$p[odid]} = 0;
	var comment_img = Qiniu.uploader({
		    runtimes: 'html5,flash,html4',    //上传模式,依次退化
		    browse_button: 'comment_btn_{$p[odid]}',       //上传选择的点选按钮ID，**必需**
		    uptoken_url: 'forum.php?mod=ajax&action=getQiNiuToken',
		    domain: 'http://7u2qq8.com1.z0.glb.clouddn.com/',
		    container: 'comment_upload_btn_box_{$p[odid]}',           //上传区域DOM ID，默认是browser_button的父元素，
		    max_file_size: '2mb',           //最大文件体积限制
		    flash_swf_url: '/static/js/vivo/plupload-2.1.2/js/Moxie.swf',  //引入flash,相对路径
		    max_retries: 3,                   //上传失败最大重试次数
		    dragdrop: true,                   //开启可拖曳上传
		    drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
		    chunk_size: '4mb',                //分块上传时，每片的体积
		    auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
		    init: {
		        'FileUploaded': function(up, file, info) {
		        	
		        	var domain = up.getOption('domain');
		        	var res = jQuery.parseJSON(info);
		        	var sourceLink = domain + res.key;
		        	jQuery.getJSON('/forum.php?mod=ajax&action=insert_gallery_image&fastpost=1&url='+encodeURIComponent(sourceLink),function(data){
		        		
		        		var item = jQuery('<li></li>');
		        		var item_close = jQuery('<a class="remove-btn" href="javascript:;">x</a>')
		        		.click(function(){
		        			jQuery(this).parent().remove();
		        		});
		        		var item_image = jQuery('<div></div>');
		        		item_image.append(jQuery('<img />').attr('src', sourceLink+'?imageView2/2/w/62').attr('alt', ''));
		        		item_control = jQuery('<input type="hidden" class="comment-images-{$p[odid]}" name="images[]" />').attr('value', sourceLink);
		        		
		        		item.append(item_close);
		        		item.append(item_image);
		        		item.append(item_control);
		        		jQuery('#imglist-{$p[odid]}').removeClass('hide').append(item);
		        		item.find('img').each(function(){
		        			setVerticalMiddle(this);
		        		});
		        	});
		        },
		        'Error': function(up, err, errTip) {
		        	var htmlButton = '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>';
		        	var alert = jQuery('<div class="alert hide"></div>');
		        	alert.html(htmlButton+errTip)
		        	  .addClass('alert-danger').removeClass('hide')
		        	  .attr('role', 'alert');
		        	jQuery("#wrapperError").append(alert);
		        },
	          'BeforeUpload': function(up, file){
	          		//printObject(file);
	           		createProgressDialog('image_upload_progress_' + file.id, 0,'图片上传中..');
	           },
		       'UploadComplete': function() {
					return;
		        },
	          'UploadProgress': function(up, file)
	           {
	           		updateProgressDialog('image_upload_progress_' + file.id, file.percent);
	           		if (file.percent == 100) {
	           			removeProgressDialog('image_upload_progress_' + file.id);
	           		}
	           },
		       'Key': function(up, file) {
		           // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
		           // 该配置必须要在 unique_names: false , save_key: false 时才生效
	               
	               var date = new Date();
	               var key = "banner/pid"+jQuery("#form_tid").val()+"_"+date.getFullYear()+(date.getMonth()+1)+date.getDate()+date.getTime();
	               // do something with key here
	               return key;
		       }
		    }
	});
	{/loop}
	
	jQuery(function(){
		jQuery('#qrcodebtn').click(function(e){
			jQuery('.order-comment-qrcode-box').show(100).click(function(){
				jQuery(this).hide(100);
			});
		});
		//调整图片居中
		jQuery('.post_imglist li').find('img').each(function(){
			setVerticalMiddle(this);
			setViewImageAction(this);
		});
		jQuery('.replybtn').click(function(){
			var  _this = jQuery(this),  _odid = _this.attr('data-odid') , _spid = _this.attr('data-spid')  , msgObj = jQuery('#comment_'+_odid) , origin_msg = msgObj.val();
			if(origin_msg==''){
				alert('请填写分享内容呢！');
				msgObj.focus();
				return;
			}
			
			var msg = origin_msg;
			var sjt = cutstr(msg,30);
			jQuery('.comment-images-'+_odid).each(function(){
				wxshareImg = jQuery(this).val(); //分享图片
				msg += '<img src="'+jQuery(this).val()+'" />';
			});
			
			//微信分享配置
			wxshareDesc = origin_msg; //分享详情
			
			jQuery.post(
				'{:U("app/forum/post",array("formhash"=>formhash()))}',
				{
					'message':msg,
					'subject':sjt,
					'fid':{$defaultforum['shop']}
				},
				function(data){
					var _data = jQuery.parseJSON(data);
					if(_data.result){
						var _tid = _data.data.tid;
						jQuery.post('{:U("forum/order/comment")}',{'tid':_tid,'odid':_odid,'spid':_spid},function(sdata){
							var _sdata = jQuery.parseJSON(sdata);
							if(_sdata.result){
								jQuery('<div class="showcomment-box" onclick="location.href=\'/forum.php?mod=viewthread&tid='+_tid+'&referer='+encodeURIComponent('/forum.php?mod=order&action=comment&oid={$orderAllInfo[oid]}')+'\';">'+origin_msg+'</div>').insertBefore(msgObj);
								msgObj.remove();
								jQuery('#imglist-'+_odid).find('a.remove-btn').remove();
								_this.siblings().remove();
								_this.remove();
							}else{
								alert(_sdata.msg);
							}
						});
					}else{
						alert(_data.msg);
					}
				}
			);
		});
	});
	
	wxshareTitle = '哎哟，跟大家汇报一下，我花了'+{$orderAllInfo['goodcost']}+'大洋在意大利爽了一下'; //分享标题
	wxshareImg = wxshareImg ? wxshareImg : '{$orderAllInfo['productTable'][0]['media_list'][0][media_url]}';
	wxshareDesc = wxshareDesc ? wxshareDesc : '{$orderAllInfo['productTable'][0][name]}';
	
</script>

<!--{template common/footer}-->

