<!--{template common/header}-->

<style>body{background: #f1f1f1;padding-top: 0;}</style>

{eval}
//加载库文件
require_once libfile('function/product');
require_once libfile('function/order');
{/eval}

<div class="order-detail-container" style="padding: 0;">
    <div class="order-detail-box order-statu-box">
      <p class="order-statu-header">
      	<span class="statu">订单状态：{eval echo get_state_name($orderInfo['state']); }</span>
      	<span class="payment">
      		{:get_payment_name($orderInfo['payment'])}
			{if $orderInfo['payment']>1}
			（{if $orderInfo['paystate']==0}<font color="red"><b>未支付</b></font>{elseif $orderInfo['paystate']==1}已支付{else}已退款{/if}）
			{/if}
      	</span>
      </p>
      <div class="order-address-box">
      	<p class="rows">
      		<span class="rows-header">配送至：</span>
      		<span class="data">{$orderAddress['name']}</span>
      		<span class="data">{$orderAddress['phone']}</span>
      	</p>
      	<p class="rows">
      		<span class="rows-header">&nbsp;</span>
      		<span class="data">{:getFullAddress($orderAddress)}</span>
      	</p>
      </div>
      <div class="order-track-box">
      	<p class="order-track-header">订单信息<span> {:get_deliver_time($orderInfo['deliver_time'])} </span></p>
      	<ul class="order-track-list">
      		{eval}
      		$orderStateLastIndex = count($orderState) - 1;
      		for($i = $orderStateLastIndex; $i >= 0; $i--){
      			$v = $orderState[$i];
      		{/eval}
	      		<li class="order-track">
	      			<span class="dot {if $i == $orderStateLastIndex}active{/if}"></span>
	      			<p class="track-msg">{:get_state_message($v['state'], $orderInfo[expresscom], $orderInfo[expresscode],$orderInfo[oid])}</p>
	      			<p class="dateline">{:date("Y-m-d H:i", $v['dateline'])}</p>
	      		</li>
      		{eval}
      		}
      		{/eval}
      	</ul>
      </div>
    </div>
    <div class="order-detail-box touch-orderlist-box">
    	<p class="order-detail-header">订单号：{$orderInfo[o_openid]}</p>
    	<ul class="touch-order-pdlist">
    		{eval}
    		foreach($orderAllInfo['productTable'] AS $p){
    			echo mobile_order_list_product_template($p);
    		}
    		{/eval}
    	</ul>
    	<div class="order-detail-info">
    		<p class="order-detail-info-dateline">{:date('Y-m-d H:i', $orderInfo['dateline'])}</p>
    		<p class="order-detail-info-total">总价：<font style="color: #fd7306;">￥{$orderInfo[goodcost]}</font></p>
    	</div>
    </div>
    <div class="order-detail-box order-summary">
    	<p class="total-detail">￥{$orderInfo[goodcost]}<span class="plus">+</span>￥{$orderInfo[expresscost]}运费</p>
    	<p class="total">应付：{:getPriceInOrderDetail($orderInfo[totalprice], $orderInfo[totalcredit],' + ' , true)}</p>
    </div>
    <div class="order-detail-box btn-container">
    	<div class="order-detail-btn-list">
            {if $orderInfo['paystate']==0 && $orderInfo['payment']>1}
                <!--在线支付-->
                <button class="order-detail-btn order-detail-btn-pay" onclick="location.href='{:U('forum/order/pay',array('order_id'=>$orderInfo[oid]))}';">立刻支付</button>
            {/if}
    		{if $orderInfo['state'] == 0}
    		    <button class="order-detail-btn" onclick="location.href='forum.php?mod=order&action=cancelorder&oid={$orderInfo[oid]}'">取消订单</button>
    		{/if}
            {if $orderInfo['expresscom'] > 0 && !empty($orderInfo['expresscode'])}
                <button class="order-detail-btn" type="button" onclick="location.href='forum.php?mod=order&action=express&oid={$orderInfo[oid]}'" >查看物流</button>
            {/if}
            <button class="order-detail-btn">联系我们</button>
    	</div>
    </div>
</div>

<!--{template common/footer}-->
