<!--{template common/header}-->

{eval}
$_GET['referer'] = U('forum/order/detail','order_id='.$oid);
$headnav_name = '订单支付状态';
{/eval}
<!--{template common/headnav}-->

<!--{if $page_show=='payed'}-->
<!--支付成功-->
<div style="text-align: center;font-size: 20px;margin-top: 40px;">
	支付成功
</div>
<!--{/if}-->

<!--{if $page_show=='no_pay'}-->
<!--支付失败-->
<div style="text-align: center;font-size: 20px;margin-top: 40px;">
	支付失败
</div>
<!--{/if}-->

<!--{if $page_show=='no_order'}-->
<!--没有该订单-->
<div style="text-align: center;font-size: 20px;margin-top: 40px;">
	没有该订单
</div>
<!--{/if}-->

<!--{template common/footer}-->
