<div class="threadlist">
	<ul>
	<!--{if $threads}-->
		<!--{loop $threads $key $thread}-->
		<li>
			<!--{hook/forumdisplay_thread_mobile $key}-->
            <a href="javascript:;" onclick="readthread({$thread[tid]},{$_G['page']});" $thread[highlight] >
				<div class="">
					<div class="text">
						<span >{$thread[subject]}</span>
						<div class="author-replies">
							<span class="by">评论：&nbsp;{$thread[replies]}&nbsp;&nbsp;&nbsp;&nbsp;人气：&nbsp;{$thread['views']}</span>
							<!--<span class="num"></span>-->
							<!--<span class="read"></span>-->
							<div style="clear: both;"></div>
						</div>
					</div>
					<span class="image"><img src="{if $thread['first_img']}{$thread['first_img']}?imageView2/1/w/80/h/60{else}/static/image/vivo/share-no-img.jpg{/if}" ></span>
					<div style="clear: both;"></div>
				</div>
			</a>
		</li>
        <!--{/loop}-->
        <li class="loading" id="loading"><img src="/static/image/mobile/images/icon_load.gif" /></li>
    <!--{else}-->
	<li style="height: 40px;line-height: 40px;text-align: center;">暂无文章</li>
	<!--{/if}-->
</ul>
</div>
{eval //$multipage}
<script>
	var now_page = {$_G['page']};
	var before_now_page = {$_G['page']};
	var total_page = {$pagecount};
	var lock_page = 0;
	var _url = '/forum.php?mod=personal&action=thread&uid={$uid}&ajax=1';
	jQuery(function(){
		//滚动加载数据
		jQuery(window).scroll(function(){
			//$(window).scrollTop()这个方法是当前滚动条滚动的距离
	        //$(window).height()获取当前窗体的高度
	        //$(document).height()获取当前文档的高度
	        
	        var loadingObj =  jQuery('#loading');
	        if (($(window).scrollTop()) >= ($(document).height() - $(window).height()) && now_page <= total_page) {
	            //当底部基本距离+滚动的高度〉=文档的高度-窗体的高度时；
	            //我们需要去异步加载数据了
	            loadingObj.fadeIn();
	            if(lock_page==1){
	            	setTimeout(function(){lock_page=0;},5000);
	            	return;
	            }
	            lock_page = 1;
	            jQuery.getJSON(_url, {page: now_page+1}, function (data) {
	            	//加载成功
//	            	console.log(now_page);
	            	if(data.result){
	            		var loaddata = '';
	            		var list = data.list;
	            		loaddata = acticle_factory(list,now_page+1);
	            		jQuery(loaddata).insertBefore(loadingObj);
	            		loadingObj.fadeOut();
	            		lock_page = 0;
	            	}else{
	            		 loadingObj.html('翻到最后了哦！').fadeOut();
	            	}
	            	now_page++;
	            });
	            
	        }
		});
		
	});
	
	function readthread(_tid,_page){
		location.href='/forum.php?mod=viewthread&tid='+_tid;
	}
	
	function acticle_factory(list,__page){
		var loaddata = '';
		for (var i=0;i<list.length;i++){
    		loaddata += '<li>'+
			            '<a href="javascript:;" onclick="readthread('+list[i].tid+','+__page+');"  '+list[i].highlight+' >'+
							'<div class="">'+
								'<div class="text">'+
									'<span>'+list[i].subject+'</span>'+
									'<div class="author-replies">'+
										'<span class="by">评论：&nbsp;'+list[i].replies+'</span>'+
										'<span class="read">人气：&nbsp;'+list[i].views+'</span>'+
										'<div style="clear: both;"></div>'+
									'</div>'+
								'</div>'+
								'<span class="image"><img src="'+(list[i].first_img?list[i].first_img+'?imageView2/1/w/80/h/60':'/static/image/vivo/share-no-img.jpg')+'" ></span>'+
								'<div style="clear: both;"></div>'+
							'</div>'+
						'</a>'+
						'</li>';
		}
		return loaddata;
	}
	
</script>
