<!--{template common/header}-->

<!--{if $action=='personal'}-->
	
	<!--{if !$binded_mobile}-->
	<div class="fixed_message" onclick="location.href='{:U('member/wechat/bind','debug=1')}';">亲，还没有验证手机哦！<u>&nbsp;点击验证&nbsp;</u></div>
	<!--{/if}-->
	
	{eval}
		$headnav_name = '个人中心';
		if($_G['uid']==$uid){$nobackbtn = true;}
    {/eval}
	<!--{template common/headnav}-->

    <link rel="stylesheet" href="/static/css/mobile/personal_mod.css?v={:date('Ymd',TIMESTAMP)}" />
	
	<div class="personal_mod">

        <div class="personal-header">

            <div class="personal-avatar-container">
                <img class="personal-avatar" src="{:avatar($profile['uid'], 'big', true)}" />
            </div>

            <p class="nickname">{$profile['nickname']}</p>

            <p>
                <span class="level">L{eval echo $profile['group']['stars'];}</span>
                {eval}
                include_once libfile('function/member');
                $usergroups = getUserGroups();
                $groupid = $_G['member']['groupid'];
                $member_group = isset($usergroups[$groupid]) ? $usergroups[$groupid] : null;
                {/eval}
                <span class="group">{eval echo $member_group ? $member_group['grouptitle'] : ''; }</span>
            </p>


            <div style="display: none;">
                <span>徽章1</span>
                <span>徽章2</span>
            </div>

            <p class="credits">
                {eval}
                $member = C::t('common_member_count')->fetch_by_uid($_G['uid']);
                $credits_format = $_G['setting']['creditsformula'];

                $member_credits = eval('$credits_format = ' . $credits_format);
                {/eval}
                <a href="/home.php?mod=spacecp&ac=credit" style="color:black;">
                    我的积分：<span class="number">{$_G['member']['credits']}</span>
                </a>
            </p>

            <div class="check_in{if $member_gsignin_today} active{/if}">
                <a href="/forum.php?mod=checkin">签到</a>
            </div>

        </div>

        {if $next_group}
        <!--等级进度条-->
        <div class="credis-box">
            <p class="credis-counter">
                <span class="counter" style="width:{eval echo (($_G['member']['credits']/$next_group['creditshigher'])*100) < 1 ? 1 : (($_G['member']['credits']/$next_group['creditshigher'])*100) }%;">&nbsp;</span> <span>{$_G['member']['credits']}/{$next_group['creditshigher']}</span>
            </p>
            <div class="credis-next-name">{$next_group['grouptitle']}</div>
            <div style="clear: both;"></div>
        </div>
        {/if}

        <div class="personal_body">

            {if $_G['uid']==$uid}

            <div class="trigon">&nbsp;</div>

            <div class="row-box">
                <ul class="personal-menu">


                    <li class="personal-menu-item">
                        <a class="credit_link" href="{:U('forum/task')}">
                            <div class="inner">
                                <span class="icon">&nbsp;</span>
                                <span class="name">积分活动</span>
                                <span class="desc">赚积分</span>
                                <span class="arrow">&nbsp;</span>
                            </div>
                        </a>
                    </li>

                    <!--
                    <li class="personal-menu-item">
                        <a class="badge_link" href="{:U('forum/badge')}">
                            <div class="inner">
                                <span class="icon">&nbsp;</span>
                                <span class="name">徽章达人</span>
                                <span class="desc">晒朋友</span>
                                <span class="arrow">&nbsp;</span>
                            </div>
                        </a>
                    </li>-->

                </ul>
            </div>

            <div class="row-box">
                <ul class="personal-menu">

                    <li class="personal-menu-item">
                        <a class="order_link" href="/forum.php?mod=order&action=myorder">
                            <div class="inner">
                                <span class="icon">&nbsp;</span>
                                <span class="name">我的订单</span>
                                <span class="arrow">&nbsp;</span>
                            </div>
                        </a>
                    </li>

                    <li class="personal-menu-item">
                        <a class="article_link" href="/forum.php?mod=personal&action=thread">
                            <div class="inner">
                                <span class="icon">&nbsp;</span>
                                <span class="name">我的文章</span>
                                <span class="arrow">&nbsp;</span>
                            </div>
                        </a>
                    </li>

                    <li class="personal-menu-item">
                        <a class="setting_link" href="/home.php?mod=spacecp">
                            <div class="inner">
                                <span class="icon">&nbsp;</span>
                                <span class="name">我的设置</span>
                                <span class="arrow">&nbsp;</span>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>

            {else}
            <div class="row-box" style="border-top:1px solid #EDEDED;">
                <!--{template forum/personal_thread}-->
            </div>
            {/if}

        </div>
		
	</div>

<!--{/if}-->

<!--{if $action=='thread'}-->

	{eval $headnav_name = '个人中心'}
	<!--{template common/headnav}-->
	<!--{template forum/personal_thread}-->
	
<!--{/if}-->

<script>
	jQuery(function(){

        {if IN_WECHAT}
		//处理异步头像
		jQuery.getJSON(
			'{:U("forum/ajax/updataAvatar")}',
			function(data){
				if(data.result==1){
					jQuery('img.personal-avatar').attr('src',data.data);
				}
			}
		);
        {/if}
	});
</script>

<!--{template common/buttons}-->

<!--{template common/footer}-->

