<!--{template common/header}-->
<!--{if $special != 2 && $special != 4 && !($isfirstpost && $sortid)}-->
<!--{eval $adveditor = $isfirstpost && $special && ($_GET['action'] == 'newthread' || $_GET['action'] == 'reply' && !empty($_GET['addtrade']) || $_GET['action'] == 'edit' );}-->

{eval $scriptArray[] = "/static/js/mobile/common.js"; }

<style>
	body { background-color: #f8f8f8;}
</style>

{eval $headnav_name = strip_tags($_G['forum']['name']) ? strip_tags($_G['forum']['name']) : $_G['forum']['name'];}
<!--{template common/headnav}-->

<form method="post" id="postform" 
			{if $_GET[action] == 'newthread'}action="forum.php?mod=post&action={if $special != 2}newthread{else}newtrade{/if}&fid=$_G[fid]&extra=$extra&topicsubmit=yes&mobile=2"
			{elseif $_GET[action] == 'reply'}action="forum.php?mod=post&action=reply&fid=$_G[fid]&tid=$_G[tid]&extra=$extra&replysubmit=yes&mobile=2"
			{elseif $_GET[action] == 'edit'}action="forum.php?mod=post&action=edit&extra=$extra&editsubmit=yes&mobile=2" $enctype
			{/if}>
<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />
<input type="hidden" name="posttime" id="posttime" value="{TIMESTAMP}" />
<!--{if !empty($_GET['modthreadkey'])}--><input type="hidden" name="modthreadkey" id="modthreadkey" value="$_GET['modthreadkey']" /><!--{/if}-->

<!--{if $_GET[action] == 'reply'}-->
	<input type="hidden" name="noticeauthor" value="$noticeauthor" />
	<input type="hidden" name="noticetrimstr" value="" />
	<input type="hidden" name="noticeauthormsg" value="$noticeauthormsg" />
	<!--{if $reppid}-->
		<input type="hidden" name="reppid" value="$reppid" />
	<!--{/if}-->
	<!--{if $_GET[reppost]}-->
		<input type="hidden" name="reppost" value="$_GET[reppost]" />
	<!--{elseif $_GET[repquote]}-->
		<input type="hidden" name="reppost" value="$_GET[repquote]" />
	<!--{/if}-->
<!--{/if}-->

<!--{if $_GET[action] == 'newthread'}-->
    <input type="hidden" name="fid" id="fid" value="{eval echo $_G['fid'] ? $_G['fid'] : 51; }" />
<!--{/if}-->

<!--{if $_GET[action] == 'edit'}-->
	<input type="hidden" name="fid" id="fid" value="{eval echo $_G['fid'] ? $_G['fid'] : 51; }" />
	<input type="hidden" name="tid" value="$_G[tid]" />
	<input type="hidden" name="pid" value="$pid" />
	<input type="hidden" name="page" value="$_GET[page]" />
<!--{/if}-->

<!--{if $special}-->
	<input type="hidden" name="special" value="$special" />
<!--{/if}-->

<!--{if $specialextra}-->
	<input type="hidden" name="specialextra" value="$specialextra" />
<!--{/if}-->

<!-- main postbox start -->
<div class="wp">
	<div class="post_from">
		<ul class="cl">
			<li class="bl_line threadTitle">
				<!--{if $_GET['action'] != 'reply'}-->
				<input type="text" tabindex="1" class="px" id="needsubject" size="30" autocomplete="off" value="$postinfo[subject]" name="subject" placeholder="{lang thread_subject}" fwin="login">
				<!--{else}-->
					$thread['subject']
				<!--{/if}-->
			</li> 
			<!--{if $isfirstpost && !empty($_G['forum'][threadtypes][types])}-->
			<li class="bl_line">
				<select id="typeid" name="typeid" class="sort_sel">
					<option value="0" selected="selected">{lang select_thread_catgory}</option>
					<!--{loop $_G['forum'][threadtypes][types] $typeid $name}-->
					<!--{if empty($_G['forum']['threadtypes']['moderators'][$typeid]) || $_G['forum']['ismoderator']}-->
					<option value="$typeid"{if $thread['typeid'] == $typeid || $_GET['typeid'] == $typeid} selected="selected"{/if}><!--{echo strip_tags($name);}--></option>
					<!--{/if}-->
					<!--{/loop}-->
				</select>
			</li>
			<!--{/if}-->
			<!--{if $_GET[action] == 'edit' && $isorigauthor && ($isfirstpost && $thread['replies'] < 1 || !$isfirstpost) && !$rushreply && $_G['setting']['editperdel']}-->
			<li class="bl_line" style="background-color: #FFF;">
				<input type="checkbox" name="delete" id="delete" class="pc" value="1" title="{lang post_delpost}{if $thread[special] == 3}{lang reward_price_back}{/if}"> {lang delete_check}
			</li>
			<!--{/if}-->
			<li class="bl_none area" style="background-color: #FFF;">
				<textarea class="pt" id="needmessage" tabindex="3" autocomplete="off" id="{$editorid}_textarea" name="$editor[textarea]" cols="80" rows="2"  placeholder="评论将由公众账号筛选后显示，对所有人可见。" fwin="reply">$postinfo[message]</textarea>
			</li>
		</ul>
		
		<div class="extraContentRow" id="qiniuupload_btn_box">
			<div class="buttonsRow">
				<input class="button" type="button" name="Filedata" id="qiniuupload_btn" value="图片" />
			</div>
			<ul id="imglist" class="post_imglist hide"></ul>
		</div>
		
		<!--{if $_GET[action] != 'edit' && ($secqaacheck || $seccodecheck)}-->
		<!--{subtemplate common/seccheck}-->
		<!--{/if}-->
		<!--{hook/post_bottom_mobile}-->
		
		<div class="buttonRow">
			<button id="postsubmit" type="button">提交</button>
		</div>
	</div>
</div>
<!-- main postbox start -->
</form>
<!--{else}-->
	<div class="box xg1">
	<!--{if $special == '2'}-->
	{lang send_special_trade_error}
    <!--{elseif $special == '4'}-->
	{lang send_special_activity_error}
	<!--{elseif $isfirstpost && $sortid}-->
	{lang threadsort_error}
    <!--{/if}-->
    </div>
<!--{/if}-->

<script type="text/javascript">
	(function() {
		var needsubject = needmessage = false;

		<!--{if $_GET[action] == 'reply'}-->
			needsubject = true;
		<!--{elseif $_GET[action] == 'edit'}-->
			needsubject = needmessage = true;
		<!--{/if}-->

		<!--{if $_GET[action] == 'newthread' || ($_GET[action] == 'edit' && $isfirstpost)}-->
		/*
		$('#needsubject').on('keyup input', function() {
			var obj = $(this);
			if(obj.val()) {
				needsubject = true;
				if(needmessage == true) {
					$('.btn_pn').removeClass('btn_pn_grey').addClass('btn_pn_blue');
					$('.btn_pn').attr('disable', 'false');
				}
			} else {
				needsubject = false;
				$('.btn_pn').removeClass('btn_pn_blue').addClass('btn_pn_grey');
				$('.btn_pn').attr('disable', 'true');
			}
		});*/
		<!--{/if}-->
		
		/*
		$('#needmessage').on('keyup input', function() {
			var obj = $(this);
			if(obj.val()) {
				needmessage = true;
				if(needsubject == true) {
					$('.btn_pn').removeClass('btn_pn_grey').addClass('btn_pn_blue');
					$('.btn_pn').attr('disable', 'false');
				}
			} else {
				needmessage = false;
				$('.btn_pn').removeClass('btn_pn_blue').addClass('btn_pn_grey');
				$('.btn_pn').attr('disable', 'true');
			}
		});*/

		$('#needmessage').on('scroll', function() {
			var obj = $(this);
			if(obj.scrollTop() > 0) {
				obj.attr('rows', parseInt(obj.attr('rows'))+2);
			}
		}).scrollTop($(document).height());
		
	 })();
</script>
<script type="text/javascript" src="{STATICURL}js/mobile/ajaxfileupload.js?{VERHASH}"></script>
<script type="text/javascript" src="{STATICURL}js/mobile/buildfileupload.js?{VERHASH}"></script>
<script type="text/javascript">
	var imgexts = typeof imgexts == 'undefined' ? 'jpg, jpeg, gif, png' : imgexts;
	var STATUSMSG = {
		'-1' : '{lang uploadstatusmsgnag1}',
		'0' : '{lang uploadstatusmsg0}',
		'1' : '{lang uploadstatusmsg1}',
		'2' : '{lang uploadstatusmsg2}',
		'3' : '{lang uploadstatusmsg3}',
		'4' : '{lang uploadstatusmsg4}',
		'5' : '{lang uploadstatusmsg5}',
		'6' : '{lang uploadstatusmsg6}',
		'7' : '{lang uploadstatusmsg7}(' + imgexts + ')',
		'8' : '{lang uploadstatusmsg8}',
		'9' : '{lang uploadstatusmsg9}',
		'10' : '{lang uploadstatusmsg10}',
		'11' : '{lang uploadstatusmsg11}'
	};
	var form = $('#postform');
	$(document).on('change', '#filedata', function() {
			popup.open('<img src="' + IMGDIR + '/imageloading.gif">');

			uploadsuccess = function(data) {
				
				if(data == '') {
					popup.open('{lang uploadpicfailed}', 'alert');
				}
				var dataarr = data.split('|');
				if(dataarr[0] == 'DISCUZUPLOAD' && dataarr[2] == 0) {
					popup.close();
					$('#imglist').append('<li><span aid="'+dataarr[3]+'" class="del"><a href="javascript:;"><img src="{STATICURL}image/mobile/images/icon_del.png"></a></span><span class="p_img"><a href="javascript:;"><img style="height:54px;width:54px;" id="aimg_'+dataarr[3]+'" title="'+dataarr[6]+'" src="{$_G[setting][attachurl]}forum/'+dataarr[5]+'" /></a></span><input type="hidden" name="attachnew['+dataarr[3]+'][description]" /></li>');
				} else {
					var sizelimit = '';
					if(dataarr[7] == 'ban') {
						sizelimit = '{lang uploadpicatttypeban}';
					} else if(dataarr[7] == 'perday') {
						sizelimit = '{lang donotcross}'+Math.ceil(dataarr[8]/1024)+'K)';
					} else if(dataarr[7] > 0) {
						sizelimit = '{lang donotcross}'+Math.ceil(dataarr[7]/1024)+'K)';
					}
					popup.open(STATUSMSG[dataarr[2]] + sizelimit, 'alert');
				}
			};

			if(typeof FileReader != 'undefined' && this.files[0]) {//note 支持html5上传新特性
				
				$.buildfileupload({
					uploadurl:'misc.php?mod=swfupload&operation=upload&type=image&inajax=yes&infloat=yes&simple=2',
					files:this.files,
					uploadformdata:{uid:"$_G[uid]", hash:"<!--{eval echo md5(substr(md5($_G[config][security][authkey]), 8).$_G[uid])}-->"},
					uploadinputname:'Filedata',
					maxfilesize:"$swfconfig[max]",
					success:uploadsuccess,
					error:function() {
						popup.open('{lang uploadpicfailed}', 'alert');
					}
				});

			} else {

				$.ajaxfileupload({
					url:'misc.php?mod=swfupload&operation=upload&type=image&inajax=yes&infloat=yes&simple=2',
					data:{uid:"$_G[uid]", hash:"<!--{eval echo md5(substr(md5($_G[config][security][authkey]), 8).$_G[uid])}-->"},
					dataType:'text',
					fileElementId:'filedata',
					success:uploadsuccess,
					error: function() {
						popup.open('{lang uploadpicfailed}', 'alert');
					}
				});

			}
	});

	<!--{if 0 && $_G['setting']['mobile']['geoposition']}-->
	geo.getcurrentposition();
	<!--{/if}-->
	
	$('#postsubmit').on('click', function() {
		var obj = $(this);
		if(obj.attr('disable') == 'true') {
			return false;
		}

		//obj.attr('disable', 'true').removeClass('btn_pn_blue').addClass('btn_pn_grey');
		popup.open('<img src="' + IMGDIR + '/imageloading.gif">');

		var postlocation = '';
		if(geo.errmsg === '' && geo.loc) {
			postlocation = geo.longitude + '|' + geo.latitude + '|' + geo.loc;
		}

		$.ajax({
			type:'POST',
			url:form.attr('action') + '&geoloc=' + postlocation + '&handlekey='+form.attr('id')+'&inajax=1',
			data:form.serialize(),
			dataType:'xml'
		})
		.success(function(s) {
			popup.open(s.lastChild.firstChild.nodeValue);
		})
		.error(function() {
			popup.open('{lang networkerror}', 'alert');
		});
		return false;
	});

	$(document).on('click', '.del', function() {
		var obj = $(this);
		$.ajax({
			type:'GET',
			url:'forum.php?mod=ajax&action=deleteattach&inajax=yes&aids[]=' + obj.attr('aid'),
		})
		.success(function(s) {
			obj.parent().remove();
		})
		.error(function() {
			popup.open('{lang networkerror}', 'alert');
		});
		return false;
	});

</script>

<script src="/static/js/vivo/plupload-2.1.2/js/moxie.js"></script>
<script src="/static/js/vivo/plupload-2.1.2/js/plupload.dev.js"></script>
<script src="/static/js/vivo/qiniu-js-sdk/src/qiniu.js"></script>
<script>
	var progress = 0;
	var bgUploader = Qiniu.uploader({
		    runtimes: 'html5,flash,html4',    //上传模式,依次退化
		    browse_button: 'qiniuupload_btn',       //上传选择的点选按钮ID，**必需**
		    uptoken_url: 'forum.php?mod=ajax&action=getQiNiuToken',
		    domain: 'http://7u2qq8.com1.z0.glb.clouddn.com/',
		    container: 'qiniuupload_btn_box',           //上传区域DOM ID，默认是browser_button的父元素，
		    max_file_size: '2mb',           //最大文件体积限制
		    flash_swf_url: '/static/js/vivo/plupload-2.1.2/js/Moxie.swf',  //引入flash,相对路径
		    max_retries: 3,                   //上传失败最大重试次数
		    dragdrop: true,                   //开启可拖曳上传
		    drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
		    chunk_size: '4mb',                //分块上传时，每片的体积
		    auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
		    init: {
		        'FileUploaded': function(up, file, info) {
		        	
		        	log('上传图片成功');
		        	
		        	var domain = up.getOption('domain');
		        	var res = jQuery.parseJSON(info);
		        	var sourceLink = domain + res.key;
//					jQuery('#imgqiniulist ul').append("<li><img src='"+sourceLink+"' onclick='insertQiNiuImgTag(this);doane(event);'></li>");
		        	jQuery.getJSON('/forum.php?mod=ajax&action=insert_gallery_image&fastpost=1&url='+encodeURIComponent(sourceLink),function(data){
		        		
		        		//var item = jQuery("<li></li>").html(data.data.html).text();
		        		
		        		var item = jQuery('<li></li>');
		        		var item_close = jQuery('<a class="remove-btn" href="javascript:;">x</a>')
		        		.click(function(){
		        			jQuery(this).parent().remove();
		        		});
		        		var item_image = jQuery('<div></div>');
		        		item_image.append(jQuery('<img />').attr('src', sourceLink).attr('alt', ''));
		        		item_control = jQuery('<input type="hidden" name="images[]" />').attr('value', sourceLink);
		        		
		        		item.append(item_close);
		        		item.append(item_image);
		        		item.append(item_control);
		        		jQuery('#imglist').removeClass('hide').append(item);
		        		item.find('img').each(function(){
		        			setVerticalMiddle(this);
		        		});
		        	});
		        },
		        'Error': function(up, err, errTip) {
		        	var htmlButton = '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>';
		        	var alert = jQuery('<div class="alert hide"></div>');
		        	alert.html(htmlButton+errTip)
		        	  .addClass('alert-danger').removeClass('hide')
		        	  .attr('role', 'alert');
		        	jQuery("#wrapperError").append(alert);
		        },
	          'BeforeUpload': function(up, file){
	          		//printObject(file);
	           		createProgressDialog('image_upload_progress_' + file.id, 0);
	           },
		       'UploadComplete': function() {
					return;
		        },
	          'UploadProgress': function(up, file)
	           {
	           		updateProgressDialog('image_upload_progress_' + file.id, file.percent);
	           		if (file.percent == 100) {
	           			removeProgressDialog('image_upload_progress_' + file.id);
	           		}
	           },
		       'Key': function(up, file) {
		           // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
		           // 该配置必须要在 unique_names: false , save_key: false 时才生效
	               
	               var date = new Date();
	               var key = "banner/pid"+jQuery("#form_tid").val()+"_"+date.getFullYear()+(date.getMonth()+1)+date.getDate()+date.getTime();
	               // do something with key here
	               return key;
		       }
		    }
	});
</script>

<!--{eval $nofooter = true;}-->
<!--{template common/footer}-->
