<!--{template common/header}-->

<style>body{padding: 0px;}</style>
<div class="touch-credit-container">
	{eval $spacecp_credit_header_type = 'buy';}
	<!--{template home/spacecp_credit_header}-->
	<div class="credit-product-list-container" id="credit-product-list-container">
		<ul class="credit-product-list" id="credit-product-list">
            {if $products}
                {eval $group = $_G['cache']['usergroups'][$profile['groupid']];}
                {loop $products $p}
                {eval $media_list = getMediaList($p);}
                <li class="credit-product">
                    <div class="img-container"><img src="{$media_list[0][media_url]}"></div>
                    <p class="credit-product-subject">{$p[subject]}</p>
                    <button class="credit-product-buy" onclick="location.href='/forum.php?mod=product&action=view&spid={$p[spid]}'">换购</button>
                    <p class="credit-product-price">
                        <span class="old-price">￥{$p[price]}</span>
                        <span class="new-price">$group[grouptitle]特价:???</span>
                    </p>
                </li>
                {/loop}
            {else}
                <li class="credit-product" style="text-align: center">
                    暂无积分商品
                </li>
            {/if}
		</ul>
	</div>
</div>
<script>
jQuery(function(){
	var product_width = 0;
	jQuery("#credit-product-list").each(function(index){
		var _ = jQuery(this),
			_width = _.width(),
			_height = 0,
			productCount = 0;
		_.find(".credit-product").each(function(index){
			var _this = jQuery(this),
				imgContainer = _this.find(".img-container"),
				_thisWidth = _width * 0.9;
			product_width = _thisWidth;
			
			_this.css("width", _thisWidth + "px");
			imgContainer.css("height", imgContainer.width() + "px");
			var h = _this.height() + 4;
			if( h > _height){
				_height = h;
			}
			productCount++;
		});
		_.css("width", productCount * 100 + "%");
		_.css("height", _height + "px");
		var p = _.parent();
		p.css({
			"height": _height + "px"
		});
		p.animate({
			"opacity": 1
		}, 1500);
	});
 
 	/*
 	var items_position = 0;
	jQuery("#credit-product-list").swipe(function(e, touch){

		
		// 判断是左还是右
		if(touch.direction == "left"){
			move(-1);
		}else if(touch.direction == "right"){
			move(+1);
		}
	});
	*/
	var items_position = 0;
	function galleryMove(obj, offset){
		var _ = jQuery(obj);
		var items = _.find(".credit-product"),
			itemsNum = items.length,
			p = items_position + offset;
			
		if(p <= 0 && p > (-1) * itemsNum ){
			var itemWidth = product_width + parseInt(jQuery(items[0]).css("margin-right")),
				_x = parseInt(_.css("left")),
				moveDistance = _x + (offset * itemWidth);
			_.animate({
				"left": moveDistance + "px"
			},600);
			items_position = p;
		}
	}
	function touchAction(x1, x2){
		var s = 10,		// 误差大小
			dis = x1 - x2;
		if(Math.abs(dis) > s){
			if(dis < 0){
				// right
				galleryMove(box, 1);
			}else{
				// left
				galleryMove(box, -1);
			}
		}
	}
	var box = document.getElementById("credit-product-list"),
		s_x = 0,
		e_x = 0;
	box.addEventListener("touchstart", function(e){
		var f1 = e.changedTouches[0];
		s_x = f1['clientX'];
	}, false);
	box.addEventListener("touchmove", function(e){
		var f1 = e.changedTouches[0];
		e_x = f1['clientX'];
		touchAction(s_x, e_x);
	}, false);
});
</script>
<!--{template common/footer}-->