<!--{template common/header}-->
<style>body{background: #f1f1f1;margin-bottom: 60px;padding-top:0px;}</style>
	<ul class="quick-btn-list">
		<li class="quick-btn">
			<a href="/forum.php?mod=product&action=list"><img class="quick-btn-icon" src="/static/image/vivo/mobile/product-detail-gohome.png"></a>
		</li>
	</ul>
    <div class="container-fluid">
      <div class="productDetail row">
        <div class="col-xs-12 product-detail-box product-detail-picbox">
          {eval}
          $media_list = json_decode(htmlspecialchars_decode($product['media_list']), true);
          {/eval}
          <div class="productImageContainer swiper-container">
            <!--<div class="showArea">
              {if count($media_list)}
              <img src="{$media_list[0][media_url]}" data-zoom-image="" alt="" />
              {/if}
            </div>-->
            <div class="thumbnailImages swiper-wrapper">
              {eval}
              $index_image = 1;
              foreach($media_list as $image) :
              {/eval}
              <div class="swiper-slide{eval echo $index_image === 1 ? ' active' : ''; }">
                <a href="{$image[media_url]}">
                  <img class="img-responsive" src="{$image[media_url]}?imageView2/2/w/480" data-zoom-image="/Public/images/demo_p5.jpg" alt="" />
                </a>
              </div>
              {eval $index_image++; endforeach; }

            </div>
            <div class="swiper-pagination"></div>
          </div>
          
          <div class="product-touch-info">
          	<h1>{eval echo (empty($product['subject'])) ? $product['name'] : $product['subject']}</h1>
             <p class="product-price">
              	<strong>
              		{if $productonsell['type'] == 0}
              		<!--人民币商品-->
              		￥{$product[discount_price]}
              		{else}
              		<!--积分商品-->
              		{$product[discount_price]}&nbsp;<font style="font-size: 14px;">{$_G['setting']['extcredits'][$_G['setting']['creditstrans']]['title']}</font>
              		{/if}
              	</strong>
              	&nbsp;&nbsp;
              	<span class="payment">货到付款</span>
              	{if $product[expiration] > 0}
              	<span class="hotsale">限时热卖</span>
              	{/if}
             </p>
             <p class="product-location">
             	<span>{$product[area]}</span>
             </p>
          </div>
        </div>
		<div style="clear: both;"></div>
 		<ul class="product-tab" id="product-tab">
 			<li data-tab = "thread">商品口碑</li>
 			<li data-tab = "desc">商品详情</li>
 			<li data-tab = "spec">商品规格</li>
 		</ul>
 		
 		<div style="margin-top: 0;background: #fff;border-top: none;" class="product-detail-box" id="tab-content">
 			<div class="tab-content-item" id="thread-content">
 				<!--{template forum/product_thread}-->
 			</div>
 			<div class="tab-content-item productDescription" id="desc-content">
 				<!--{template forum/product_desc}-->
 			</div>
 			<div class="tab-content-item" id="spec-content">
 				{eval $spec=unserialize($product['spec'])}
 				<ul class="spec-ul">
 					{loop $spec $sk $sv}
 					{eval $name = M('common_product_spec')->field('name')->find($sk);}
 					<li><span>{$name['name']}</span>{$sv}</li>
 					{/loop}
 				</ul>
 			</div>
 		</div>
		
      </div><!-- end .productDetail -->

    </div><!-- end .container-fluid -->
    
    <div class="product-submit-button">
    	{if $product[expiration] <= 0}
    	<div class="product-submit-button-left buy-now" onclick="location.href='/forum.php?mod=order&action=buy&spid={$product[spid]}'">立即购买</div>
    	{else}
    	<div class="product-submit-button-left product-detail-time" id="productCountTimerDetail"></div>
    	{/if}
    	<div class="sure-btn {if $_G['uid']}{if !$buyAbleNum}nosale{/if}{/if}" id="touch-product-btn">
    	  <form  action="forum.php" method="get" id="touch-product-form">
            <input type="hidden" name="mod" value="order">
            <input type="hidden" name="action" value="showmycart">
            <input type="hidden" name="spid" id="spid" value="{$product[spid]}">
			
            <input id="buyCount" type="hidden" name="num" value="{eval echo $buyAbleNum > 0 || $buyAbleNum == -1 ? '1' : '0'; }" />
            <input id="buyAbleNum" type="hidden" name="buyableNum" value="{eval echo $buyAbleNum;}" />
            <input id="sellStart" type="hidden" name="" value="{eval echo $product['dateline']; }" />
            <input id="sellEnd" type="hidden" name="" value="{eval echo $product['expiration']; }" />
          	<!--{if $isApp}-->
				<input type="hidden" name="platform" value="app" />
			<!--{/if}-->
    	  </form>
          {if $_G['uid']}
          	{if $buyAbleNum}加入购物车{else}已失效{/if}
          {else}
          	加入购物车
          {/if}
       </div>
       <div class="clearfix"></div>
    </div>
    
	<script>
		lock_ajax_postlist = 1;
		const TIMESTAMP = "{TIMESTAMP}";
		var product_expiration = "{$product[expiration]}";
		var uid = {$_G['uid']},
			buyAbleNum = {$buyAbleNum};
		jQuery(function (){
			
			//商品tab
			jQuery('#desc-content').show();
			jQuery('#product-tab li[data-tab="desc"]').addClass('on');
			jQuery(".product-tab li").click(function(){
				var _this = jQuery(this) ,
				    _target=jQuery('#'+_this.attr('data-tab')+'-content');
				_target.show(200).siblings().hide();
				_this.addClass('on').siblings().removeClass('on');
				jQuery("html,body").animate({scrollTop:_this.offset().top},500);
			});
			
			jQuery("#productCountTimerDetail").countTimer({
			    "beginTime": TIMESTAMP,
			    "endTime": product_expiration,
			    'ismobile': 'nodetail'
			});
			//查看文章
			jQuery(".product-detail-thread").click(function(){
				var _tid = jQuery(this).attr('date-tid');
				var param = SITEURL + 'forum.php?mod=viewthread&tid=' + _tid;
				if(isApp()){
					param = _tid;
				}
				sendAppCommand('loadProductForum',param);
			});
			//购买操作
			jQuery('#touch-product-btn').click(function(){
				//判断登陆
				if(uid > 0){
					if(buyAbleNum > 0){
						jQuery.ajax({
							"type":"POST",
							"url":"forum.php",
							"data":{
								"mod":"order",
								"action":"ajaxmycartadd",
								"spid":jQuery("#spid").val(),
								"num":jQuery("#buyCount").val()
							},
							"dataType":"json",
							"success":function(data){
								if(data.result == 1){
									jQuery('#touch-product-form').submit();
								}else{
									log(data);
								}
							}
						})
					}else{
						return false;
					}
				}else{
					var _this_url = window.location.href;
					//未登陆,提示APP
					if(isApp()){
						sendAppCommand('loadLoginPage',_this_url);
					}else{
						//如果不是APP，直接跳转
						window.location.href= SITEURL + 'member.php?mod=logging&action=login&mobile=2';
					}
				}
			});
		});
		
	{if IN_WECHAT}
      //微信分享配置
      wxshareTitle = '{:delete_blank((empty($product['subject'])) ? $product['name'] : $product['subject'])}'; //分享标题
	  wxshareImg = '{$media_list[0][media_url]}'; //分享图片
	  {eval}
	  $descText_temp = cutstr(delete_blank(preg_replace("/\<img.*>/i",'',$descText)),30);
	  {/eval}
	  wxshareDesc = '{$descText_temp}'; //分享详情
	{/if}
	</script>
	
	{eval}
		// 
		$scriptArray[] = '/static/jquery/Swiper/dist/js/swiper.jquery.min.js';
		
		// 延迟加载图片的插件
		$scriptArray[] = '/static/jquery/jquery_lazyload/jquery.lazyload.min.js';
		
		// 手机版商品详情页脚本
		$scriptArray[] = '/static/js/vivo/mobile/mobile_product.js';
	{/eval}
	
	{eval $nofooter=true;}
<!--{template common/footer}-->
