<!--商品口碑-->
<!--{loop $threadList $tk $t}-->
<div class="col-xs-12 product-detail-thread" date-tid="{$t['tid']}">
	<h3 class="thread-title">商品口碑（{$t['replies']}）</h3>
	<p class="thread-head">{avatar($t['authorid'],'small')}&nbsp;&nbsp;{$t['author']}</p>
	<p class="thread-body">
		{eval echo htmlspecialchars_decode($t['summary'])}
	</p>
	<p class="thread-readmore">查看更多</p>
</div>
<!--{/loop}-->
<!--商品口碑 end-->