<!--{template common/header}-->
<script>lock_ajax_postlist=1;</script>

    <!--轮播图-->
    <style>
        .swiper-container {
            width: 100%;
            height: 500px;

        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    </style>

    <!--返回按钮-->
    <div class="return-btn" onclick="location.href='/';"><span class="glyphicon glyphicon-chevron-left"></span></div>

    <link rel="stylesheet" href="{STATICURL}jquery/unslider/style.css" type="text/css">
    <script src="{STATICURL}jquery/unslider/jquery.event.swipe.js"></script>
    <script src="{STATICURL}jquery/unslider/unslider.min.js"></script>

    <!-- 轮播图 -->
    <div class="unslider-banner">
        <ul>
            {eval $slider = unserialize($_G['setting']['shopslider'])}
            {loop $slider $key $val}
            <li onclick="location.href='{:U('forum/product/view',array('spid'=>$val['spid']))}';"><img src="{$val['url']}" ></li>
            {/loop}
        </ul>
    </div>

    <script>
        jQuery(function(){
            jQuery('.unslider-banner').unslider({
                speed: 500,               //  The speed to animate each slide (in milliseconds)
                delay: 3000,              //  The delay between slide animations (in milliseconds)
                complete: function() {},  //  A function that gets called after every slide animation
                keys: true,               //  Enable keyboard (left, right) arrow shortcuts
                dots: true,               //  Display dot navigation
                fluid: false              //  Support responsive design. May break non-responsive designs
            });
            //修复高度
            jQuery('.unslider-banner').find('img').css('width','100%');
            var new_height = (parseInt(jQuery('body').width())/320)*180;
            jQuery('.unslider-banner').css('height',  new_height).find('ul').css('height', new_height );
            jQuery('.unslider-banner').find('ul>li').css('height', new_height );
        });
    </script>

    <!--按钮-->

    <ul class="product-btn-ul">
        <li onclick="location.href='{:U('forum/order/myorder')}';">
            <div class="myorder"><span class="glyphicon glyphicon-tasks"></span></div>
            <p>我的订单</p>
        </li>
        <li id="kefu">
            <div class="myorder kefu"><span class="glyphicon glyphicon-phone-alt"></span></div>
            <p>联系客服</p>
        </li>
        <li onclick="location.href='{:U('forum/order/showmycart')}';">
            <div class="myorder cart"><span class="glyphicon glyphicon-shopping-cart"></span></div>
            <p>购物车</p>
        </li>
    </ul>

	<!--商品列表-->
	<div class="touch-productlist">
		<ul>
			<!--{loop $list $k $l}-->
			<li date-spid="{$l['spid']}">
				<div class="poductlist-bg">
					<img src="{$l['mobile_banner']}" >
					{if $l[expiration] > 0}
					<p class="time-counter" id="time-counter-{$l['spid']}"></p>
					{/if}
				</div>
				<p class="subject">{:cutstr($l['subject'],34)}</p>
			</li>
			<!--{/loop}-->
			<li style="display: none;text-align: center;" id="loading">loading</li>
		</ul>
	</div>
	{eval}
		//$scriptArray[] = '/static/js/vivo/mobile/mobile_product.js';
	{/eval}
	<!--商品列表end-->

    <!--联系客服 隐藏框 -->
    <div class="m-global-tips">
        <dl class="clearfix">
            <dd><p>联系客服</p>请添加微信公众号：意大利原生活服务</dd>
        </dl>
        <div class="text-center m-global-btngroup">
            <button type="button" class="btn btn-default confirm">确 定</button>
        </div>
    </div>

	<script>
    
	jQuery(function(){

        //联系客服
        jQuery("#kefu").click(function(){
            jQuery('.m-global-tips').show(100);
        });

        jQuery('.m-global-btngroup .confirm').click(function(){
            jQuery('.m-global-tips').hide(100);
        });





		jQuery('.touch-productlist ul li').click(function(){
			var _this = jQuery(this);
			var _spid = _this.attr('date-spid');
			var _url = SITEURL + 'forum.php?mod=product&action=view&spid=' + _spid;
			if(isApp()){
				_url=_url+'&platform=app';
			}
			sendAppCommand('loadProduct',_url);
		});
		
		var now_page = {$page};
		var total_page = {$pagecount};
		var lock_page = 0;
		//滚动加载数据
		jQuery(window).scroll(function(){
			//$(window).scrollTop()这个方法是当前滚动条滚动的距离
	        //$(window).height()获取当前窗体的高度
	        //$(document).height()获取当前文档的高度
	        var _url = '/forum.php?mod=product&action=list';
	        var loadingObj =  jQuery('#loading');
	        if (($(window).scrollTop()) >= ($(document).height() - $(window).height()) && now_page <= total_page) {
	            //当底部基本距离+滚动的高度〉=文档的高度-窗体的高度时；
	            //我们需要去异步加载数据了
	            loadingObj.fadeIn();
	            if(lock_page==1){
	            	setTimeout(function(){lock_page=0;},5000);
	            	return;
	            }
	            lock_page = 1;
	            $.getJSON(_url, {page: now_page+1}, function (data) {
	            	//加载成功
	            	if(data.result){
	            		var loaddata = '';
	            		var list = data.list;
	            		for (var i=0;i<list.length;i++){
		            		loaddata += '<li date-pdid="'+list[i]['pdid']+'">'+
											'<div class="poductlist-bg">'+
												'<img src="{$_G[setting][attachurl]}product/'+list[i]['main_pic']+'" >'+
												'<p class="time-counter" id="time-counter-'+list[i]['spid']+'"></p>'+
											'</div>'+
											'<p class="subject">'+list[i]['subject']+'</p>'+
										'</li>';
						}
	            		jQuery(loaddata).insertBefore(loadingObj);
	            		loadingObj.fadeOut();
	            		lock_page = 0;
	            	}else{
	            		 loadingObj.html('翻到最后了哦！').fadeOut();
	            	}
	            	now_page++;
	            });
	            
	        }
		});
		
	});
	</script>

<!--{template common/footer}-->
