<!--{template common/header}-->
	{eval $headnav_name = '商品分类';}
	<!--{template common/headnav}-->
	<div class="product-series-container" id="seriesContainer">
		<div class="sub-container">
			{eval}
				$baseurl = 'forum.php?mod=product&action=list';
				$i = 0;
			{/eval}
			{loop $productseries $psid $series}
			<ul id="sublist_{$psid}" class="sub-list {if ($inputPsid != 0 && $inputPsid == $psid) || ($inputPsid == 0 && $i == 0)}active{/if}">
				{loop $series[sub] $subid $sub}
					<li class="sub"><a href="{$baseurl}&psid={$subid}&psup={$psid}">{$sub}</a></li>
				{/loop}
				{eval $i++;}
			</ul>
			{/loop}
		</div>
		{eval $i = 0;}
		<div class="group-container">
			<ul class="group-list">
				<li class="group" onclick="location.href='{$baseurl}'">全部商品</li>
				{loop $productseries $psid $series}
				<li class="group {if ($inputPsid != 0 && $inputPsid == $psid) || ($inputPsid == 0 && $i == 0)}active{/if}" data-content="{$psid}">{$series[series]}</li>
				{eval $i++;}
				{/loop}
			</ul>
		</div>
	</div>
	<script>
		function changeSubDisplay(psid, isactive){
			if(isactive){
				jQuery("#sublist_" + psid).addClass("active");
			}else{
				jQuery("#sublist_" + psid).removeClass("active");
			}
		}
		jQuery(function(){
			jQuery("#seriesContainer .group").click(function(){
				var _this = jQuery(this),
					psid = _this.attr("data-content");
				
				_this.siblings(".group").each(function(){
					var _this = jQuery(this);
					if(_this.hasClass("active")){
						var psid = _this.attr("data-content");
						changeSubDisplay(psid, false);
						_this.removeClass("active");
					}
				});
				
				_this.addClass("active");
				changeSubDisplay(psid, true);
			});
		});
	</script>
<!--{template common/footer}-->