<!--{template common/header}-->
<link rel="stylesheet" href="/static/css/mobile/personal_mod.css">

	<div class="task_index">
		
		<div class="task_list">

            <ul class="task_header">
                <li {if $isreward==0}class="on"{/if} onclick="location.href='{:U('forum/task/list',array('isreward'=>0))}';">进行任务</li>
                <li {if $isreward==1}class="on"{/if} onclick="location.href='{:U('forum/task/list',array('isreward'=>1))}';">已获奖励</li>
            </ul>

            {if count($lists)}

			{loop $lists $k $v}
			<div class="task_item new_task" onclick="location.href='{:U('forum/task/item',array('tid'=>$v['tid']))}';">
				<div class="wrapper">
                    <div class="description_box">{eval echo $v['user']?$v['user']['progress'].'%':'新'}</div>
                    <div class="title_box"></div>
                    <div class="title_text">{$v['name']}</div>
                    <div class="image_box">
                        <img src="{$v['pic']}" alt="图片" />
                    </div>
                    <div class="progress_box" style="width:{eval echo intval($v['user']['progress'] * 0.9); }%;"></div>
                    <div class="progress_backimg" style="width:{eval echo intval($v['user']['progress'] * 0.9); }%;"></div>
				</div>
			</div>
			{/loop}

            {else}
            <p class="task_notice">暂无任何任务</p>
            {/if}

		</div>
	</div>

{eval}
$return_url = '/forum.php?mod=personal';
{/eval}
<!--{template common/buttons}-->
	
<!--{template common/footer}-->
	
