<!--{template common/header}-->
<link rel="stylesheet" href="/static/css/mobile/personal_mod.css">
<style>
    body{background: #fff;color:#999;}
</style>

	<div class="task_doing">
		
		<div class="product_image">
			<div class="task-product-img">
                <img id="img" src="{$task['pic']}" alt="商品图片" />
            </div>
            <div class="task-product-progress-line"></div>
            <div class="task-progress"></div>
            <div class="task-progress-num"></div>
		</div>


        <div class="task_product_share_btn">
           <ul>
               <li><img class="show-share" data-sharetype="friend" src="/static/image/mobile/images/task-share-friend.png" ></li>
               <li><img class="show-share" data-sharetype="all" src="/static/image/mobile/images/task-share-all.png" ></li>
               <div style="clear: both;"></div>
           </ul>
        </div>

        <p style="text-align: center">————— 分享到好友、微信平台 ————— </p>
        <p style="text-align: center">马上赢奖品</p>

        <!--<div >-->
            <!--<div >-->
                <!--<a href="">看商品</a>-->
                <!--<a href="">我也要参加</a>-->
            <!--</div>-->
        <!--</div>-->

        <div class="task-product-title-tab">活动规则&nbsp;<span class="glyphicon glyphicon-list-alt"></span></div>

        <div class="task-product-desc">
            <img src="/static/image/mobile/images/task-product-desc.gif" >
        </div>

        <div class="task-product-sharelist-title">
            <img src="/static/image/mobile/images/task-product-sharelist.png">
        </div>

		<div class="task-product-sharelist">

            <ul>
                <p>暂无好友帮忙</p>
            </ul>
			
		</div>

		
	</div>


<script>


    wxshareLink = '{:U("forum/task",array("tid"=>$tid,"action"=>"item","uid"=>$uid),true)}'; //分享连接

	jQuery(function(){
        jQuery('.product_image').css('height',jQuery(this).width());

        jQuery.ajax({
            url : '{:U("task/play",array("tid"=>$task["tid"],"uid"=>$uid))}',
            dataType: 'json',
            type : 'GET',
            async: false,
            success: function(data){
                window.wxshareTitle = data.data.task.name; //分享标题
                window.wxshareImg = data.data.task.pic; //分享图片
                window.wxshareDesc = '我参加了这个活动，您也赶快来吧~'; //分享详情
                jQuery('.task-progress-num').html(data.data.task_user.progress);
                jQuery('.task-progress').css('height', ({$task['finish']}-parseInt(data.data.task_user.progress))+'%');
                jQuery('.task-product-progress-line').css('top',( parseInt(data.data.task_user.progress) != {$task['finish']} ? (({$task['finish']}-parseInt(data.data.task_user.progress))-12) : -20 )+'%');
            }
        });

//        jQuery.getJSON(
//			'{:U("task/play",array("tid"=>$task["tid"],"uid"=>$uid))}',
//			function(data){
//                window.wxshareTitle = data.data.task.name; //分享标题
//                window.wxshareImg = data.data.task.pic; //分享图片
//                window.wxshareDesc = '我参加了这个活动，您也赶快来吧~'; //分享详情
//                jQuery('.task-progress-num').html(data.data.task_user.progress);
//                jQuery('.task-progress').css('height', ({$task['finish']}-parseInt(data.data.task_user.progress))+'%');
//                jQuery('.task-product-progress-line').css('top',( parseInt(data.data.task_user.progress) != {$task['finish']} ? (({$task['finish']}-parseInt(data.data.task_user.progress))-12) : -20 )+'%');
//			}
//		);

        jQuery.getJSON(
                '{:U("task/getusers",array("tid"=>$task["tid"],"uid"=>$uid))}',
                function(data) {
                    var sharelist = jQuery('.task-product-sharelist ul');
                    if(data.result == 1){
                        sharelist.empty();
                        var _data = data.data.list;
                        for(var i= 0;i<_data.length;i++){
                            sharelist.append(sharelistItem(_data[i]));
                        }
                    }
                }
        );

        function sharelistItem(item){
            return  '<li>'+
                        '<div class="sharelist-header"><img src="'+ decodeURIComponent(item.avatar) +'" ></div>'+
                        '<div class="sharelist-content">'+
                            '<p>'+ item.nickname +'</p>'+
                            '<p>'+ item.progress +'</p>'+
                        '</div>'+
                        '<div class="clearfix"></div>'+
                    '</li>';
        }

        jQuery('.show-share').click(function(){
            var sharetype = jQuery(this).attr('data-sharetype');
            jQuery('<div/>').css({
                'position':'fixed',
                'top':0,
                'left':0,
                'background':'rgba(0,0,0,0.7)',
                'width':'100%',
                'height': '100%',
                'z-index': '100000',
                'color': '#ffffff',
                'font-size': '22px',
                'text-align': 'center',
                'padding-top':'10px'
            }).html('<img style="float: right" src="/static/image/vivo/wechat_share_arrow.png" width="150"><div style="clear: both;"></div><p style="margin-top: 30px;">猛戳右上角，' + (sharetype=='all' ? '分享到朋友圈' : '分享给朋友') + '</p>').appendTo(jQuery('body')).click(function(){
                jQuery(this).hide(100).remove();
            });
        });

    });

</script>

<!--{template common/footer}-->

