<!--{template common/header}-->
	
	<div class="task_doing">
		
		<ul class="my_article_list">
			<li class="article_item">
				<a href="">1.我写的第一篇文章</a>
			</li>
			<li class="article_item">
				<a href="">2.我写的第二篇文章</a>
			</li>
			<li>
				<a href="">更多</a>
			</li>
		</ul>
		
		<ul class="task_log_list">
			<li class="task_log_item">
				<p>用户A  浏览了该文章   完成了3%</p>
			</li>
			<li class="task_log_item">
				<p>用户B  分享了你的文章  完成了4%</p>
			</li>
		</ul>
		
		<div class="qr_image">
			<img src="" alt="二维码" />
		</div>
		
		<dl>
			<dt>规则：</dt>
			<dd>1.你的好友浏览该文章完成3%</dd>
			<dd>2.你的好友分享你的文章完成4%</dd>
		</dl>
		
	</div>
	
		
<!--{template common/footer}-->

