<!--{eval $threadsort = $threadsorts = null;}-->

{eval}
$bbcode = new bbcode();
require_once libfile('function/attachment');
$attachurl = $_G['setting']['attachurl'];
{/eval}

<!--{template common/header}-->

  <body>

    <div class="container-fluid grey-background">
      
      <!--{hook/viewthread_top_mobile}-->
      <!-- main postlist start -->
      <div class="postlist row default-background">

        <script>
          var threadId = '{$thread[tid]}';
          var postId = '{$post[pid]}';
          var pageNum = 0;
          var numberPerPage = {$_G['setting']['mobile']['mobilepostperpage']};
        </script>
        
        <h1 class="threadTitle col-xs-12">
                <!--{if $_G['forum_thread']['typeid'] && $_G['forum']['threadtypes']['types'][$_G['forum_thread']['typeid']]}-->
              [{$_G['forum']['threadtypes']['types'][$_G['forum_thread']['typeid']]}]
                  <!--{/if}-->
                  <!--{if $threadsorts && $_G['forum_thread']['sortid']}-->
                      [{$_G['forum']['threadsorts']['types'][$_G['forum_thread']['sortid']]}]
            <!--{/if}-->
            $_G[forum_thread][subject]
                  <!--{if $_G['forum_thread'][displayorder] == -2}--> <span>({lang moderating})</span>
                  <!--{elseif $_G['forum_thread'][displayorder] == -3}--> <span>({lang have_ignored})</span>
                  <!--{elseif $_G['forum_thread'][displayorder] == -4}--> <span>({lang draft})</span>
                  <!--{/if}-->
            <!--{if !IS_ROBOT && !$_GET['authorid'] && !$_G['forum_thread']['archiveid']}-->
              <!--<a href="forum.php?mod=viewthread&tid=$_G[tid]&page=$page&authorid=$_G[forum_thread][authorid]" rel="nofollow" class="blue" style="font-size:12px;font-weight:normal;margin-left:10px;">{lang viewonlyauthorid}</a>-->
            <!--{elseif !$_G['forum_thread']['archiveid']}-->
              <!--<a href="forum.php?mod=viewthread&tid=$_G[tid]&page=$page" rel="nofollow" class="blue" style="font-size:12px;font-weight:normal;margin-left:10px;">{lang thread_show_all}</a>-->
            <!--{/if}-->
        </h1>
        
        <div class="border-bottom col-xs-12">
          
          <div class="threadAuthor">
            <img class="img-circle" src="{eval echo avatar($thread['authorid'], 'small', true)}" alt="" />
            <span>{$thread['author']}</span>
          </div>

          <div class="threadInfo text-right">
            
            <span class="threadReplies">
              <img src="/static/image/vivo/ico_comment_2.gif" alt="评论" />
              <span class="number">{$thread['replies']}</span>
            </span>
            
            <span class="threadViews">
              <img src="/static/image/vivo/ico_view.gif" alt="阅读" />
              <span class="number">{$thread['views']}</span>
            </span>
            
          </div>

        </div>

        <div class="postMessage col-xs-12">{$thread_post[message]}</div>
        <!--<div class="postMessage col-xs-12">{$postMessage}</div>-->

        <!--{if count($products) > 0}-->
        <!--商品列表-->
        <div class="products-list-container col-xs-12">
          <ul class="products-list">
            
            <!--{loop $products $pk $p}-->
            <li class="products-list-item">
              
              <a href="forum.php?mod=product&pdid={$p['pdid']}">
                
                <div class="product-img-container">
                  <img class="product-img" src="{$_G['setting']['attachurl']}{$p['main_pic']}" alt="" />
                </div>

                <div class="product-info">

                  <p class="product-name">{$p['name']}</p>

                  <!--<div class="two_column">

                    <div class="left_column">
                      <div class="product-price">
                        <div class="price old">市场价：<span class="data old">￥{$p['costprice']}</span></div>
                        <div class="price new">会员价：<span class="data new">￥???.??</span></div>
                      </div>
                    </div>

                    <div class="right_column">
                      <button class="btn buyButton" onclick="location.href='forum.php?mod=product&pdid={$p['pdid']}'">
                        <img src="/static/image/vivo/ico_buy.gif" alt="购买" />
                      </button>
                    </div>

                  </div>-->


                </div>

                <div class="column_3">
                  <span>&gt;</span>
                </div>
              </a>
              
            </li>
            <!--{/loop}-->
          </ul>
        </div>
        
        {/if}
        
      </div>
      
      <div class="replylist row default-background">

        <!--{eval $postcount = 0;}-->
        {eval $postlist = array(); }
        <!--{loop $postlist $post}-->
        <!--{eval $needhiddenreply = ($hiddenreplies && $_G['uid'] != $post['authorid'] && $_G['uid'] != $_G['forum_thread']['authorid'] && !$post['first'] && !$_G['forum']['ismoderator']);}-->
        <!--{hook/viewthread_posttop_mobile $postcount}-->
        <div class="plc cl col-xs-12" id="pid$post[pid]">
          <span class="avatar"><img class="img-circle" src="<!--{if !$post['authorid'] || $post['anonymous']}--><!--{avatar(0, small, true)}--><!--{else}--><!--{avatar($post[authorid], small, true)}--><!--{/if}-->" /></span>
            <div class="display pi">
              <ul class="authi">
                <li class="grey">

                  <!--{if $post['authorid'] && $post['username'] && !$post['anonymous']}-->
                  <b class="pull-left"><a href="home.php?mod=space&uid=$post[authorid]" class="blue">$post[author]</a>
                  </b>

                  <!--{else}-->
                    <!--{if !$post['authorid']}-->
                    <a href="javascript:;">{lang guest} <em>$post[useip]{if $post[port]}:$post[port]{/if}</em></a>
                    <!--{elseif $post['authorid'] && $post['username'] && $post['anonymous']}-->
                    <!--{if $_G['forum']['ismoderator']}--><a href="home.php?mod=space&uid=$post[authorid]" target="_blank">{lang anonymous}</a><!--{else}-->{lang anonymous}<!--{/if}-->
                    <!--{else}-->
                    $post[author] <em>{lang member_deleted}</em>
                    <!--{/if}-->
                  <!--{/if}-->
                  
                  <!--{if $post[first]}-->
                  <em><a href="home.php?mod=spacecp&ac=favorite&type=thread&id=$_G[tid]" class="favbtn blue" <!--{if $_G[forum][ismoderator]}-->style="margin-right:10px;"<!--{/if}-->>{lang favorite}</a></em>
                  <!--{/if}-->
                  <span class="pull-right">$post[dateline]</span>
                  
                </li>
              </ul>
              <div class="message">
                        <!--{if $post['warned']}-->
                              <span class="grey quote">{lang warn_get}</span>
                          <!--{/if}-->
                          <!--{if !$post['first'] && !empty($post[subject])}-->
                              <h2><strong>$post[subject]</strong></h2>
                          <!--{/if}-->
                          <!--{if $_G['adminid'] != 1 && $_G['setting']['bannedmessages'] & 1 && (($post['authorid'] && !$post['username']) || ($post['groupid'] == 4 || $post['groupid'] == 5) || $post['status'] == -1 || $post['memberstatus'])}-->
                              <div class="grey quote">{lang message_banned}</div>
                          <!--{elseif $_G['adminid'] != 1 && $post['status'] & 1}-->
                              <div class="grey quote">{lang message_single_banned}</div>
                          <!--{elseif $needhiddenreply}-->
                              <div class="grey quote">{lang message_ishidden_hiddenreplies}</div>
                          <!--{elseif $post['first'] && $_G['forum_threadpay']}-->
                  <!--{template forum/viewthread_pay}-->
                <!--{else}-->

                            <!--{if $_G['setting']['bannedmessages'] & 1 && (($post['authorid'] && !$post['username']) || ($post['groupid'] == 4 || $post['groupid'] == 5))}-->
                                  <div class="grey quote">{lang admin_message_banned}</div>
                              <!--{elseif $post['status'] & 1}-->
                                  <div class="grey quote">{lang admin_message_single_banned}</div>
                              <!--{/if}-->
                              <!--{if $_G['forum_thread']['price'] > 0 && $_G['forum_thread']['special'] == 0}-->
                                  {lang pay_threads}: <strong>$_G[forum_thread][price] {$_G['setting']['extcredits'][$_G['setting']['creditstransextra'][1]][unit]}{$_G['setting']['extcredits'][$_G['setting']['creditstransextra'][1]][title]} </strong> <a href="forum.php?mod=misc&action=viewpayments&tid=$_G[tid]" >{lang pay_view}</a>
                              <!--{/if}-->

                              <!--{if $post['first'] && $threadsort && $threadsortshow}-->
                                <!--{if $threadsortshow['optionlist'] && !($post['status'] & 1) && !$_G['forum_threadpay']}-->
                                      <!--{if $threadsortshow['optionlist'] == 'expire'}-->
                                          {lang has_expired}
                                      <!--{else}-->
                                          <div class="box_ex2 viewsort">
                                              <h4>$_G[forum][threadsorts][types][$_G[forum_thread][sortid]]</h4>
                                          <!--{loop $threadsortshow['optionlist'] $option}-->
                                              <!--{if $option['type'] != 'info'}-->
                                                  $option[title]: <!--{if $option['value']}-->$option[value] $option[unit]<!--{else}--><span class="grey">--</span><!--{/if}--><br />
                                              <!--{/if}-->
                                          <!--{/loop}-->
                                          </div>
                                      <!--{/if}-->
                                  <!--{/if}-->
                              <!--{/if}-->
                              <!--{if $post['first']}-->
                                  <!--{if !$_G[forum_thread][special]}-->
                                      $post[message]
                                  <!--{elseif $_G[forum_thread][special] == 1}-->
                                      <!--{template forum/viewthread_poll}-->
                                  <!--{elseif $_G[forum_thread][special] == 2}-->
                                      <!--{template forum/viewthread_trade}-->
                                  <!--{elseif $_G[forum_thread][special] == 3}-->
                                      <!--{template forum/viewthread_reward}-->
                                  <!--{elseif $_G[forum_thread][special] == 4}-->
                                      <!--{template forum/viewthread_activity}-->
                                  <!--{elseif $_G[forum_thread][special] == 5}-->
                                      <!--{template forum/viewthread_debate}-->
                                  <!--{elseif $threadplughtml}-->
                                      $threadplughtml
                                      $post[message]
                                  <!--{else}-->
                                    $post[message]
                                  <!--{/if}-->
                              <!--{else}-->
                                  $post[message]
                              <!--{/if}-->

                <!--{/if}-->
            </div>

              <div>
              {eval}
              //echo '<p>pid= '.$post['pid'].'</p>';
              $table = new table_forum_attachment();
              $row = $table->fetch_by_tid_pid($thread['tid'], $post['pid']);
              if ($row)
              {
                $table = new table_forum_attachment_n();
                $row = $table->fetch($row['tableid'], $row['aid']);

                $img_src = $row['remote'] ? $row['attachment'] : $attachurl."forum/".$row['attachment'];
                echo sprintf('<a href="%s" rel="%s"><img src="%s" alt="" /></a>', $img_src, $post['pid'], $img_src);
              }
              {/eval}
              </div>


            <!--{if $_G['setting']['mobile']['mobilesimpletype'] == 0}-->
            <!--{if $post['attachment']}-->
                     <!--<div class="grey quote">
                     {lang attachment}: <em><!--{if $_G['uid']}-->{lang attach_nopermission}<!--{else}-->{lang attach_nopermission_login}<!--{/if}--></em>
                     <!--</div>-->
                  <!--{elseif $post['imagelist'] || $post['attachlist']}-->
                     <!--{if $post['imagelist']}-->
              <!--{if count($post['imagelist']) == 1}-->
              <ul class="img_one">{echo showattach($post, 1)}</ul>
              <!--{else}-->
              <ul class="img_list cl vm">{echo showattach($post, 1)}</ul>
              <!--{/if}-->
              <!--{/if}-->
                      <!--{if $post['attachlist']}-->
              <ul>{echo showattach($post)}</ul>
              <!--{/if}-->
            <!--{/if}-->
            <!--{/if}-->
            <!--{if $_G[uid] && $allowpostreply && !$post[first]}-->
            <div id="replybtn_$post[pid]" class="replybtn" display="true" style="display:none;position:absolute;right:0px;top:5px;">
              <input type="button" class="redirect button" href="forum.php?mod=post&action=reply&fid=$_G[fid]&tid=$_G[tid]&repquote=$post[pid]&extra=$_GET[extra]&page=$page" value="{lang reply}">
            </div>
            <!--{/if}-->

            <div class="postOpt">
              <a class="saygood" data-content="{$post[pid]}" data-type="" href="javascript:;">
                <img src="/static/image/vivo/ico_good_1.gif" alt="赞" />
                <span class="number">0</span>
              </a>
              <a class="reply" data-content="{$post[pid]}" href="javascript:;">
                <img src="/static/image/vivo/ico_comment_1.gif" alt="" />
                <span>回复</span>
              </a>
            </div>

          </div>
        </div>
        <!--{hook/viewthread_postbottom_mobile $postcount}-->
        <!--{eval $postcount++;}-->
        <!--{/loop}-->
        
        <div id="replyModel" class="plc cl col-xs-12 model">
          <span class="avatar">
            <img class="img-circle" src="">
          </span>
          <div class="display pi" href="">
            <ul class="authi">
              <li class="grey">
                <b class="pull-left"><a href="" class="blue"></a>
                </b>
                <span class="pull-right postTime"></span>
              </li>
            </ul>
            <div class="message"></div>

            <div class="postOpt">
              <a class="saygood" data-content="" data-type="" href="javascript:;">
                <img src="" alt="赞" />
                <span class="number"></span>
              </a>
              <a class="reply" data-content="" href="">
                <img src="/static/image/vivo/ico_comment_1.gif" alt="" />
                <span>回复</span>
              </a>
            </div>

          </div>
        </div>

      </div>
      <!-- main postlist end -->
      
      {eval $scriptArray[] = '/static/js/vivo/mobile/mobile_viewthread.js'; }
      
      <script>
      var comment_newest_id = 0;
      var comment_oldest_id = 0;
      var comment_newest_timeline = '{eval echo time(); }';
      var comment_oldest_timeline = '{eval echo time(); }';
      </script>
      
      <div id="loadingMoreComment" class="loadingMore row">
        <img src="/static/image/vivo/mobile/ajax-loader.gif" alt="loading: " />&nbsp;正在加载更多……
      </div>

    </div>
    
    <!-- tools -->
    <script src="{STATICURL}js/vivo/mobile/tools.js"></script>
   
    <!-- jQuery -->
    <script src="{STATICURL}jquery/jquery-2.1.3.min.js"></script>
    <script>var {eval echo '$jq'; } = jQuery; </script>
    
    <!-- bootstrap -->
    <script src="{STATICURL}bootstrap-3.3.0-dist/js/bootstrap.min.js"></script>
    
    <!-- jQuery UI core -->
    <script src="{STATICURL}jquery/jquery-ui-1.10.3/ui/minified/jquery.ui.core.min.js"></script>

    <!-- jQuery touch events -->
    <script src="{STATICURL}jquery/jQuery-Touch-Events-master/src/jquery.mobile-events.min.js"></script>
    
    <!-- basic functions -->
    <script src="{STATICURL}js/vivo/config.js"></script>
    <script src="{STATICURL}js/vivo/basic.js"></script>
    
    <!-- app functions for mobile device -->
    <script src="{STATICURL}js/vivo/mobile/app.js"></script>
    
    <!-- community functions for mobile device -->
    <script src="{STATICURL}js/vivo/mobile/community.js"></script>

    <!-- common scripts for mobile device -->
    <script src="{STATICURL}js/vivo/mobile/common.js"></script>
    
    {if $scriptArray}
    <!-- special script links -->
    {eval foreach ($scriptArray as $scriptLink) : }
    <script src="{$scriptLink}"></script>
    {eval endforeach; }
    {/if}
    
    {if $scriptText}
    <!-- special script text -->
    <script>{$scriptText}</script>
    {/if}
    
    <!--<p><a href="javascript:loadComment({pid:302});">load</a></p>-->

  </body>
  
</html>

