<!--{eval $threadsort = $threadsorts = null;}-->
<!--{template common/header}-->

{eval}

$bbcode = new bbcode();
require_once libfile('function/attachment');
$attachurl = $_G['setting']['attachurl'];

$post_id = $post['pid'];

$url_return = "forum.php?mod=forumdisplay&mobile=2&fid=".$_G['fid'];

{/eval}

{eval $headnav_name = strip_tags($_G['forum']['name']) ? strip_tags($_G['forum']['name']) : $_G['forum']['name'];}
<!--{template common/headnav}-->

    {eval}
    require_once libfile('function/beginner_guide');
    $beginner_guide_finished = $_G['uid'] ? checkBeginnerGuideIsFinished($_G['uid'], 'mobile_viewthread') : false;
    $cookie_mobile_viewthread_beginner_guide = getcookie('mobile_viewthread_beginner_guide');
    {/eval}

    <!--{if !$beginner_guide_finished && !$cookie_mobile_viewthread_beginner_guide}-->
    {eval}
    $tomorrow = strtotime("+1 day");
    dsetcookie('mobile_viewthread_beginner_guide', '1');
    {/eval}
    <!-- 新手引导 -->
    <link rel="stylesheet" href="/static/css/mobile/beginner_guide.css" />

    <div class="beginner_guide_wrapper mobile_viewthread_beginner_guide">
        <div class="guide_mask">
            <div class="top_left"></div>
            <div class="top_right"></div>
            <div class="bottom_left"></div>
            <div class="bottom_right"></div>
        </div>
        <div class="desc"></div>
    </div>

    <script>
        jQuery('.mobile_viewthread_beginner_guide').ready(function(){

            $(window).resize(function(){

                (function(){

                    // 设置引导内容层的遮罩
                    var window_width    = $(window).width();
                    var window_height   = $(window).height();
                    var t_width = 0;
                    var t_height = 0;
                    $('.mobile_viewthread_beginner_guide .guide_mask .top_left').css('width', window_width - 320).css('height', window_height - 350 + 100);
                    $('.mobile_viewthread_beginner_guide .guide_mask .bottom_left').css('width', window_width - 320);
                    $('.mobile_viewthread_beginner_guide .guide_mask .top_right').css('height', window_height - 350 + 100);

                })();
            });

            window.setTimeout(function(){

                // 引导内容点击消失
                jQuery('.mobile_viewthread_beginner_guide').click(function(){

                    // 隐藏新手引导的内容
                    jQuery('.mobile_viewthread_beginner_guide').fadeOut();

                    // 提交完成新手引导
                    jQuery.ajax('/forum.php?mod=ajax&action=finish_beginner_guide&guide_page=mobile_viewthread', {

                        'dataType' : 'json',
                        'success' : function(result) {
                            // 检查积分奖励
                            checkCreditPrompt();
                        }
                    });

                });
            }, 1000);
        });
    </script>

    <!--{/if}-->
    
    <div class="container-fluid grey-background viewthread_page">
      
      <!--{hook/viewthread_top_mobile}-->
      <!-- main postlist start -->
      <div class="postlist row default-background">
        
        <script>
          var threadId = '{$thread[tid]}';
          var postId = '{$post[pid]}';
          var pageNum = 0;
          var numberPerPage = {$_G['setting']['mobile']['mobilepostperpage']};
          
          {if IN_WECHAT}
          //微信分享配置
          wxshareTitle = '{:delete_blank($thread["subject"])}'; //分享标题
          {eval}
				$first_img_url=json_decode(htmlspecialchars_decode($thread['media_list']),true);
				$first_img_url=$first_img_url[0]['media_url'];
          {/eval}
		  wxshareImg = '{$first_img_url}'; //分享图片
		  wxshareDesc = '{:delete_blank($thread["summary"])}'; //分享详情
		  {/if}
        </script>
        
        <h1 class="threadTitle">
                <!--{if $_G['forum_thread']['typeid'] && $_G['forum']['threadtypes']['types'][$_G['forum_thread']['typeid']]}-->
              [{$_G['forum']['threadtypes']['types'][$_G['forum_thread']['typeid']]}]
                  <!--{/if}-->
                  <!--{if $threadsorts && $_G['forum_thread']['sortid']}-->
                      [{$_G['forum']['threadsorts']['types'][$_G['forum_thread']['sortid']]}]
            <!--{/if}-->
            $_G[forum_thread][subject]
                  <!--{if $_G['forum_thread'][displayorder] == -2}--> <span>({lang moderating})</span>
                  <!--{elseif $_G['forum_thread'][displayorder] == -3}--> <span>({lang have_ignored})</span>
                  <!--{elseif $_G['forum_thread'][displayorder] == -4}--> <span>({lang draft})</span>
                  <!--{/if}-->
            <!--{if !IS_ROBOT && !$_GET['authorid'] && !$_G['forum_thread']['archiveid']}-->
              <!--<a href="forum.php?mod=viewthread&tid=$_G[tid]&page=$page&authorid=$_G[forum_thread][authorid]" rel="nofollow" class="blue" style="font-size:12px;font-weight:normal;margin-left:10px;">{lang viewonlyauthorid}</a>-->
            <!--{elseif !$_G['forum_thread']['archiveid']}-->
              <!--<a href="forum.php?mod=viewthread&tid=$_G[tid]&page=$page" rel="nofollow" class="blue" style="font-size:12px;font-weight:normal;margin-left:10px;">{lang thread_show_all}</a>-->
            <!--{/if}-->
        </h1>


          <!--
        <div class="threadLike">
        	<button class="buttonLike{if $thread_post['is_saygood']} active{/if}" type="button">
        		<img class="icon" src="/static/image/vivo/mobile/like_icon.png" alt="" />
        		<img class="icon active" src="/static/image/vivo/mobile/like_active_icon.png" alt="" />
        		<span class="number">{$thread_post['saygood']}</span>
        	</button>
        </div>
        
        <div class="threadComment">
        	<a href="forum.php?mod=post&action=reply&tid={$thread[tid]}&mobile=2" class="button buttonLike{if $thread_post['is_saygood']} active{/if}" >
        		<img class="icon" src="/static/image/vivo/mobile/comment_button.png" alt="" />
        	</a>
        </div>-->
        
        <div class="">
        	<span class="threadDate">{eval echo substr(dgmdate($thread_post['dateline']), 0, 10);}</span>
        	<i class="icon comment_icon"></i>
            <span class="comment_count">
        		{$thread_post['replies']}
        	</span>
            <i class="icon like_icon"></i>
            <span class="like_count">
        		{$thread_post['saygood']}
        	</span>
        </div>

        <div class="postMessage">
        	{$thread_post[message]}
        </div>
        <!--<div class="postMessage col-xs-12">{$postMessage}</div>-->

      </div>
      
        <!--{if count($products) > 0}-->
	    <!--商品列表-->
	    <div class="products-list-container row">
	      <ul class="products-list">
	        <!--{loop $products $pk $p}-->
	        {eval isset($thread_product) ? null : $thread_product = $p; }
	        <li class="products-list-item">
	            
	            <div class="product-img-container swiper-container">
	            	
	            	<div class="thumbnailImages swiper-wrapper">
	            		
		            	{eval}
				        $media_list = $p['media_list'];
			            $index_image = 1;
			            foreach($media_list as $image) :
			            {/eval}
		            
			            <div class="swiper-slide{eval echo $index_image === 1 ? ' active' : ''; }"
		                	<a href="{$image[media_url]}">
		                		<img class="product-img" src="{$image[media_url]}?imageView2/2/w/480" alt="" />
		            		</a>
			            </div>
			        
	            		{eval $index_image++; endforeach; }
	            		
	            	</div>
	            	<div class="swiper-pagination"></div>
	            </div>
	            
	            <table>
	            	<tr>
	            		<th>商品名</th>
	            		<td class="product-name">{$p['name']}</td>
	            	</tr>
	            	<tr>
	            		<th>原产地</th>
	            		<td class="product-place color">{$p['area']}</td>
	            	</tr>
	            	<tr>
	            		<th>服务</th>
	            		<td class="product-server">佛山市原生活电子商务有限公司</td>
	            	</tr>
	            </table>
	          
	        </li>
	        <!--{/loop}-->
	      </ul>
	  </div><!-- 结束商品列表 -->
	  {/if}
	  
	  <!-- 商品评测 -->
	  <div class="product_feel_list row">
	  	
	  	  <ul id="productFeelList"></ul>
	  	  
	  	  <div class="operation">
	  	  	<button type="button" id="buttonLoadMoreProductFeel" class="view_more hide" data-content="{eval echo implode(',',$thread_post[spid]);}">
	  	  		查看更多
	  	  		<i class="icon"></i>
	  	  	</button>
	  	  </div>
	  	  
	  </div><!-- 结束 商品评测 -->
	  
	  
      
      <div class="notice_has_shafa row default-background">
          <img src="/static/image/vivo/ico_shafa.png" alt="有沙发哦" />
      </div>

      <div class="replylist row">
      	
      	<!--
      	<div class="text-right">
      		<a class="comment" href="forum.php?mod=post&action=reply&tid={$thread[tid]}&mobile=2">
      			<i class="ico ico_edit"></i>
      			写评论
      		</a>
      	</div>-->

        <!--{eval $postcount = 0;}-->
        {eval $postlist = array(); }
        
        <!--{loop $postlist $post}-->
        <!--{eval $needhiddenreply = ($hiddenreplies && $_G['uid'] != $post['authorid'] && $_G['uid'] != $_G['forum_thread']['authorid'] && !$post['first'] && !$_G['forum']['ismoderator']);}-->
        
        <!--{hook/viewthread_posttop_mobile $postcount}-->
        <div class="plc cl col-xs-12" id="pid{$post[pid]}" data-pid="{$post[pid]}">
          <span class="avatar">
            <img class="" src="<!--{if !$post['authorid'] || $post['anonymous']}--><!--{avatar(0, small, true)}--><!--{else}--><!--{avatar($post[authorid], small, true)}--><!--{/if}-->" />
          </span>
            <div class="display pi">
              <ul class="authi">
                <li class="grey">

                  <!--{if $post['authorid'] && $post['username'] && !$post['anonymous']}-->
                  <b class="pull-left"><a href="home.php?mod=space&uid=$post[authorid]" class="blue">$post[author]</a>
                  </b>

                  <!--{else}-->
                    <!--{if !$post['authorid']}-->
                    <a href="javascript:;">{lang guest} <em>$post[useip]{if $post[port]}:$post[port]{/if}</em></a>
                    <!--{elseif $post['authorid'] && $post['username'] && $post['anonymous']}-->
                    <!--{if $_G['forum']['ismoderator']}--><a href="home.php?mod=space&uid=$post[authorid]" target="_blank">{lang anonymous}</a><!--{else}-->{lang anonymous}<!--{/if}-->
                    <!--{else}-->
                    $post[author] <em>{lang member_deleted}</em>
                    <!--{/if}-->
                  <!--{/if}-->
                  
                  <!--{if $post[first]}-->
                  <em><a href="home.php?mod=spacecp&ac=favorite&type=thread&id=$_G[tid]" class="favbtn blue" <!--{if $_G[forum][ismoderator]}-->style="margin-right:10px;"<!--{/if}-->>{lang favorite}</a></em>
                  <!--{/if}-->
                  <span class="pull-right">$post[dateline]</span>
                  
                </li>
              </ul>
              <div class="message">
                
                <!--{if $post['warned']}-->
                <span class="grey quote">{lang warn_get}</span>
                <!--{/if}-->
                
                <!--{if !$post['first'] && !empty($post[subject])}-->
                  <h2><strong>$post[subject]</strong></h2>
                <!--{/if}-->
                
                <!--{if $_G['adminid'] != 1 && $_G['setting']['bannedmessages'] & 1 && (($post['authorid'] && !$post['username']) || ($post['groupid'] == 4 || $post['groupid'] == 5) || $post['status'] == -1 || $post['memberstatus'])}-->
                  <div class="grey quote">{lang message_banned}</div>
                <!--{elseif $_G['adminid'] != 1 && $post['status'] & 1}-->
                  <div class="grey quote">{lang message_single_banned}</div>
                <!--{elseif $needhiddenreply}-->
                  <div class="grey quote">{lang message_ishidden_hiddenreplies}</div>
                <!--{elseif $post['first'] && $_G['forum_threadpay']}-->
                  <!--{template forum/viewthread_pay}-->
                <!--{else}-->

                <!--{if $_G['setting']['bannedmessages'] & 1 && (($post['authorid'] && !$post['username']) || ($post['groupid'] == 4 || $post['groupid'] == 5))}-->
                    <div class="grey quote">{lang admin_message_banned}</div>
                <!--{elseif $post['status'] & 1}-->
                    <div class="grey quote">{lang admin_message_single_banned}</div>
                <!--{/if}-->
                
                <!--{if $_G['forum_thread']['price'] > 0 && $_G['forum_thread']['special'] == 0}-->
                    {lang pay_threads}: <strong>$_G[forum_thread][price] {$_G['setting']['extcredits'][$_G['setting']['creditstransextra'][1]][unit]}{$_G['setting']['extcredits'][$_G['setting']['creditstransextra'][1]][title]} </strong> <a href="forum.php?mod=misc&action=viewpayments&tid=$_G[tid]" >{lang pay_view}</a>
                <!--{/if}-->

                  <!--{if $post['first'] && $threadsort && $threadsortshow}-->
                    
                    <!--{if $threadsortshow['optionlist'] && !($post['status'] & 1) && !$_G['forum_threadpay']}-->
                          <!--{if $threadsortshow['optionlist'] == 'expire'}-->
                              {lang has_expired}
                          <!--{else}-->
                              <div class="box_ex2 viewsort">
                                  <h4>$_G[forum][threadsorts][types][$_G[forum_thread][sortid]]</h4>
                              <!--{loop $threadsortshow['optionlist'] $option}-->
                                  <!--{if $option['type'] != 'info'}-->
                                      $option[title]: <!--{if $option['value']}-->$option[value] $option[unit]<!--{else}--><span class="grey">--</span><!--{/if}--><br />
                                  <!--{/if}-->
                              <!--{/loop}-->
                              </div>
                          <!--{/if}-->
                      <!--{/if}-->
                  <!--{/if}-->
                  
                  {eval}
                  $replyPost = $post['reppid'] ? getPostByPid($post['reppid']) : null;
                  {/eval}
                  
                  <!--{if $post['first']}-->
                  
                      <!--{if !$_G[forum_thread][special]}-->
                          $post[message]
                      <!--{elseif $_G[forum_thread][special] == 1}-->
                          <!--{template forum/viewthread_poll}-->
                      <!--{elseif $_G[forum_thread][special] == 2}-->
                          <!--{template forum/viewthread_trade}-->
                      <!--{elseif $_G[forum_thread][special] == 3}-->
                          <!--{template forum/viewthread_reward}-->
                      <!--{elseif $_G[forum_thread][special] == 4}-->
                          <!--{template forum/viewthread_activity}-->
                      <!--{elseif $_G[forum_thread][special] == 5}-->
                          <!--{template forum/viewthread_debate}-->
                      <!--{elseif $threadplughtml}-->
                          $threadplughtml
                          $post[message]
                      <!--{else}-->
                        $post[message]
                      <!--{/if}-->
                      
                  <!--{else}-->
                      $post[message]
                  <!--{/if}-->
                  
                  <!--{if $replyPost}-->
                  <p class="quote">原评论：{$replyPost['author']}<br />{eval echo $bbcode->bbcode2html($replyPost[message]); }
                  </p>
                  <!--{/if}-->

                <!--{/if}-->
            </div>

               <div>
                 {eval}
                 //echo '<p>pid= '.$post['pid'].'</p>';
                 $table = new table_forum_attachment();
                 $row = $table->fetch_by_tid_pid($thread['tid'], $post['pid']);
                 if ($row)
                 {
                   $table = new table_forum_attachment_n();
                   $row = $table->fetch($row['tableid'], $row['aid']);

                    $img_src = $row['remote'] ? $row['attachment'] : $attachurl."forum/".$row['attachment'];
                    echo sprintf('<a href="%s" rel="%s"><img src="%s" alt="" /></a>', $img_src, $post['pid'], $img_src);
                 }
                 {/eval}
               </div>

            <!--{if $_G['setting']['mobile']['mobilesimpletype'] == 0}-->
            <!--{if $post['attachment']}-->
                     <!--<div class="grey quote">
                     {lang attachment}: <em><!--{if $_G['uid']}-->{lang attach_nopermission}<!--{else}-->{lang attach_nopermission_login}<!--{/if}--></em>
                     <!--</div>-->
                  <!--{elseif $post['imagelist'] || $post['attachlist']}-->
                     <!--{if $post['imagelist']}-->
              <!--{if count($post['imagelist']) == 1}-->
              <ul class="img_one">{echo showattach($post, 1)}</ul>
              <!--{else}-->
              <ul class="img_list cl vm">{echo showattach($post, 1)}</ul>
              <!--{/if}-->
              <!--{/if}-->
                      <!--{if $post['attachlist']}-->
              <ul>{echo showattach($post)}</ul>
              <!--{/if}-->
            <!--{/if}-->
            <!--{/if}-->
            <!--{if $_G[uid] && $allowpostreply && !$post[first]}-->
            <div id="replybtn_$post[pid]" class="replybtn" display="true" style="display:none;position:absolute;right:0px;top:5px;">
              <input type="button" class="redirect button" href="forum.php?mod=post&action=reply&fid=$_G[fid]&tid=$_G[tid]&repquote=$post[pid]&extra=$_GET[extra]&page=$page" value="{lang reply}">
            </div>
            <!--{/if}-->

            <div class="postOpt">
              <a class="saygood" data-content="{$post[pid]}" data-type="" href="javascript:;">
                <img src="/static/image/vivo/{eval echo isSayGood($_G['uid'], $post['pid']) ? 'ico_good_2.gif' : 'ico_good_1.gif'; }" alt="赞" />
                <span class="number">{eval echo getSayGoodNumber($post[pid]); }</span>
              </a>
              <a class="reply" data-content="{$post[replies]}" href="forum.php?mod=post&action=reply&tid={$thread[tid]}&mobile=2&repquote={$post[pid]}">
                <img src="/static/image/vivo/ico_comment_1.gif" alt="" />
                <span>回复</span>
              </a>
            </div>

          </div>
         </div>
         <!--{hook/viewthread_postbottom_mobile $postcount}-->
         <!--{eval $postcount++;}-->
         <!--{/loop}-->
         
        <div id="replyModel" class="plc cl col-xs-12 model">
        	
        	<div class="clearfix">
        		<a class="author pull-left" href="javascript:;">
        			<img class="avatar" src="" />
        			<span class="name"></span>
        		</a>
        		<span class="date pull-right"></span>
        	</div>
        	
        	<div class="message"></div>
        	
        	<div class="imagesWrapper"></div>

        </div>

      </div>
      <!-- main postlist end -->
      {eval}//$multipage{/eval}
      
      <script>
      var comment_newest_id = 0;
      var comment_oldest_id = 0;
      var comment_newest_timeline = '{eval echo time(); }';
      var comment_oldest_timeline = '{eval echo time(); }';
      var fid = parseInt('{$forum[fid]}');
      var tid = parseInt('{$thread[tid]}');
      </script>
      
      <div id="loadingMoreComment" class="loadingMore row">
        <img src="/static/image/vivo/mobile/ajax-loader.gif" alt="loading: " />&nbsp;正在加载更多……
      </div>
      
      {subtemplate forum/forumdisplay_fastpost}

      <!--{hook/viewthread_bottom_mobile}-->

      <!--<a href="javascript:;" title="{lang scrolltop}" class="scrolltop bottom"></a>-->

    </div>
    
    {eval if (isset($thread_product)) : }
    <style>
        body{
            padding-bottom: 44px;
        }
    </style>
    <div id="productOpeartionPanel">
    	<a href="/forum.php?mod=product&action=view&spid={$thread_product[spid]}" class="buttonBuy">立即购买</a>
    </div>
    {eval endif; }
    
    <link rel="stylesheet" href="/static/jquery/martinaglv-touchtouch/assets/touchtouch/touchtouch.css" />

    {eval}
    $scriptArray[] = '/static/jquery/Swiper/dist/js/swiper.jquery.min.js';
    $scriptArray[] = '/static/js/vivo/mobile/mobile_viewthread.js';
    $scriptArray[] = '/static/js/vivo/mobile/mobile_product.js';
    $scriptArray[] = '/static/jquery/martinaglv-touchtouch/assets/touchtouch/touchtouch.jquery.js';
    {/eval}

    <!--{template common/buttons}-->

    <!--{template common/footer}-->