<div class="dialog_header">
  <div class="dialog_buttons">
    <a class="closeButton" href="javascript:;">x</a>
  </div>
</div>
<div class="dialog_body">
  <div class="box_logo">
    <img src="/public/images/community/pc/logo_complete_data_dialog.gif" width="516" height="86" alt="意大利原生活" />
  </div>
  <p class="notice">欢迎来到意大利原生活！请进一步完善你的信息</p>
  <form action="" method="post">
    <label for="completeNicknameInput">昵称</label>
    <input id="completeNicknameInput" class="form_control" type="text" name="userName" />
    <label for="completeQQInput">QQ</label>
    <input id="completeQQInput" class="form_control" type="text" name="qq" />
    <label for="completeEmailInput">邮箱</label>
    <input id="completeEmailInput" class="form_control" type="email" name="email" />
    <input class="submitButton" type="submit" value="提交" />
  </form>
</div>

