/**
 * style for complete data dialog
 * @author: xiaowen
 */

#completeDataDialog {
  position: fixed;
  z-index: 902;
  width: 516px;
  height: 685px;
  left: 50%;
  margin-left: -258px;
  top: 50%;
  margin-top: -342px;
  background-color: #FFF;
  border: solid 1px #b1b1b1;
  border-radius: 10px;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
  box-shadow: 0 0 2px rgb(229,229,229) inset, -1px 4px 5px rgba(4,0,0,0.47);
}

#completeDataDialog .dialog_header {
  position: absolute;
  width: 100%;
}

#completeDataDialog .dialog_buttons {
  float: right;
  padding-top: 10px;
  padding-right: 6px;
}

#completeDataDialog .closeButton {
  display: inline-block;
  width: 34px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  text-indent: -9999pt;
  background: url(../../../../images/community/pc/ico_close.gif) no-repeat center center #cfcfcf;
  border-radius: 17px;
}

#completeDataDialog .dialog_body {
  
}

#completeDataDialog .notice {
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 70px;
}

#completeDataDialog .dialog_body .box_logo {
  text-align: center;
  margin-bottom: 25px;
  padding-top: 28px;
}

#completeDataDialog form {
  padding: 5px 63px 0;
  color: #252525;
}

#completeDataDialog label {
  display: block;
  font-size: 20px;
  line-height: 24px;
  padding: 8px 0;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
}

#completeDataDialog input {
  width: 100%;
  height: 52px;
  line-height: 52px;
  padding: 0 16px;
  margin-bottom: 8px;
  border: solid 1px #d2d2d2;
  border-radius: 8px;
  font-size: 20px;
  box-sizing: border-box;
  color: #838383;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
}

#completeDataDialog .submitButton {
  margin-bottom: 16px;
  background-color: #fee101;
  font-size: 23px;
  font-weight: 700;
  cursor: pointer;
  border: none 0;
  text-align: center;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
  margin-top: 30px;
  color: #252525;
}

#completeDataMask {
  position: fixed;
  z-index: 901;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.17);
}

