{include file="head"}

<div style="padding: 10px;">
	<form id="defaultbox">
		<table class="tb tb2">
			<tr>
				<th>APP默认发帖区</th>
				<td>
					<select name="appfid">
						{loop $forums[1] $f}
							{if isset($subs[$f['fid']])}
								<optgroup label="{$f['name']}">
									{loop $subs[$f['fid']] $sub}
									<option value="{$sub['fid']}" {if $defaultforum['app']==$sub['fid']}selected="selected"{/if}>{$sub['name']}</option>
									{/loop}
								</optgroup>
							{else}
								<option value="{$f['fid']}" {if $defaultforum['app']==$f['fid']}selected="selected"{/if}>{$f['name']}</option>
							{/if}
						{/loop}
					</select>
				</td>
			</tr>
			
			<tr>
				<th>晒订单默认发帖区</th>
				<td>
					<select name="shopfid">
						{loop $forums[1] $f}
							{if isset($subs[$f['fid']])}
								<optgroup label="{$f['name']}">
									{loop $subs[$f['fid']] $sub}
									<option value="{$sub['fid']}" {if $defaultforum['shop']==$sub['fid']}selected="selected"{/if}>{$sub['name']}</option>
									{/loop}
								</optgroup>
							{else}
								<option value="{$f['fid']}" {if $defaultforum['shop']==$f['fid']}selected="selected"{/if}>{$f['name']}</option>
							{/if}
						{/loop}
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="button" class="btn" id="btn">修改</button>
				</td>
			</tr>
		</table>
	</form>
</div>
<script>
	$('#btn').click(function(){
		$.post(
			'{:adminurl("ajax/setdefaultforum")}',
			$('#defaultbox').serialize(),
			function(data){
				if(data==1){
					location.href='{:adminurl("ajax/setdefaultforum")}';
				}
			}
		);
	});
</script>
{include file="footer"}