{include file="head"}

<div style="padding: 20px;text-align: left;">
    <form action="" method="post" id="banner_form" >
        <table class="tb tb2">
            <tr class="rowform">
                <td class="td27">
                    <label>指向商品：</label>
                </td>
                <td>
                   <select name="spid" style="width: 270px;overflow: hidden">
                       {loop $product_list $key $val}
                        <option value="{$val['spid']}">{$val['subject']}</option>
                       {/loop}
                   </select>
                </td>
            </tr>
            <tr class="rowform">
                <td class="td27">
                    <label>图片：</label>
                </td>
                <td>
                    <div id="form_image_url_container">
                        <div>
                            <img id="form_image" src="{$banner['url']}" alt="预览图片" style="max-width: 160px; max-height: 160px; height: auto; {if !$banner['url']}display: none;{/if}" />
                        </div>
                        <div>
                            <input id="form_image_url" type="hidden" name="url" value="{$banner['url']}" style="width: 300px;" />
                            <button type="button" id="qiniuImageUpload">上传图片</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="rowform">
                <td class="td27">
                    <label>排序：</label>
                </td>
                <td>
                    <div>
                        <input style="width: 50px;text-align: center;" type="text" name="displayorder" class="txt" value="{$banner['displayorder']}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" name="formhash" value="{:formhash()}" >
                    <input type="hidden" name="action" value="ajax" >
                    <input type="hidden" name="operation" value="setshopslider" >
                    <input type="hidden" name="id" value="{$id}" >
                    <input type="button" id="submit_btn" class="btn" value="保存">
                </td>
            </tr>
        </table>
    </form>
</div>
<script src="/static/js/vivo/mobile/tools.js"></script>
<script src="/static/js/vivo/mobile/app.js"></script>
<script src="/static/js/vivo/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="/static/js/vivo/qiniu-js-sdk/src/qiniu.min.js"></script>
<script>
    $(function(){
        $('#submit_btn').click(function(){
            $.post(
                    '/admin.php',
                    $('#banner_form').serialize(),
                    function(data){
                        data = jQuery.parseJSON(data);
                        alert(data.msg);
                        if(data.result ==1){
                            parent.location.reload();
                        }
                    }
            );
        });
        //帖子选择
        $('select').select2({
            language: "zh-CN",
        });
    });

    var loading = null;
    var bgUploader = Qiniu.uploader({
        runtimes: 'html5,flash,html4',    //上传模式,依次退化
        browse_button: 'qiniuImageUpload',       //上传选择的点选按钮ID，**必需**
        uptoken_url: 'forum.php?mod=ajax&action=getQiNiuToken',
        domain: 'http://7u2qq8.com1.z0.glb.clouddn.com/',
        //container: 'form_image_url_container',           //上传区域DOM ID，默认是browser_button的父元素，
        max_file_size: '2mb',           //最大文件体积限制
        flash_swf_url: '../plupload-2.1.2/js/Moxie.swf',  //引入flash,相对路径
        max_retries: 3,                   //上传失败最大重试次数
        dragdrop: true,                   //开启可拖曳上传
        drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
        chunk_size: '4mb',                //分块上传时，每片的体积
        auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
        init: {
            'FileUploaded': function(up, file, info) {
                var domain = up.getOption('domain');
                var res = jQuery.parseJSON(info);
                var sourceLink = domain + res.key;
                jQuery("#form_image").attr("src", sourceLink).fadeIn();
                jQuery("#form_image_url").val(sourceLink);
                layer.close(loading);
            },
            'Error': function(up, err, errTip) {
                alert(errTip);
            },
            'BeforeUpload': function(up, file)
            {
                // create progress
                loading = layer.load('图片上传中...');
            },
            'UploadComplete': function() {
                //队列文件处理完毕后,处理相关的事情
            },
            'UploadProgress': function(up, file)
            {

            },
            'Key': function(up, file) {
                // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
                // 该配置必须要在 unique_names: false , save_key: false 时才生效
                var date = new Date();
                var key = "banner/pid"+jQuery("#form_tid").val()+"_"+date.getFullYear()+(date.getMonth()+1)+date.getDate()+date.getTime();
                // do something with key here
                return key;
            }
        }
    });

</script>

{include file="foot"}