{include file="header"}
<!--商城配置页面-->

<!--轮播图配置-->
{if $do == 'slider'}

<table class="tb tb2 nobdb">
    <tr>
        <th colspan="4" class="partition">商城首页轮播图&nbsp;&nbsp;（{:count($list)}）320px * 180px</th>
        <th class="partition"><a href="javascript:showajax('ajax','setshopslider','edit','','500px','300px');">新增</a>&nbsp;&nbsp;<a href="javascript:_confirm('{:adminurl('ajax/clearshopslider')}');">清空</a></th>
    </tr>
    <tr class="header">
        <th></th>
        <th>顺序</th>
        <th>图片</th>
        <th>指向商品</th>
        <th>操作</th>
    </tr>
    <?php
	foreach($list as $k => $v){
    $pro = C::t('common_product_onsell')->fetch_detail($v['spid']);
    $pro = current($pro);
    ?>
    <tr class="hover">
        <td><input class="baid_checkbox" type="checkbox" name="baid[{$v['baid']}]" value="1" /></td>
        <td><input style="width: 50px;text-align: center;" type="text" name="displayorder[{$v['baid']}]" value="{$v['displayorder']}" ></td>
        <td><img src="{$v['url']}" height="80"> </td>
        <td><a href="/forum.php?mod=product&action=view&spid={$v['spid']}" target="_blank">{$pro['subject']}</a></td>
        <td><a href="javascript:showajax('ajax','setshopslider','edit','id={$k}','500px','300px');">编辑</a>|<a href="javascript:_confirm('{:adminurl('ajax/clearshopslider',array('id'=>$k))}')">删除</a></td>
    </tr>
    <?php } ?>
    <tr>
        <td><input type="checkbox" id="select_all_btn"/></td>
        <td colspan="6" >删除</td>
    </tr>
</table>
<script>
    function _confirm(_url){
        if(confirm('确定删除？')){
            location.href=_url;
        }
    }
</script>

{/if}

<!--支付配置页面-->
{if $do=='payment'}

<form action="admin.php" method="post">
	<table class="tb tb2" style="width: 400px;">
		<tr>
			<th>序号</th>
			<th>支付名称</th>
			<th>是否开启</th>
			<th>是否支持移动端</th>
			<th>操作</th>
		</tr>
		{loop $list $l}
		<tr>
			<td>{$l['pid']}<input type="hidden" name="pid[{$l['pid']}]" value="0" /></td>
			<td>{$l['payname']}</td>
			<td><input type="checkbox" name="status[{$l['pid']}]" value="1" {if $l['status']}checked{/if} /></td>
			<td><input type="checkbox" name="is_mobile[{$l['pid']}]" value="1" {if $l['is_mobile']}checked{/if} /></td>
			<td>
				<a href="{:adminurl('ajax/shopsetting/paysetting',['paytype'=>$l['paytype']])}">配置</a>
			</td>
		</tr>
		{/loop}
		<tr>
			<td colspan="4" style="text-align: center;">
				<input type="hidden" name="action" value="ajax" />
				<input type="hidden" name="operation" value="shopsetting" />
				<input type="hidden" name="do" value="payment" />
				<input type="hidden" name="formhash" value="{:formhash()}" />
				<button class="btn" type="submit">提交</button>
			</td>
		</tr>
	</table>
</form>
{/if}

{if $do=='paysetting'}

	{if $paytype=='wechat'}
	<!--微信配置-->
	
		<style>
			.file {
			    position: relative;
			    display: inline-block;
			    background: #D0EEFF;
			    border: 1px solid #99D3F5;
			    border-radius: 4px;
			    padding: 4px 12px;
			    /*overflow: hidden;*/
			    color: #1E88C7;
			    text-decoration: none;
			    text-indent: 0;
			    line-height: 20px;
			}
			.file_selected{
				 background: #008C00;
				 color: #fff;
			}
			.file input {
			    position: absolute;
			    font-size: 100px;
			    right: 0;
			    top: 0;
			    opacity: 0;
			}
			.file:hover {
			    background: #AADFFD;
			    border-color: #78C3F3;
			    color: #004974;
			    text-decoration: none;
			}
		</style>
		<form action="" method="post" class="form-horizontal tab-content" enctype="multipart/form-data">
			<table class="tb tb2" style="width: 700px;">
				<tr>
					<th><label for="">受理商ID：</label></th>
					<td>
						<input style="width: 250px;" type="text" name="wechat-MCHID" class="span6" value="{$config['MCHID']}" autocomplete="off">
						<span class="help-block">即：MCHID</span>
					</td>
				</tr>
				<tr class="">
					<th>支付密钥Key：</th>
					<td>
						<input style="width: 250px;" type="text" name="wechat-paykey" class="span6" value="{$config['paykey']}" autocomplete="off"/>
					</td>
				</tr>
				<tr class="">
					<th>唯一标识APPID：</th>
					<td>
						<input style="width: 250px;" type="text" name="wechat-APPID" class="span6" value="{$config['APPID']?$config['APPID']:$_G['wechat']['key']}" autocomplete="off"/>
						<span class="help-block">默认使用“默认公众号”APPID</span>
					</td>
				</tr>
				<tr>
					<th><label for="">唯一标识AppSecret：</label></th>
					<td>
						<input style="width: 250px;" type="text" name="wechat-APPSECRET" class="span6" value="{$config['APPSECRET']?$config['APPSECRET']:$_G['wechat']['secret']}" autocomplete="off" />
						<span class="help-block">默认使用“默认公众号”AppSecret</span>
					</td>
				</tr>
				<tr>
					<th><label for="">超时时间：</label></th>
					<td>
						<input type="text" name="wechat-CURL_TIMEOUT" class="span6" value="{$config['CURL_TIMEOUT']?$config['CURL_TIMEOUT']:30}" autocomplete="off" />
					</td>
				</tr>
				<tr>
					<th><label for="">证书CERT：</label></th>
					<td>
						<input type="text" style="width: 250px;" name="wechat-SSLCERT_PATH" value="{:str_replace(DISCUZ_ROOT,'',$config['SSLCERT_PATH'])}" />
						<a href="javascript:;" class="file"><span>选择文件</span>
							<input type="file" id="SSLCERT_PATH" name="wechat-SSLCERT_PATH" class="span6"  onchange="$(this).parent().addClass('file_selected').find('span').html('已选择');" />
						</a>
					</td>
				</tr>
				<tr>
					<th><label for="">证书KEY：</label></th>
					<td>
						<input type="text" style="width: 250px;" name="wechat-SSLKEY_PATH" value="{:str_replace(DISCUZ_ROOT,'',$config['SSLKEY_PATH'])}" />
						<a href="javascript:;" class="file"><span>选择文件</span>
							<input type="file" class="file" id="SSLKEY_PATH" name="wechat-SSLKEY_PATH" class="span6" onchange="$(this).parent().addClass('file_selected').find('span').html('已选择');" />
						</a>
					</td>
				</tr>
				<tr>
					<th><label for="">支付授权目录</label></th>
					<td>
						<input readonly="readonly" style="width: 250px;" type="text" name="" class="span12" value="{$_G['config']['wechatpay']['PAY_DIR']}" autocomplete="off" /><input type="button" id="copyval" data-clipboard-text="{$_G['config']['wechatpay']['PAY_DIR']}" value="复制" />
					</td>
				</tr>
				<tr>
					<th><label for="">告警通知URL</label></th>
					<td>
						<input readonly="readonly" style="width: 250px;" type="text" name="" class="span12" value="{$_G['config']['wechatpay']['NOTIFY_URL']}" autocomplete="off" /><input type="button" id="copyval" data-clipboard-text="{$_G['config']['wechatpay']['NOTIFY_URL']}" value="复制" />
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<input name="submit" type="submit" value="提交" class="btn btn-primary span2" />
						<input type="hidden" name="action" value="ajax" />
						<input type="hidden" name="operation" value="shopsetting" />
						<input type="hidden" name="do" value="paysetting" />
						<input type="hidden" name="paytype" value="{$paytype}" />
						<input type="hidden" name="formhash" value="{:formhash()}" />
					</td>
				</tr>
			</table>
		</form>
		<style>
			.uploadbtn{
				border-radius: 0px;
			}
		</style>
	
	{/if}
	
	{if $paytype=='alipay'}
	<!--支付宝配置-->
	<form action="admin.php" method="post">
		<table style="width: 500px;" class="tb tb2">
			<tr>
				<th>合作身份者id</th>
				<td><input type="text" name="alipay-partner" value="{$config['partner']}" /></td>
			</tr>
			<tr>
				<th>收款支付宝账号</th>
				<td><input type="text" name="alipay-seller_email" value="{$config['seller_email']}" /></td>
			</tr>
			<tr>
				<th>安全检验码，以数字和字母组成的32位字符</th>
				<td><input type="text" name="alipay-key" value="{$config['key']?$config['key']:md5(TIMESTAMP)}" /></td>
			</tr>
			<tr>
				<td>
					<input type="hidden" name="action" value="ajax" />
					<input type="hidden" name="operation" value="shopsetting" />
					<input type="hidden" name="do" value="paysetting" />
					<input type="hidden" name="paytype" value="alipay" />
					<input type="hidden" name="formhash" value="{:formhash()}" />
					<button class="btn" type="submit">提交</button>
				</td>
			</tr>
		</table>
	</form>
	{/if}

{/if}


{include file="footer"}
