{include file="head"}
<div style="padding: 10px;">
<table>
	<tr>
		<td><button type="button" onclick="location.href='{:adminurl('ajax/spec/list','psid='.$psid)}';">返回</button></td>
		<td><button type="button" onclick="location.href='{:adminurl('ajax/spec/add','psid='.$psid)}';">新建规则</button></td>
	</tr>
</table>
{if $do=='list'}
	<table class="tb tb2" >
		<tr>
			<td style="font-weight: bold;">序号</td>
			<td style="font-weight: bold;">排序</td>
			<td style="font-weight: bold;">规格名称</td>
			<td style="font-weight: bold;">类型</td>
			<td style="font-weight: bold;">操作</td>
		</tr>
		{if $list}
		{loop $list $k $l}
		<tr>
			<td>{eval}echo ($k+1)*$_G['page']{/eval}</td>
			<td><input style="width: 30px;text-align: center;" name="displayorder[{$l['id']}]" value="{$l['displayorder']}" ></td>
			<td>{$l['name']}</td>
			<td>{:get_product_spec_types($l['type'])}</td>
			<td>
				{if $psid==$l['psid']}
				<a href="{:adminurl('ajax/spec/add','psid='.$psid.'&spec_id='.$l['id'])}">编辑 </a> | 
				<a href="javascript:confirm_delete_simple('{:adminurl('ajax/spec/delete','psid='.$psid.'&spec_id='.$l['id'])}');">删除  </a>
				{else}
				(上级规格)
				{/if}
			</td>
		</tr>
		{/loop}
		{else}
		<tr><td colspan="5">没有规格</td></tr>
		{/if}
	</table>
{$multipage}
{/if}

{if $do == 'add'}
<form action="" method="post">
	<table class="tb tb2">
		<tr>
			<th>规格名称</th>
			<td><input type="text" name="name" value="{$spec['name']}" /></td>
		</tr>
		<tr>
			<th>展示顺序</th>
			<td><input type="text" name="displayorder" value="{$spec['displayorder']?$spec['displayorder']:0}" style="width: 50px;" /></td>
		</tr>
		<tr>
			<th>类型</th>
			<td>
				<select name="type" id="typebtn">
					{loop $types $k $t}
						<option value="{$k}" {if $spec['type']==$k}selected{/if}>{$t}</option>
					{/loop}
				</select>
			</td>
		</tr>
		<tr id="extvalue" {if empty($spec['extvalue'])&&$spec['type']!='select' }style="display: none;"{/if}>
			<th>扩展选项</th>
			<td><textarea rows="10" cols="30" name="extvalue" >{$spec['extvalue']}</textarea><br>空格为一个选项</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="hidden" name="psid" value="{$psid}" />
				<input type="hidden" name="spec_id" value="{$spec['id']}" />
				<button type="submit">{if $spec}修改{else}新增{/if}</button>
			</td>
		</tr>
	</table>
</form>
<script>
	jQuery(function(){
		jQuery('#typebtn').change(function(){
			var _v = jQuery(this).val(),_t=jQuery('#extvalue');
			if(_v == 'select'){_t.show(100);}else{_t.hide(100);}
		});
	});
</script>

{/if}

</div>
{include file="footer"}