
	<div class="userDetail-left">
		<ul>
			<li class="userDetail-header">
				<a href="#"><i class="fa fa-tasks icon"></i>{lang setup}</a>
			</li>
			<li$actives[avatar]><a href="home.php?mod=spacecp&ac=avatar">{lang memcp_avatar}</a></li>
      <li$actives[profile]><a href="home.php?mod=spacecp&ac=profile">{lang memcp_profile}</a></li>
      
      <!--{if $_G['setting']['verify']['enabled'] && allowverify() || $_G['setting']['my_app_status'] && $_G['setting']['videophoto']}-->
      <li$actives[verify]><a href="{if $_G['setting']['verify']['enabled']}home.php?mod=spacecp&ac=profile&op=verify{else}home.php?mod=spacecp&ac=videophoto{/if}">{lang memcp_verify}</a></li>
      <!--{/if}-->
      
      <li$actives[credit]><a href="home.php?mod=spacecp&ac=credit">{lang memcp_credit}</a></li>
      
      <li$actives[privacy]><a href="home.php?mod=spacecp&ac=privacy">{lang memcp_privacy}</a></li>

      <li$actives[password]><a href="home.php?mod=spacecp&ac=profile&op=password">{lang password_security}</a></li>

      <!--{if $_G['setting']['creditspolicy']['promotion_visit'] || $_G['setting']['creditspolicy']['promotion_register']}-->
      
      
      <!--{/if}-->
      <!--{if !empty($_G['setting']['plugins']['spacecp'])}-->
        <!--{loop $_G['setting']['plugins']['spacecp'] $id $module}-->
          <!--{if !$module['adminid'] || ($module['adminid'] && $_G['adminid'] > 0 && $module['adminid'] >= $_G['adminid'])}--><li{if $_GET[id] == $id} class="a"{/if}><a href="home.php?mod=spacecp&ac=plugin&id=$id">$module[name]</a></li><!--{/if}-->
        <!--{/loop}-->
      <!--{/if}-->
      
      <li$actives[mobile]><a href="home.php?mod=spacecp&ac=mobile">手机绑定</a></li>
      
		</ul>
	</div>
