{eval}/*<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
		<a href="home.php?mod=spacecp">{lang setup}</a> <em>&rsaquo;</em>
		<!--{subtemplate home/spacecp_header_name}-->
	</div>
</div>*/{/eval}

<div id="ct" class="ct2_a cl profileContent">
    <div class="mn main">
      <div class="bm bw0">
        <h1 class="mt"><!--{subtemplate home/spacecp_header_name}--></h1>
  <!--don't close the div here-->

		
