<!--{template common/header}-->

<!--{subtemplate home/spacecp_header}-->

      <form class="mobileForm" action="home.php?mod=spacecp&ac=mobile" method="post" autocomplete="off">
        <table cellspacing="0" cellpadding="0" class="tfm">
          <tr>
            <th>手机</th>
            <td>
              <!--{if !$identifying_message['is_verify'] || $identifying_message['is_verify'] != 1}-->
              <input class="phoneInput px" type="text" name="mobile" value="{$mobileIdentifying[mobile]}" />
              <button class="sendVerifyCodeButton pn" type="button">发送验证码</button>
              <!--{else}-->
              <span>{$mobileIdentifying[mobile]}</span>（已验证）
              <!--{/if}-->
            </td>
          </tr>
          <!--{if !$identifying_message['is_verify'] || $identifying_message['is_verify'] != 1}-->
          <tr>
            <td colspan="2">
              <p>60秒内没收到验证码，按重发短信！</p>
            </td>
          </tr>
          <tr>
            <th>短信验证码</th>
            <td><input class="px" type="text" name="identifying_code" /></td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td><button class="submitButton pn pnc" type="submit">提交</button></td>
          </tr>
          <!--{/if}-->
        </table>
      </form>
      <script src="/static/js/vivo/mobileForm.js"></script>

    </div>
  </div>
  <div class="appl sidebar">
		<!--{subtemplate home/spacecp_footer}-->
	</div>

</div>
<!--{template common/footer}-->
