<div class="tbn">
	<h2 class="mt bbda">{lang prompt}</h2>
	<ul>
	<!--<li $opactives['pm']>
  <em class="notice_pm"></em>
  <a href="home.php?mod=space&do=pm">{lang news} 
    <!--{if $newpmcount}-->
    <strong class="xi1">($newpmcount)</strong>
    <!--{/if}-->
  </a></li>
  -->
    <!--{loop $_G['notice_structure'] $key $type}-->
    <!--{if in_array($key, array('mypost', 'system'))}-->
    	<!--// 原本array('mypost', 'system', 'interactive') -->
		<li $opactives[$key]>
      <em class="notice_$key"></em>
      <a href="home.php?mod=space&do=notice&view=$key">
        <!--{eval echo lang('template', 'notice_'.$key)}-->
        <!--{if $_G['member']['category_num'][$key]}-->
        <span>$_G['member']['category_num'][$key]</span>
        <!--{/if}-->
      </a>
    </li>
		<!--{/if}-->
    <!--{/loop}-->
	</ul>
</div>