<!--{template common/header}-->
	<!--{subtemplate home/spacecp_header}-->
			<!--{hook/spacecp_avatar_top}-->
			<script type="text/javascript">
				function updateavatar() {
					window.location.href = document.location.href.replace('&reload=1', '') + '&reload=1';
				}
				<!--{if !$reload}-->
				saveUserdata('avatar_redirect', document.referrer);
				<!--{/if}-->
			</script>
			<form id="avatarForm" method="post" autocomplete="off" action="home.php?mod=spacecp&ac=avatar&ref">
				
        <span id="retpre" class="y xi2"></span>
        <h2 class="xs2">{lang current_my_space}</h2>
        <p>{lang setting_avatar_message}</p>
        <div class="userAvatar">
            <!--{avatar($space[uid],big)}-->
        </div>
        
        <h2>{lang setting_my_new_avatar}</h2>
			  <p>{lang setting_my_new_avatar_message}</p>

				<table cellspacing="0" cellpadding="0" class="tfm">
					<tr>
						<td>
							<script type="text/javascript">document.write(AC_FL_RunContent('<!--{echo implode("','", $uc_avatarflash);}-->'));</script>
						</td>
					</tr>
				</table>
				<input type="hidden" name="formhash" value="{FORMHASH}" />
			</form>
			<!--{hook/spacecp_avatar_bottom}-->
		</div>
	</div>
	<script type="text/javascript">
		var redirecturl = loadUserdata('avatar_redirect');
		if(redirecturl) {
			$('retpre').innerHTML = '<a href="' + redirecturl + '">{lang previous_page}</a>';
		}
	</script>
	<div class="appl sidebar">
		<!--{subtemplate home/spacecp_footer}-->
	</div>
</div>
<!--{template common/footer}-->