{template common/header_common}
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="source/plugin/gsignin/css/phone.css" />
		<script src="source/plugin/gsignin/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			var jq = jQuery.noConflict();
		</script>
	</head>
	<body>
		<div id="append_parent"></div><div id="ajaxwaitid"></div>
		<div class="header" id="header">
			{if !empty($member)}
				<div style="width:70px;height:70px;position: absolute; top:40px; left:16px; border-radius: 8px;background: rgba(255,255,255,1);">
					<img src="uc_server/avatar.php?uid={$_G['uid']}&size=middle"" style="width:64px;height:64px;margin-top:3px;margin-left:3px; border-radius: 8px;"/>
				</div>
				<div style="position: absolute;padding:2px 5px; border-radius: 6px; text-align:center; top:54px;left:96px;color:#FFFFFF;background: rgba(0,0,0,.5);height:20px;line-height: 20px;">
					{$_G['username']}
				</div>
			{/if}
		</div>
		<div class="info">
			<div class="item">
				<div style="font-weight: bold;height: 20px;line-height: 20px;">
					{lang gsignin:t00028}
				</div>
				<div style="height: 20px;line-height: 20px">
					{if empty($ranking)}-{else}{$ranking}{/if}
				</div>
			</div>
			<div class="item">
				<div style="font-weight: bold;height: 20px;line-height: 20px;">
					{lang gsignin:t00029}
				</div>
				<div style="height: 20px;line-height: 20px">
					{if empty($member)}-{else}{$member['continuous']}<span style="font-size: 12px;">{lang gsignin:day}</span>{/if}
				</div>
			</div>
			<div class="item" style="border-right: none;">
				<div style="font-weight: bold;height: 20px;line-height: 20px;"">
					{lang gsignin:t00030}
				</div>
				<div style="height: 20px;line-height: 20px">
					{if empty($member)}-{else}{$member['total']}<span style="font-size: 12px;">{lang gsignin:day}</span>{/if}
				</div>
			</div>
		</div>
		{if !empty($member) && $member['lasttime']>=$today}
			<a href="javascript:;" class="btn_visited">{lang gsignin:t00031}</a>
		{else}
			<a href="javascript:;" onclick="ajaxget('plugin.php?id=gsignin:index&action=signin&formhash={FORMHASH}','show_toast')" class="btn">{lang gsignin:t00032}&nbsp;{lang gsignin:t00033} </a>
		{/if}
		<div class="nav">
			<a href="plugin.php?id=gsignin:index" {if $rightCheck == ''}class="nav-cur"{/if}>{lang gsignin:t00034}<span></span></a>
			<a href="plugin.php?id=gsignin:index&action=continuous" {if $rightCheck == 'continuous'}class="nav-cur"{/if}>{lang gsignin:t00035}<span></span></a>
			<a href="plugin.php?id=gsignin:index&action=total" {if $rightCheck == 'total'}class="nav-cur"{/if}>{lang gsignin:t00036}<span></span></a>
		</div>
		<table class="common">
			<tr style="font-weight: bold;height: 30px;">
				<td style="width: 40px;">{lang gsignin:t00037}</td>
				{if $rightCheck == '' && !empty($component) && $component['flag'] == 1}
					<th></th>
				{/if}
				<td>{lang gsignin:t00038}</td>
				<td>{lang gsignin:t00039}</td>
				<td>{lang gsignin:t00040}</td>
				<td>{lang gsignin:t00041}</td>
			</tr>
			{loop $memberTops $key $val}
				<tr>
					<td >
						<div class="order {if $key==0}first{elseif $key==1}second{else}third{/if}">
							{eval echo $key+1}
						</div>
					</td>
					{if $rightCheck == '' && !empty($component) && $component['flag'] == 1}
						<td>
							{if $val['difference'] < 0}
								<img src="source/plugin/gsignin/img/up.png"  title="{lang gsignin:t00025}{eval echo -$val['difference']}{lang gsignin:t00027}"/>
							{elseif $val['difference'] > 0}
								<img src="source/plugin/gsignin/img/down.png"  title="{lang gsignin:t00026}{$val['difference']}{lang gsignin:t00027}"/>
							{else}
								<img src="source/plugin/gsignin/img/normal.png"  title=""/>
							{/if}
						</td>
					{/if}
					<td style="font-size:12px;color:{$val['color']};font-weight:{$val['weight']};">
						{eval $val['user']=getuserbyuid($val['uid'])}{eval echo $val['user']['username']}
					</td>
					<td style="font-size: 12px;">{$val['continuous']}</td>
					<td style="font-size: 12px;">{$val['total']}</td>
					<td style="font-size: 12px;">{eval echo gmdate('H:i:s',$val['lasttime']+8*3600)}</td>
				</tr>
			{/loop}
			{loop $memberBottoms $key $val}
				<tr>
					<td style="font-size: 12px;">
						{eval echo $offset+$key+1}
					</td>
					{if $rightCheck == '' && !empty($component) && $component['flag'] == 1}
						<td>
							{if $val['difference'] < 0}
								<img src="source/plugin/gsignin/img/up.png"  title="{lang gsignin:t00025}{eval echo -$val['difference']}{lang gsignin:t00027}"/>
							{elseif $val['difference'] > 0}
								<img src="source/plugin/gsignin/img/down.png"  title="{lang gsignin:t00026}{$val['difference']}{lang gsignin:t00027}"/>
							{else}
								<img src="source/plugin/gsignin/img/normal.png"  title=""/>
							{/if}
						</td>
					{/if}
					<td style="font-size:12px;color:{$val['color']};font-weight:{$val['weight']};">
						{eval $val['user']=getuserbyuid($val['uid'])}{eval echo $val['user']['username']}
					</td>
					<td style="font-size: 12px;">{$val['continuous']}</td>
					<td style="font-size: 12px;">{$val['total']}</td>
					<td style="font-size: 12px;">
						{if $val['lasttime'] >= $today}{eval echo gmdate('H:i:s',$val['lasttime']+8*3600)}{else}{lang gsignin:t00042}{/if}
					</td>
				</tr>
			{/loop}
		</table>
		<div class="more">
			{if $currpage!=1}<a href="plugin.php?id=gsignin:index&action={$rightCheck}&page={eval echo $currpage-1}">{lang gsignin:t00160}</a>&nbsp;&nbsp;{/if}
			{$currpage}/{$isPage}{lang gsignin:t00065}
			{if $currpage!=$isPage}&nbsp;<a href="plugin.php?id=gsignin:index&action={$rightCheck}&page={eval echo $currpage+1}">{lang gsignin:t00161}</a>{/if}
		</div>
		<div class="footer-nav" >
			<!--
			<a href="plugin.php?id=iplay:front"></a>
			<a href="plugin.php?id=gaapc:front"></a>
			-->
			<a href="forum.php" style="width:50%;">{lang gsignin:t00043}</a>
			<a href="javascript:window.scrollTo(0,0)" style="clear: both;width:50%;">{lang gsignin:t00044}<div></div></a>
		</div>
		<p class="footer-cr">
			{if !empty($copyname)}
			<a href="{if $copyurl['value']!=''}{$copyurl['value']}{else}javascript:;{/if}">{$copyname['value']}</a>
			{else}
			<a href="http://bbs.47jh.com/">Copyright &copy; 47jh.com&nbsp;&nbsp;{lang gsignin:t00045}</a>
			{/if}
		</p>
		<div id="show_toast">
			{if $rightCheck != ''}
				{if empty($component) || $component['flag'] == 0}
					<table id="overlay_container" class="overlay_container">
						<tr>
							<td>
								<div class="toast">{lang gsignin:t00075}</div>
							</td>
						</tr>
					</table>
					
					<script type="text/javascript" reload="1">
						setTimeout(function(){
							jq("#overlay_container").css("display","none");
							window.location.href='plugin.php?id=gsignin:index';
						},1400);
					</script>
				{/if}
			{/if}
		</div>
	</body>
</html>
