{template common/header}
<style>
	.text_input{
		width: 100px;
		border: 1px solid #cdcdcd;
		margin: 2px;
		padding: 0 2px;
	}
	
	.border_select{
		border: 1px solid #cdcdcd;
	}
	
	textarea {
		width: 300px;
		height: 80px;
		border: 1px solid #cdcdcd;
		margin: 2px;
	}
	.right{
		text-align: right;
	}
	.center {
		text-align: center;
	}
	.myred{
		color: #FF0000;
	}
	
	table#award td{
		border:none;
	}
	
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=00b448f53d6cbd1dbc9bc967ed0f5ea5"></script>
<iframe style="visibility:hidden;display:none" id="formsubmit" name="formsubmit" width="1" height="1" ></iframe>

<div id="wp" class="wp">
<div id="pt" class="bm cl">
<div class="z">
<div class="z">
<a href="./" class="nvhm">Discuz! Board</a> <em>?</em>
<a href="plugin.php?id=gsignin:index">{lang gsignin:t00050}</a> <em>?</em><a href="plugin.php?id=gsignin:award">{lang gsignin:t00066}</a><em>?</em>{lang gsignin:t00067}
</div>
</div>
</div>
<div id="ct" class="ct2_a wp cl">
<div class="mn">
<div class="bm bw0">
<h1 class="mt">
</h1>

<div style="margin:5px 0;">
	
</div>
<form action="plugin.php?id=gsignin:award&action=award"  target="formsubmit" method="post" onsubmit="return check(this)" >
<input name="formhash" type="hidden" value="{FORMHASH}" />
<table cellspacing="0" cellpadding="0" class="dt" style="border:none;" id="award">
	<tbody>
		<tr>
			<td colspan="3">
				<h3 class="flb">
					<em>{lang gsignin:t00067}</em>
				</h3>
			</td>
		</tr>
	</tbody>
	{loop $awards $key $val}
		<tbody>
			<tr>
				<td colspan="3">
					<div style="width: 90%; height:30px;margin: 0 auto; border-bottom: dotted 1px #ccc;padding: 0 5px; font-weight: bold;">
						<table>
							<tr>
								<td>
									{lang gsignin:t00068}{eval echo $key+1}{lang gsignin:t00069}
									<input type="hidden" name="awardid[]" class="text_input" value="$val['id']" />
								</td>
								<td class="right" style="padding-right:0;">
									<input type="checkbox" name="delete[{$key}]"/>
								</td>
								<td style="padding-left:0;">
									<span style="font-weight: normal;">{lang gsignin:t00070}</span>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
			<tr>
				<td class="right">
					{lang gsignin:t00071}
				</td>
				<td style="width: 110px;">
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td class="right"">
					{lang gsignin:t00072}
				</td>
				<td>
					&nbsp;&nbsp;<input type="text" name="continuous[]" class="text_input" value="$val['continuous']" />&nbsp;&nbsp;{lang gsignin:day}<span style="color:#FF0000">*</span>
				</td>
			</tr>
			<tr>
				<td class="right">
					{lang gsignin:t00073}
				</td>
				<td>
				</td>
				<td>
				</td>
			</tr>
			{loop $_G['setting']['extcredits'] $k $v}
			<tr>
				<td>
				</td>
				<td class="right">
					{$v['title']}
				</td>
				<td>
					&nbsp;&nbsp;<input type="text" name="{eval echo 'extcredits'.$k.'[]'}" class="text_input" value="{$val['extcredits'.$k]}">
				</td>
			</tr>
			{/loop}
			<tr>
			<td class="right">
					{lang gsignin:t00081}
				</td>
				<td>
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td class="right">
					{lang gsignin:t00082}
				</td>
				<td>
					<table>
						<tr>
							<td style="padding: 0;">
								&nbsp;&nbsp;<input type="text" readonly="readonly" onchange="updatecolorpreview('c{$key}')" name="color[]" value="{$val['color']}" style="width: 100px;height:18px; border: 1px solid #cdcdcd;margin: 2px;padding: 0 2px;background: none;" class="px" id="c{$key}_v">
							</td>
							<td>
								<input type="button" class="colorwd" style="background: {$val['color']}" onclick="c{$key}_frame.location='static/image/admincp/getcolor.htm?c{$key}|c{$key}_v';showMenu({'ctrlid':'c{$key}'})" id="c{$key}">
								<span style="display: none" id="c{$key}_menu"><iframe width="210" scrolling="no" height="148" frameborder="0" src="" name="c{$key}_frame"></iframe></span>	
							</td>
						</tr>
					</table>	
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td class="right">
					{lang gsignin:t00083}
				</td>
				<td>
					<table>
						<tr>
							<td style="padding: 0;">
									&nbsp;&nbsp;
									<select name="weight[]" class="border_select" style="background:none;">
									<option value="0">
										{lang gsignin:t00084}
									</option>
									<option value="1" {if $val['weight']==1}selected{/if}>
										{lang gsignin:t00085}
									</option>								
								</select>
							</td>
							<td>
							</td>
						</tr>
					</table>	
				</td>
			</tr>
		</tbody>
	{/loop}
	<tbody id="award1">
		<tr>
			<td colspan="3">
				<div style="width: 90%; height:30px;margin: 0 auto; border-bottom: dotted 1px #ccc;padding: 0 5px; font-weight: bold;">
					<table>
						<tr>
							<td id="award_title1">
								{lang gsignin:t00068}{eval echo count($awards)+1}{lang gsignin:t00069}
							</td>
							<td class="right" style="padding-right:0;">
								<span style="font-weight: normal;">{lang gsignin:t00086}</span>
							</td>
							<td style="padding-left:0;">
								
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td class="right">
				{lang gsignin:t00071}
			</td>
			<td style="width: 110px;">
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td class="right"">
				{lang gsignin:t00072}
			</td>
			<td>
				&nbsp;&nbsp;<input type="text" name="continuous[]" class="text_input" />&nbsp;&nbsp;{lang gsignin:day}<span style="color:#FF0000">*</span>
			</td>
		</tr>
		<tr>
			<td class="right">
				{lang gsignin:t00073}
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		{loop $_G['setting']['extcredits'] $key $val}
		<tr>
			<td>
			</td>
			<td class="right">
				{$val['title']}
			</td>
			<td>
				&nbsp;&nbsp;<input type="text" name="{eval echo 'extcredits'.$key.'[]'}" class="text_input" value="0">
			</td>
		</tr>
		{/loop}
		<tr>
			<td class="right">
				{lang gsignin:t00081}
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td class="right">
				{lang gsignin:t00082}
			</td>
			<td>
				<table>
					<tr>
						<td style="padding: 0;">
							&nbsp;&nbsp;<input type="text" readonly="readonly" onchange="updatecolorpreview('c{eval echo count($awards)}')" name="color[]" value="{$val['color']}" style="width: 100px;height:18px; border: 1px solid #cdcdcd;margin: 2px;padding: 0 2px;background: none;" class="px" id="c{eval echo count($awards)}_v">
						</td>
						<td>
							<input type="button" class="colorwd" style="background: {$val['color']}" onclick="c{eval echo count($awards)}_frame.location='static/image/admincp/getcolor.htm?c{eval echo count($awards)}|c{eval echo count($awards)}_v';showMenu({'ctrlid':'c{eval echo count($awards)}'})" id="c{eval echo count($awards)}">
							<span style="display: none" id="c{eval echo count($awards)}_menu"><iframe width="210" scrolling="no" height="148" frameborder="0" src="" name="c{eval echo count($awards)}_frame"></iframe></span>	
						</td>
					</tr>
				</table>	
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td class="right">
				{lang gsignin:t00083}
			</td>
			<td>
				<table>
					<tr>
						<td style="padding: 0;">
								&nbsp;&nbsp;
								<select name="weight[]" class="border_select" style="background:none;">
								<option value="0">
									{lang gsignin:t00084}
								</option>
								<option value="1">
									{lang gsignin:t00085}
								</option>								
							</select>
						</td>
						<td>
						</td>
					</tr>
				</table>	
			</td>
		</tr>
	</tbody>
	<tbody id="flag">
		<tr>
			<td>
			</td>
			<td class="right">
				<!--<a href="javascript:;" onclick="add()">+添加阶段奖励</a>-->
			</td>
			<td>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
			</td>
			<td class="right">
				<button type="submit"  class="pn pnc" ><strong>{lang gsignin:t00087}</strong></button>
			</td>
			<td>
			</td>
		</tr>
	</tbody>
</table>
</form>
<div style="margin:5px 0;">

	<div style="clear: both;">
	</div>
</div>
</div>
</div>
{template gsignin:leftnav}
</div>
</div>
<script type="text/javascript">


var index = {eval echo count($awards)+2};


function add(){

	var temp = '';
	
	var table = document.getElementById('award');
	var flag = document.getElementById('flag')
	
	var award1 = document.getElementById('award1');
	var awardTitle1 = document.getElementById('award_title1');

	temp = 	awardTitle1.innerHTML;
	awardTitle1.innerHTML = '第'+index+'阶段奖励';
	
	var addTbody = document.createElement('tbody');
	addTbody.innerHTML = award1.innerHTML;
	table.insertBefore(addTbody,flag);

	awardTitle1.innerHTML = temp;
	index = index+1;
}

function check(form) {
	var regex = /^\d+$/;
	for(var i=0;i<form.elements.length;i++){
		if(form.elements[i].name == 'continuous[]'){
			if(form.elements[i].value != ''){
				if(!regex.test(form.elements[i].value)){
					showDialog('{lang gsignin:t00088}','alert','','',0);
					return false;
				}
			}
		}
		{loop $_G['setting']['extcredits'] $k $v}
		if(form.elements[i].name == 'extcredits{$k}[]'){
			if(!regex.test(form.elements[i].value)){
				showDialog('{$v['title']}{lang gsignin:t00089}','alert','','',0);
				return false;
			}
		}
		{/loop}
	}
	return true;
}

</script>
{template common/footer}