/**
 * style for reset password dialog
 * @author: xiaowen
 */

#resetPasswordDialog {
  position: fixed;
  z-index: 901;
  width: 516px;
  height: 466px;
  left: 50%;
  margin-left: -258px;
  top: 50%;
  margin-top: -233px;
  background-color: #FFF;
  border: solid 1px #b1b1b1;
  border-radius: 10px;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
  box-shadow: 0 0 2px rgb(229,229,229) inset, -1px 4px 5px rgba(4,0,0,0.47);
}

#resetPasswordDialog .dialog_header {
  position: absolute;
  width: 100%;
}

#resetPasswordDialog .dialog_buttons {
  float: right;
  padding-top: 10px;
  padding-right: 6px;
}

#resetPasswordDialog .closeButton {
  display: inline-block;
  width: 34px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  text-indent: -9999pt;
  background: url(../../../../images/community/pc/ico_close.gif) no-repeat center center #cfcfcf;
  border-radius: 17px;
}

#resetPasswordDialog .dialog_body {
  padding: 28px 63px 0;
}

#resetPasswordDialog .dialog_body .box_logo {
  text-align: center;
  margin-bottom: 25px;
}

#resetPasswordDialog .dialog_body .form_group {
  clear: both;
  overflow: hidden;
}

#resetPasswordDialog .inputGroup {
  height: 52px;
  margin-bottom: 17px;
  padding-left: 65px;
  padding-right: 15px;
  border-radius: 8px;
  background: url(../../../../images/community/pc/icons_register.gif) no-repeat 15px -171px #e5e5e5;
}

#resetPasswordDialog .form_control,
#resetPasswordDialog .submitButton {
  width: 100%;
  height: 52px;
  line-height: 52px;
  border: none 0;
  font-family: "Microsoft YaHei", "微软雅黑", "黑体";
}

#resetPasswordDialog .dialog_body .form_control {
  background-color: transparent;
  font-size: 20px;
  color: #959595;
}

#resetPasswordDialog .closeButton {
  display: inline-block;
  width: 34px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  text-indent: -9999pt;
  background: url(../../../../images/community/pc/ico_close.gif) no-repeat center center #cfcfcf;
  border-radius: 17px;
}

#resetPasswordDialog .submitButton {
  margin-bottom: 16px;
  background-color: #fee101;
  font-size: 23px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

#resetPasswordMask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.17);
}
