<div class="dialog_header">
  <div class="dialog_buttons">
    <a class="closeButton" href="javascript:;">x</a>
  </div>
</div>
<div class="dialog_body">
  <div class="box_logo">
    <img src="/public/images/community/pc/logo_login_register.gif" width="216" height="159" alt="意大利原生活" />
  </div>
  <form action="" method="post" id="resetPasswordDialogForm">
    <div class="form_group inputGroup">
      <input class="form_control" type="password" placeholder="输入新的密码" name="" autocomplete="off"/>
    </div>
    <div class="form_group inputGroup">
      <input class="form_control" type="password" placeholder="再次输入新的密码" name="" autocomplete="off"/>
    </div>
    <div class="form_group buttonGroup">
      <input type="submit" class="submitButton" value="确认修改" />
    </div>
  </form>
</div>

