@charset "utf-8";

.hover_edit:hover{
	background: #EDEDED;
	position: relative;
}

.hover_edit .edit_btn{
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	display: block;
	background: #fff;
	border: 1px solid #EDEDED;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	z-index: 100000;
	font-size: 14px;
}

.hover_edit .edit_btn:hover{
	text-decoration: none;
}

select.forumselect ,select.threadselect{
	margin-top: 5px;
	width: 100%;
}

.help-block{
	display: inline-block;
}

