<!--{eval $_G['home_tpl_titles'] = array($app['appname']);}-->
<!--{template common/header}-->
<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>$_G[setting][navs][5][navname]
	</div>
</div>
<script type="text/javascript" src="http://static.manyou.com/scripts/my_iframe.js"></script>
<script language="javascript">
var prefixURL = "$my_prefix";
var suffixURL = "$my_suffix";
var queryString = '';
var url = "http://apps.manyou.com/{$my_appId}";
var oldHash = null;
var timer = null;
var appId = '$my_appId';

var server = new MyXD.Server("ifm0");
server.registHandler('iframeHasLoaded');
server.registHandler('setTitle');
server.start();


function iframeHasLoaded(ifm_id) {
	MyXD.Util.showIframe(ifm_id);
	document.getElementById('loading').style.display = 'none';
}

function  htmlspecialchars_decode(string) {
	string = string.toString();
	string = string.replace(/&amp;/g, '&');
	string = string.replace(/&lt;/g, '<');
	string = string.replace(/&gt;/g, '>');
	string = string.replace(/&quot;/g, '"');
	string = string.replace(/&#039;/g, "'");
	return string;

}
function setTitle(x) {
	<!--{eval $my_site_name=dhtmlspecialchars($_G['setting']['sitename'], ENT_QUOTES);}-->
	var my_site_name = htmlspecialchars_decode('{$my_site_name}');

	x = htmlspecialchars_decode(x);
	document.title = x + my_site_name;
}

</script>
<div id="ct" class="wp cl">
	<div class="mn main">
		<!--{hook/userapp_app_top}-->
		<div id="mx2note" style="display: none; padding: 150px 0; text-align: center; background-color: #FFFFBF; color: #DB0000; letter-spacing: 1px;">
			{lang no_maxthon2_message}
		</div>
		<div id="loading" style="display: block; padding: 100px 0; text-align: center; color: #999;">
			<img src="{IMGDIR}/loading.gif" alt="loading..." class="vm" /> {lang page_loading}
		</div>
		<iframe id="ifm0" frameborder="0" width="100%" scrolling="no" height="810" style="position: absolute; top: -5000px; left: -5000px;" src="{$url}"></iframe>
		<!--{hook/userapp_app_bottom}-->
	</div>
</div>
<script type="text/javascript">
if(top.location != location) {
	top.location.href = location.href;
}
</script>
<!--{template common/footer}-->