<div class="user-img-container"><img class="user-img" src=""></div>
<div class="user-info">
	<h4 class="user-name"></h4>
	<div class="user-state">
		<span class="user-state-item share-count">分享：<span class="data">0</span></span>
		<span class="separator">|</span>
		<span class="user-state-item comment">评论：<span class="data">0</span></span>
		<span class="separator">|</span>
		<span class="user-state-item credits">积分：<span class="data">0</span></span>
	</div>
    <p class="user-group"></p>
	<p class="user-desc">简介：<span class="data"></span></p>
	<ul class="user-btn">
		<li class="user-btn-item follow"></li>
		<li class="user-btn-item viewshare"><i class="fa fa-tasks"></i>发消息</li>
	</ul>
</div>