@CHARSET "UTF-8";
.user-personalinfo-container{
	position:absolute;
	top:0px;
	left:0px;
	background-color:#fff;
	box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.2);
	border-radius: 8px;
	z-index:1000;
}
.user-personalinfo-container>.user-img-container{
	float:left;
	width:150px;
	height:150px;
	border-radius: 8px 0px 0px 8px;
	overflow:hidden;
}
.user-personalinfo-container>.user-img-container>img{
	max-width:150px;
	min-height:150px;
}
.user-personalinfo-container>.user-info{
	padding:10px 15px 6px 0px;
	margin:0px 0px 0px 160px;
	color:#383838;
	width:260px;
}
.user-personalinfo-container>.user-info>.user-name{
	font-size:18px;
	font-weight:bold;
	margin-bottom:15px;
}
.user-personalinfo-container>.user-info>.user-name:hover{
	cursor:pointer;
	text-decoration:underline;
}
.user-personalinfo-container>.user-info>.user-state{
	margin-bottom:15px;
}
.user-personalinfo-container>.user-info>.user-state>.user-state-item{
	font-size:14px;
}
.user-personalinfo-container>.user-info>.user-state>.user-state-item>.data{
	color:red;
}
.user-personalinfo-container>.user-info>.user-state>.separator{
	color:#ccc;
	margin:0px 10px;
}
.user-personalinfo-container>.user-info>.user-group{
	margin-bottom:5px;
}
.user-personalinfo-container>.user-info>.user-desc{
	font-size:14px;
	margin-bottom:10px;
	line-height:18px;
	height:18px;
	overflow:hidden;
}
.user-personalinfo-container>.user-info>.user-btn{
	margin:0px 0px 0px 0px;
}
.user-personalinfo-container>.user-info>.user-btn>.user-btn-item{
	display:inline-block;
	border:1px solid transparent;
	padding:4px 5px;
	cursor:pointer;
	text-align:center;
	width:100px;
	border-radius:8px;
	background-color:#FEE101;
	font-size:15px;
	font-weight:bold;
}
.user-personalinfo-container>.user-info>.user-btn>.user-btn-item:hover{
	box-shadow:0px 0px 1px 1px rgba(0,0,0,0.1);
}
.user-personalinfo-container>.user-info>.user-btn>.user-btn-item>.fa{
	margin-right:8px;
	color:#FA7D3C;
}