{eval}
isset($return_url) ? null : $return_url = '/forum.php';
$from_url = urldecode(getgpc('from_url'));
$from_url ? $return_url = $from_url : null;
{/eval}
<div class="tool_layer">

    <div class="main_buttons">
        {if getgpc('mod') == 'viewthread'}
        <div class="button action_button">
            <i class="icon" data-status="closed" data-object="action_sub_buttons"></i>
        </div>
        {/if}
        <a class="button cart_button" href="/forum.php?mod=order&action=showmycart">
            <i class="icon"></i>
        </a>
        <a class="button return_button" href="{$return_url}">
            <i class="icon"></i>
        </a>
    </div>

    {if getgpc('mod') == 'viewthread'}
    <div id="action_sub_buttons" class="action_sub_buttons">
        <a class="button reply_button active" href="/forum.php?mod=post&action=reply&tid={$thread['tid']}">
            <i class="icon"></i>
        </a>

        {eval}
        include_once libfile('function/post');
        $is_saygood = $_G['uid'] ? check_saygood_by_id($thread['tid'], 'tid') : false;
        {/eval}
        <div class="button saygood_button{if $is_saygood} active{/if}">
            <i class="icon"></i>
        </div>

        {eval}
        include_once libfile('function/forum');
        $is_favorited = $_G['uid'] ? check_favorite_by_id($thread['tid']) : false;
        {/eval}
        <div class="button favorite_button{if $is_favorited} active{/if}">
            <i class="icon"></i>
        </div>
    </div>
    {/if}

</div>

<script src="/static/js/vivo/mobile/tool_layer.js"></script>

