<!--{hook/global_footer_mobile}-->
<!--{eval $useragent = strtolower($_SERVER['HTTP_USER_AGENT']);$clienturl = ''}-->
<!--{if strpos($useragent, 'iphone') !== false || strpos($useragent, 'ios') !== false}-->
<!--{eval $clienturl = $_G['cache']['mobileoem_data']['iframeUrl'] ? $_G['cache']['mobileoem_data']['iframeUrl'].'&platform=ios' : 'http://www.discuz.net/mobile.php?platform=ios';}-->
<!--{elseif strpos($useragent, 'android') !== false}-->
<!--{eval $clienturl = $_G['cache']['mobileoem_data']['iframeUrl'] ? $_G['cache']['mobileoem_data']['iframeUrl'].'&platform=android' : 'http://www.discuz.net/mobile.php?platform=android';}-->
<!--{elseif strpos($useragent, 'windows phone') !== false}-->
<!--{eval $clienturl = $_G['cache']['mobileoem_data']['iframeUrl'] ? $_G['cache']['mobileoem_data']['iframeUrl'].'&platform=windowsphone' : 'http://www.discuz.net/mobile.php?platform=windowsphone';}-->
<!--{/if}-->

	<!-- Root element of PhotoSwipe. Must have class pswp. -->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
	
	    <!-- Background of PhotoSwipe. 
	         It's a separate element as animating opacity is faster than rgba(). -->
	    <div class="pswp__bg"></div>
	
	    <!-- Slides wrapper with overflow:hidden. -->
	    <div class="pswp__scroll-wrap">
	
	        <!-- Container that holds slides. 
	            PhotoSwipe keeps only 3 of them in the DOM to save memory.
	            Don't modify these 3 pswp__item elements, data is added later on. -->
	        <div class="pswp__container">
	            <div class="pswp__item"></div>
	            <div class="pswp__item"></div>
	            <div class="pswp__item"></div>
	        </div>
	
	        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
	        <div class="pswp__ui pswp__ui--hidden">
	
	            <div class="pswp__top-bar">
	
	                <!--  Controls are self-explanatory. Order can be changed. -->
	
	                <div class="pswp__counter"></div>
	
	                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
	
	                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
	                <!-- element will get class pswp__preloader--active when preloader is running -->
	                <div class="pswp__preloader">
	                    <div class="pswp__preloader__icn">
	                      <div class="pswp__preloader__cut">
	                        <div class="pswp__preloader__donut"></div>
	                      </div>
	                    </div>
	                </div>
	                
	            </div>
	
	            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
	                <div class="pswp__share-tooltip"></div> 
	            </div>
	
	            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
	            </button>
	
	            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
	            </button>
	
	            <div class="pswp__caption">
	                <div class="pswp__caption__center"></div>
	            </div>
	
	        </div>
	
	    </div>
	
	</div>

	<div id="mask" style="display:none;"></div>
	{eval}//<!--{template common/footnav}-->{/eval}
    <!-- tools -->
    <script src="{STATICURL}js/vivo/mobile/tools.js"></script>

    <!-- bootstrap -->
    <script src="{STATICURL}bootstrap/js/bootstrap.js"></script>

    <!-- jQuery UI core -->
    <script src="{STATICURL}jquery/jquery-ui-1.10.3/ui/minified/jquery.ui.core.min.js"></script>

    <!-- jQuery touch events -->
    <script src="{STATICURL}jquery/jQuery-Touch-Events-master/src/jquery.mobile-events.min.js"></script>

    <!-- basic functions -->
    <script src="{STATICURL}js/vivo/config.js"></script>
    <script src="{STATICURL}js/vivo/basic.js"></script>

    <!-- photoswipe -->
    <script src="/static/jquery/photoswipe/dist/photoswipe.min.js"></script>
	<script src="/static/jquery/photoswipe/dist/photoswipe-ui-default.min.js"></script>

    <script type="text/javascript" src="/static/js/datejs/build/date.js"></script>

    <!-- app functions for mobile device -->
    <script src="{STATICURL}js/vivo/mobile/app.js"></script>

    <!-- community functions for mobile device -->
    <script src="{STATICURL}js/vivo/mobile/community.js"></script>

    <!-- common scripts for mobile device -->
    <script src="{STATICURL}js/vivo/mobile/common.js"></script>

    <script>
    var uid = parseInt("{$_G['uid']}");
    </script>
    
    {if $scriptArray}
    <!-- special script links -->
    {eval foreach ($scriptArray as $scriptLink) : }
    <script src="{$scriptLink}"></script>
    {eval endforeach; }
    {/if}
    
    <script src="{STATICURL}js/common_extra.js"></script>
    
	<script>
	
	function setcookie(cookieName, cookieValue, seconds, path, domain, secure) {
		if(cookieValue == '' || seconds < 0) {
			cookieValue = '';
			seconds = -2592000;
		}
		if(seconds) {
			var expires = new Date();
			expires.setTime(expires.getTime() + seconds * 1000);
		}
		domain = !domain ? cookiedomain : domain;
		path = !path ? cookiepath : path;
		document.cookie = escape(cookiepre + cookieName) + '=' + escape(cookieValue)
			+ (expires ? '; expires=' + expires.toGMTString() : '')
			+ (path ? '; path=' + path : '/')
			+ (domain ? '; domain=' + domain : '')
			+ (secure ? '; secure' : '');
	}
	
	function getcookie(name, nounescape) {
		name = cookiepre + name;
		var cookie_start = document.cookie.indexOf(name);
		var cookie_end = document.cookie.indexOf(";", cookie_start);
		if(cookie_start == -1) {
			return '';
		} else {
			var v = document.cookie.substring(cookie_start + name.length + 1, (cookie_end > cookie_start ? cookie_end : document.cookie.length));
			return !nounescape ? unescape(v) : v;
		}
	}

    // 检查积分奖励
	checkCreditPrompt();
	</script>
    
    {if $scriptText}
    <!-- special script text -->
    <script>{$scriptText}</script>
    {/if}
    
    <script>
      // debug
      //alert(printObject(screen));
    </script>
    
	{if IN_WECHAT}
  		<!--本地微信JS-SDK-->
  		<script src="/static/image/mobile/wx_jsapi.js" type="text/javascript" charset="utf-8"></script>
  	{/if}
  	
  </body>
</html>
<!--{eval updatesession();}-->
<!--{if defined('IN_MOBILE')}-->
	<!--{eval output();}-->
<!--{else}-->
	<!--{eval output_preview();}-->
<!--{/if}-->
