<!--{if !$nofooter && $platform != 'app'}-->
<style type="text/css">
	body{margin-bottom: 50px;}
</style>
{eval}
list($script_name,) = explode('.',$_SERVER['SCRIPT_NAME']);
$script_name = str_replace('/','',$script_name);
{/eval}
<div class="footer">
	<ul>
		<li {if $script_name=='forum'&&($mod=='forumdisplay'||$mod=='viewthread'||($mod=='personal'&&isset($_GET['uid'])))}class="on"{/if}>
			<a href="/forum.php">
				<span class="glyphicon glyphicon-phone"></span>
				<div class="t">社区</div>
			</a>
		</li>
		<li {if $script_name=='forum'&&($mod=='product')}class="on"{/if}>
			<a href="/forum.php?mod=product&action=list">
				<span class="glyphicon glyphicon-home"></span>
				<div class="t">商城</div>
			</a>
		</li>
		<li {if $script_name=='member'||($script_name=='forum'&&(($mod=='personal'&&!isset($_GET['uid']))||$mod=='order'))}class="on"{/if}>
			<a href="/forum.php?mod=personal">
				<span class="glyphicon glyphicon-user"></span>
				<div class="t">个人</div>
			</a>
		</li>
	</ul>
</div>
<!--{/if}-->