{if $platform == 'touch'}
<!-- header start -->
<header class="header" style="display: none">
	<ul>
		<li class="leftbtn">
			{if !$nobackbtn}
			<a class="link_return" onClick="{if $_GET['referer']}location.href='{$_GET['referer']}';{else}history.back();{/if}">
		      	<span class="glyphicon glyphicon-chevron-left"></span>
		      	返回
		    </a>
		    {else}
		    &nbsp;
		    {/if}
		</li>
		<li class="name">
			{eval echo cutstr($headnav_name,'15','')}
		</li>
		<li class="rightbtn">
			{if !empty($rightbtn)}
			<a href="forum.php?mod=product&action=productseries&psid={$psup}">
		      <span class="glyphicon glyphicon-list"></span>
		    </a>
		  	{/if}
		</li>
		<li class="clear"></li>
	</ul>
</header>
{if !empty($rightbtn) && 0}  // 先注释
<div class="rightmenu" id="rightmenu">
	<ul class="group-container">
		{loop $rightbtn $v}
		<li class="group">
			<p class="group-name">{$v['name']}</p>
			{if count($v[sub]) > 0}
				<ul class="sub-container">
				{loop $v[sub] $sub}
					<li class="sub"><a href="{$sub[url]}">{$sub[name]}</a></li>
				{/loop}
				</ul>
			{/if}
		</li>
		{/loop}
	</ul>
</div>
<div class="rightmenu_mask" id="rightmenu_mask" onclick="hiderightmenu();"></div>
<script>
	var rightmenustate = false;
	function rightmenu(){
		if(rightmenustate==false){
			showrightmenu();
		}else{
			hiderightmenu();
		}
	}
	function showrightmenu(){
		jQuery('#rightmenu_mask').show(100);
		jQuery('#rightmenu').animate({'right':0},'fast');
		rightmenustate = true;
	}
	function hiderightmenu(){
		jQuery('#rightmenu_mask').hide(100);
		jQuery('#rightmenu').animate({'right':'-50%'},'fast');
		rightmenustate = false;
	}
	jQuery(function(){
		jQuery("#rightmenu").scroll(function(e){
			e.stopPropagation();
		});
		jQuery("#rightmenu>.group-container>.group>.group-name").click(function(){
			var _this = jQuery(this);
			if(_this.siblings(".sub-container").css("display") == "none"){
				_this.addClass("active");
				_this.siblings(".sub-container").css("display", "block");
				_this.parent().siblings(".group").find(".group-name").each(function(index){
					var _this = jQuery(this);
					_this.remove("active");
					_this.siblings(".sub-container").css("display", "none");
				})
			}else{
				_this.removeClass("active");
				_this.siblings(".sub-container").css("display", "none");
			}
		})
	});
</script>
{/if}
<!-- header end -->
{/if}