{if $platform == 'touch'}
<!-- header start -->
<header class="header2" id="header2">
	<ul>
		<li>
			<a href="/forum.php?mod=forumdisplay&fid=50">社区</a> 
		</li>
		<li>
			<a href="/forum.php?mod=product&action=list">商城</a>
		</li>
		<li>
			<a href="/">个人</a>
		</li>
		<li class="clear"></li>
	</ul>
	<div class="slidebtn" id="slidebtn"><span class="glyphicon glyphicon-chevron-down"></span></div>
</header>
<script>
jQuery(function(){
	
	var menu_statu = false;
	showmenu();
	btnslideUpDown();
	jQuery('#slidebtn').click(function(){
		if(menu_statu==false){
			showmenu();
		}else{
			hidemenu();
		}
	});
	
	function showmenu(){
		jQuery('#header2').animate({'top':0},'slow');
		menu_statu = true;
	}
	function hidemenu(){
		jQuery('#header2').animate({'top':'-40px'},'slow');
		menu_statu = false;
	}
	function btnslideUpDown(){
//		setInterval()
//		var top = jQuery('#slidebtn')
//		function
	}
});
</script>
<!-- header end -->
{/if}