		<header class="main-header">
			
			<!-- Logo -->
        	<a href="/dealer.php" class="logo"><b>Vivotech</b> 唯思</a>
        	
        	<nav class="navbar navbar-static-top" role="navigation">
        		
        		<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
				</a>
				
				{if count($dealers_shops)}
				<ul class="nav navbar-nav">
					{loop $dealers_shops $dealers_shop}
					<li class="{if $mod=='shop' && $action=='detail' && getgpc('sid')==$dealers_shop[sid]}active{/if}">
						<a href="/{eval echo CURSCRIPT; }.php?mod=shop&action=detail&sid={$dealers_shop[sid]}">{$dealers_shop[name]}</a>
					</li>
					{/loop}
				</ul>
					
				{/if}
				
				<!-- Navbar Right Menu -->
          		<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">

						<li class="user-menu">
							<a href="javascript:;">
								<img class="user-image" src="{eval echo avatar($_G['uid'], 'small', true); }" alt="" />
								{$_G['member']['nickname']}
							</a>
						</li>

						<li>
							<a id="linkLogout" href="JavaScript:;">退出</a>
						</li>
					</ul>
				</div>
				
			</nav>
			
		</header>
		
