{eval}
$current_controller = getgpc("mod");
{/eval}

				<!-- Left side column. contains the logo and sidebar -->
      			<aside class="main-sidebar">
      				<section class="sidebar">
						<ul class="sidebar-menu">
							<li class="treeview{if empty($current_controller)} active{/if}">
								<a href="/dealer.php">
									<i class="fa fa-fw fa-dashboard"></i>
									概览
									<span class="sr-only">(当前)</span>
								</a>
							</li>
							<li class="treeview{if $current_controller === 'shop'} active{/if}">
								<a id="mainMenuShop" href="/dealer.php?mod=shop">
									<i class="fa fa-fw fa-flag-o"></i>
									商铺管理
								</a>
							</li>
							
							<li class="treeview{if $current_controller === 'product'} active{/if}">
								<a href="/dealer.php?mod=product&type=all">
									<i class="fa fa-fw fa-camera"></i>
									打印二维码
								</a>
							</li>
							
							<li class="treeview{if $current_controller === 'order'} active{/if}">
								<a href="/dealer.php?mod=order">
									<i class="fa fa-fw fa-file-o"></i>
									订单记录
								</a>
							</li>
							
							<li class="treeview{if getgpc('mod') == 'statistics' && getgpc('type') == 'deal' } active{/if}">
								<a href="/dealer.php?mod=statistics&type=deal">
									<i class="fa fa-fw fa-bar-chart"></i>
									分成统计
								</a>
							</li>
							
							<li class="treeview{if getgpc('mod') == 'statistics' && getgpc('type') == 'scan_code' } active{/if}">
								<a href="/dealer.php?mod=statistics&type=scan_code">
									<i class="fa fa-fw fa-bar-chart"></i>
									扫码统计
								</a>
							</li>
						</ul>
					</section>

		        </aside><!-- end sidebar -->
