<div class="userMsg-container">
	<div class="left">
		<div class="header">
			<input class="userMsg-input search" type="text" placeholder="查找我关注的人">
		</div>
		<div class="body">
			<ul class="user-list">
				<li class="user">
					<div class="user-img-container"><img class="user-img" src="/Public/images/user-nopic.jpg"></div>
					<i class="fa fa-remove remove-action" title="删除好友"></i>
					<div class="user-name-container"><span class="user-name">柳杰</span></div>
				</li>
				<li class="user active">
					<div class="user-img-container"><img class="user-img" src="/Public/images/user-nopic.jpg"></div>
					<i class="fa fa-remove remove-action" title="删除好友"></i>
					<div class="user-name-container"><span class="user-name">柳杰</span></div>
				</li>
				<li class="user">
					<div class="user-img-container"><img class="user-img" src="/Public/images/user-nopic.jpg"></div>
					<i class="fa fa-remove remove-action" title="删除好友"></i>
					<div class="user-name-container"><span class="user-name">柳杰</span></div>
				</li>
				<li class="user">
					<div class="user-img-container"><img class="user-img" src="/Public/images/user-nopic.jpg"></div>
					<i class="fa fa-remove remove-action" title="删除好友"></i>
					<div class="user-name-container"><span class="user-name">柳杰</span></div>
				</li>
				<li class="user">
					<div class="user-img-container"><img class="user-img" src="/Public/images/user-nopic.jpg"></div>
					<i class="fa fa-remove remove-action" title="删除好友"></i>
					<div class="user-name-container"><span class="user-name">柳杰</span></div>
				</li>
				<li class="user">
					<div class="user-img-container"><img class="user-img" src="/Public/images/user-nopic.jpg"></div>
					<i class="fa fa-remove remove-action" title="删除好友"></i>
					<div class="user-name-container"><span class="user-name">柳杰</span></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="right">
		<div class="header">
			<ul class="header-btn-list">
				<li class="header-btn-item"><i class="fa fa-remove" title="关闭窗口"></i></li>
			</ul>
			<h4 class="header-content">柳杰</h4>
		</div>
		<div class="body">
			<ul class="userMsg-list">
				<li class="userMsg-list-item left">
					<div class="user-img-container">
						<img class="user-img" src="/Public/images/user-nopic.jpg">
					</div>
					<div class="msgcontent">我是左边发送的信息</div>
				</li>
				<li class="userMsg-list-item right">
					<div class="user-img-container">
						<img class="user-img" src="/Public/images/user-nopic.jpg">
					</div>
					<div class="msgcontent">我是右边发送的信息</div>
				</li>
				<li class=""></li>
			</ul>
		</div>
		<div class="footer">
			<div class="userMsg-sender">
				<ul class="input-btn-list">
					<li class="input-btn emotion"><i class="fa fa-smile-o"></i></li>
					<li class="input-btn image"><i class="fa fa-image"></i></li>
				</ul>
				<div class="userMsg-input-container"><input class="userMsg-input send-content" type="text" placeholder="按回车发送私信"></div>
			</div>
		</div>
	</div>
</div>