@CHARSET "UTF-8";
.userMsg-container{
	position:fixed;
	right:0px;
	bottom:0px;
	background-color:#fff;
	border:1px solid #D9D9D9;
	box-shadow: -3px -2px 8px -1px rgba(0,0,0,0.2);
	border-radius: 2px 0px 0px 2px;
}
.userMsg-container .userMsg-input{
	border: 1px #ccc solid;
	background: #fff;
	color: #808080;
	height: 24px;
	padding: 0 30px 0 10px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15) inset;
}
.userMsg-container .userMsg-input:focus{
	border: 1px solid #fa7d3c;
}
/* 左边 */
.userMsg-container>.left{
	float:left;
	width:150px;
}
.userMsg-container>.left>.header,
.userMsg-container>.right>.header{
	padding:5px;
	height:26px;
	line-height:26px;
	border-bottom:1px solid #D9D9D9;
}
.userMsg-container>.left>.header{
	border-right:1px solid #D9D9D9;
}
.userMsg-container>.left>.header>.search{
	width:95px;
}
.userMsg-container>.left>.body,
.userMsg-container>.right>.body{
	height:320px;
	overflow:auto;
}
.userMsg-container>.left>.body{
	border-right:1px solid #D9D9D9;
	height:356px;
}
.userMsg-container>.left>.body>.user-list{
	
}
.userMsg-container>.left>.body>.user-list>.user{
	display:block;
	padding:4px;
	cursor:pointer;
}
.userMsg-container>.left>.body>.user-list>.user.active{
	background-color:#f2f2f5;
}
.userMsg-container>.left>.body>.user-list>.user>.user-img-container{
	float:left;
	width:30px;
	height:30px;
	overflow:hidden;
}
.userMsg-container>.left>.body>.user-list>.user>.user-img-container>.user-img{
	max-width:30px;
	min-height:30px;
}
.userMsg-container>.left>.body>.user-list>.user>.user-name-container{
	margin:0px 0px 0px 40px;
	color:#383838;
	max-width:82px;
	height:30px;
	line-height:30px;
}
.userMsg-container>.left>.body>.user-list>.user>.remove-action{
	float:right;
	margin:8px 6px 0px 0px;
	color:#aaa;
	display:none;
}
/* 右边 */
.userMsg-container>.right{
	margin:0px 0px 0px 150px;
	width:400px;
}
.userMsg-container>.right>.header{
	
}
.userMsg-container>.right>.header>.header-btn-list{
	float:right;
}
.userMsg-container>.right>.header>.header-btn-list>.header-btn-item{
	display:inline-block;
	cursor:pointer;
	color:#aaa;
	font-size:16px;
}
.userMsg-container>.right>.header>.header-btn-list>.header-btn-item:hover{
	color:#666;
}
.userMsg-container>.right>.header>.header-content{
	margin:0px 0px 0px 10px;
}
/* 右边 - 聊天消息列表 */
.userMsg-container>.right>.body{
	background-color:#f2f2f5;
}
.userMsg-container>.right>.body>.userMsg-list{
	padding:15px 20px;
}
.userMsg-container>.right>.body>.userMsg-list>.userMsg-list-item{
	display:block;
	margin:0px 0px 10px 0px;
}
.userMsg-container>.right>.body>.userMsg-list>.userMsg-list-item>.user-img-container{
	width:30px;
	height:30px;
	overflow:hidden;
}
.userMsg-container>.right>.body>.userMsg-list>.userMsg-list-item>.user-img-container>.user-img{
	max-width:50px;
	min-height:30px;
}
.userMsg-container>.right>.body>.userMsg-list>.userMsg-list-item>.msgcontent{
	min-height:20px;
	border:1px solid #D9D9D9;
	padding:5px;
	background-color:#fff;
}
.userMsg-container>.right>.body>.userMsg-list>.userMsg-list-item.left{
	
}
.userMsg-container>.right>.body>.userMsg-list>.userMsg-list-item.left>.user-img-container{
	float:left;
}
.userMsg-container>.right>.body>.userMsg-list>.userMsg-list-item.left>.msgcontent{
	margin:0px 0px 0px 50px;
}
.userMsg-container>.right>.body>.userMsg-list>.userMsg-list-item.right>.user-img-container{
	float:right;
}
.userMsg-container>.right>.body>.userMsg-list>.userMsg-list-item.right>.msgcontent{
	margin:0px 50px 0px 0px;
	text-align:right;
}
/* 右边 - 聊天输入框 */
.userMsg-container>.right>.footer{
	border-top:1px solid #D9D9D9;
}
.userMsg-container>.right>.footer>.userMsg-sender{
	padding:5px;
}
.userMsg-container>.right>.footer>.userMsg-sender>.userMsg-input-container{
	
}
.userMsg-container>.right>.footer>.userMsg-sender>.userMsg-input-container>.send-content{
	width:270px;
}
.userMsg-container>.right>.footer>.userMsg-sender>.input-btn-list{
	float:right;
	line-height:24px;
}
.userMsg-container>.right>.footer>.userMsg-sender>.input-btn-list>.input-btn{
	display:inline-block;
	font-size:20px;
	cursor:pointer;
	margin-right:8px;
}
.userMsg-container>.right>.footer>.userMsg-sender>.input-btn-list>.input-btn.emotion{
	color:#ff9000;
}
.userMsg-container>.right>.footer>.userMsg-sender>.input-btn-list>.input-btn.image{
	color:#84C088;
}