{template common/header_ajax}
<h3 class="flb">
	<em>{lang gsignin:t00152}</em>
	<span><a href="javascript:;" class="flbc" onclick="hideWindow('$_GET['handlekey']');" title="{lang close}">{lang close}</a></span>
</h3>
<form action="plugin.php?id=gsignin:signin&action=add"  target="mgframe" method="post" onsubmit="return check(this)">
	<input name="formhash" type="hidden" value="{FORMHASH}" />
	<table style="margin: 0 32px;">
		<tr>
			<td style="text-align: right;">
				{lang gsignin:t00154}
			</td>
			<td>
				<input class="check_every_input" type="text" id="uid" name="uid"  onkeyup="ajaxget('plugin.php?id=gsignin:signin&action=add&do=ajax&uid='+$('uid').value,'username');"/>
			</td>
		</tr>
		<tr>
			<td style="text-align: right;">
				{lang gsignin:t00155}
			</td>
			<td id='username'>
				<input class="check_every_input" type="text" name="username"  readonly="readonly" />
			</td>
		</tr>
		<tr>
			<td style="text-align: right;">
				{lang gsignin:t00156}
			</td>
			<td>
				<input class="check_every_input"  type="text" name="currenttime"  readonly="readonly" onclick="showcalendar(event, this, 0);"/>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center">
				<div style="margin: 5px 0">
					<button type="submit"  class="pn pnc" onmouseover="ajaxget('plugin.php?id=gsignin:signin&action=add&do=ajax&uid='+$('uid').value,'username');"><strong>{lang gsignin:t00087}</strong></button>
				</div>
			</td>
		</tr>
		
	</table>
</form>
{template common/footer_ajax}