{template common/header}
<style>
	.text_input{
		width: 150px;
		border: 1px solid #cdcdcd;
		margin: 2px;
	}
	
	.border_select{
		border: 1px solid #cdcdcd;
	}
	
</style>
<script src="static/js/calendar.js" type="text/javascript"></script>
<iframe style="visibility:hidden;display:none" id="formsubmit" name="formsubmit" width="1" height="1" ></iframe>

<div id="wp" class="wp">
<div id="pt" class="bm cl">
<div class="z">
<a href="javascript:;" class="nvhm">Discuz! Board</a> <em>?</em>
<a href="plugin.php?id=gsignin:index">{lang gsignin:pluginname}</a> <em>?</em><a href="plugin.php?id=gsignin:signin">{lang gsignin:t00050}</a><em>?</em>{lang gsignin:t00051}
</div>
</div>
<div id="ct" class="ct2_a wp cl">
<div class="mn">
<div class="bm bw0">
<h1 class="mt">
</h1>
<!--don't close the div here--><ul class="tb cl">
<li  class="a"><a href="plugin.php?id=gsignin:signin">{lang gsignin:t00051}</a></li>
</ul>
<div style="margin:10px 0;">
	<form action="plugin.php?id=gsignin:signin&action=search" method="post" >
	UID:
	<input style="width:85px" type="text" name="uid" class="text_input" value="{$_GET['uid']}" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
	&nbsp;&nbsp;&nbsp;&nbsp;{lang gsignin:t00054}
	<input style="width:85px" type="text" name="begindate" class="text_input" readonly="readonly" onclick="showcalendar(event, this, 0);" value="{$_GET['begindate']}"/>-<input style="width:85px" type="text" name="enddate" class="text_input" readonly="readonly" onclick="showcalendar(event, this, 0);" value="{$_GET['enddate']}"/>
	<input type="submit" value="{lang gsignin:t00055}"/>
	</form>
</div>
<div style="margin:10px 0;">
	<button type="button" onclick="showWindow('add','plugin.php?id=gsignin:signin&action=add_input')">{lang gsignin:t00152}</button>
</div>
<table cellspacing="0" cellpadding="0" class="dt">
	<tbody>
		<tr>
			<th style="text-align: center">ID</th>
			<th style="text-align: center">UID</th>
			<th style="text-align: center">{lang gsignin:t00074}</th>
			<th style="text-align: center">{lang gsignin:t00057}</th>
			<th style="text-align: center">{lang gsignin:t00153}</th>
			<th style="text-align: center">{lang gsignin:t00056}</th>
			{loop $_G['setting']['extcredits'] $k $v}
				<th style="text-align: center">{$v['title']}</th>
			{/loop}
			<th style="text-align: center">{lang gsignin:t00058}</th>
			<th style="text-align: center; width:80px;">{lang gsignin:t00059}</th>
		</tr>
		{eval $flag=1}	
		{loop $signins $key $val}
		{if $flag==1}
			<tr>
			{eval $flag=-1}	
		{else}
			<tr class="alt">
			{eval $flag=1}
		{/if}
			<td style="text-align: center">{$val['id']}</td>
			<td style="text-align: center">{$val['uid']}</td>
			<td style="text-align: center">{eval $val['user']=getuserbyuid($val['uid'])}{eval echo $val['user']['username']}</td>
			<td style="text-align: center">{$val['ranking']}</td>
			<td style="text-align: center">{eval echo gmdate('Y-m-d H:i:s',$val['prevtime']+8*3600)}</td>
			<td style="text-align: center">{eval echo gmdate('Y-m-d H:i:s',$val['currenttime']+8*3600)}</td>
			{loop $_G['setting']['extcredits'] $k $v}
				<td style="text-align: center">+{$val['extcredits'.$k]}</td>
			{/loop}
			<td style="text-align: center">{if $val['issupplement'] == 0}-{else}{lang gsignin:t00060}{/if}</td>
			<td style="text-align: center">
				<img src="source/plugin/gsignin/img/del.gif" width="16" height="16" /><a href="javascript:;" onclick="showconfirm('{lang gsignin:t00061}','plugin.php?id=gsignin:signin&action=delete&signinid={$val['id']}&formhash={FORMHASH}&page={$_GET['page']}')">{lang gsignin:t00062}</a>
			</td>
		</tr>
		{/loop}
	</tbody>
</table>
<div style="margin:5px 0;">
	{lang gsignin:t00063} {$num} {lang gsignin:t00064} {$currpage}/{$totalPage}{lang gsignin:t00065}
</div>
<div style="margin:5px 0;">
	{$paging}
	<div style="clear: both;">
	</div>
</div>
</div>
</div>
{template gsignin:leftnav}
</div>
</div>
<script type="text/javascript">
	function showconfirm(message,url) {
		showDialog(message,'confirm','',function(){window.formsubmit.location.href=url;},0);
	}
</script>
{template common/footer}